<nav class='navBar'>
  <div class='container div-container-nav'>
    <i class="fab fa-instagram ig-icon-nav"></i>
    <span class="bar">|</span>
  <div class="img-div"><%= image_tag("Ig_logo.svg.png", :alt => "ig logo" , class: "img" )%></div>
    <div id='user-link'>
      <%=link_to posts_url do%>
        <i class="far fa-compass compass"></i>
      <%end%>
      <i class="far fa-heart love"></i>
      <%= link_to current_user do %> 
        <i class="far fa-user account"></i>
      <%end%>
      <%if !current_user%>
        <%=link_to "Log In", login_url, class: "btn btn-primary lgin"%>
        <%=link_to "sign Up", signup_url, class: "sgbtn"%>
      <%end%>
    <div>
  </div>
</nav>