<strong><%= @picture.user.username %></strong>
<p><%= image_tag @picture.image.url(:thumb) %></p>
<p><%= @picture.caption %></p>
<p><% @picture.comments.each do |comment| %></p>
<p><%= comment.user.username %>:
<%= comment.comment %></p>
<% end %>
