<strong><%= @picture.user.username %></strong>
<p><%= image_tag @picture.image.url(:thumb) %></p>
<p><%= @picture.caption %></p>
<p><% @picture.comments.each do |comment| %></p>
<p><%= comment.user.username %>:
<%= comment.comment %></p>
<% end %>
<% if user_signed_in? %>
 <p><%= link_to "Add Comment", new_picture_comment_path(@picture.id)%></p>
<% end %>
