<% if @images.any? %>
  <% @images.each do |image| %>
    <p>
      <%= image_tag image.picture.url(:medium)%>
      <br>
      <%= link_to image.name, image_path(image) %>
      Posted by <%= image.user_id %>
      <br>
      <%= pluralize image.likes.count, 'Like' %>
    </p>

      <% if image.comments.any? %>
        <ul>
          <% image.comments.each do |comment| %>
            <li>
              <%= comment.comment %>
            </li>
          <% end %>
        </ul>
      <% end %>

    <p>
    <%= link_to "Comment", new_image_comment_path(image) %></p>
    <p>
    <%= button_to "Like", image_likes_path(image) %>
    </p>
    <p>
    <%= link_to "Delete", image_path(image), method: :delete %></p>
  <% end %>
<% else %>
  <h2>No images yet!</h2>
<% end %>
