<div class='container'>
  <div class='row'>
    <% if @images.any? %>
      <% @images.reverse_each do |image| %>

      <center><div class='col-lg-12'>

        <div class="center-block">
          <%= link_to image_tag(image.picture.url(:large)), image_path(image)%><br>
          <%= image.name %> posted by <span class="user"> <%= image.user_id %></span>
          <span class='badge'><%= pluralize image.likes.count, 'like' %></span>
        </div>
          <br>
          <% if image.comments.any? %>
              <% image.comments.each do |comment| %>
                <div class='comment'> <span class="user"> <%= comment.user_id %> </span> <%= comment.comment %> </div>
              <% end %>
          <% end %>
        <button type='button' class='btn btn-default btn-xs'>
          <span class='glyphicon glyphicon-heart'></span>
            <%= link_to "Like", image_likes_path(image), method: :post %>
        </button>
        <button type='button' class='btn btn-default btn-xs'>
          <span class='glyphicon glyphicon-pencil'></span>
          <%= link_to "Comment", new_image_comment_path(image) %>
        </button>
        <button type='button' class='btn btn-default btn-xs'>
          <span class='glyphicon glyphicon-remove'></span>
          <%= link_to "Delete", image_path(image), method: :delete %>
        </button>
        </div></center>
      <% end %>
    <% else %>
      <h2>No images yet!</h2>
    <% end %>
  </div>
</div>
