<div class="d-flex align-itmes-center justify-content-center">
  <h1>Welcome to Instagram</h1>
</div>

<br>

<div class="d-flex align-itmes-center justify-content-center">
  <%= form_with url: sign_in_path do |form| %>
    <div class="mb-2">
      <%= form.text_field :email, class: "form-control", placeholder: "Email"%>
    </div>

    <div class="mb-2">
      <%= form.password_field :password, class: "form-control", placeholder: "Password"%>
    </div>

    <div class="d-flex align-itmes-center justify-content-center">  
      <%= form.submit "Sign in", class: "btn btn-primary" %>
    </div>
  <% end %>
</div>

<br>

<div class="d-flex align-itmes-center justify-content-center">  
  <p>Don't have an account?  <%= link_to "Sign up", sign_up_path, class: "link" %> </p>
</div>