<center>
<%= form_for @turtlegram, html: { multipart: true } do |f| %>
<div class="field">
  <%= f.label :caption %><br>
  <%= f.text_area :caption %>
</div>
<div class="field">
  <%= f.label :image %><br>
  <%= f.file_field :image %>
</div>
<div class="actions">
  <%= f.submit %>
</div>
<% end %>
<table>
  <th><%= link_to "Back", turtlegrams_path %></th>
</table>
</center>
