<center>
  <a href='/turtlegrams/new'>Add a turtlegram</a>
  <% if Turtlegram.all.any? %>
  <% Turtlegram.all.reverse.each do |turtlegram| %>
  <p>
    <div id='owner'>
    <strong>Posted by: <%= link_to turtlegram.user.email, user_path(turtlegram.user.id) %></strong>
  </div>
  </p>
  <p>
    <div id='post'>
    <%= image_tag turtlegram.image.url unless turtlegram.image.blank? %>
  </div>
  </p>
    <div id='caption'>
    Caption: <strong><%= turtlegram.caption %></strong>
    </div>
  </br>
    <table>
      <tr>
    <th><div id='comment'>
    <%= link_to "Add comment", new_turtlegram_comment_path(turtlegram) %>
  </div></th>
    <th><div id='comment'>
    <%= link_to "All comments", turtlegram_path(turtlegram) %>
  </div></th>
</table>

  <% if current_user == turtlegram.user %>
  <table>
  <th><div id='edit'>
    <%= link_to "Edit turtlegram", edit_turtlegram_path(turtlegram) %>
</div></th>
  <th><div id='delete'>
    <%= link_to "Delete turtlegram", turtlegram_path(turtlegram), method: :delete %>
  </div></th>
  <tr>
</table>
  <% end %>
  <% end %>
<% else %>
  <h1>No turtlegrams yet</h1>
<% end %>

</center>
