<%= form_for @turtlegram, html: { multipart: true } do |f| %>
  <% if @turtlegram.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@turtlegram.errors.count, "error") %> prohibited this turtlegram from being saved:</h2>

      <ul>
      <% @turtlegram.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class="field">
    <%= f.label :caption %><br>
    <%= f.text_area :caption %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
