<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div>
    <p class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username" %>
    </p>

    <p class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </p>

    <p class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </p>

    <p class="field">
      <%= f.password_field :password_confirmation, autocomplete: "new-password", placeholder: "Confirm your password" %>
    </p>

    <p class="actions">
      <%= f.submit "Sign up" %>
    </p>
  <% end %>
  <%= render "devise/shared/links" %>
</div>

