<h1><%=@user.username%></h1>
<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<% end %>

<%= link_to new_user_message_path(current_user.id) do %>
Create post
<% end %>

<div class='timeline'>
<% @messages.each do |message| %>
  <div class='message-div' id=<%=message.id%>>
    <%= link_to '@' + message.user.username, user_path(message.user.id), params: {id: message.user.id}, id: 'author' + message.id.to_s %>
    <p class='message-text' id=text-<%=message.id%>><%=message.text%></p>
    <p class='message-date' id=date-<%=message.id%>><%=message.format_date%></p>
    <%= image_tag message.image, class: 'message-photo', id: 'photo-' + message.id.to_s %>

    <p class='message-like-count' id=likes-<%=message.id%>><%=message.likes.size%><span class=emoji>&#x1F44D;</span></p>
    <div class='message-comment-list' id=comment-<%=message.id%>>
      <% message.comments.each do |comment| %>
      <div class='comment' id=comment-<%=comment.id%>>
        <%= link_to '@' + comment.user.username, user_path(comment.user.id), params: {id: comment.user.id}, id: 'author' + comment.id.to_s %>
        <p><%=comment.text%></p>
      </div>
      <% end %>
    </div>
    <%= button_to 'Like', message_likes_path(message.id), method: :post, id: "like-button", class: "like-button", params: {user_id: current_user.id, post_id: message.id } %>
    <%= link_to 'Make Comment', new_message_comment_path(message.id)%>
  </div>
  <% end %>
</div>

<br>
<%= link_to '/' do%>
  Go Back
<% end %>
