<h1>Spacagram</h1><br>

<%= link_to 'Homepage', welcome_index_url%>
<h2> <%= @user.username %></h2><br>

<% @posts.each do |post| %>
  <%= image_tag(post.image.thumb.url, alt: 'Image') %><br>
  <%= post.description %><br>
  <%= post.created_at.strftime('Posted at %I:%M%p, %d/%m/%Y') %><br>
<%end%>
