- if @user
  %h2= @user.username
  - @user.posts.each do |post|
    %div.post{:id => post.id}
      %div.image= image_tag post.image.url(:medium)
      %span.like-count= post.likes.count
      = 'like'.pluralize post.likes.count
      %p= post.description
      = link_to "Heart", post_likes_path(post), class: 'heart-link'
