
<h2><font color='black' ><%= @user.username %></font></h2><br>

<%= render 'users/follow_form' if user_signed_in? %>

<section class="stats">
    <%= render 'shared/stats' %>
</section>

<% @posts.each do |post| %>
<div id='post_<%=post.id %>'>
<%= image_tag(post.image.thumb.url, alt: 'Image') %><br>
<%= post.description %><br>
<%= post.created_at.strftime('Posted at %I:%M%p, %d/%m/%Y') %><br>
<%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%>
<%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%>
</div>
<%end%>
