<h1>Timeline for {{ name }} </h1>
 <h4 class="name">{{user.name}}</h4>
<div class="posts">
  {{#each posts}}
  <div>{{this.user.name}} <br>
  {{this.message}}     -      <div id="createdAt">{{this.postedAt}}</div> <br> 
  <form action="/posts/like/{{this._id}}" method="post" id = "like_{{this._id}}">
    <button id="like" name="postId" value="{{this._id}}">Like</button>
  </form> - <div id="likecount">{{this.likes}}</div> 
  </div>
    <br>
  {{/each}}
<div>




