<%= form_with(url: login_path, :html => { :class => 'user-form' }) do |form| %>

  <%= form.email_field :email, placeholder: "Email" %>
  <%= form.password_field :password, placeholder: "Password" %>

  <%= form.submit "Log in" %>

<% flash.each do |type, msg| %>
  <p class="flash-<%= type %>">
    <%= msg %>
  </p>
<% end %>

<% end %>
