<h1>Neogram</h1>

<% if logged_in? %>

<h2>Hello <%= current_user.username %></h2>

<%= button_to "New post", new_user_post_path(current_user), method: :get %>

<%= button_to "Log out", sessions_path, method: :delete %>

<% end %>

<% if logged_in? %>
<section>
  <% @posts.each do |post| %>
  <article class="post">
    <p><%= post.formatted_time %></p>
    <%= link_to  image_tag(post.image, class: post.filter_class), post_path(post) %>
  </article>
  <% end%>
</section>
<% end %>