<div>
  <h2>Log in page</h2>
  <%= form_tag "/login" do %>
    Email: <%= text_field_tag :email %><br>
    Password: <%= password_field_tag :password %><br>
    <%= submit_tag "Log in" %>
    <%end%>
     <%= link_to "Sign up", new_user_path %>
</div>