<h1>Log In</h1>

<%= form_with scope: :user, url: sessions_path, local: true do |form| %>
<p>
  <%= form.label :username %><br>
  <%= form.text_field :username %>
</p>
<p>
  <%= form.label :password %><br>
  <%= form.text_field :password %>
</p>

<p>
  <%= form.submit 'Submit' %><br>
</p>
<% end %>