<h1> Log in page </h1>

<% form_for sessions_path do |form| %> 
<%= label_tag :username %>
<%= text_field_tag :username %>
<%= label_tag :password %>
<%= text_field_tag :password %>
<%= submit_tag "Login" %>
<% end %>