<% provide(:title, "Sign in") %>

<div class="container">
  <div class="row">
    <h1>Plantagram</h1>
    <h2>Sign in</h2>
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(:session, url: signin_path) do |f| %>

        <%= f.email_field :email, class: 'form-control', placeholder: 'Email' %>

        <%= f.password_field :password, class: 'form-control', placeholder: 'Password'  %>

        <%= f.submit "Log in", class: "btn btn-primary" %>
      <% end %>

      <p>Don't have an account? <%= link_to "Sign up", signup_path %></p>
    </div>
  </div>
</div>