<%= form_with scope: :session, url: sessions_path, local: true do |form| %>
  
  <p>
    <%= form.label :email %>
    <%= form.email_field :email %>
  </p>

  <p>
    <%= form.label :password %>
    <%= form.password_field :password %>
  </p>

  <%= form.submit "Log In" %>

<% end %>
