<h1>Sign In</h1>

<%= form_with url: sign_in_path do |form| %>
    <div class="mb-3">
        <%= form.label :email, 'Email' %>
        <%= form.text_field :email, class: 'form-control', placeholder: 'idi@amin.com' %>
    </div>
    <div class="mb-3">
        <%= form.label :password %>
        <%= form.password_field :password, class: 'form-control', placeholder: 'despotsRus' %>
        <%= link_to 'Forgot your password?', password_reset_path %>
    </div>
    <div class="mb-3">
        <%= form.submit 'Sign In', class: 'btn btn-primary' %>
    </div>
<% end %>