<%# ----- add these lines here: ----- %>

<h1>Log In</h1>
<%= form_for :login do |f| %>
<div><%= f.label :email %> <%= f.text_field :email, autofocus: true %></div>
<div><%= f.label :password %> <%= f.password_field :password %></div>
<div><%= f.submit "Log In" %></div>
<% end %> <%# ----- end of added lines ----- %>
