<%= provide(:title, "Log in") %>
<h1>Log in</h1>

<div>
  <div>
    <%= form_for(:session, url: login_path) do |form| %>
      <%= form.label :email %>
      <%= form.email_field :email %><br>

      <%= form.label :password %>
      <%= form.password_field :password %><br>

      <%= form.submit "Log in" %>
    <% end %>

    <p>New user? <%= link_to "Sign up now!", signup_path %></p>
  </div>
</div>
