<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <center>
      <h1>Sign In to Instagram</h1>
      <div id='main-menu'>
        <%= flash[:notice] %>
        <%= form_tag '/signin' do %>
          Email
          <br>
          <%= text_field_tag :email %>
          <p>Password </p>
          <%= password_field_tag :password %>
          <br>
          <%= submit_tag 'Sign In' %>
        <% end %>
      </div>
    </center>
  </body>
</html>
