<h1>Login</h1>

<div>
  <%= form_tag '/login' do %>
    <div>
      <%= label_tag :username %>
      <%= text_field_tag :username %>
    </div>
    <div>
      <%= label_tag :password %>
      <%= password_field_tag :password %>
    </div>
    <div>
      <%= submit_tag "Login" %>
    </div>
  <% end %>
</div>
