<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Sign In</title>
  </head>
  <body>
    <h1>Sign Up to Instagram</h1>
    <%= flash[:notice] %>
    <%= form_tag '/signin' do %>
      Email: <%= text_field_tag :email %>
      Password: <%= password_field_tag :password %>
      <%= submit_tag 'Sign In' %>
    <% end %>
  </body>
</html>
