<h1>Log In</h1>

<% if @error %>

<h2>Incorrect username or password</h2>

<% end %>

<%= form_with scope: :user, url: sessions_path, class: 'user-form', local: true do |form| %>
<%= form.label :username %>
<%= form.text_field :username, class: 'text-field' %>

<%= form.label :password %>
<%= form.text_field :password, class: 'text-field' %>

<%= form.submit 'Submit', class: 'btn-primary' %>
<% end %>