<%# ----- add these lines here: ----- %>
<div class="row col-12 col-md-8 col-lg-6 offset-0 offset-md-2 offset-lg-3 mt-2 form_input">
<h1>Log In</h1>
<%= form_for :login do |f| %>
<%= f.label :email, class: "mt-1" %> 
<%= f.text_field :email, autofocus: true, required: "true", class: "mt-1" %>
<%= f.label :password, class: "mt-1" %> 
<%= f.password_field :password, required: "true", class: "mt-1" %>
<%= f.submit "Log In", class: "w-100 btn btn-primary btn-sm mt-3 mb-3 btn-block text-white" %>
<% end %> <%# ----- end of added lines ----- %>
</div>