<div id="clearance" class="sign-in login-form">
  <h2 class='form-header brand-font centered'><%= t(".title") %></h2>
  <%= form_for :session, url: session_path do |form| %>
    <div class="text-field form-text">
      <%= form.text_field :email, type: 'email', placeholder: "Email" %>
    </div>

    <div class="password-field form-text">
      <%= form.password_field :password, placeholder: "Password" %>
    </div>

    <div class="submit-field">
      <%= form.submit class: 'clear-btn centered', value: "Let's go!" %>
    </div>

    <div class="other-links centered">
      <%= link_to "Forgot Password?", new_password_path %>
    </div>
  <% end %>
</div>
