<h1>DINOGRAM<h1>

<p id=”alert”><%= alert %></p>

<%= form_with url: sessions_path do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>

  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Log In" %>
<% end %>
