<h1>Welcome all!</h1>

<% if logged_in? %>
    <h1>You are Logged In, <%= current_user.username %></h1>
<%end%>

<%= link_to 'Instagram-clone', controller: 'posts' %>
<%= link_to 'New post', new_post_path %>

<%= button_to "Login", '/login', method: :get%>

<%= button_to "Sign Up", '/users/new', method: :get%>