<%= image_tag @image.pic.url(:original) %>
<% @image.comments.each do |comment| %>
  <%= comment %>
<% end %>
<!-- <%= form_for @comment do |f| %>
  <%= f.text_field :comment %>
  <%= f.submit 'Submit' %>
<% end %> -->
<!-- <input type="text" name='comment' class="add_comment" placeholder="add a comment">
<button type="button" class="submit_comment">Submit</button> -->
