<section id="users">

<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <h2>resend confirmation instructions</h2>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-centered columns">

    <%= form_for(resource, as: resource_name, url: confirmation_path(resource_name), html: { method: :post }) do |f| %>
      <%= devise_error_messages! %>

      <div class="field">
        <%= f.label :email %><br />
        <%= f.email_field :email, autofocus: true, value: (resource.pending_reconfirmation? ? resource.unconfirmed_email : resource.email) %>
      </div>

      <div class="actions">
        <%= f.submit "Resend confirmation instructions" %>
      </div>
    <% end %>
  </div>
</div>

<div class="row">
  <div class="small-12 medium-8 medium-centered columns">
    <div class="shared-links">
      <%= render "devise/shared/links" %>
    </div>
  </div>
</div>
</section>
