<%= form_with model: @user do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <%= form.label :password %>
    <%= form.text_field :password %>
    <%= form.label :email %>
    <%= form.text_field :email %>
    <%= form.submit "Sign Up" %>
  </div>
<% end %>
