<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>
<div style="width:400px; height:auto">
<%= image_tag(@post.image, style:"width:100%") %>
</div>
<span class='parent-likes'>
  <span class="like_count" <%=@post.id%>>
    <%= @post.get_likes.size %> Likes
    </span>

    <a>
      <%# <% if @current_user.liked? @post %>
        <%# <div> <%= link_to like_post_path(@post, 'unlike'), class: "liked-btn",
        method: :put, remote: :true do %> 
        <%# Preached </div> %>
      <%# <% end %>
      <%# <% else %> 
        <div> <%= link_to "Like", like_post_path, method: :put %></div>
  <%# <%= @post.get_likes.size %>
      <%# <% end %>
    <a>
  </span>
<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
