  <!DOCTYPE html>
  <html>
  <body>

  <h1>Finstagram</h1>
  <p>Attempting to build a really good knock-off</p>

  <%= simple_form_for @post do |f| %>
  <%= f.input :image %>
  <%= f.input :caption %>
  <%= f.button :submit %>
  <%= form.submit "Submit" %>
  <% end %>


  </body>
  </html>

  <!-- <%= form_for user_new_path do |form| %>
  <%= form.label :firstname %>
  <%= form.text_field :firstname %>
  <%= form.label :lastname %>
  <%= form.text_field :lastname %>
  <%= form.label :email %>
  <%= form.text_field :email %>
  <%= form.label :password %>
  <%= form.text_field :password %>

  <%= form.submit "Submit" %>
<% end %> -->
