<div class="container">
  <div class="row">
    <h2>Edit <%= resource_name.to_s.humanize %></h2>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
      <%= devise_error_messages! %>
      <fieldset class="form-group">
        <div class="form-group">
          <%= f.label :email, class: "col-sm-2 col-form-label" %>
          <%= f.email_field :email, autofocus: true, class: "form-control" %>
        </div>

        <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
          <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
        <% end %>

        <div class="form-group">
          <%= f.label :password, class: "col-sm-2 col-form-label" %> <i>(leave blank if you don't want to change it)</i>
          <%= f.password_field :password, autocomplete: "off", class: "form-control", placeholder: "Password" %>
          <p id="passwordHelpBlock" class="form-text text-muted">
            <% if @minimum_password_length %>
            Your password must be at least <%= @minimum_password_length %> characters long.
            <% end %>
          </p>
        </div>

        <div class="form-group">
          <%= f.label :password_confirmation, class: "col-sm-4 col-form-label" %>
          <%= f.password_field :password_confirmation, autocomplete: "off", class: "form-control", placeholder: "Password confirmation"%>
        </div>

        <div class="form-group">
          <%= f.label :current_password, class: "col-sm-2 col-form-label" %> <i>(we need your current password to confirm your changes)</i>
          <%= f.password_field :current_password, autocomplete: "off", class: "form-control", placeholder: "Current password" %>
        </div>

      </fieldset>


      <div class="form-group">
        <%= f.submit "Update", class: "btn btn-primary" %>
      </div>
    <% end %>

    <h3>Cancel my account</h3>

    <p>Unhappy? <%= button_to "Cancel my account", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete, class: "btn btn-primary" %></p>

    <%= link_to "Back", :back %>

  </div>
</div>
