<div class="container">
<span>Create Account</span>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

<form>

  <div class="field">
    <%= f.label :first_name %><br />
    <%= f.text_field :first_name, autofocus: true, autocomplete: "First name", :required => 'required'%>
  </div>

  <div class="field">
    <%= f.label :last_name %><br />
    <%= f.text_field :last_name, autocomplete: "Last name", :required => 'required'%>
  </div>

  <div class="field">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"text" %>
  </div>

  <div class="field">

    <%= f.label :password %> 
    <%= f.password_field :password, autocomplete: "new-password", placeholder: "#{@minimum_password_length} characters minimum"  %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">

    <div class="d-flex flex-nowrap">
      <div class="mr-auto p-2">
      <%= f.label :add_picture %> 
      </div>
      
      <div class="p-2">
      <%= f.file_field :avatar %>
      </div>
    </div>

  </div>


  <div class="actions">
 <div class="d-flex justify-content-center">
    <%= f.submit "Sign up", class:"btn" %>
    </div>
 
  </div>

<% end %>

</form>
</div>
