<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

<div align="center">
<div class="form-control">
  <h2>Sign up</h2>

  <div class="field">
    <%= f.text_field :username, placeholder: "user name*", autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "email*", autofocus: true %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "password*", autofocus: true, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "repeat password*", autofocus: true, autocomplete: "new-password" %>
  </div>

  <br />

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
  <br>

</div>
</div>
<% end %>


<%= devise_error_messages! %>

<%= render "devise/shared/links" %>
