<div class="form">
  <h2>Sign up</h2>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="form-group">

      <%= f.label :user_name %><br />
      <input class="form-control" type="text"  require="true" autofocus="autofocus" name="user[user_name]" id="user_user_name">

      <%= f.label :email %><br />
      <input class="form-control" type="email" autocomplete="email" value="" name="user[email]" id="user_email">

      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <input class="form-control" autocomplete="off" type="password" name="user[password]" id="user_password">

      <%= f.label :password_confirmation %><br />
      <input class="form-control" autocomplete="off" type="password" name="user[password_confirmation]" id="user_password_confirmation">

    </div>

    <div class="actions">
      <input class="btn btn-primary" type="submit" name="commit" value="Sign up" data-disable-with="Sign up">
    </div>

  <% end %>

</div>
