<div class="background">
    <main class="auth-form">
        <section>
            <h2>Sign up</h2>

            <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
                <%= devise_error_messages! %>

                <div class="field">
                    <%= f.email_field :email, autofocus: true, class: "text-input", placeholder: "Email" %>
                </div>

                <div class="field">
                    <%= f.text_field :username, class: "text-input", placeholder: "Username" %>
                </div>

                <div class="field">
                    <%= f.password_field :password, autocomplete: "off", class: "text-input", placeholder: "Password" %>
                </div>

                <div class="field">
                    <%= f.password_field :password_confirmation, autocomplete: "off", class: "text-input", placeholder: "Password Confirmation" %>
                </div>

                <div class="actions">
                    <%= f.submit "Sign up", class: "btn fr" %>
                </div>
            <% end %>
        </section>
    </main>
</div>
