<div id="registration-bg">
  <div class="container">
    <div class="sign-up form" style="padding:20px;">
    <h2 style="margin:0;padding:0">Sign up</h2>
    <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>

    <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

    <div class="field">
      <%= f.label :username %><br />
      <%= f.text_field :username, required: true %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "off" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up", class: 'btn-lg btn-info btn-block' %>
    </div>
    <% end %>

    <%= render "devise/shared/links" %>
  </div>
  </div>
</div>
