<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.text_field :username, placeholder: "Username", autofocus: true %>
  </div>

  <div class="field">
    <%= f.email_field :email, placeholder: "Email" %>
  </div>

  <div class="field">
    <%= f.password_field :password, placeholder: "Password", autocomplete: "off" %>
  </div>

  <div class="field">
    <%= f.password_field :password_confirmation, placeholder: "Confirm Password", autocomplete: "off" %>
  </div>

  <div class="actions">
    <%= f.submit "Sign up" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
