= form_for @listing, html: {multipart: true} do |f|
  = f.label :day
  = f.text_field :day
  %br
  = f.label :"Start Time"
  = f.select :hour, (7..21)
  = f.select :mins, (0..59) #how can I change this to make it every 5 mins only and also display leading 0?
  %br
  = f.submit


%hr

- if @listing.errors.any?
  %section#errors
    %strong
      = pluralize @listing.errors.count, "error"
      Sorry this listing could not be saved:
    %ul
      - @restaurant.errors.full_messages.each do |message|
        %li= message
