<p id='notice'><%= notice %></p>

<h1>Pins</h1>

<table>
  <thead>
    <tr>
      <th colspan='3'></th>
    </tr>
  </thead>

  <tbody>
    <% @pins.each do |pin| %>
      <div id='caption'>
      <%= pin.caption %>
      </div>
      <div id='center-cropped' style="background-image: url('<%= pin.image %>');">
        <img src='<%= pin.image %>'>
      </div>
      <%= link_to 'Show', pin %></td>
      <br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Pin An Image', new_pin_path %>
