<div id="pins-container">
  <% @pins.each do |pin| %>
    <div id='pin'>
      <%=image_tag("pin.png", :style => "vertical-align: top;margin-top:-20px;margin-left:-10px;height: 40px;position:absolute")%>
      <div id='center-cropped' style="background-image: url('<%= pin.image %>');">
      <a href="pins/<%= pin.id %>"><img src='<%= pin.image %>'></a>
      </div>
      <div id='caption'>
        <span><%= pin.caption %></span>
      </div>
    </div>
  <% end %>
</div>

