<div id="header">
  <h1>pinstagram</h1>
  <p id="links">
  <%= link_to 'Pin An Image', new_pin_path %>
  </p>
</div>

<p id='notice'><%= notice %></p>

  <% @pins.each do |pin| %>
    <div id='pin'>
      <div id='caption'>
          <%= pin.caption %>
      </div>
      <div id='center-cropped' style="background-image: url('<%= pin.image %>');">
        <img src='<%= pin.image %>'>
      </div>
    </div>
    <%= link_to 'Show', pin %></td>
    <br>
  <% end %>

