<p id="notice"><%= notice %></p>
<div id='pin'>
  <div id='center-cropped' style="background-image: url('<%= @pin.image %>');">
  <a href="<%= pins_path %>"><img src='<%= @pin.image %>'></a>
  </div>
  <div id='caption'>
    <span><%= @pin.caption %></span>
  </div>
</div>
