 <div id="single-pin-container">
  <div id='pin-single'>
    <%=image_tag("pin.png", :style => "vertical-align: top;margin-top:-20px;margin-left:-10px;height: 40px;position:absolute")%>
    <div id='center-cropped-single' style="background-image: url('<%= @pin.image %>');">
    <a href="<%= pins_path %>"><img src='<%= @pin.image %>'></a>
    </div>
    <div id='caption-single'>
      <span><%= @pin.caption %></span>
    </div>
  </div>
  <div id="comments-container">
    Posted by:
    <%= @user.email %>
  <div>
</div>
