<h2> This snap has <%= pluralize(@comments.count, "comment") %> </h2>

<% @snap.comments.each do |comment| %>
  <p>
    <span class="h6"><%= comment.user.email %>:</span>
    <%= comment.content %>
  </p>
  <% if !(current_user.nil?) && (current_user.id == comment.user_id) %>
    <%= link_to 'Delete comment',[comment.snap, comment], method: :delete %>
  <% end %>
<% end %>

<%= render 'comments/form' %>
