<article>
  <span><%= comment.user.try(:email) %></span><br>
  <span><%= comment.message %></span><br>
  <%= render "likes/like_form", likeable: comment %>
  <span>replies: <%= comment.comments.size %>
  <%= render "comments/container", commentable: comment %>
</article>
