= form_for [@photograph, @comment] do |f|
  = f.label :comment, "Comment"
  = f.text_area :comment
  - if current_page?(new_photograph_comment_path)
    = f.submit "Leave Comment", class: "button_styled"
  - else
    = f.submit "Update Comment", class: "button_styled"
