<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :body %>
  </p>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <p>
    <%= form.submit %>
  </p>
<% end %>
