<%= form_for Comment.new do |form| %>
<div class="field">
  <strong>Add a comment: </strong><%= form.text_area :body %>
  </div>
<%= form.hidden_field :user_id, :value => user.id %>
<%= form.hidden_field :image_id, :value => image.id%>
<%= form.submit "Submit", class: 'button' %>
<% end %>
