
  <%= form_for([@picture, @picture.comments.build]) do |f|%>
  <p>
    <%= f.label :commenter %>
    <%= f.text_field :commenter%>
  </p>
  <p>
    <%= f. label :body %><br>
    <%= f.text_area :body %>
  </p>
  <p>
    <%= f.submit %>
  </p>
  <%end%>
