<%= form_with(model: comment) do |form| %>
  <% if comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :body %>
    <%= form.text_field :body %>
  </div>

  <div class="field">
    <%= form.number_field :user_id, id: :comment_user_id, value: current_user.id, type: :hidden%>
  </div>

  <div class="field">
    <%= form.label :post_id %>
    <%= form.number_field :post_id%>
  </div>

<%= @post.inspect %>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
