<%= form_with(model: @comment, class: "new-comment-area") do |form| %>
  <% if @comment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@comment.errors.count, "error") %> prohibited this comment from being saved:</h2>

      <ul>
        <% @comment.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <!-- <%= form.label :text %> -->
    <%= form.text_field :text %>
  </div>

  <div class="field">
    <%= form.hidden_field :user_id, :value => session[:user_id]  %>
  </div>

  <div class="field">
    <%= form.hidden_field :post_id, :value => @post.id  %>
  </div>

  <div class="actions">
    <%= form.submit "Say so" %>
  </div>
<% end %>
