<p id="notice"><%= notice %></p>

<font color='black'><h1>Comments</h1></font>

<table>
  <thead>
    <tr>
      <font color='black'><th>Body</th></font>
    <font color='black'>  <th>Post</th></font>
    <font color='black'>  <th>User</th></font>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @comments.each do |comment| %>
      <tr>
      <font color='black'>  <td><%= comment.body %></td></font>
      <font color='black'>  <td><%= comment.post_id %></td></font>
    <font color='black'>    <td><%= comment.user_id %></td></font>
        <td><%= link_to 'Show', comment %></td>
        <td><%= link_to 'Edit', edit_comment_path(comment) %></td>
        <td><%= link_to 'Destroy', comment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
