$("#<%= @commentable.class.name.downcase %>_<%= @commentable.id %>_comments").html(`<article>
                                                                                        <span><%= @comment.user.email %></span><br>
                                                                                        <span><%= @comment.message %></span><br>
                                                                                        <%= render "likes/like_form", likeable: @commentable %>
                                                                                        <%= render "comments/container", commentable: @commentable %>
                                                                                      </article>`);
