<%= image_tag @photo.image.url(:medium) %>
<p><%= @photo.description %></p>
<hr>
<%= form_for [@photo, @comment] do |f| %>
  <%= f.label :remarks %>
  <%= f.text_area :remarks %>
  <%= f.hidden_field :user_id, :value => current_user.id%>
  <%= f.hidden_field :photo_id, :value => @photo.id%>
  <%= f.submit 'Post comment' %>
<% end %>
