    <div class="col-md-5">
      <%= form_for [@post, @comment] do |f| %>
      <div class="form-group">
        <%= f.label :message, :class => 'label' %>
        <%= f.text_area :message, :class => 'form-control' %>
        <%= f.label :reaction, :class => 'label' %>
        <%= f.select :reaction, options_for_select(['omg', 'lol', 'yay', 'nope']), :class => 'form-control' %>
        <%= f.submit 'Add Comment', :class => 'btn submit_comment' %>
      </div>
      <% end %>
    </div>
