<% if user_signed_in? %>
  <div class = "col-sm-4">
      <div class = "thumbnail">
        <%= image_tag @post.image.url %>
      </div>
      <div class = "caption">
         <h3><%= @post.caption %></h3>
         <p>Posted by <%= @post.user.email %> on <%= @post.created_at %></p>
         <p>
            <%= link_to "Like", post_likes_path(@post), method: :post %>
            <%= form_for [@post, @comment] do |f| %>
              <%= f.text_area :content %>
              <%= f.hidden_field :user_id, :value => current_user.id%>
              <%= f.hidden_field :post_id, :value => @post.id%>
              <%= f.submit 'Enter' %>
            <% end %>
         </p>
    </div>
   </div>
<% end %>
