<div class="container">

  <h2>New comment</h2>

  <%= form_for [@post, @comment] do |comment| %>  
    <div class="form-group row">
      <label for="comment" class="col-xs-2 col-form-label"><%= comment.label :comment %></label>
      <div class="col-xs-10" id="comment">
        <%= comment.text_area(:comment, class: "form-control", placeholder: "Add your comments here", row: 5) %>
      </div>
    </div>

    <%= comment.submit "Add comment", class: "btn btn-primary" %>
    <%= link_to "Cancel", post_path(@post) %>
  <% end %>
</div>
