<center>
  <div id='caption>'
  <%= @turtlegram.caption %>
</div></br>
  <div id=post>
    <%= image_tag @turtlegram.image.url unless @turtlegram.image.blank? %>
  </div></br>
<%= form_for [@turtlegram, @comment] do |f| %>
  <strong><%= f.label :thoughts %></strong>
  <%= f.text_area :thoughts %>
  <%= f.submit 'Leave comment' %>
<% end %>
<table>
  <th><%= link_to "Back", turtlegrams_path %></th>
</table>
</center>
