<h1>New Comment</h1>

<%= form_for(Comment.new) do |form| %>
  <p><%= form.text_field("comment") %></p>
  <%= form.hidden_field :user_id, :value => current_user.id %>
  <%= form.hidden_field :image_id, :value => @post.id %>
  <p><%= form.submit %></p>
<% end %>


<%= button_to 'Back', comments_path %>
