<div class="whitebox">
  <h3><%= @picture.description %></h3>
  <%= image_tag @picture.image.url(:medium) %>
  <%= form_for [@picture, @comment], html: { :class => "pure-form pure-form-stacked" } do |f| %>
    <%= field_set_tag do %>
      <%= f.label :comment, class: "hidden" %>
      <%= f.text_area :comment, cols: "38", rows: "2" %>
      <%= f.submit 'Post comment', class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>
</div>
