<center>
  <%= @turtlegram.caption %>
  <div id=post>
    <%= image_tag @turtlegram.image.url unless @turtlegram.image.blank? %>
  </div>
<%= form_for [@turtlegram, @comment] do |f| %>
  <%= f.label :thoughts %>
  <%= f.text_area :thoughts %>
  <%= f.submit 'Leave comment' %>
<% end %>
</center>
