<%= image_tag @photo.image.url(:medium) %>
<p><%= @photo.description %></p>
<hr>
<%= form_for [@photo, @comment] do |f| %>
  <%= f.label :remarks %>
  <%= f.text_area :remarks %>
  <%= f.submit 'Post comment' %>
<% end %>
