<p><%= image_tag @picture.image.url(:medium) %> </p>

<p>
  <%= form_for [@picture, @comment] do |f| %>
    <%= f.label :comments %>
    <%= f.text_area :comments %>
    <%= f.submit 'Leave Comment' %>
  <% end %>
</p>
