<p id="notice"><%= notice %></p>

<p>
  <strong>Thoughts:</strong>
  <%= @comment.thoughts %>
</p>

<p>
  <strong>Pic:</strong>
  <%= @comment.pic %>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
