<p id="notice"><%= notice %></p>

<p>
  <font color='black'><strong>Body:</strong></font>
  <font color='black'><%= @comment.body %></font>
</p>

<p>
  <font color='black'><strong>Post:</strong></font>
  <font color='black'><%= @comment.post_id %></font>
</p>

<p>
<font color='black'>  <strong>User:</strong></font>
  <font color='black'><%= @comment.user_id %></font>
</p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
