<p><strong>User name:</strong>
  <%= @comment.user_name %></p>

<p><strong>Body:</strong>
  <%= @comment.body %></p>

<p><strong>Instapost:</strong>
  <%= @comment.instapost_id %></p>

<%= link_to 'Edit', edit_comment_path(@comment) %> |
<%= link_to 'Back', comments_path %>
