<%= image_tag @picture.image.url(:medium) %>
<h2><%=  @picture.description %></h2>
<h2>pineapples * <%=  @picture.pineapples %></h2>


<%= form_for @picture, html: {multipart: true} do |f| %>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit %>
<% end %>
