<p id="notice"><%= notice %></p>

<p>
  <strong>Comments:</strong>
  <%= @post_comment.comments %>
</p>

<p>
  <strong>Post:</strong>
  <%= @post_comment.post_id %>
</p>

<p>
  <strong>User:</strong>
  <%= @post_comment.user_id %>
</p>

<%= link_to 'Edit', edit_post_comment_path(@post_comment) %> |
<%= link_to 'Back', post_comments_path %>
