<%= form_for(:session, url: login_path) do |form| %>
  <div>
    <%= form.label :username %>
    <%= form.text_field :username %>
    <%= form.label :password %>
    <%= form.text_field :password %>
    <%= form.submit "Sign In" %>
  </div>
<% end %>
