%h2 Sign up
= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f|
    = f.label :email
    = f.text_field :email, required: true, autofocus: true
    = f.label :user_name
    = f.text_field :user_name, required: true
    = f.label :password
    = f.text_field :password, required: true, hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length)
    = f.label :password_confirmation
    = f.text_field :password_confirmation, required: true
    = f.submit

= render "devise/shared/links"
