<h1>Log In</h1>
<%= link_to 'Home', '/' %>

<%= form_for :session do |f| %>
  Email: <%= f.text_field :email, name: 'email', required: true %><br />
  Password: <%= f.password_field :password, name: 'password', required: true %><br />
  <%= f.submit :'Log in', name: 'log_in' %><br />
<% end %>

<% if session.delete :invalid_login %><p>Invalid username or password</p><% end %>
