<div class="post">
  <img src=<%= @entry.image %> >
</div>
<%= form_for(@entry) do |form| %>
  <p><%= form.label("description") %></p>
  <p><%= form.text_area("description") %></p>
  <p><%= form.submit 'Edit post' %></p>


<% end %>
<p><%= link_to("Back to your feed", entries_path) %></p>