<%= form_for(Entry.new) do |form| %>
  <p><%= form.label("image") %></p>
  <p><%= form.text_field("image") %></p>
  <p><%= form.label("description") %></p>
  <p><%= form.text_field("description") %></p>
  <p><%= form.submit 'Post' %></p>
<% end %>
<p><%= link_to("Back to all entries", entries_path) %></p>