<h1><%= @picture.title %></h1>
<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.description %></p>

<h2>Pic by:</h2>
<p><%= @picture.user.email %></p>

<%= link_to "Back", root_path %>
<%= link_to "Delete", picture_path, method: :delete, data: { confirm: "Are you sure?"} %>
