<h1><%= @picture.title %></h1>
<%= image_tag @picture.image.url(:medium) %>
<h2><%= @picture.description %></h2>

<h2>Pic by:</h2>
<h4><%= @picture.user.email %></h4>

<h3><%= link_to "Back", root_path %></h3>
<h3><%= link_to "Delete", picture_path, method: :delete, data: { confirm: "Are you sure?"} %></h3>
