<h1>Sign Up</h1>

<%= form_for :user do |f| %>
  First Name: <%= f.text_field :first_name, name: 'first_name' %><br />
  Last Name: <%= f.text_field :last_name, name: 'last_name' %><br />
  Email: <%= f.text_field :email, name: 'email' %><br />
  Password: <%= f.password_field :password, name: 'password' %><br />
  Confirm Password: <%= f.password_field :password_confirmation, name: 'password_confirmation' %><br />
  <%= f.submit :Submit, name: 'signup' %><br />

  <% if session.delete :invalid_signup %>
    <p>Invalid credentials, please try again</p>
  <% end %>

  <% if session.delete :existing_email %>
    <p>The email <%= session[:doubled_email] %> is already in use</p>
  <% end %>
<% end %>
