<h1><%= @user.first_name %>'s feed</h1>
<%= link_to 'New Post', '/posts/new' %>
<%= link_to 'Log out', "/sessions/#{@user.id}", method: :delete %>
<%= link_to 'Home', '/posts' %>

<% if @user_posts %>
  <% @user_posts.each do |post| %>
    <% @comments = Comment.where({ post_id: post.id }) %>

    <p><%= image_tag(post.image) %></p>
    <p><%= post.description %></p>
    <%= "posted on #{post.created_at.strftime '%d %b %Y at %H:%M'}" %>

    <%= link_to 'edit description', "/posts/#{post.id}/edit" %>
    <%= link_to 'delete', "/posts/#{post.id}", method: :delete %>

    <%= 
      likes = Like.where({ post_id: post.id})
      first_user = User.find(likes[0].user_id).first_name if likes[0]
      second_user = User.find(likes[1].user_id).first_name if likes[1]

      if likes.any? { |like| like.user_id == session[:id] }
        first_user = 'You'
        other_likes = likes.select { |like| like.user_id != session[:id] }
        second_user = User.find(other_likes[0].user_id).first_name if other_likes[0]
      end
      
      case likes.length
      when 0
      when 1
        "#{first_user} liked this post"
      when 2
        "#{first_user} and #{second_user} liked this post"
      else
        "#{first_user} and #{likes.length - 1} others liked this post"
      end
    %> 

    <% @existing_like = Like.find_by({ user_id: session[:id], post_id: post.id }) %>
    <% if @existing_like %>
      <%= link_to 'Unlike', "/likes/#{@existing_like.id}", method: :delete %>
    <% else %>
      <%= link_to 'Like', "/likes/#{post.id}", method: :post %>
    <% end %>

    <% @comments.each do |comment| %>
      <% @comment_user = User.find(comment.user_id) %>
      <%= @comment_user.first_name %> ~ <%= comment.body %>
      <p>Posted on <%= comment.created_at.strftime '%d %b %Y at %H:%M'%></p>

      <% if [@user.id, @comment_user.id].include? session[:id] %>
        <%= link_to 'delete comment', "/comments/#{comment.id}", method: :delete %>
      <% end %>
    <% end %>

    <%= form_for :comment, url: "/comments" do |f| %>
      Leave a comment: <%= f.text_field :body, name: "body" %><br />
      <%= hidden_field_tag :post_id, post.id %>
      <%= f.submit :Post, name: 'post' %><br />
    <% end %>
  <% end %>
<% else %>
  <p>Create a post</p>
<% end%>
