<h1><%= @user.first_name %>'s feed</h1>
<%= link_to 'New Post', '/posts/new' %>

<% if @user_posts %>
  <% @user_posts.each do |post| %>
    <p><%= image_tag(post.image) %></p>
    <p><%= post.description %></p>
    <%= link_to 'edit description', "/posts/#{post.id}/edit" %>
  <% end %>
<% else %>
  <p>Create a post</p>
<% end%>
