<h1 class="text-black-300   text-5xl text-center mt-5 mb-5">Log In</h1>
<div class="w-full max-w-xs">
<%= form_for(resource, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="field mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2" %><br />
    <%= f.email_field :email, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="field mb-4">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2"  %><br />
    <%= f.password_field :password, autocomplete: "current-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <% if devise_mapping.rememberable? %>
    <div class="field mb-4">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "block text-gray-700 text-sm font-bold mb-2"  %>
    </div>
  <% end %>

  <div class="actions flex items-center justify-between">
    <%= f.submit "Log In",  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  %>
  </div>
<% end %>

<%= render "users/shared/links" %>
