<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-6">
    <h2>Log in</h2>
  </div>
  <div class="col-md-3"></div>
</div>

<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
<div class="row">
  <div class="col-md-3"></div>
  <div class="col-md-9">
    <div class="form-group">
      <div class="input-group">
        <%= f.label :email %><br />
        <%= f.text_field :email, autofocus: true %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <%= f.label :password %><br />
        <%= f.password_field :password, autocomplete: "off" %>
      </div>
    </div>

    <div class="form-group">
      <div class="input-group">
        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <%= f.check_box :remember_me %>
          <%= f.label :remember_me %>
        </div>
      </div>
    </div>
    <% end -%>

    <div class="btn">
      <div class="actions">
        <%= f.submit "Log in" %>
      </div>
    </div>
    <% end %>
  </div>

  <%= render "devise/shared/links" %>
