extends layout 

block content 
  h1(id='title') #{title} 
  button(id='login-button' class='button') Login
  button(id='signup-button' class='button') Sign Up
  a(id='add-post-button' class='button' href='/newPost') Add Post

  h2 To Upload Image
    div(id="photo-upload-form")
        form(action="/" method="POST" enctype="multipart/form-data")
          div(id='image-name')
            label(for="name")
              input(type="text" id="name" placeholder="Name" value="" name="name" required)
              |  Image Title
          div(id='image-description')
            label(for="desc") 
              textarea(id="desc" name="desc" value="" rows="2" placeholder="Description" required)
              | Image Description
          div(id='image-upload')
            label(for="image")
              input(type="file" id="image" name="image" value="" required)
            |  Upload Image
          div(id='submit-button')
            button(type="submit") Submit

  h2 Uploaded Images 
    div 
      each image in items
        div(class='image')
          img(src="data:image/#{image.img.contentType};base64, #{image.img.data.toString('base64')}")
          h5 #{image.name}
          p #{image.desc}
