extends layout 

block content 
  h1(id='title') #{title} 
  button(id='login-button' class='button') Login
  button(id='signup-button' class='button') Sign Up
  a(id='add-post-button' class='button' href='/newPost') Add Post

  h2 Uploaded Images 
    div 
      each image in items
        div(class='image')
          img(src="data:image/#{image.img.contentType};base64, #{image.img.data.toString('base64')}")
          h5 #{image.name}
          p #{image.desc}
