<h1>Editing Article</h1>

<%= render 'form', article: @article %>

<%= form_for @article, url: articles_path, html: { multipart: true } do |form| %>
  <%= form.file_field :image %>
  <%= form.text_field :description %>
<% end %>

<%= link_to 'Show', @article %> |
<%= link_to 'Back', articles_path %>
