<p id="notice"><%= notice %></p>

<p>
  <strong>Description:</strong>
  <%= @article.description %> <br>
  <%= creator_email(@article) %> <br>
  <%= image_tag @article.image.url(:original) %>
</p>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>
