
    <h1>Sign-up</h1>



    <%= form_for @user, :method => :post, params: { user: { active: true}} do |form| %>
          <%= form.label :username %>
          <%= form.text_field :username %>


          <%= form.label :email %>
          <%= form.email_field :email %>


          <%= form.label :password %>
          <%= form.password_field :password%>

          <%= form.submit "Create Account"%>


    <% end %>
  </div>
