<%= form_with(model: fatcat, local: true) do |form| %>
  <% if fatcat.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(fatcat.errors.count, "error") %> prohibited this fatcat from being saved:</h2>

      <ul>
        <% fatcat.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label :image %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </div>

  <div class="actions">
    <%= form.submit "Upload" %>
  </div>
<% end %>
