<p id="notice"><%= notice %></p>

<%= image_tag(@fatcat.image) %>

<p>
  <%= User.find(@fatcat.user_id).email %>: <%= @fatcat.caption %>
</p>
<% if signed_in? %>
  <% if current_user.id == @fatcat.user_id %>
    <%= link_to 'Edit', edit_fatcat_path(@fatcat) %> |
  <% end %>
<% end %>
<%= link_to 'Back', fatcats_path %>
