<p id="notice"><%= notice %></p>

<%= image_tag(@fatcat.image) %>

<p>
  <%= User.find(@fatcat.user_id).email %>: <%= @fatcat.caption %>
</p>

<%= link_to 'Edit', edit_fatcat_path(@fatcat) %> |
<%= link_to 'Back', fatcats_path %>
