
<div class="posts-wrapper row">
  <% if @posts.all.any? %>
  <% @posts.each do |post| %>
    <div class="post">
      <p class="caption"><%= post.user.email %></p>
      <div class="image center-block">
        <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
      </div>
      <p class="caption">
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to "Delete", post_path(post), method: :delete %>
        <%= post.caption %>
      </p>
    <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
                <%= comment.user.email %>
              </div>
              <div class="comment-content">
                <%= comment.content %>
              </div>
              <%= link_to "Delete", post_comment_path(post, comment), method: :delete %>
            </div>
          <% end %>
        <% end %>
        <div class="comment-form" id="content">
          <%= form_for [post, post.comments.new] do |f| %>
            <%= f.text_field :content, placeholder: 'Add a comment...' %>
          <% end %>
          <% end %>
          <% else %>
          No posts yet
          <% end %>
        </div>
      </div>
</div>
