<div class="form-wrapper">
  <div class="row">
    <div class="container form-container">
      <%= form_for @adventure, html: {multipart: true} do |f| %>
        <div class="form-label">
          <%= f.label :name %>
        </div>
        <div class="form-field">
          <%= f.text_field :name, :class => "form-control" %>
        </div>
        <div class="form-label">
          <%= f.label :description %>
        </div>
        <div class="form-field">
          <%= f.text_area :description, :class => "form-control"  %>
        </div>
        <div class="form-label">
          <%= f.file_field :image %>
        </div>
        <div class="form-label">
        <%= f.submit 'Share', :class => "btn custom-button signup" %>
        </div>
      <% end %>
    </div>
  </div>
</div>