<h1> Add a new Pict! </h1>

<%= @pict.errors.messages.empty? ? '' : 'Errors, see below' %>

<%= simple_form_for @pict do |pict| %>
  <%= pict.input :title %>
  <%= pict.input :hints %>
  <%= pict.input :answer %>
  <%= pict.file_field :image %>
  <%= pict.error :image %>
  <%= pict.submit 'Add Pict' %>
<% end %>

<%= link_to 'To the Pict feed!', picts_path %>
