<%= image_tag @picture.image.thumb('600x600').url if @picture.image_stored? %>

<% @picture.comments.each do |comment| %>
  <p id="username-comment"><%= comment.user.email.split('@').first %></p>
    <p id="comment-text"><%= comment.text %></p>
    <% end %>

<%=form_for [@picture, @comment] do |f| %>
  <%= f.text_area :text %>
  <p><%= f.submit %></p>
<% end %>

<a href="/">Back</a>
