<%= form_for @photo, html: {multipart: true}  do |f| %>
  <%= f.label :image, "Image" %>
  <%= f.file_field :image %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <%= f.submit %>
<% end %>

<h3><%= link_to 'Home', photos_path %></h3>