<h3 class='image'><%= image_tag @photo.image.url(:thumb), {:width => "500", :height => "500"}%></h3>  
    <h4><%=@photo.name%></h4>
<p><%=@photo.description %></p>
<p><span class='st_facebook_hcount' displayText='Facebook'></span>
    <span class='st_twitter_hcount' displayText='Tweet'></span></p>
    <%= link_to "Like", photo_likes_path(@photo), class: 'likes-link' %>
    <span class="likes_count"> <%= @photo.likes.count %> </span> 
    <%= 'like'.pluralize(@photo.likes.count) %><br>
    <%= link_to "Comment", new_photo_comment_path(@photo) %></br>
    <h5>Comments for <%= @photo.name %></h5>
    <% if @photo.comments.any? %>
      <ul>
        <% @photo.comments.each do |comment| %>
          <li>
            <%= comment.thoughts %> 
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments.</p>
    <% end %>

<h3><%= link_to 'Home', photos_path %></h3>