<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= image_tag post.image.url(:thumb) %>
    <h2><%= post.description %></h2>
    <% post.tags.each do |tag|%>
  <%= link_to tag.name, '#' %>
    <% end %>
    <% post.comments.each do |comment| %>
      <%= comment.comment %>
    <% end %>
    <%= link_to "Add a comment", new_post_comment_path(post) %>
    <%= link_to "Delete", post_path(post), method: :delete %>
  <% end %>
<% else %>
  <h1>There are no posts yet!</h1>
<% end %>

<% if user_signed_in? %>
<a href="/posts/new">Create a post</a>
<% end %>
