<h1>Main Feed</h1>

<% if @posts %>
  <% @posts.each do |post| %>
    <% @user = User.find(post.user_id) %>

    <p><%= image_tag(post.image) %></p>
    <p><%= post.description %></p>
    <%= "posted by #{@user.first_name} #{@user.last_name} on #{post.created_at.strftime '%d %b %Y at %H:%M'}" %>
    <% if session[:id] == @user.id %>
      <%= link_to 'edit description', "/posts/#{post.id}/edit" %>
      <%= link_to 'delete', "/posts/#{post.id}", method: :delete %>
    <% end %>
  <% end %>
<% else %>
  <p>No posts in the world yet..</p>
<% end%>