<%= form_with model: @post do |form| %>
  <div>
    <%= form.label :content %>
    <%= form.text_field :content %><br>
    <%= form.label :image %>
    <%= form.file_field :image %><br>
    <%= form.submit "Post" %>
  </div>
<% end %>
