<h1><%= @post.content %></h1>

<% if @post.image.attached? %>
  <image src = "<%=(url_for(@post.image))%>">
<% end %>
<%= form_with model: @comment do |form| %>
  <div>
    <%= form.label :comment %>
    <%= form.text_field :comment %><br>
    <%= form.submit "Add comment" %>
  </div>
<% end %>
<ul>
