!!!
%html
  %head
    %title Insta Clone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - if current_user
      %p= current_user.name
      %p= current_user.email
      = link_to 'Sign out', destroy_user_session_path, method: :delete
    -else
      = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path

    = alert
    = notice
    = yield
