<% if @all_contributions.any? %>
  <% @all_contributions.reverse_each do |contribution| %>
    <h4><%= contribution.user.username %></h4>
    <%= image_tag contribution.image.url(:medium) %>
    <br>
    <%= contribution.created_at.strftime("%I:%M%p %d-%b-%Y") %>
    <br>
    <%= link_to "♡", contribution_likes_path(contribution), class: 'likes-link' %>
     <span class="likes_count"> <%= contribution.likes.count %> </span> <%= 'like'.pluralize(contribution.likes.count) %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'view all', contribution_path(contribution) %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'edit', edit_contribution_path(contribution) %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'delete', contribution_path(contribution), method: :delete %>&nbsp;&nbsp;&nbsp;
    <%= link_to 'comment', new_contribution_comment_path(contribution) %>
    <br>
    <%= contribution.comment %>
    <br>
    <% if contribution.comments.any? %>
      <% contribution.comments.each do |comment| %>
        <span class='username'><%= comment.user.username%></span>&nbsp;&nbsp;&nbsp;<%= comment.comment %>
        <br>
      <% end %>
    <% end %>
  <br>
  <br>
  <% end %>
<% else %>
  No contributions yet
<% end %>
<br>
<%= link_to 'Add a contribution', new_contribution_path %>
