<div class="session-box">
<%= form_for @contribution, html: {multipart: true} do |f| %>
  <h3><%= f.label :image %></h3>
  <%= f.file_field :image %>
  <br><br>
  <hr>
  <h3><%= f.label :comment %></h3>
  <%= f.text_field :comment %>
  <br>
  <%= f.submit %>
<% end %>
</div>
