

<div class='form-wrapper'>
  <div class="text-center">
    <h2 id="pic-head">Sign up</h2>
   </div>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>

  <%= devise_error_messages! %>

<div class='form-group text-center'>
    <%= f.email_field :email, placeholder: 'Email', autofocus: true, class: 'textbox' %>
  </div>

<div class='form-group text-center'>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, placeholder: 'Password', autocomplete: "off", class: 'textbox' %>
  </div>

  <div class='form-group text-center'>
    <%= f.password_field :password_confirmation,  placeholder: 'Password Confirmation', autocomplete: "off", class: 'textbox'  %>
  </div>

  <div class='form-group text-center'>
    <%= f.password_field :username, placeholder: 'Username', class: 'textbox'  %>
  </div>

 <div class='form-group text-center'>
  <div class="actions">
    <%= f.submit "Sign up", class: 'btn btn-link' %>
  </div>
</div>
<% end %>

</div>

<%= render "users/shared/links" %>
