<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if current_user %>
    <% @photos.each do |photo| %>
      <tr><% @photo = photo %>
        <td><%= image_tag photo.image.url(:medium) %></td>
        <td>Posted by: <%= photo.user.email %></td>
        <td><% photo.comments.each do |comment| %></td>
        <td><%= comment.content %></td>
        <% end %>
        <td><%= render partial: 'likes/form', locals: {likeable: @photo} %></td>
      <td><%= render 'comments/form' %></td>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
<% end %>
