<% if @photos.any? %>
  <% Photo.all.each do |photo| %>
    <h2><%= photo.description %></h2>
    <!-- <img src="<%= photo.picture %>"> -->
    <%= link_to photo.description, photo_path(photo) %>
    <%= link_to "Delete #{photo.description}", photo_path(photo), method: :delete %>
      <%= link_to "Comment on #{photo.description}", new_photo_comment_path(photo) %>

    <h3>Comments for <%= photo.description %></h3>

			<% if photo.comments.any? %>
			  <ul>
			    <% photo.comments.each do |comment| %>
			      <li>
			        <%= comment.user_id %>
			        <%= comment.created_at.strftime("%Y-%m-%d %H:%M") %>
			        /
			        <%= comment.comment %>
			      </li>
			    <% end %>
			  </ul>
			<% else %>
			  <p>No comments yet :(</p>
			<% end %>

  <% end %>
<% else %>
  <h1>No photos yet</h1>
<% end %>


<%= link_to 'Add a photo', new_photo_path %>