<section id="container">

<% if @photos.any? %>
  <% Photo.all.each do |photo| %>
  <section id="post">
  	<div id="postHeader">
  	<h2 id="userName"><%= photo.user.email %></h2>
  	<h2 id="createdAt"><%= photo.created_at.strftime("%Y-%m-%d %H:%M") %></h2>
  	</div>

    	<%= link_to image_tag(photo.image.url, :id => "photo"), photo_path(photo) %>

    <div id="postFooter">
    <div id="likeCounter"><%= photo.likes.count %> Likes </div>
    <div id="likeButton"> <%= link_to "Like #{photo.description}", new_photo_like_path(photo) %> </div>
    <p> <span id="userNameDescription"><%= photo.user.email %></span>
    <span id="photoDescription"><%= photo.description %></span></p>
    <!-- <img src="<%= photo.picture %>"> -->
			<div id="comments">
			<% if photo.comments.any? %>
			  <ul>
			    <% photo.comments.each do |comment| %>
			      <li>
			        <span id="commentUsername">
			        <%= comment.photo.user.email %></span>
			        
			        <%= comment.comment %>
			      </li>
			    <% end %>
			  </ul>
			<% else %>
			  <p>No comments yet :(</p>
			<% end %>
			</div>
      <%= link_to photo.description, photo_path(photo) %>
    <%= link_to "Delete #{photo.description}", photo_path(photo), method: :delete %>
      <%= link_to "Comment on #{photo.description}", new_photo_comment_path(photo) %>

		</section>

  <% end %>

  </div>

<% else %>
  <h1>No photos yet</h1>

<% end %>
</section>
