<%= form_with(model: bampost) do |form| %>
  <% if bampost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(bampost.errors.count, "error") %> prohibited this bampost from being saved:</h2>

      <ul>
        <% bampost.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

   <div class="field">
    <%= form.label "Image you'd like to post:" %>
    <%= form.file_field :image %>
  </div>
  
  <div class="field">
    <%= form.label "Caption/title:" %>
    <%= form.text_area :content %>
  </div>

  <div class="field">
    <%= form.label :user_id %>
    <%= form.number_field :user_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
