<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= @bampost.image %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @bampost.content %>
</p>

<p>
  <strong>User:</strong>
  <%= @bampost.user_id %>
</p>

<%= link_to 'Edit', edit_bampost_path(@bampost) %> |
<%= link_to 'Back', bamposts_path %>
