<div class="field">
  <%= form.label :username, class: "label" %>
  <p class="control has-icons-left">
    <%= form.text_field :username, class: "input", placeholder: "Username" %>
    <span class="icon is-small is-left">
      <i class="fa fa-user"></i>
    </span>
  </p>
</div>
<div class="field">
  <%= form.label :email, class: "label" %>
  <p class="control has-icons-left">
    <%= form.text_field :email, type: 'email', class: "input", placeholder: "Email" %>
    <span class="icon is-small is-left">
      <i class="fa fa-envelope"></i>
    </span>
  </p>
</div>
<div class="field">
  <%= form.label :password, class: "label" %>
  <p class="control has-icons-left">
    <%= form.password_field :password, class: "input", placeholder: "Password" %>
    <span class="icon is-small is-left">
      <i class="fa fa-lock"></i>
    </span>
  </p>
</div>

<div class="field">
  <p class="control">
    <%= form.label :profile_picture, class: "label" %>
    <%= form.file_field :profile_picture %>
  </p>
</div>

