
<div class="row col-12 col-md-8 col-lg-6 offset-0 offset-md-2 offset-lg-3 mt-2 form_input">
<%= form_with(model: user) do |form| %> <% if user.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(user.errors.count, "error") %> prohibited this user from being
    saved:
  </h2>

  <ul>
    <% user.errors.each do |error| %>
    <li><%= error.full_message %></li>
    <% end %>
  </ul>
</div>
<% end %>

<div class="field">
  <%= form.label :username %> <%= form.text_field :username, required: "true" %>
</div>

<div class="field"><%= form.label :email %> <%= form.text_field :email, required: "true" %></div>

<div class="field">
  <%= form.label :password %> <%= form.text_field :password, required: "true" %>
</div>

<div class="field">
  <%= form.label :avatar %> <%= form.file_field :avatar, required: "true" %>
</div>

<div class="actions"><%= form.submit class: "w-100 btn btn-primary btn-sm mt-0 mb-3 btn-block text-white" %></div>
<% end %>
</div>
