<%= form_with(model: user, local: true) do |form| %>


  <div class="field">
    <%= form.label :username %>
    <%= form.text_field :username %>
  </div>

  <div class="field">
    <%= form.label :password %>
    <p>(between 6-10 characters)</p>
    <%= form.password_field :password %>
  </div>

  <div class="field">
    <%= form.label :email %>
    <%= form.text_field :email %>
  </div>

  <div class="actions">
    <%= form.submit :"Create Account"%>
  </div>
<% end %>
