<h1>Signup!</h1>

<%= form_for :user, url: '/users' do |user| %>

  Display Name: <%= user.text_field :display_name %>
  Email: <%= user.text_field :email %>
  Password: <%= user.password_field :password %>
  Password Confirmation: <%= user.password_field :password_confirmation %>
  <%= user.submit "Submit" %>

<% end %>