<% provide(:title, 'Sign up') %>

<div class="container">
  <div class="row">
    <h1>Plantagram</h1>
    <h2>Sign up to see photos from your friends.</h2>
    <div class="col-md-4 col-md-offset-4">
      <%= form_for(@user) do |f| %>
        <%= render 'shared/error_messages' %>

        <%= f.email_field :email, placeholder: "Email", class: 'form-control' %>

        <%= f.text_field :name, placeholder: "Name", class: 'form-control' %>

        <%= f.text_field :username, placeholder: "Username", class: 'form-control' %>

        <%= f.password_field :password, placeholder: "Password", class: 'form-control' %>

        <%= f.password_field :password_confirmation, placeholder: "Password Confirmation", class: 'form-control' %>

        <%= f.submit "Sign Up", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>
</div>