

  <%= form_with model: @user do |form| %>
      <div class="container">
        <div class="post">
          <div class="post-header">
            <div class="user-image">
              <i class="far fa-user-circle fa-2x"></i>
            </div><div class="user-name">
                <h2>Sign Up</h2>
            </div><div class="date">
            </div>
          </div>
          <div class="picture">
            <div class="box">
              <div class="user-details">
                <%= form.label :name %>
                <%= form.text_field :name, placeholder: "Enter name..." %><br>
                <%= form.label :email %>
                <%= form.email_field :email, placeholder: "Enter email..." %><br>
                <%= form.label :password %>
                <%= form.password_field :password, placeholder: "Enter password..." %><br>
                <%= form.label :password_confirmation %>
                <%= form.password_field :password_confirmation, placeholder: "Enter password again..." %><br>
                Already registered? <%= link_to "Log In", login_path, class: "header-menu-item" %>
              </div>

            </div>
          </div>




          <div class="menu-bar">


            <div class="menu">
              <i class="far fa-heart"></i>
              <i class="far fa-comment"></i>
            </div><div class="submit-button">
              <%= button_tag type: 'submit' do %>
                <span class="far fa-paper-plane fa-2x"></span>
              <% end %>
            </div>
          </div>
          <% @user.errors.full_messages_for(:password).each do |message| %>
          <div class="error-message">
            <strong>Error: </strong><%= message %>
          </div>
          <% end %>
        </div>
      </div>
  <% end %>
