<h1>Sign-up to Binstagram</h1>

<%= form_with model: @post do |form| %>
  <%= form.label :username %>
  <%= form.text_field :username %>
  <%= form.label :email %>
  <%= form.email_field :email %>
  <%= form.label :password %>
  <%= form.password_field :password %>
  <%= form.label :submit %>
  <%= form.submit "Create account" %>
<% end %>
