<div class="sign-up-container">
  <div id="clearance" class="sign-up">
    <h2 class="logo-sign-up"><%= Hipstagram %></h2>

    <div class="sign-up-input">
      <%= form_for @user do |form| %>
        <%= render partial: '/users/form', object: form %>

        <div class="submit-field">
          <%= form.submit "Sign up", class: 'form-submit btn btn-default' %>
        </div>

      <% end %>
    </div>

    <div class="link-sign-up-or-in">
      <p>Already have an account? <span>
        <%= link_to t(".sign_in"), sign_in_path %>
      </span></p>
    </div>
  </div>
</div>
