<h2>Sign up</h2>

<%= form_for :user, url: user_registration_path, local: true do |f| %>
  <p>
    <%= f.label :username %><br>
    <%= f.text_field :username %>
  </p>
  <p>
    <%= f.label :email_address %><br>
    <%= f.email_field :email_address %>
  </p>
  <p>
    <%= f.label :password %><br>
    <%= f.password_field :password %>
  </p>
  <p>
    <%= f.label :confirm_password %><br>
    <%= f.password_field :confirm_password %>
  </p>
  <p>
    <%= f.submit 'Sign up', class: "button primary-button" %>
  <p>
<% end %>
