<div class="signup_box">
  <br>
  <h3>s i g n u p</h3>
  <br>
  <div class="signup_form">
<%= form_for :user, url: '/users' do |f| %>

    Name: <%= f.text_field :name %><br>
    <br>Email: <%= f.text_field :email %><br>
    <br>Password: <%= f.password_field :password %><br>
    <br>Password Confirmation: <%= f.password_field :password_confirmation %><br>
    <br><%= f.submit "Submit" %>

    <% end %>
  </div>
</div>
