<div class="section">
  <h2 class="title is-2"><%= t(".title") %></h2>

  <%= form_for @user do |form| %>
    <%= render partial: '/users/form', object: form %>

    <div class="field">
      <p class="control">
        <%= form.submit class: "button is-success" %>
      </p>
    </div>

    <div class="other-links">
      <%= link_to t(".sign_in"), sign_in_path %>
    </div>
  <% end %>
</div>
