<h1>Sign Up</h1>

<div class='row'>
  <div class='col-md-6'>

  <%= form_for @user, url: users_path do |f| %>
    Name: <%= f.text_field :name, class: 'form-control' %>
    Email: <%= f.text_field :email, class: 'form-control' %>
    Password: <%= f.password_field :password, class: 'form-control' %>
    Password Confirmation: <%= f.password_field :password_confirmation, class: 'form-control' %>
    <br>
    <%= f.submit "Submit", class: 'btn btn-success' %>
  <% end %>

  </div>
</div>
