<div id='clearance'>

  <div class="sign-up-form">
    <%= form_for @user, html: {class: 'new-user'} do |form| %>

    <div class='text-field'>
      <%= form.text_field :username, :type => 'name', placeholder: 'Username...', required: true %>
    </div>

      <div class='text-field'>
        <%= form.text_field :name, :type => 'name', placeholder: 'Name...', required: true %>
      </div>

      <div class='text-field'>
        <%= form.text_field :email, :type => 'email', placeholder: 'Email...' %>
      </div>

      <div class='password-field'>
        <%= form.password_field :password, placeholder: "Password..." %>
      </div>

      <div class='file-upload'>
          Choose Profile Picture
        <%= form.file_field :picture, class: "upload" %>
      </div>

      <div class='submit-field'>
        <%= form.submit %>
      </div>

    <% end %>
  </div>

</div>
