<h1> Welcome to Powergram! Sign up below </h1>

<%= form_for @user do |form| %>
  <%= form.label :username, "Add your username" %>
  <%= form.text_field :username %>
  <%= form.label :email, "Your email please" %>
  <%= form.email_field :email %>
  <%= form.label :password, "Password" %>
  <%= form.password_field :password, minlength: 8 %>
  <%= form.submit "Sign Me Up!" %>
<% end %>