<div class="container">
  <div class="row">
    <%= form_for @user, url: users_path, method: :post do |f| %>

    <%= f.text_field :full_name, placeholder: 'Full Name', class: "form-group" %> <br />

    <%= f.text_field :username, placeholder: 'Username', class: "form-group" %> <br />

    <%= f.text_field :email, placeholder: 'Email address', class: "form-group" %> <br />

    <%= f.password_field :password, placeholder: 'Password', class: "form-group" %> <br />

    <%= f.password_field :password_confirmation, placeholder: 'Confirm password', class: "form-group" %> <br />

    <%= f.submit "Register" %>

    <% end %>
  </div>
</div>
