<h1>Registration</h1>

<%= form_with scope: :users, local: true do |form| %>
  <p>
    <%= form.label :first_name %><br>
    <%= form.text_field :first_name %>
  </p>
  
  <p>
    <%= form.label :last_name %><br>
    <%= form.text_field :last_name %>
  </p>
  
  <p>
    <%= form.label :email %><br>
    <%= form.email_field :email %>
  </p>
  
  <p>
    <%= form.label :password %><br>
    <%= form.password_field :password %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
