<h1>Sign Up!</h1>

<%= form_for @user do |form|%>
  <%= form.label :username %><br>
  <%= form.text_field :username %><br>
  <%= form.label :password %><br>
  <%= form.password_field :password %><br>
  <%= form.submit "Submit" %>
<%end%>
