<div class="container">
  <%= form_for @user, url: users_path, method: :post do |f| %>

  <%= f.text_field :full_name, placeholder: 'Full Name' %> <br />

  <%= f.text_field :username, placeholder: 'Username' %> <br />

  <%= f.text_field :email, placeholder: 'Email address' %> <br />

  <%= f.password_field :password, placeholder: 'Password' %> <br />

  <%= f.password_field :password_confirmation, placeholder: 'Confirm password' %> <br />

  <%= f.submit "Register" %>

  <% end %>
</div>
