<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width= initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<div class="wrapper">
          <article class="article">
            <div class="content">
              <div class="login-box">
                <div class="header">
                  <a class="navbar-brand box-logo" href="">Minstagram</a>
                </div><!-- Header end -->
                <div class="form-wrap">
                  <%= form_for @user do |form| %>

                    <div class="input-box">
                    <%= form.text_field :name, placeholder: "Name" %>
                    </div> 
                     <div class="input-box">
                    <%= form.text_field :username, placeholder: "Username" %> 
                    </div>
                     <div class="input-box">
                    <%= form.text_field :email, placeholder: "Email" %> 
                    </div>
                     <div class="input-box">
                    <%= form.file_field :avatar %> 
                    </div>
                    <div class="input-box">
                    <%= form.password_field(:password, placeholder: "Password") %>
                    </div>  

                    <span class="button-box">
                      <%= form.submit "Sign Up", :class => "btn-login" %>
                    </span>  

                  <% end %>
                </div> <!-- Form-wrap end -->
              </div> <!-- Login-box end -->
            </div> <!-- Content end -->
          </article>
        </div> <!-- Wrapper end -->
</body>
</html>

