<h1>Welcome to Instagram</h1>
<%= form_for(@user) do |f| %>
  <%= render '/shared/error_messages' %>

  <%= f.label :name %>
  <%= f.text_field :name %>

  <%= f.label :email %>
  <%= f.text_field :email %>

  <%= f.label :password %>
  <%= f.text_field :password %>

  <%= f.submit "Sign Up" %>
<% end %>
