<% provide(:title, 'Sign up') %>
<h1>Sign up</h1>

<div>
    <%= form_for(@user) do |form| %>
      <%= render 'shared/error_messages' %>
      <ul class="flex-outer">
        <li>
        <!-- <%= form.label :name %> -->
        <%= form.text_field :name, placeholder: "Username" %>
        </li>
        <li>
        <!-- <%= form.label :email %> -->
        <%= form.email_field :email, placeholder: "Email" %>
      </li>
      <li>
        <!-- <%= form.label :password %> -->
        <%= form.password_field :password, placeholder: "Password" %>
      </li>
      <li>
        <!-- <%= form.label :password_confirmation, "Confirmation" %> -->
        <%= form.password_field :password_confirmation, placeholder: "Confirm password"  %>
      </li>
      <li>
        <%= form.submit "Create account" %>
      </li>
      </ul>
    <% end %>
</div>
