<h1>Sign Up</h1>

<% if @errors %>
  <h2>This username or email already in use</h2>
<% end  %>


<%= form_with scope: :user, url: users_path, local: true do |form| %>
<p>
  <%= form.label :name %><br>
  <%= form.text_field :name %>
</p>
<p>
  <%= form.label :email %><br>
  <%= form.text_field :email %>
</p>
<p>
  <%= form.label :username %><br>
  <%= form.text_field :username %>
</p>
<p>
  <%= form.label :password %><br>
  <%= form.text_field :password %>
</p>

<p>
  <%= form.submit 'Submit' %><br>
</p>
<% end %>