<h1>Profile Page</h1>

<%= image_tag @user.picture_url, size: User::PROFILE_PIC_SIZES[:medium] unless @user.picture.blank? %>
<p>Username: <%= @user.username %></p>
<p>Name: <%= @user.name %></p>

<h1>My Posts:</h1>
<% @user.posts.order(created_at: :desc).each do |post| %>
  <p><%= @user.username %> says: <%= post.caption %></p>
  <%= image_tag post.image_url.to_s, height: Post::IMAGE_HEIGHT %>
  <br />
  <%= form_tag("/likes", method: "post") do %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= hidden_field_tag(:post_id, post.id) %>
    <% already_liked = post.likes.any?{ |like| like.user_id == current_user.id } %>
    <%= submit_tag "Like (#{post.likes.count})", :disabled => already_liked %>
  <% end %>

  <% post.comments.each do |comment| %>
    <p> <%= comment.user.name %>: <%= comment.body %></p>
  <% end %>

  <%= form_for([post, post.comments.build]) do |comment| %>
    <%= comment.hidden_field(:user_id, value: current_user.id) %>
    <%= comment.text_field :body, placeholder: 'Write a comment... ✏️' %>
    <%= comment.submit %>
  <% end %>
<% end %>
