<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
<%# -------- profile picture ------- %>
<div class="user-profile">
  <div class="profile row">
    <div class="col-md-4 avatar">
      <div class="wrapper">
        <% if current_user.avatar.attached? %>
          <%= image_tag current_user.avatar %>
        <%end %>
      </div>
    </div>
<%# --------- profile info -------- %>
    <div class="col-md-8 basic-info">
      <div class="user-wrapper">
        <h2 class="username"><%=current_user.username%></h2>
        <a class="edit-profile" href="<%= edit_user_path(current_user) %>">
          <button>Edit Profile</button>
        </a>
      </div>
      <ul class="posts">
        <li><span><%= @posts.count %></span> posts</li>
        <li><span>69000</span> followers</li>
        <li><span>420</span> following</li>
      </ul>
      <h2 class="name"><%=current_user.name%></h2>
      <a class="website"><%=current_user.website%></a>
      <p class="bio"><%=current_user.bio%></p>
    </div>
  </div>
  <%# ------- section tabs ------- %>
    <div class="user-tabs">
    <a class="tab active" href="">
      <i class="fa fa-th"></i>
      POSTS
    </a>
    <a class="tab" href="">
      <i class="fa fa-tv"></i>
      REELS
    </a>
    <a class="tab" href="">
      <i class="fa fa-bookmark"></i>
      SAVED
    </a>
    <a class="tab" href="">
      <i class="fa fa-tag"></i>
      TAGGED
    </a>
  </div>
  <%# ------- image posts ------ %>

  <div class="user-images">
    <% @posts.each do |post|%>
      <div class="wrapper">
        <%=image_tag post.image if post.image.attached? %>
      </div>
    <% end %>
  </div>
  
</body>
</html>