<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
    <font color='black'>  <h1><%= @user.username %></h1></font>
      <%= link_to 'Homepage', welcome_index_url %>

      <span><%= link_to "view my profile", profile_path(@user.username) %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
  <font color='black'>  <h3><%= @title %></h3></font>
    <% @users.each do |user| %>
<font color='black'><%= user.username %></font>
    <% end %>
  </div>
