<% @user.photos.each do |photo| %>

  <h3><%= photo.title %></h3>

  <% photo.tags.each_with_index do |tag| %>
    <div style='display: inline-block'><%= tag.phrase %></div>
  <% end %></br>

  <%= link_to image_tag(photo.image.url :medium), photo_path(photo) %><br/>
  <%= link_to @user.email, "/users/#{@user.id}/photos" %>

  <%= pluralize photo.photo_likes.count, 'like' %><br/>

  <% if photo.comments.present? %>
    Comments:<br/>
    <% photo.comments.each do |comment| %>
      <%= comment.content %><br/>
    <% end %><br/>
  <% end %>

<% end %>
