<% if @user_images.any? %>
  <% @user_images.each do |image| %>
    <p><%= image.description %></p>
    <%= link_to image_tag(image.picture.url(:medium), class: 'uploaded-pic medium'), image_path(image) %>
    <%= link_to '&#x2421;'.html_safe, image_path(image), method: :delete %>
    <p><%= link_to '&#x1F44D;'.html_safe, image_path(image), method: :patch %><%= image.likes %></p>

    <% if image.show_comments.any? %>
      <ul>
        <% image.show_comments.each do |comment| %>
        <li><%= link_to comment[1], user_path(comment[0].user_id) %></li>
      <% end %>
     </ul>
    <% end %>

  <% end %>
<% else %>
  <h1>No images have been posted yet</h1>
<% end %>
