<h1>Hey <%= @user.name %>, check out your profile</h1>

	<%= @user.name %>
	<%= @user.username %> </h1>
  <%= @user.bio %></p>

<%= link_to "Edit your profile information", edit_user_registration_path %>
