<% provide(:title, @title) %>
<div class="row">
  <aside class="col-md-4">
    <section class="user_info">
      <h1><%= @user.username %></h1>
      <%= link_to 'Homepage', welcome_index_url %>

      <span><%= link_to "view my profile", profile_path(@user.username) %></span>
    </section>
    <section class="stats">
      <%= render 'shared/stats' %>
    </section>
  </aside>
  <div class="col-md-8">
    <h3><%= @title %></h3>
    <% @users.each do |user| %>
     <%= user.username %>
    <% end %>
  </div>
