<%= @user.name %>

<h2>Upload an avatar</h2>
<%= form_for current_user do |f| %>
  <%= f.label 'Upload your file' %>
  <%= f.file_field :picture %>
  <%= f.submit 'Upload Avatar' %>
<% end %>

<h2>Upload a picture</h2>
<%= form_for @post do |f| %>
  <%= f.label :text %>
  <%= f.text_field :text %>
  <%= f.file_field :avatar %>
  <%= f.submit 'Upload Post' %>
<% end %>
