<h1>Profile page for <%= @user.email %></h1>

<%=  %>
<% if @user_photos.any? %>
  <% @user_photos.each do |photo| %>
    <p><%= photo.description %></p>
    <%= link_to image_tag(photo.image.url(:medium), class: "image medium"), photo_path(photo) %>
    <p><%= link_to 'Delete Photo', photo_path(photo), method: :delete %></p>

    <% if photo.comments.any? %>
      <ul>
        <% photo.comments.each do |comment| %>
          <li>
            <%= comment.contents %>
            <% if comment.created_by?(current_user) %>
              <%= link_to "Delete Comment", photo_comment_path(photo, comment), method: :delete %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments.</p>
    <% end %>
  <% end %>
<% else %>
  <p>No photos have been posted yet</p>
<% end %>
