<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<p>
  <strong>Instapic url:</strong>
  <%= @user.instapic_url %>
  <%= image_tag @user.instapic_url %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>

<script type="text/javascript">
$(function() {
$('.directUpload').find("input:file").each(function(i, elem) {
var fileInput    = $(elem);
console.log(fileInput);
});
});
</script>
