%h2
  @#{@user.username}'s Feed
  - if user_signed_in? && current_user.following?(@user)
    = link_to 'Unfollow', delete_follow_path(@user.username),
      method: :delete,
      class: 'btn btn-default'
  - elsif @user != current_user
    = link_to 'Follow', new_follow_path(@user.username),
      method: :post,
      class: 'btn btn-primary'
%p(style="font-size: 18px;")
  %b= @user.photos.count
  photos /
  %b= @user.following.count
  following /
  %b= @user.followers.count
  followers

%br/
- @user.feed.photos.order(created_at: :desc).each do |photo|
  .col-md-4.col-sm-6.col-xs-12
    = render 'photos/photo_view', { photo: photo }
