<h1><%= @user.email %></h1>

<h3>Your latest posts:</h3>

<% if user_signed_in? %>
  <% if @user.posts.any? %>
    <% @user.posts.each do |post| %>
      <div class = "col-sm-4">
          <div class = "thumbnail">
            <%= image_tag post.image.url %>
          </div>
          <div class = "caption">
             <h3><%= post.caption %></h3>
             <p>Posted by <%= post.user.email %> on <%= post.created_at %></p>
             <p>Likes: <%= post.likes.count %>
             <p>
                <%= link_to "View", post_path(post) %>
             </p>
          </div>
       </div>
    <% end %>
  <% end %>
<% end %>
