<section class="user-header">
  <div class="row">
    <div class="col-sm-12">
      <h1><%= @user.email %></h1>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <h3><%= pluralize @user.posts.count, 'post' %></h3>
    </div>
  </div>
</section>

<div class="container">

<% if user_signed_in? %>
  <% if @user.posts.any? %>
    <% @user.posts.each do |post| %>
      <div class = "col-sm-4">
          <div class = "thumbnail">
            <%= image_tag post.image.url %>
          </div>
          <div class = "caption">
             <h3><%= post.caption %></h3>
             <p>Posted by <%= post.user.email %> on <%= post.created_at %></p>
             <p>Likes: <%= post.likes.count %>
          </div>
       </div>
    <% end %>
  <% end %>
<% end %>

</div>
