<section class="sign_up_pos">
  <div class="border-form-div">
    <header class="brand_name">Forgot your password?</header>
    <div class="main_signup">
      <%= form_for(resource, as: resource_name, url: password_path(resource_name), html: { method: :post }) do |f| %>
        <%= devise_error_messages! %>

        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>

        <div class="actions">
          <%= f.submit "Send me reset password instructions" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
    </div>
  </div>
</section>