<h1>Login</h1>


<%= form_tag '/login' do %>
  <div>
    <%= label_tag :email %>
    <%= text_field_tag :email %>
  </div>
    <div>
    <%= label_tag :password %>
    <%= password_field_tag :password %>
  </div>
  <div>
    <%= submit_tag 'Login' %>
  </div>
<% end %>

<p>New user? Sign up <a href="/signup">here for an account</a>
