<div class="container4" style="text-align: center">
  <h1 class="h1 container">Snaps</h1>

  <ul class="container list-group">
      <lh colspan="3"></lh>

    <% @snaps.each do |snap| %>
      <li class="list-group-item" style="margin: auto">
        <p><td><%= image_tag snap.image.url(:medium) %><td></p>
        <p class="caption h5"><td><%= snap.caption %></td></p>
        <span><%= snap.get_upvotes.size %> like this</span>
        <p/>
        <% unless (current_user.nil?) %>
          <% if current_user.voted_up_on? snap %>
            <%= link_to unlike_snap_path(snap), method: :put do %>
              <button class="btn-danger small" name="unlikeSnap<%=snap.id %>">Unlike</button>
            <% end %>
          <% else %>
            <%= link_to like_snap_path(snap), method: :put do %>
              <button class="btn-success small" name="likeSnap<%=snap.id %>">Like</button>
            <% end %>
          <% end %>
        <% end %>

        <p><td>Posted by: <%= snap.snap_user %></td> at
        <%= "#{snap.created_at.strftime("%H:%M, %d %b %Y")}"%></p>
        <td><%= link_to 'Show more', snap %></td><br><br>

        <p><strong>Comments:</strong></p>
          <p><% snap.comments.each do |comment| %>
            <p><%= comment.user.email %>:
            <%= comment.content %>
            <% if !(current_user.nil?) && (current_user.id == comment.user_id) %>
              <%= link_to 'Delete comment',[comment.snap, comment], method: :delete %>
            <% end %></p>
          <% end %>
        </p>

        <% if !(current_user.nil?) && (current_user.email == snap.snap_user) %>
          <td><%= link_to 'Delete Snap', snap, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </li>
      <br>
    <% end %>

  </ul>
</div>

<br>
