<div class="container4" style="text-align: center">
  <p id="notice"><%= notice %></p>

  <div style="margin: auto">
    <p>
      <%= image_tag @snap.image.url(:large) %>
    </p>

    <p class="h2"><%= @snap.caption %></p>

    <hr>

    <p><%= render 'comments/comment' %></p>

    <%= link_to 'Back', snaps_path %>
  </div>

</div>
