<%= form_with model: @picture, local: true do |form| %>

  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %> prohibited
        this article from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :name_of_picture %><br>
    <%= form.text_field :name_of_picture %>
  </p>

  <p>
    <%= form.label :description_of_picture %><br>
    <%= form.text_area :description_of_picture %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
