
<h1>Welcome to pictures/new</h1>

<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
  <p>
    <%= form.label :name_of_picture %><br>
    <%= form.text_field :name_of_picture %>
  </p>

  <p>
    <%= form.label :description_of_picture %><br>
    <%= form.text_area :description_of_picture %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
