<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
    <%= form.label :title %><br>
    <%= form.text_field :title %>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

  </body>
</html>
