<body style="background-color:pink;">

  <p>
    <strong>Name of picture:</strong>
    <%= @picture.name_of_picture %>
  </p>

  <p>
    <strong>Description of picture:</strong>
    <%= @picture.description_of_picture %>
  </p>

  <h2>Comments</h2>
  <%= render @picture.comments %>

  <h2>Add a comment:</h2>
  <%= render 'comments/form' %>

  <%= link_to 'Edit', edit_picture_path(@picture) %> |
  <%= link_to 'Back', pictures_path %>
