<%= form_with(model: insta_post) do |form| %>
  <% if insta_post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(insta_post.errors.count, "error") %> prohibited this insta_post from being saved:</h2>

      <ul>
        <% insta_post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_area :description %>
  </div>

  <div class="field">
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
