<p id="notice"><%= notice %></p>

<h1>Insta Posts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Picture</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insta_posts.each do |insta_post| %>
      <tr>
        <td><%= insta_post.name %></td>
        <td><%= insta_post.description %></td>
        <td><%= insta_post.picture %></td>
        <td><%= link_to 'Show', insta_post %></td>
        <td><%= link_to 'Edit', edit_insta_post_path(insta_post) %></td>
        <td><%= link_to 'Destroy', insta_post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Insta Post', new_insta_post_path %>
