<h1>Create a new post</h1>

<%= form_with scope: :insta_post,url: insta_posts_path, local: true do |form| %>

<% if @insta_post && @insta_post.errors.any? %>
<div id="error_explanation">
  <h2>
    <%= pluralize(@insta_post.errors.count, "error") %> prohibited
    this post from being saved:
  </h2>
  <ul>
    <% @insta_post.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
  </ul>
</div>
<% end %>

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :description %><br>
    <%= form.text_area :description %>
  </p>

  <%= form.hidden_field :user_id, value: current_user.id %>
  <%= form.hidden_field :name, value: current_user.name %>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= button_to 'Back', insta_posts_path, method: :get %>
