<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @insta_post.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @insta_post.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @insta_post.picture %>
</p>

<%= link_to 'Edit', edit_insta_post_path(@insta_post) %> |
<%= link_to 'Back', insta_posts_path %>
