<%= image_tag(@insta_post.image_url(:scale).to_s) %>

<p>
  <strong>Title:</strong>
  <%= @insta_post.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @insta_post.description %>
</p>

<%= button_to 'Edit', edit_insta_post_path, method: :get %>
<%= button_to 'Delete', insta_post_path,
            method: :delete,
            data: { confirm: 'Are you sure?' } %>

<%= button_to "Back", insta_posts_path, method: :get %>
