<% if @post.image.attached? %>
  <img src="<%=(url_for(@post.image))%>">
<% end %>

<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p><%= @post.user.email %></p>

<% if @post.user == current_user %>
<%= link_to "Delete post", post_path(@post),
                  method: :delete,
                  data: { confirm: "Are you sure?" } %>
<% end %>