<h1><%= @post.title %></h1>

<p><%= @post.body %></p>

<p><%= @post.user.email %></p>

<% if signed_in? %>
<%= current_user.email %>
<%= button_to "Sign out", sign_out_path, method: :delete %>
<% else %>
<%= link_to "Sign in", sign_in_path %>
<% end %>