<nav>
  <a class='logo' href='/'> <h1> Instapan </h1></a>
  <div>
  <% if user_signed_in? %>
    <%= link_to('New post', new_image_path) %>
    <%= link_to("Follow Requests", follower_requests_path) %>
    <%= link_to('Log out', destroy_user_session_path, method: :delete) %>
  <% else %>
  <%= link_to('Sign Up', new_user_registration_path) %>
  <%= link_to("Sign In", new_user_session_path) %>
  <% end %>
  </div>
</nav>