<div class="flex-1 flex flex-col">
  <nav class="px-4 flex justify-between bg-white h-16 border-b-2">
    <!-- top bar left -->
    <ul class="flex items-center">
      <!-- add button -->
      <li class="h-6 w-6">
        <img
						class="h-full w-full mx-auto"
						src="/images/ig-icon.png"
						alt="ig logo" />
        </li>
      </ul>
      <ul class="flex items-center">
        <!-- add button -->
        <li class="w-20">
          <img
						class="h-full w-full mx-auto"
						src="https://upload.wikimedia.org/wikipedia/commons/thumb/2/2a/Instagram_logo.svg/1024px-Instagram_logo.svg.png"
						alt="ig logo" />
          </li>
        </li>
      </ul>
      <!-- to bar right  -->
      <ul class="flex items-center">
        <% if current_user %>
          <li class="pr-6">
            <%= link_to "Add Post", new_post_path %>
          </li>
          <li class="pr-6" data-no-turbolink="true" >
            <%= link_to "Logout", destroy_user_session_path, :method => :delete %>
          </li>
          <li class="pr-6">
            <p><%= current_user.username %></p>
          </li>
        <% else %>
          <li class="pr-6">
            <%= link_to "Sign Up", new_user_registration_path %>
          </li>
          <li class="pr-6">
            <%= link_to "Log In", new_user_session_path	 %>
          </li>
        <% end %>
        <li class="h-10 w-10">
          <% if current_user %>
            <%= image_tag current_user.avatar, class: "h-full w-full rounded-full mx-auto" %>
          <% else %>
            <img
						class="h-full w-full rounded-full mx-auto"
						src="https://source.unsplash.com/d1UPkiFd04A/900x900"
						alt="profile picture" />
            <% end %>
          </li>
        </ul>
      </nav>
    </div>
