<%= form_for(@picture) do |f| %>
  <div class="field">
    <%= f.text_area :link, placeholder: "Compose new micropost..." %>
    <%= f.file_field :avatar %>
    <%= f.hidden_field :avatar_cache %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>