<%= form_for(@post) do |f| %>
  <div class="field">
    <%= f.text_area :title, placeholder: "post title" %>
    <%= f.file_field :picture %>
    <%= f.hidden_field :picture_cache %>
  </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>