<!DOCTYPE html>
<html>
  <head>
    <title>Instaham</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href=(Rails.root + "style.css")>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>

    <div class="bd-example-container bd-example-container-fluid">
      <div class="bd-example-container-header">
        <h1>Header</h1>
        <div class="bd-example-container-sidebar">
        <% if user_signed_in? %>
          <%= button_to('Logout', destroy_user_session_path, method: :delete, :class => "btn btn-secondary btn-sm") %>
        <% end %>
        </div>
      </div>
    </div>





    <%= yield %>
  </body>
</html>
