<!DOCTYPE html>
<html>
<head>
  <title>PictureFace</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<%= button_to "Homepage", posts_path, :method => "get" %>
<%= yield %>

</body>
</html>
