<!DOCTYPE html>
<html>
<head>
  <title>Do it for the GRAM</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-brand">
        <%= link_to "Do it for the GRAM", root_path %>
      </div>
      <% if user_signed_in? %>
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to "Post your Image", new_image_path %>
          </li>
          <li>
            <%= link_to "Settings", edit_user_registration_path %>
          </li>
          <li>
            <%= link_to "Sign Out", destroy_user_session_path, method: :delete %>
          </li>
        </ul>
      <% else %>
        <ul class="nav navbar-nav navbar-left">
          <li>
            <%= link_to "Join", new_user_registration_path %>
          </li>
          <li>
            <%= link_to "Log In", new_user_session_path %>
          </li>
        </ul>
      <% end %>
    </div>
  </nav>
  <div class="container">
    <% flash.each do |name, msg| %>
      <%= content_tag :div, msg, class: "alert alert-info" %>
    <% end %>
    <%= yield %>
  </div>
</body>
</html>