<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
       <p class="alert"><%= alert %></p>

       <% if !user_signed_in? %>
       <%= link_to "Sign Up", new_user_registration_url %>
        <%= link_to "Sign In", user_session_url %>
        <% end %>
    <%= yield %>
  </body>
</html>
