<p id="notice"><%= notice %></p>

<h1>Insta</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @insta.each do |instum| %>
      <tr>
        <td><%= instum.caption %></td>
        <td><%= instum.user %></td>
        <td><%= link_to 'Show', instum %></td>
        <td><%= link_to 'Edit', edit_instum_path(instum) %></td>
        <td><%= link_to 'Destroy', instum, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Instum', new_instum_path %>
