<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @instum.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @instum.user %>
</p>

<%= link_to 'Edit', edit_instum_path(@instum) %> |
<%= link_to 'Back', insta_path %>
