
<% @posts.each do |post| %>
<p>
  <strong><%= post.title %></strong>
</p>

<%= image_tag post.image.url(:large) %>

<p>
  <strong><%= post.user.email %></strong>
  <%= post.caption %>
</p>

<p>
  <small>Created at: <%= post.created_at %></small>

</p>

<% end %>
