%div
.jumbotron
  %h1 Puns
  .panel
  - if @puns.any?
    - @puns.each do |pun|
      %div
      .well
        .col-md.6
          = link_to pun.name, pun_path(pun)
        .col-md.4
          = image_tag pun.image.url(:thumb)
        .col-md.2
          = link_to "Edit #{pun.name}", edit_pun_path(pun)
        .col-md.2
          = link_to "Delete #{pun.name}", pun_path(pun), method: :delete
  - else
    No puns yet
%div
  .well
    %a(href='/puns/new')
      %h3 Add a pun

%div
=image_tag 'could.jpg'
