%div
- if @pun.errors.any?
  %section#errors
    %h2
      = pluralize @pun.errors.count, "error"
      prohibited this pun from being saved:
    %ul
      - @pun.errors.full_messages.each do |message|
        %li= message

%div
.bg-primary
  %fieldset
  = form_for @pun do |f|
    %h3= f.label :name
    %h3= f.text_field :name
    %h3= f.label :description
    %h3= f.text_area :description
    %h3= f.submit
