<div class="m-2 border border-info rounded">
  <%= form_with(url:posts_path, class: 'd-flex justify-content-center w-100') do |form| %>
    <%= form.hidden_field :user_id, value: current_user.id %>
    <div class="field m-2">
      <%= form.file_field :image %>
    </div>
    <div class="field m-2 col-4">
      <%= form.text_field(:caption, placeholder: "How should I caption this...", class: "w-100") %>
    </div>
    <div class="actions m-2">
      <%= form.submit %>
    </div>
  <% end %>
</div>