<div class="m-2 mt-0 p-1 border border-info rounded">
  <div class="">
    <img class="mw-100" src="<%= (url_for(current_user.avatar)) %>">
  </div>
  <h6><%= current_user.username %></h6>
  <span style="font-size:12px"><%= current_user.first_name %> <%= current_user.last_name %></span><br>
  <span style="font-size:12px"><%= current_user.email %></span>
</div>