Welcome to InstagramAPP!
<br>

<%= form_for(@post, :html => { :method => :post }) do |f| %>
  <%= f.label "Message" %>
  <%= f.text_field :message %>
  <%= f.file_field :picture %>
  <%= f.submit "Submit"%>
<% end %>

<br>
<% @post_list.each do |post| %>
  <div class="post">
  <p>
  <%= post.message %>
  </p>
  <img width="400px" src="<%= rails_blob_url(post.picture) %>" alt="">
  <%= form_with url: like_post_path(post), method: :put do |form| %>
    <% if current_user.liked? post %>
    <%= form.submit 'Dislike'%>
    <% else %>
      <%= form.submit 'Like'%>
    <% end %>
    <div class="count-like">
    <%= post.get_upvotes.size %>
    </div>
  <% end %>

  <%= form_for([post, @comment], :html => { :method => :post }) do |f| %>
    <%= f.label "Add comment" %>
    <%= f.text_field :message %>
    <%= f.submit "Submit"%>
  <% end %>
  <br>
  <% post.comments.each do |comment| %>
    <%= comment.message %>
  <% end %>
  </div>
<% end %>
<br>
