<h1> Welcome to instagram! </h1>

<% if user_signed_in? %>
    <%= render 'shared/pictures_form' %>
<% end %>

<% @picture_feed.each do |post| %>
   <div class="posted-picture">
     <%= image_tag("#{post.picture.url}")%>
   </div>
   
   <% @post = post %>
   <%= render 'shared/picture_comments'%>

   <%= form_for(@comment) do |f| %>
     <div class="field">
        <%= f.text_area :body, placeholder: "comment...." %>
        <%= hidden_field(:comment, :post_id, :value => post.id) %>
     </div>
  <%= f.submit "Post", class: "btn btn-primary" %>
<% end %>
<% end %>