<h1>Welcome to Y33T!</h1>

<% if current_user %>
  <%= form_for Post.new do |f| %>
    <div class="form-upload">
    <b>Share Your Masterpiece</b>
      <div class="form-group">
      Enter a description
        <p><%= f.text_field :description %></p>
      </div>
      <div class="form-group">
        <%= f.file_field :image, required: :true %>
      </div>
      <div class="form-group">
        <%= f.text_field :user_id, value: current_user.id, class:'d-none'%>
      </div>
      <br>
      <div class="text-center">
        <%= f.submit 'Create Post', class: 'btn btn-primary' %>
      </div>
    </div>
  <% end %>
<% end %>

<div class="posts">
  <% @posts.each do |post| %>
    <section class="post">
      <div class="user">
        <div class="avatar">
          <%= link_to user_path(post.user) do %>
            <%= image_tag post.user.avatar if post.user.avatar.attached?%>
          <% end %>
        </div>
        <%= link_to post.user.username, user_path(post.user), class: 'username' %>
      </div>
      <%= image_tag post.image, class: 'main-image' if post.image.attached? %>
      <div class="description">
        <% post.description.to_s.split(' ').each do |word| %>
          <% if word.start_with?('#') %>
            <%= link_to word, search_path(query: word) %>
          <%else %>
            <%= word %>
          <%end %>
        <% end %>
    </div>
    </section>
  <% end %>
  <%= paginate @posts %>
</div>

