   
        <div class="wrapper">
          <article class="article">
            <div class="content">
              <div class="login-box">
                <div class="header">
                  <a class="navbar-brand box-logo" href="">Minstagram</a>
                </div><!-- Header end -->
                <div class="form-wrap">
                  <%= form_for(:session, url: login_path) do |form| %>

                   <div class="input-box">
                    <%= form.text_field :username, placeholder: "Username" %> 
                    </div>
                    <div class="input-box">
                    <%= form.password_field(:password, placeholder: "Password") %>
                    </div>  
                    <span class="button-box">
                      <%= form.submit "Login", :class => "btn-login" %>
                    </span>   

                  <% end %>
                </div> <!-- Form-wrap end -->
              </div> <!-- Login-box end -->

              <div class="login-box">
                <p class="text">Don't have an account?<a href=""><%= link_to "Sign up", signup_path %></a></p>
              </div> <!-- Signup-box end -->
            </div> <!-- Content end -->
          </article>
        </div> <!-- Wrapper end -->
     
