<h1>Timstigram</h1>

<% if @current_user %>
<%= "Welcome #{@user.email}!" %>
<% end %>


<% if @current_user %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>

<%= link_to "Post a Timstigram", new_image_path %>
