<h1>Spacagram</h1>

<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.email %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>
</p>

<% if user_signed_in? %>
  <%= link_to 'New Post', new_post_path %><br><br>
  <% @posts.each do |post| %>
  <div id='post_<%=post.id %>'>
    <strong><%=post.user.username %></strong><br>
    <%= image_tag(post.image.thumb.url, alt: 'Image') %><br>
    <%= post.description %><br>
    <%= post.created_at.strftime('Posted at %I:%M%p, %d/%m/%Y') %><br>
    <% if post.user_id == current_user.id %>
    <%= link_to 'Edit Post', edit_post_path(post)%>
    <%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    <%end%>
    </div>
  <% end %>
<% end %>
