<h1>Railstagram</h1>
<p><%if current_user %>Hi <%= current_user.username %>! Hope you have a great time! <%end%></p> <br>
<% if user_signed_in? %>

<%= link_to 'My Posts', controller: 'posts' %>
<%= link_to 'Sign Out', destroy_user_session_path, method: :delete %>

<% else %>
     
 <%= link_to 'Sign up', new_user_registration_path, class:'btn btn-success'%>
 <%= link_to 'Sign in', new_user_session_path, class:'btn btn-primary' %>

 <% end %>