<%=form_for @picture, html: {multipart: true} do |f| %>
<div class='form-group'>
  <label><%= f.label :caption, "Caption" %> </label>
  <%= f.text_field :caption %>
</div>
<div class='form-group'>
   <label><%= f.label :image, "Image" %> </label>
  <%= f.file_field :image %>
</div>
  <%= f.submit %>
<%end%>
