<p id="notice"><%= notice %></p>

<p>
  <strong>Number of likes:</strong>
  <%= @like.number_of_likes %>
</p>

<p>
  <strong>User:</strong>
  <%= @like.user %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @like.picture %>
</p>

<%= link_to 'Edit', edit_like_path(@like) %> |
<%= link_to 'Back', likes_path %>
