<p>
  <strong>Title:</strong>
  <%= @ham.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @ham.text %>
</p>

<p>
  <%= @ham.user_id %>
</p>

<p>
  <%= @ham.user.username %>
</p>

<p>
  <div class="">
    <%= image_tag @ham.image_url, :size => "260x180" if @ham.image? %>
  </div>
</p>
