- if @gif.errors.any?
  %section#errors
    %h2
      = pluralize @restaurant.errors.count, "error"
      stopped you from making a sweet gif:
    %ul
      - @gif.error.full_messages.each do |message|
        %li= message

= form_for @gif, :html => {:class => "generator-form"} do |f|
  = f.label :generator, :class => "generator-desc"
  = f.text_field :generator, :class => "generator-desc"
  = f.submit :class => "button"
