<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
 <div>
    <p class="field">
      <%= f.text_field :username, autofocus: true, autocomplete: "username", placeholder: "Username" %>
    </p>

    <p class="field">
      <%= f.email_field :email, autofocus: true, autocomplete: "email", placeholder: "Email" %>
    </p>

    <p class="field">
      <%= f.password_field :password, autocomplete: "new-password", placeholder: "Password" %>
    </p>
  

  <% if devise_mapping.rememberable? %>
    <p class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </p>
  <% end %>

  <p class="actions">
    <%= f.submit "Log in" %>
  </p>
<% end %>

<%= render "devise/shared/links" %>
</div>
