<center>
  <h2> Edit Pic </h2>
  <%= form_for @pic do |form| %>
    <%= form.label :title %>
    <%= form.text_field :title %><br><br>
    <%= form.label :image %>
    <%= form.file_field :image %><br><br>
    <%= form.label :description %>
    <%= form.text_field :description %><br><br>

    <%= form.submit "Submit" %>
  <% end %><br>
</center>

<%= link_to root_path do %>
  Cancel edition
<% end %>
