<table>

  <tbody>
    <% @pics.each do |pic| %>
      <tr>
        <td><%= pic.title %></td>
        <td><%= pic.description %></td>
        <td><%= image_tag pic.picture.url %></td>
        <td><%= link_to 'Show', pic %></td>
        <td><%= link_to 'Edit', edit_pic_path(pic) %></td>
        <td><%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Pic', new_pic_path %>
