<head>
  <title>Instavoyeurism</title>
</head>
<center>
  <h1> Welcome to Instavoyeurism </h1>
  <h2> Here's all what's going on:</h2>
</center>

<%= link_to new_user_registration_path do %>
  Sign Up
<% end %> &nbsp; &nbsp; &nbsp; &nbsp;

<%= link_to new_user_session_path do %>
  Log In
<% end %> &nbsp; &nbsp; &nbsp; &nbsp;

<%= link_to destroy_user_session_path do %>
  Log Out
<% end %><br><br><br>

<%= link_to new_pic_path do %>
  POST NEW PIC
<% end %><br><br><br>

<% @pics.each do |pic| %>
  <%= link_to pic.title, pic %><br>
  <%= link_to (image_tag pic.image.url) %><br><br>
<% end %>
