<div class="index_row">
  <% @pics.each do |pic| %>
  <div class="index_column">
  <%= image_tag(pic.picture.url, class: "thumbnail") if pic.picture.present?  %>
      <p><%= pic.title %></p>
      <%= link_to 'Show', pic %>
      <%= link_to 'Edit', edit_pic_path(pic) %>
      <%= link_to 'Destroy', pic, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>
  <% end %>
</div>
