<p id="notice"><%= notice %></p>

<div class="container">
  <div class="col-md-6 col-md-offset-3 pictures-show-container">

    <p>
      <%= image_tag(@pic.picture.url,  class: "show-image") if @pic.picture.present?  %>
    </p>

    <p>
      <strong>Title:</strong>
      <%= @pic.title %>
    </p>

    <p>
      <strong>Description:</strong>
      <%= @pic.description %>
    </p>

    <%= link_to 'Edit', edit_pic_path(@pic) %> |
    <%= link_to 'Back', pics_path %>

  </div>
</div>
