%h1= @pic.title
%p= @pic.description
%p
Picture posted by
= @pic.user.email

%br



= link_to "Back", root_path
= link_to "Edit", edit_pic_path
= link_to "Delete", pic_path, method: :delete, data: { confirm: "Sure?"}
