<p id="notice"><%= notice %></p>

<p>
  <%= image_tag @pic.picture.url %>
</p>

<p>
  <strong>Title:</strong>
  <%= @pic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
</p>


<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
