<div id="show_image">

  <p id="notice"><%= notice %></p>

  <div>
    <a href="<%= pics_path %>">
      <%= image_tag(@pic.url, width: 600) if @pic.url.present? %>
    </a>
  </div>

  <div>
    <%= @pic.description %>
  </div>

  <div class="edit_links">
    <%= link_to 'Edit', edit_pic_path(@pic) %>
  </div>

</div>
