<h2> <%= @pic.title %> </h2>
  <p><%= @pic.description %></p>

<%= link_to edit_pic_path do %>
  Edit Pic
<% end %><br><br>

<%= link_to pic_path, method: :delete, data: { confirm: "Are you sure ? No way back after it!" } do %>
  Delete Pic
<% end %><br><br>

<%= link_to root_path do %>
  Back to Home Page
<% end %>
