%h1= @pic.title
%p= @pic.description

= link_to 'Back', root_path
= link_to 'Edit', edit_pic_path
= link_to 'Delete', pic_path, method: :delete, data: { confirm: 'Are you sure you want to delete this pic?'}
