<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @pic.title %>
</p>

<p>
  <strong>Description:</strong>
  <%= @pic.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= @pic.picture %>
</p>

<%= link_to 'Edit', edit_pic_path(@pic) %> |
<%= link_to 'Back', pics_path %>
