<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <%= link_to "Inztagram", root_path, class: "nav-brand" %>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "Timeline", root_path, class: "nav-link" %>
        </li>
      <ul class="navbar-nav">
        <li class="nav-item">
        <%= link_to "About", about_path, class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>

  <ul class="navbar-nav">
        <li class="nav-item">  
        <% if @user %>
          Logged in as: <%= @user.first_name %>
          <%= button_to "Logout", logout_path, method: :delete %>
        <% elsif !@user %>
          <%= button_to "Sign up", "/sign_up", method: :get %>
          <%= button_to "Sign in", "/sign_in", method: :get %>
        <% end %>
        </li>
        </ul>
</nav>