<p id="notice"><%= notice %></p>

<p>
  <strong>Follower:</strong>
  <%= @follower.follower %>
</p>

<p>
  <strong>Followee:</strong>
  <%= @follower.followee %>
</p>

<%= link_to 'Edit', edit_follower_path(@follower) %> |
<%= link_to 'Back', followers_path %>
