<h1>Image#new</h1>
<%= form_with model: @post, local: true do |f| %>

<div class='field' >
  <%= f.label :image %>
  <%= f.file_field :image,  id: 'Image' %>
</div>

<div class='field' >
  <%= f.label :caption %>
  <%= f.text_field :caption, id: 'Caption' %>
</div>

<div class="actions">
  <%= f.submit "Submit post" %>
</div>
<% end %>
