<h1>Image#view</h1>

<%= image_tag @post.image.url(:large) %> <br>
<%= @post.caption %> <br>
<% if @post.user == current_user %>
<p><%= button_to 'Edit', edit_post_path(@post), method: :get  %></p>
<% end %>
<p>Comments: </p>
<% @post.comments.each do |comment| %>
  <p><%= comment.user.first_name  %></p>
  <p><%= comment.text %> </p>

<br>
<% end %>

<%= form_with model: [@post, @post.comments.build], local: true do |f| %>

  <div class='field'>
  	<%= f.label :text %>
  	<%= f.text_field :text, id: 'Comment' %>
  </div>

  <div class='actions'>
  	<%= f.submit "Post Comment" %>
  </div>

  <% end %>
