<% if @projects.any? %>
  <% @projects.each do |project| %>
    <h2>Project: <%= link_to project.name, project_path(project) %></h2>
    <h2>Company: <%= project.company %></h2>
    <p><%= link_to "Delete #{project.name}", project_path(project), method: :delete %></p>
    <p><%= link_to "Add Photo to #{project.name}", new_project_post_path(project) %></p>
    <% project.posts.each do |post| %>
      <p><%= post.description %></p>
    <% end %>

  <% end %>
<% else %>
  <p>No projects added yet<p>
<% end %>

<a href=<%=new_project_path%>>Add a Project</a>
