<% @associations.each do |association| %>
  <% association.each do |post| %>
  <div class="post">
     <div class="uploader"> <%= link_to post.user.email.to_s, user_posts_index_path(:user => post.user_id) %> </div>
    <div class="photo"><img width="80%" src="<%= post.photo %>"></div>
    <div class="description"><%= post.description %></div>
    <div class="likes"> <%= link_to 'likes: ' + post.likes.count.to_s, post_likes_path(:post_id => post.id)  %>   </div>
      <%= form_with(model: [ post, post.likes.build ], local: true) do |form| %>
        <%= form.submit "Like!", id: 'likebtn' + post.id.to_s, :disabled => !current_user%>
      <% end %>
    <div class="comments_count"><%= link_to 'comments: ' +  post.comments.count.to_s , post_path(post) %></div>
      
      <%   if current_user && current_user.id == post.user_id %>
            <%= link_to 'Edit', edit_post_path(post), method: :get %>
            <%= link_to 'Delete', post_path(post), method: :delete, data: { confirm: 'Are you sure you want to delete this post?' } %>
          <% end %>

  </div>
<% end %>
<%end%>