
<body>
  <center>
    <h1 style="background-color:lightpink"><i> Welcome to Instagram</i></h1>
    <h3 style="background-color:yellow">Add a Picture</h3>

    <div class='form' style="background-color: lightblue">
      <%= form_with scope: :adding_post, :html => {:multipart => true}, local: true do |form| %>
      Image:  <%= form.file_field :avatar %><br>
      Title:<%= form.text_field :title %><br>
      Description:<%= form.text_area :description %><br>
      <%= form.submit 'Submit' %>
      <% end %>
    </div>

  </center>
</body>
