<h1>Sign in</h1>
<p></p>
<%= form_with(url: sessions_new_path, scope: :session, local: true) do |f| %>
  <%= f.email_field :email %>
  <%= f.password_field :password %>
  <%= f.submit  "Sign in" %>
<% end %>

<% if flash[:danger] %>
  <div class ="danger"> <%= flash[:danger] %> </div>
<%end %>

