<% if @photo.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved: </h2>
    <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @photo, html: {multipart: true} do |f| %>
  <%= f.file_field :image %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.submit %>
<% end %>
