- if @images.any?
  - @images.each do |image|
    %h2= link_to image.caption, image_path(image)
    = image_tag image.image.url(:thumb)
    = image.created_at
    = link_to "Edit Caption", edit_image_path(image)
    = link_to "Delete", image_path(image), method: :delete
- else
  No images yet
%a(href='/images/new') Add a image
