<div class="notice">
  <%= notice %>
</div>

<%= form_for @image do |f| %>
  <p>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :user %>
    <%= f.text_field :user %>
  </p>
  <p>
    <%= f.label :caption %>
    <%= f.text_area :caption %>
  </p>
  <%= f.submit %>
<% end %>
