<div class="row" id="pic_show">
  <div class="col-md-6 col-md-offset-3">
    <div class="panel panel-default">
      <div class="panel heading pic_image">
        <%= image_tag @image.image.url %>
      </div>
      <div class="panel-body">
        <h1>
          <%= @image.title %>
        </h1>
        <p>
          <%= @image.description %>
        </p>
      </div>
      <div class="panel-footer">
        <div class="row">
          <div class="col-md-6">
            <p class="user">
              by
              <%= @image.user.email %>
            </p>
          </div>
          <div class="col-md-6">
            <div class="btn-group pull-right">
              <%= link_to like_image_path(@image), method: :put, class: "btn btn-default" do %>
                <span class="glyphicon glyphicon-thumbs-up"></span>
                <%= @image.get_upvotes.size %>
              <% end %>
              <% if user_signed_in? %>
                <%= link_to "Fix Image", edit_image_path, class: "btn btn-info" %>
                <%= link_to "Delete", image_path, method: :delete, data: { confirm: "Are you sure?" }, class: "btn btn-danger" %>
              <% end %>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
