<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="notice">
      <%= notice %>
    </div>

    <div class="single_image_display">

      <img class="single_image" src="<%= @image.image.url %>">
      <div class="caption">
        <%= @image.caption %><br/>
        Posted by <%= @image.user %>
      </div>

    </div>

  <%= form_for([@image, Comment.new]) do |form| %>
    <p><%= form.label :comment %></p>
    <p><%= form.text_area :comment %></p>
    <p><%= form.label :commenter %></p>
    <p><%= form.text_field :commenter %></p>
    <%= form.submit 'submit' %>
  <% end  %>

  <% if @image.comments %>
    <% for comment in @image.comments do %>
      <%= comment.commenter %>:
      <%= comment.comment %>
    <% end %>
  <% end %>
  </body>
</html>
