<% @posts.each do |post| %>
  <div class="post">
     <div class="uploader"> <%= link_to post.user.email.to_s, user_posts_index_path(:user => post.user_id) %> </div>
    <div class="photo"><img width="80%" src="<%= post.photo %>"></div>
    <div class="description"><%= post.description %></div>
    <div class="likes"> likes: <%= post.likes.count %></div>
      <%= form_with(model: [ post, post.likes.build ], local: true) do |form| %>
        <%= form.submit "Like!", id: 'likebtn' + post.id.to_s, :disabled => !LikesHelper::enableLike?(post, current_user)%>
      <% end %>
    <div class="comments_count"><%= link_to 'comments: ' +  post.comments.count.to_s , post_path(post) %></div>
      
  </div>
<% end %>