!!!
%html
  %head
    %title Instagram clone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta(charset="Utf-8")
    %link(rel="stylesheet" type="text/css" href="application.css")

  %body
    .navbar.nav
      %ul.nav
        %li.active
          %a{:href => "/puns"}
            %h4 Home
        %li.active
          %a{:href => "https://github.com/Unicornelia"}
            %h4 About

  %div
    %h2
      = notice
      = alert
  = yield
