<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <ul class="nav nav-pills">
    <% if user_signed_in? %>
      <li role="presentation"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
    <% else %>
      <li role "presentation"><%= link_to 'Sign in', new_user_session_path %></li>
      <li role "presentation"><%= link_to 'Sign up', new_user_registration_path %></li>
    <% end %>
  </ul>
<p class="notice"><%= notice %></p>
<div class='container'>
  <%= yield %>
</div>

</body>
</html>
