<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <ul class="topnav">
    <li><%= link_to 'Post a photo', new_photo_path %></li>
    <li>My photos</li>
    <li>Home</li>
    <li>Sign up</li>
    <li class="icon">
      <a href="javascript:void(0);" onclick="myFunction()">&#9776;</a>
    </li>
  </ul>


<%= yield %>

</body>
</html>
