<!DOCTYPE html>
<html>
  <head>
    <title>InstagramClone</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Dosis:200,300,400,500,600,700,800" rel="stylesheet">
  </head>

  <body class="centerMiddle">
    <div class='pos-box'>
      <div class='pos-left-title'>NanoGram</div>
      <div class='pos-right'>
        <% if user_signed_in? %>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'Sign in', new_user_session_path %>
          <%= link_to 'Sign up', new_user_registration_path %>
        <% end %>
      </div>
    </div>

    <p><%= notice %></p>
    <p><%= alert %></p>
    <%= yield %>
  </body>
</html>
