<div class="container">
  <%=form_for @user do |f|%>
  <%= render "shared/update_error_mssages.html"%>
  <%=f.email_field :email, placeholder: "Email", class:"form form-control email"%>
  <%=f.text_field :name, placeholder: "Full Name", class:"form form-control name"%>
  <%=f.text_field :username, placeholder: "Username", class:"form form-control username"%>
  <%=f.password_field :password, placeholder: "Password", class:"form form-control password"%>
  <%=f.file_field :avatar %>
  <%=f.submit "Submit", class: "btn btn-primary btn-block submit"%>
  <%end%>
</div>

<%=link_to "Back", user_path%>