<div id="form-container" class="container">
  <div class="form-container row">
    <div class="col-sm-12 col-md-12 col-lg-12">
      <button class='fb btn btn-primary btn-block'>Log in with Facebook</button>
      <%=form_for @user do |f|%>
      <%=f.email_field :email, placeholder: "Email", class:"form form-control email"%>
      <%=f.text_field :name, placeholder: "Full Name", class:"form form-control name"%>
      <%=f.text_field :username, placeholder: "Username", class:"form form-control username"%>
      <%=f.password_field :password, placeholder: "Password", class:"form form-control password"%>
      <%=f.submit "Next", class: "btn btn-primary btn-block submit"%>
      <hr>
        <%= render "shared/error_messages.html.erb"%>
        <div>    
        <span class="text-muted">
        By signing up, you agree to our <br/>
        <strong>Terms</strong> . Learn how we collect, use<br/>
        and share your data in our <strong>Data</strong><br/>
        <strong>Policy</strong> and how we use <br/>
        cookies and similar technology in our<br/>
        <strong>Cookies Policy</strong> .
        </span>
        </div>
      <%end%>
      <div class= "haveAccount">
        <span>Have an account? <%=link_to "Login", controller: "sessions", action: "new", method: "get"%> <span>
      </div>
    </div>
  </div>
</div>