<%= render "shared/nav_bar.html.erb"%>
<div class='container'>
  <div class='flex-container'>

    <div>
      <img src="#" alt="userpicture">
    </div>

    <div class='edit-setting'>

      <div class='div-row'>
        <div class="name"><span><%=current_user.username%></span></div>
        <div class="edit">
          <%=link_to "Edit Profile", controller: "users", action: "edit"%>
        </div>
        <div class="setting">

          <div class="dropdown show">
            <a class="btn btn-secondary dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown"    aria-haspopup="true" aria-expanded="false">
              <i class="fas fa-cog"></i>
            </a>
            <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
              <li><%=link_to "Log out", logout_path, method: :delete%></li>
              <li><%=link_to "Change password" %></li>
              <li><%=link_to "Cancel"%></li> 
            </div>

          </div>
        </div>
      </div>


      <div class='following'>
        <div class="posts">26posts</div>
        <div class="followers">4000followers</div>
        <div class="following">2000 following</div>
      </div>

    </div>

  </div>
</div>
