<h1>InstaSpamPosts</h1>


<div class="row">
  <% @instaposts.each do |i| %>
    <div class="col-lg-6">
      <%= image_tag i.picture_url, width: '100%' if i.picture.present? %>
      <h4><%= link_to i.name, i %></h4>
      <%= i.description %>
      <p><%= time_ago_in_words(i.created_at) %> ago</p>
    </div>
    <%= link_to like_instapost_path(i), method: :put do %>
      Upvote
      <%= i.get_upvotes.size %>
    <% end %>
    
    <%= link_to dislike_instapost_path(i), method: :put do %>
      Downvote
      <%= i.get_downvotes.size %>
    <% end %>
  <% end %>
</div>
