<div class="row">
  <div class="col-lg-8">
    <%= image_tag(@instapost.picture_url, width: '100%') if @instapost.picture.present? %>
  </div>

  <div class="col-md-3">
    <p><b>Title: </b><%= @instapost.name %></p>
    <p><b>Tags: </b><%= @instapost.description %></p>
    <p>
      <%= link_to 'Edit', edit_instapost_path(@instapost) %> |
      <%= link_to 'Destroy', @instapost, data: { confirm: 'Trash this spammy pic?' }, method: :delete %> |
      <%= link_to 'Back', instaposts_path %>
    </p>
  </div>
</div>
