<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @instapost.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @instapost.description %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag(@instapost.picture_url, width: 600) if @instapost.picture.present? %>
</p>

<%= link_to 'Edit', edit_instapost_path(@instapost) %> |
<%= link_to 'Back', instaposts_path %>
