<h1>New post</h1>

<%= form_with scope: :post, local: true do |form| %>
  <p>
    <%= form.label :pictureURL %><br>
    <%= form.text_field :pictureURL %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>