<h1>Please enter your email and password to create an account</h1>

<%= form_with scope: :user, url: users_path, local: true do |form| %>
  <%= form.label :email%><br>
  <%= form.text_field :email%><br>
  <%= form.label :password%><br>
  <%= form.password_field :password%><br>
  <%= form.submit %>
<%end%>
