
<% if @posts.any? %>

  <% @posts.each do |post| %>
  <div class="post">
    <p class="name"><%= post.user.email %></p>
    <%= link_to image_tag("trash.png", class: "trash"), post_path(post), method: :delete, class: 'remove' %>
    <%= image_tag post.image.url(:medium) %>
    <p class="description"> <%= post.description %> <p>

    <div>
      <%= link_to image_tag("heart.png", class: "heart"), post_likes_path(post), class: 'like' %>
      <span class="like_count"><%= post.likes.count %></span> <%= 'like'.pluralize(post.likes.count) %>
    </div>

    <div>
      <% if post.comments.any? %>
        <% post.comments.all.each do |comment| %>
          <p><%= comment.comment %></p>
        <% end %>
      <% end %>
    </div>

    <div class="add_comment">
      <%= link_to image_tag("comment_bubble.png", class: "comment_bubble"), new_post_comment_path(post), class: 'comments' %>
      <span> Add a comment... </span>
    </div>

  </div>
  <% end %>


<% else %>
  <p> No Posts Yet </p>
<% end %>
