<div class="new_post"><%= link_to "◉ New Post ◉", new_post_path, class: "new_post_link" %></div>

<div class="page_content">
  <% if @posts.any? %>
    <% @posts.each do |post| %>
      <div class="each_post">
        <div class="each_image"><%= image_tag post.image.url(:medium) %></div>
        <%= post.likes.count %>
        <%= link_to "❤", post_likes_path(post), method: :post, class: "each_like_button" %>
        <span class="each_caption"><%= post.caption %></span>
        <% if post.comments.any? %>
          <ul>
            <% post.comments.each do |comment| %>
              <li>
                <%= comment.comment %>
              </li>
            <% end %>
          </ul>
        <% end %>
        <%= link_to '✎', new_post_comment_path(post), class: "add_comment_link" %>
      </div>
    <% end %>
  <% else %>
  <div class="no_posts">No posts yet!</div>
  <% end %>
</div>