
<% if @posts.any? %>

  <% @posts.each do |post| %>
  <div class="post">
    <%= image_tag post.image.url(:medium) %>
    <p class="description"> <%= post.description %> <p>
    <p class="like"> <%= link_to "Like", post_likes_path(post), method: :post %>
    <span><%= pluralize post.likes.count, 'like' %></span></p>
    <p class="comment"> <%= link_to "Comment", new_post_comment_path(post) %></p>
    <% if post.comments.any? %>
      <% post.comments.all.each do |comment| %>
        <p><%= comment.comment %></p>
      <% end %>
    <% end %>

  </div>
  <% end %>


<% else %>
  <p> No Posts Yet </p>
<% end %>
