
<h1>New Post</h1>


<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
  <%= form.label :title %>
  <%= form.text_field :title %>
  </p>

  <p>
  <%= form.label :text %>
  <%= form.text_area :text %>
  </p>

  <p>
  add an image....
  <%= form.file_field :image %>
  </p>

  <p>
    <%= form.submit %>
  </p>


  <!-- <div class="field">
   <%= form.label :title %>
   <%= form.text_field :title %>
 </div>

 <div class="field">
   <%= form.label :content %>
   <%= form.text_area :content %>
 </div>

 <div class="field">
   add an image....
   <%= form.file_field :image %>
 </div> -->

<% end %>
