<div class="add_post">◉ Add Post ◉</div>

<%= form_for @post, html: {multipart: true} do |field| %>
	<%= field.label :caption, "Caption" %>
	<%= field.text_field :caption %>
	<%= field.label :image, "Image" %>
	<%= field.file_field :image, class: "choose_file" %>
	<%= field.submit "Post" %>
<% end %>