
<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>

<p>
  <%= image_tag(@post.image_url.to_s) %>
  <!-- <%= image_tag(@post.image_url(:thumb).to_s) %> -->
</p>

<p>
<%= link_to 'Edit', edit_post_path(@post) %>
</p>
<%= link_to 'Back', posts_path %>
