= form_for @photograph do |f|
  = f.label :caption, "Say something about your photo"
  = f.text_field :caption
  - if current_page?(new_photograph_path)
    = f.submit "Post Photo", class: "button_styled"
  - else
    = f.submit "Update Post", class: "button_styled"
