<% if @photographs.any? %>
  <% @photographs.each do |photograph| %>
    <%= link_to image_tag(photograph.image.url(:thumb)), photograph_path(photograph), :method => :get %>
    <h2> <%= link_to photograph.name, photograph_path(photograph) %> </h2>
    <h4>Comments:</h4>
    <% photograph.comments.each do |comment| %>
      <li><%= comment.thoughts %></li>
    <% end %>
    <p><%= link_to "Edit #{photograph.name}", edit_photograph_path(photograph) %> <%= link_to "Delete #{photograph.name}", photograph_path(photograph), method: :delete %> <%= link_to "Comment on #{photograph.name}", new_photograph_comment_path(photograph)%></p><br>
  <% end %>
<% else %>
  No photographs yet
<% end %>

<a href='<%= new_photograph_path %>'>Add a photograph</a>
