<section class="instagram-wrap">
  <div class="container">
        <div class="row">
            <div class="col-xs-12">
                <div class="instagram-content">
                    <h3>Latest Photos</h3>
                    <div class="row photos-wrap">
                    <!-- Instafeed target div -->
                    <div id="instafeed"></div>
                    <!-- The following HTML will be our template inside instafeed -->
                    <% if @photographs.any? %>
                    <% @photographs.each do |photograph| %>
                    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
                        <div class="photo-box">
                            <div class="description"><strong><%=photograph.user.name%></strong> </div>
                            <div class="image-wrap">
                                <img src="<%= photograph.image.url(:thumb)%>">
                                <div class="likes" id="likes-<%= photograph.id %>"><%=photograph.likes.count%> Likes</div>
                                <div class="comments"><%=photograph.comments.count%> Comments </div>
                            </div>
                            <div class="description">
                                <%= photograph.description%>
                                <div class="date">September 16, 2014</div>
                                <%if user_signed_in? %>
                                  <%= link_to "Leave Comment", new_photograph_comment_path(photograph)%><br>
                                  <div id="like-<%= photograph.id %>">
                                    <%= link_to "Like post", photograph_likes_path(photograph), remote:true, method: :post %>
                                  </div>
                                <% end %>
                            </div>
                        </div>
                    </div>
                    <%end%>
                    <%end%>
                        </div>
                </div>
            </div>
        </div>
    </div>
    <a href="photographs/new">Add a post</a>
</section>
