
<% if @photographs.any? %>
 <% @photographs.each do |photograph| %>
    <br><%= photograph.user.email %>: <%= photograph.description  %>
    <%if current_user == photograph.user %>
      <%= link_to "Delete post", photograph_path(photograph), method: :delete %><br>
    <%end%>

    <br><%= image_tag photograph.image.url(:thumb) %><br>


    <p><%= pluralize photograph.likes.count, 'Like' %></p>
    <%= link_to "Like post", new_photograph_like_path(photograph)%><br>

    <p><%= pluralize photograph.comments.count, 'Comment' %></p>


    <% photograph.comments.each do |comment|%>
        <br><%= comment.user.email %>:<%= comment.description%>
        <%if current_user == comment.user%>
          <%= link_to "Delete comment", photograph_comment_path(photograph, comment), method: :delete%><br>
        <%end%>
      <%end%>
      <%if user_signed_in? %>
        <br><%= link_to "Leave Comment", new_photograph_comment_path(photograph)%><br>
      <% end %>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>



<a href="photographs/new">Add a post</a>
