%div.grid
  %div.col-3
    %br
  %div.col-6.photographs_feed
    = image_tag @photograph.image.url(:large), class: "feed_image"
    %h3.caption= @photograph.caption
    %br
    Uploaded
    = time_ago_in_words(@photograph.created_at)
    ago
    %section.likes
      %span.like-count= @photograph.likes.count
      = "like".pluralize(@photograph.likes.count)
      = link_to 'Like', photograph_likes_path(@photograph), class: "like-link button_styled"
    = link_to "Comment", new_photograph_comment_path(@photograph), class: "button_styled"
    - if user_signed_in? && @photograph.user == current_user
      = link_to "Delete", photograph_path(@photograph), method: :delete, class: "button_styled"
    %br
    %ul.comments_list
      %h4 Comments
      - @photograph.comments.all.each do |comment|
        %li{:id => "#{comment.id}"}
        = comment.comment
        - if comment.user == current_user
          = link_to "Edit Comment", edit_photograph_comment_path(comment.photograph, comment), class: "button_styled"
          = link_to "Delete Comment", photograph_comment_path(comment.photograph, comment), method: :delete, class: "button_styled"

  %div.col-3
    %br
