%div.grid
  %div.col-3
    %br
  %div.col-6

    %h3= @photograph.caption
    %br
    Uploaded
    = time_ago_in_words(@photograph.created_at)
    ago
    = link_to "Comment", new_photograph_comment_path(@photograph), class: "button_styled"
    - if user_signed_in? && @photograph.user == current_user
      = link_to "Delete", photograph_path(@photograph), method: :delete, class: "button_styled"
    %ul.comments_list
      %h4 Comments
      - @photograph.comments.all.each do |comment|
        %li{:id => "#{comment.id}"}
        = comment.comment
        - if comment.user == current_user
          = link_to "Edit Comment", edit_photograph_comment_path(comment.photograph, comment), class: "button_styled"
          = link_to "Delete Comment", photograph_comment_path(comment.photograph, comment), method: :delete, class: "button_styled"

  %div.col-3
    %br
