<%= link_to 'New Post', new_post_path %>
  <br><br>
  <% @posts.each do |post| %>
    
        <% if post.image.attached? %>
          <br>
          <div>
            <p><strong><%= post.user.username %></strong></p>
            <p><%= image_tag post.image %></p>
            <p><%= post.caption %></p>
            <a href="posts/<%= post.id %>"><i class="far fa-comment"></i></a>
          </div>
          <br>
        <% end %>
      
    
  <% end %>
