<h1>Railstagram</h1>
 
<%= link_to 'New Railsta', new_post_path %>
  <br><br>
  <% @posts.each do |post| %>
    
        <% if post.image.attached? %>
          <div>
            <p><strong><%= post.user.username %></strong></p>
            <p><%= image_tag post.image %></p>
            <p><%= post.caption %></p>
            <%= link_to 'View', post_path(post) %>
          </div><br><br>
        <% end %>
      
    
  <% end %>
