
    <div>
        <p><strong><h3><%= @post.user.username %></h3></strong></p>
        <p><%= image_tag @post.image %></p>
        <p><%= @post.caption %></p>
    </div>
    <div class="comments">
    <strong>Comments</strong><br><br>
        <% if @post.comments.length > 3 %>
          <p>  <strong><%= @post.comments[0].commenter %></strong>: 
            <%= @post.comments[0].body %><br> </p>
          <p> <strong><%= @post.comments[1].commenter %></strong>: 
            <%= @post.comments[1].body %> </p>
           <p> ...</p>
            <p><small><%= link_to "View all comments", post_comments_path(@post) %></small></p>
        <% else %>
            <% @post.comments.each do |comment| %>
                <strong><%= comment.commenter %>: </strong>
                <%= comment.body %>
                <br>
            <% end %>
         <% end %>
        
    <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %> 
        <%= form.text_field :body, placeholder: "Enter a comment..." %>
        <input type="submit" value="Submit">
    </div>
       
    <% end %>
    <%= link_to 'Back', posts_path %>
