<h1>Railstagram</h1>
<ul>
        <% if @post.image.attached? %>
        <li>
            <p><strong><%= @post.user.email %></strong></p>
            <p><%= image_tag @post.image %></p>
            <p><%= @post.caption %></p>
        </li>
        <% end %>
        <h2>Comments</h2>
            <% @post.comments.each do |comment| %>
                <%= comment.commenter %>
                <%= comment.body %>
            <% end %>
        <h2>Add comment:</h2>
            <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
            
            <p>
                <%= form.text_area :body %>
            </p>
            <p>
                <%= form.submit %>
            </p>
            <% end %>
      <%= link_to 'Back', posts_path %>
</ul>
  
    </ul>