<% if @post.image.attached? %>
    <div>
        <p><strong><h3><%= @post.user.username %></h3></strong></p>
        <p><%= image_tag @post.image %></p>
        <p><%= @post.caption %></p>
    </div>
        <% end %>

        <h3>Comments</h3>
            <% @post.comments.each do |comment| %>
                <strong><%= comment.commenter %>: </strong>
                <%= comment.body %><br><br>
            <% end %>
        
            <%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>
            <p>
                <%= form.text_field :body, placeholder: "Enter a comment..." %>
            </p>
            <p>
                <%= form.submit %>
            </p>
            <% end %>
      <%= link_to 'Back', posts_path %>
