<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>PicShare</title>
  </head>
  <body>
    <h1>Welcome to PicShare</h1>

    <%= form_with url: pictures_path, local: true do |form| %>
    <p>To continue, please log in</p>
    <%= form.label :name %><br>
    <%= form.text_field :name %>

  <p>
    <%= form.label :password %><br>
    <%= form.password_field:password %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
  </body>
</html>
