<h1>Welcome to Pentagram!</h1>

<%= form_for @post do | form | %>
  <%= form.label :caption %>
  <%= form.text_field :caption %>
  <%= form.label :picture %>
  <%= form.file_field :picture, id: :post_picture %>
  <%= form.submit 'Add Pentapost' %>
<% end %>

<% @posts.each do |post| %>
<div>
  <h4 class="caption"><a href="posts/<%= post.id %>"><%= post.caption %></a></h4>
  <div class="photo"><%= image_tag(post.picture_url, width: 600) if post.picture.present? %></div>
</div>
<% end %>