<h1>Welcome to Pentagram!</h1>

<%= form_for @post do | form | %>
  <%= form.label :caption %>
  <%= form.text_field :caption %>
  <%= form.label :picture %>
  <%= form.file_field :picture, id: :post_picture %>
  <%= form.submit 'Add Pentapost' %>
<% end %>