<div class="flip-container">
  <div id="side-1" class="flip">
    <div id="user_signin">
      <h2>Log in</h2>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :password %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <% if devise_mapping.rememberable? -%>
          <div class="field">
            <%= f.check_box :remember_me %>
            <%= f.label :remember_me %>
          </div>
        <% end -%>
        <div class="actions">
          <%= f.submit "Log in" %>
        </div>
      <% end %>
      <a id="signup" href="#">Not registered? Click here to sign up</a>
    </div>
  </div>
  <div id="side-2" class="flip">
    <div id="user_signup">
      <h2>Sign up</h2>
      <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>
        <div class="field">
          <%= f.label :user_name %><br />
          <%= f.text_field :user_name, autofocus: true %>
        </div>
        <div class="field">
          <%= f.label :email %><br />
          <%= f.email_field :email %>
        </div>
        <div class="field">
          <%= f.label :password %>
          <% if @minimum_password_length %>
          <em>(<%= @minimum_password_length %> characters minimum)</em>
          <% end %><br />
          <%= f.password_field :password, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :password_confirmation %><br />
          <%= f.password_field :password_confirmation, autocomplete: "off" %>
        </div>
        <div class="field">
          <%= f.label :profile_pic %> <i>(choose an image)</i><br />
          <%= f.file_field :image %> <br />
        </div>
        <div class="actions">
          <%= f.submit "Sign up" %>
        </div>
      <% end %>
      <a id="create" href="#">Already registered? Click here to sign in</a>
    </div>
  </div>
</div>



<script>
document.getElementById( 'signup' ).addEventListener( 'click', function( event ) {

    event.preventDefault();
    document.getElementById( 'side-2' ).className = 'flip flip-side-1';
    document.getElementById( 'side-1' ).className = 'flip flip-side-2';

}, false );

document.getElementById( 'create' ).addEventListener( 'click', function( event ) {

    event.preventDefault();
    document.getElementById( 'side-2' ).className = 'flip';
    document.getElementById( 'side-1' ).className = 'flip';

}, false );

</script>
