<div class='new_session'>
  <ul class="topnav">
  <li><%= link_to "Sign in", new_user_session_path,  class: "active"  %></li>
  <li class=right><%= link_to "Sign up", new_user_registration_path %></li>
  </ul>
<div class="sign_in">
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field_in">
      <%= f.label :user %><br />
      <%= f.email_field :email, autofocus: true %>
    </div>

    <div class="field_in">
      <%= f.label :password %><br />
      <%= f.password_field :password, autocomplete: "off" %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class="field_remember">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class="actions">
      <%= f.submit "Log in" %>
    </div>
  <% end %>

  <div class="links">
    <%= render "devise/shared/links" %>
  </div>
</div>
</div>
