<div class="mt-3">
  <h2>Login</h2>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div>
    <%= f.label :email %>
    <%= f.text_field :email, id: 'email' %>
  </div>
  <div>
    <%= f.label :password %>
    <%= f.password_field :password, id: 'password' %>
  </div>
  <button>
    <%= f.submit "Login", :class => "button is-link is-rounded" %>
  </button>
  <% end %>
</div>

Don't have an account yet?
<%= link_to new_user_registration_path  do %>
  Sign Up
<% end %>