<div class='form-wrapper'>
  <div class="text-center">
    <h2>Log in</h2>
  </div>
  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class='form-group text-center'>
      <%= f.email_field :email, autofocus: true, placeholder: 'email', class: 'textbox' %>
    </div>

    <div class='form-group text-center'>
      <%= f.password_field :password, autocomplete: "off", placeholder: 'password', class: 'textbox' %>
    </div>

    <% if devise_mapping.rememberable? -%>
      <div class='form-group text-center'>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </div>
    <% end -%>

    <div class='form-group text-center'>
      <%= f.submit "Log in", class: 'btn btn-link' %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</div>
