<div class="coontainer is-flex is-flex-direction-column is-align-items-center"">
  <div class="container is-flex is-flex-direction-column is-align-items-center" id="form-container-login">
    <p id="railsgram">Railsgram</p>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="container is-flex is-flex-direction-column">
      <%= f.text_field :email, id: 'email', placeholder: "your@email.com", :class => "textfield-login-signup mb-2" %>
      <%= f.password_field :password, id: 'password', placeholder: "password", :class => "textfield-login-signup mb-4" %>
      <%= f.submit "Login", :class => "button is-link is-rounded mb-5" %>
    </div>
    <% end %>
  </div>
  <div class="container is-flex is-justify-content-center is-align-items-center m-2" id="link-signup">
    <p class="mr-1">Don't have an account yet?</p>
    <%= link_to new_user_registration_path  do %>
      <strong>Sign Up</strong>
    <% end %>
  </div>
</div>