
<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" media="screen" href="https://fontlibrary.org/face/sofia" type="text/css"/>
<style>
.images {display:none;
  position: relative;
  left: 188.5px;
  bottom: 350px;
  -ms-transform: rotate(4.15deg);
  -webkit-transform: rotate(4.15deg);
  transform: rotate(4.15deg);}
  </style>
  <body class="container sign_in">
    <div id="sign_in_box" >
      <div class="col-sm-2 col-sm-offset-7" style="border: 3px black solid; width: 300px;">

        <center><h1 id='sign_in_text' >Sophtagram</h1></center>

        <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <div class="field">
          <center><%= f.email_field :email, autofocus: true, :placeholder => "Email address", :id => "email_address"%></center><br/>
        </div>

        <div class="field">
          <center><%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :id => "password"%></center>
        </div>

        <% if devise_mapping.rememberable? -%>
        <div class="field">
          <center>  <%= f.check_box :remember_me %>
            <%= f.label :remember_me %></center>
          </div>
          <% end -%>


          <div class="actions">
            <center><%= f.submit "Sign in", :id=> "sign_in_button"  %></center>
          </div>
          <% end %><br>
        </div>
      </div>

      <div id="forgot_password">
        <div class="col-sm-2 col-sm-offset-7" style="border: 3px black solid; width: 300px;">
          <center><%= render "devise/shared/links" %></center>
        </div>
      </div>



      <div class="w3-content w3-section" >
        <img class="images" src= "http://eskipaper.com/images/cool-aerial-view-wallpaper-1.jpg" style="width:190px; height:300px;">
        <img  class="images" src= "https://www.cutestpaw.com/wp-content/uploads/2011/11/Miss-You-My-Love.jpg" style="width:190px; height:300px;">
        <img class="images" src= "https://s-media-cache-ak0.pinimg.com/736x/14/9d/29/149d2980d18143da308bd4451c939882.jpg"style="width:189px; height:300px;">
        <img class="images" src= "https://i.redd.it/qh713wbo4r8y.jpg" style="width:188px; height:300px;">
      </div>

      <script>
      var indexNumber = 0;
      slideShow();

      function slideShow(){
        var i;
        var x = document.getElementsByClassName("images");
        for(i=0; i < x.length; i++){
          x[i].style.display = "none";
        }
        indexNumber++;
        if (indexNumber > x.length) {indexNumber = 1}
        x[indexNumber-1].style.display = "block";
        setTimeout(slideShow, 5000);
      }
      </script>

    </body>
    </html>
