


<div id="login_box">
  <div class="col-sm-2 col-sm-offset-7" style="border: 3px black solid;">

    <center><h2 id='login_text'>Log in</h2></center>

    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <div class="field">
      <center><%= f.email_field :email, autofocus: true, :placeholder => "Email address", :id => "email_address"%></center><br/>
    </div>

    <div class="field">
      <center><%= f.password_field :password, autocomplete: "off", :placeholder => "Password", :id => "password"%></center>
    </div>

    <% if devise_mapping.rememberable? -%>
    <div class="field">
      <center>  <%= f.check_box :remember_me %>
        <%= f.label :remember_me %></center>
      </div>
      <% end -%>


      <div class="actions">
        <center><%= f.submit "Log in", :id=> "login_button"  %></center>
      </div>
      <% end %><br>
    </div>
  </div>

  <div id="forgot_password">
    <div class="col-sm-2 col-sm-offset-7" style="border: 3px black solid;">
      <center><%= render "devise/shared/links" %></center>
    </div>
  </div>



  <div id="images" >
  <img src= "http://eskipaper.com/images/cool-aerial-view-wallpaper-1.jpg" style="width:188px; height:300px;">
  <img src= "https://www.cutestpaw.com/wp-content/uploads/2011/11/Miss-You-My-Love.jpg" style="width:188px; height:300px;">
  <img src= "https://cdn.thedesigninspiration.com/wp-content/uploads/2010/05/animals/042.jpg" style="width:185px; height:300px;" >
  <img src= "https://s-media-cache-ak0.pinimg.com/736x/14/9d/29/149d2980d18143da308bd4451c939882.jpg"style="width:190px; height:300px;">
  <img src= "https://i.redd.it/qh713wbo4r8y.jpg" style="width:188px; height:300px;">
  </div>
