<div style="margin-top: 5rem;" class="container">
  <div style="border-radius:.99rem!important;" class="col-md-6 mx-auto card">
    <h1 style="padding: 15px; text-align: center;">LOG IN</h1>
    <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <div class="form-group">
        <div class="field">
          <%= f.email_field :email, autofocus: true, autocomplete: "email", type:"email", class:"form-control", id:"exampleInputEmail1", placeholder:"Enter email" %>
        </div>
        <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
      </div>
      <div class="form-group">
        <div class="field">
          <%= f.password_field :password, autocomplete: "current-password", type:"password", class:"form-control", id:"exampleInputPassword1", placeholder:"Enter password" %>
        </div>
      </div>
      <div class="actions">
        <%= f.submit "Log in", class: "btn btn-outline-primary btn-block" %>
      </div>
      <br>
    <% end %>
    <%= render "devise/shared/links" %>
  </div>
</div>
