
<div class="loginform">
  <h2>Log in</h2>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <input type="email" class="form-control" autofocus="autofocus" autocomplete="email" value="" name="user[email]" id="user_email">
  </div>

  <div class="form-group">
    <div class="field">
      <%= f.label :password %><br />
      <input type="password" class="form-control" autocomplete="off" name="user[password]" id="user_password">
    </div>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="field">
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    </div>
  <% end -%>

  <div class="information">
  <%= render "devise/shared/links" %>
  </div>

  <div class="actions">
    <input type="submit" class="btn btn-primary" name="commit" value="Log in" data-disable-with="Log in">
  </div>
<% end %>

</div>
