<div class="post_div">
  <div class="h1_div">
    <div class="h1">Log in</div>
  </div>

  <div class="post_comments_div">
    <div class="form_comments w-form">


      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
        <%= devise_error_messages! %>

        <div>
          <%= f.label :email, class: "w-form-label" %><br />
          <%= f.email_field :email, autofocus: true, class: 'text_field w-input' %>
        </div>

        <div>
          <%= f.label :password, class: "w-form-label" %>
          <%= f.password_field :password, autocomplete: "off", class: 'text_field w-input' %>
        </div>

        <% if devise_mapping.rememberable? -%>
          <div>
            <%= f.check_box :remember_me, class: "checkbox_field" %>
            <%= f.label :remember_me, class: "w-form-label" %>
          </div>
        <% end -%>

        <div>
          <%= f.submit "Log in", class: 'button w-button' %>
        </div>
      <% end %>

    </div>
  </div>
  <%= render "devise/shared/links" %>
</div>
