<h1>Showing Pictures</h1>

<%= link_to 'Add Picture', new_picture_path %>
<%= link_to "Sign out", destroy_user_session_path, :method => :delete %>

<table>
  <tr>
    <th>Title</th>
    <th>Picture</th>
  </tr>

  <% @pictures.each do |picture| %>
    <tr>
      <td><%= picture.title %></td>
      <td>
        <a href="<%= "#{picture_path(picture)}"%>">
          <img src="<%= picture.image %>" height="150px" width="150px">
        </a>
      </td>
    </tr>
  <% end %>
</table>
