<h1>Add a picture</h1>

<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
  <p>
    <%= form.label :title %><br>
    <%= form.text_field :title %>
  </p>

  <p>
    <%= form.label :picture_url %><br>
    <%= form.text_area :picture_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
