<p>
  <%= @picture.title %>
</p>
<p>
  <img src="<%= @picture.image %>" height="350px" width="350px">
</p>

<h2>Comments:</h2>
<% @picture.comments.each do |comment| %>
<p>
  <%= comment.user.email %>
</p>
<p>
  <%= comment.body %>
</p>
<% end %>

<% if current_user != @picture.user %>
<h2>Add a comment:</h2>
<%= form_with(model: [ @picture, @picture.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>
<% end %>

<% if current_user == @picture.user %>
<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Destroy', picture_path(@picture),
    method: :delete,
    data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', pictures_path %>
