<p>
  <%= @picture.title %>
</p>
<p>
  <img src="<%= @picture.image %>" height="350px" width="350px">
</p>

<h2>Comments:</h2>
<% @picture.comments.each do |comment| %>
  <p>
    <%= comment.user.email %>
  </p>
  <p>
    <%= comment.body %>
  </p>
<% end %>

<% if @picture.comments.last != nil %>
  <% if @picture.comments.last.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.comments.last.errors.count, "error") %>
        prohibited this picture from being saved:
      </h2>
      <ul>
        <% @picture.comments.last.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
<% end %>

<% if current_user != @picture.user %>
  <h2>Add a comment:</h2>
  <%= form_with(model: [ @picture, @picture.comments.build ], local: true) do |form| %>
  <p>
    <%= form.label :body %><br>
    <%= form.text_area :body %>
  </p>
  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= form_with(model: [@picture, @picture.likes.build ], local: true) do |form| %>
  <%= hidden_field_tag :user_id, current_user.id %>
  <%= hidden_field_tag :picture_id, @picture.id %>
  <%= form.submit 'Like' %>
<% end %>

<% end %>

<% if current_user == @picture.user %>
  <%= link_to 'Edit', edit_picture_path(@picture) %>
  <%= link_to 'Destroy', picture_path(@picture), method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

<%= link_to 'Back', pictures_path %>

<p><%= pluralize(@picture.likes.count, "like") %></p>
