<p id="notice"><%= notice %></p>

<p>
  <strong>Post:</strong>
  <%= @resource.post %>
</p>

<p>
  <strong>Location:</strong>
  <%= @resource.location %>
</p>

<%= link_to 'Edit', edit_resource_path(@resource) %> |
<%= link_to 'Back', resources_path %>
