- @pictures.each do |picture|
  .row
    .col.s12
      = image_tag picture.image.url(:standard), id: "image_display"
      %h5= link_to picture.title, picture_path(picture)
      .row
        .col.s1
          = link_to picture_path(picture), method: :put, id: "like_icon" do
            %i.material-icons#like_icon thumb_up
        .col.s2
          %p#like_count= "#{picture.show_likes} likes"
        .col.s1
          = link_to picture_path(picture), id: "comment_icon" do
            %i.material-icons#comment_icon comment
        .col.s3
          %p#comment_count= "#{picture.show_comments} comments"
