<div class="show-picture">
  <% if @picture.image.attached? %>
    <image src="<%= (url_for(@picture.image)) %>">
  <% else %>
    <img>
  <% end %>
  <% if @picture.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@picture.errors.count, "error") %>
        prevented this image from being saved:
      </h2>
      <ul>
        <% @picture.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>

<%= form_with model: @picture, local: true, :html => {:class => "show-details"} do |form| %>
<!-- <div class="show-details"> -->
  <div class="show-details-caption">
    <!--<%= form.label :caption %>-->
    <%= form.text_area :caption, placeholder: "Add a caption" %>
  </div>
  <div class="show-details-comments">
  </div>
  <div class="show-details-likes">
    <%= form.label "Upload Image" %><br>
    <%= form.file_field :image %>
  </div>
  <div class="show-details-add-comment">
    <%= form.submit %><br>
  </div>
  <% end %>

<!-- </div> -->
