<%= form_for @picture, html: {multipart: true} do |f| %>
	  <%= f.label :name %>
	  <%= f.text_field :name %>
  <p>
	  <%= f.label :description %>
	  <%= f.text_field :description %>
  </p>

  <p>
		<%= f.file_field :image %>
	</p>

  <%= f.submit 'Add Picture' %>


<% end %>