<%= simple_form_for @picture, url: pictures_path, html: { multipart: true } do |f| %>
  <%= f.file_field :image %>
  <br>
  <%= f.button :submit %>

<% end %>

<% if @picture.errors.any?  %>
  <div id="error_explanation">
    <h2><%= pluralize(@picture.errors.count, "error") %> prevented the picture from being saved: </h2>

    <ul>
    <% @picture.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>
