.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        =picture.user.username
    .image.center-block
      =image_tag picture.image.url(:medium), class:'img-responsive'
    .post-bottom
      .caption
        .caption-content
          .user-name
            = picture.user.username
          = picture.description
      .comments{id: "comments_#{picture.id}"}
        - if picture.comments.any?
          - picture.comments.each do |comment|
            .comment
              .user-name
                = comment.user.username
              .comment-content
                = comment.thoughts
      .comment-like-form.row
        .like-button.col-sm-1
          %span(class="glyphicon glyphicon-heart-empty")
        .comment-form.col-sm-11
          - if current_user.present?
            = form_for [picture, picture.comments.new] do |f|
              = f.label :thoughts
              = f.text_field :thoughts, placeholder: "Add a comment here..."
              = f.submit 'Comment'
      - if current_user.present? && current_user.owns?(picture)
        %a= link_to "Delete", picture_path(picture), method: :delete
