<div class="posts_wrapper">
  <%= form_image_select(@picture) %>
    <%= simple_form_for @picture, html: { multipart: true } do |f| %>
    <div id="upload_image">
      <h4>Upload an image:</h4>
        <%= f.input :image, label: false, input_html: { onChange: 'loadFile(event)' } %>
    </div>
    <div id="upload_caption">
      <%= f.text_field :caption, label: false, placeholder: 'Add a caption' %>
    </div>
    <br>
    <div id="upload_submit">
      <%= f.button :submit, value: "Update Post" %>
    </div>
  </div>
  <% end %>
</div>
