%p= image_tag @picture.image.url(:original)
= simple_form_for @picture do |f|
  = f.input :caption
  = f.button :submit

= link_to 'Cancel', picture_path(@picture)
= link_to 'Delete Picture', picture_path(@picture), method: :delete,
  data: { confirm: "Are you sure you want to delete this post?" }
