<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit your picture</title>
  </head>
  <body>
    <%= image_tag @picture.picture.url(:thumb), class: "uploaded-pic" %>
    <%= form_for @picture, html: {multipart: true} do |f| %>
      <%= f.label :description, 'Description' %><br />
      <%= f.text_field :description, class: "form-control" %><br />
      <%= f.submit 'Update', class: "btn btn-default" %>
    <% end %>
  </body>
</html>
