<div class="whitebox">
  <h3><%= @picture.description %></h3>
  <%= image_tag @picture.image.url(:medium) %>
  <%= form_for @picture, html: { multipart: true, :class => "pure-form pure-form-aligned" } do |f| %>
    <%= field_set_tag do %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit 'Edit picture', class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>
  <%= link_to "Cancel", picture_path(@picture) %>
</div>
