<% if @pictures.any? %>
  <% @pictures.all.each do |picture| %>
    <h2><%= picture.postcomment %></h2>
    <% if current_user == picture.user%>
    <%= link_to "Edit Picture", edit_picture_path(picture) %>
    <%= link_to "Delete Picture", picture_path(picture), method: :delete %>
    <% end %>
    <%= link_to "Add a Comment", new_picture_comment_path(picture) %>

    <h3>Comments</h3>

    <% if picture.comments.any? %>
      <ul>
        <% picture.comments.each do |comment| %>
          <li>
            <%= comment.thoughts %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No Comments yet.</p>
    <% end %>


  <% end %>
<% else %>
  <h1>No pictures yet</h1>
<% end %>

<% if current_user %>
<%= link_to "Add a picture", new_picture_path %>
<% end %>
