<% if @pictures.any? %>
<% @pictures.each do |picture| %>
<%= link_to picture.name, picture_path(picture) %>
  <%= picture.name %>
    <%= link_to picture do %>
      <%= image_tag picture.image.url(:thumb), id: "show-thumbnail" %>
    <% end %>
  <%= link_to "Edit #{picture.name}", edit_picture_path(picture) %>
  <%= link_to "Delete #{picture.name}", picture_path(picture), method: :delete  %>
  <%= link_to "Comment on #{picture.name}", new_picture_comment_path(picture) %>
  <%= link_to "Like picture", picture_likes_path(picture), method: :post%>
  <%= pluralize picture.likes.count, 'like' %>
  <% end %>
<% else %>
No pictures to display
<% end  %>



<a href="/pictures/new">Add a picture</a>
