<h1>All the Pictures</h1>

<%= link_to 'Add Picture', new_picture_path %>

<% @pictures.each do |picture|  %>
  <p><div>
    <%= picture.title %><br>
    <% if picture.image.attached? %>
    <image src="<%= (url_for(picture.image)) %>">
      <% end %>
    <%= picture.caption %>
    <%= link_to 'Show', picture_path(picture) %> | 
    <%= link_to 'Edit', edit_picture_path(picture) %>
  </div></p>
<% end %>
