<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
  <article>
    <header><a href=""><%= picture.username %></a></header>
    <a class="image" href="<%= picture_path(picture) %>">
    <figure style="background-image:url('<%= picture.image.url(:original)%>')"></figure>
    </a>
    <section class="details">
      <p class="likes">0 likes</p>
      <ul class="comments">
        <% unless picture.description.empty? %>
        <li><a href=""><%= picture.username %></a> <%= picture.description %></li>
        <% end %>
      </ul>
      <hr>
    </section>
  </article>
  <% end %>
<% else %>
  No pictures yet
<% end %>
