- if @pictures.any?
  - @pictures.each do |picture|
    = image_tag picture.picture.url(:thumb)
    = picture.picture_file_name
    %p= picture.description
    - if current_user == picture.user
      = link_to 'Delete', picture_path(picture), method: :delete
      = link_to 'Edit', edit_picture_path(picture)
    = link_to 'Like', picture_likes_path(picture), method: :post
    %p= pluralize picture.likes.count, 'like'
    - if picture.comments.any?
      - picture.comments.each do |comment|
        = comment.content
        - if current_user == comment.user
          = link_to 'Delete this comment', comment_path(comment), method: :delete
    = link_to 'Create comment', new_picture_comment_path(picture)
- else
  %h3 No pictures yet
= link_to 'Add a picture', new_picture_path
