<%= link_to 'Post a picture', new_picture_path(current_user) %>
<p>
<% @pictures.each do |picture| %>
  <%= link_to picture.user.username, pictures_path %>
  <% if user_signed_in? %>|
  <%= link_to 'Delete', picture_path(picture), method: :delete %> |
  <%= link_to 'Edit', edit_picture_path(picture) %>
  <% end %>
  <br>
  <%= image_tag picture.image.url(:medium) %>
  <br>
  <%= link_to '♥', picture_likes_path(picture), class: 'likes-link', method: :post %>
  <span class="likes_count"><%= picture.likes.count %></span> <%= 'like'.pluralize(picture.likes.count) %>
  <br>
  <%= link_to picture.user.username, '#' %>
  <%= picture.description %>
  <br>

  <br>
  <strong>Comments</strong>
  <br>
  <% if picture.comments.any? %>
    <% picture.comments.each do |comment| %>
    <strong><%= link_to comment.user.username, '#' %></strong> <%= comment.comment %>
    <br>
    <% end %>
  <% end %>
  <%= link_to 'Comment', new_picture_comment_path(picture) %>
  <p>
<% end %>
