<%= render "shared/user_details_header" %>

<%= link_to "New lint", new_picture_path %>

<% @pictures.each do |picture| %>
  <a href="<%= picture_path(picture) %>" id="image-<%= picture.id %>"><img src="<%= picture.url %>"></a>
<% end %>
