- if @pictures.any?
  - @pictures.each do |picture|
    = image_tag picture.image.url(:medium)
    %h4= picture.name
    = link_to "Delete image", picture_path(picture), method: :delete
    = link_to "Comment", new_picture_comment_path(picture)

    - if picture.comments.any?
      %ul
        - picture.comments.each do |comment|
          %li= comment.thoughts

-else
  %h2 No pictures yet!

= link_to "Add a picture", new_picture_path
