<h1>Gallery</h1>

<%= link_to new_picture_path do%>
New picture
<%end%>
<br>
<br>

<% @pictures.reverse.each do |picture| %>
  <%= picture.title %><br>
  <%= image_tag picture.image.url (:unique)%> <br>
  <p><%=picture.comments.count%> comments </p>
  <%= render picture.comments%>
  <p>Add a comment:</p>
  <%= render 'comments/form'%>
<% end %>
