<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <h2> <%= link_to picture.name, picture_path(picture) %> </h2>
    <h2> <%= link_to "Edit #{picture.name}", edit_picture_path(picture) %> </h2>
    <h2> <%= link_to "Delete #{picture.name}", picture_path(picture), method: :delete %> </h2>
    <h2> <%= link_to "Comment #{picture.name}", new_picture_comment_path(picture) %> </h2>
<h3>Comments for <%= picture.name %></h3>

<% if picture.comments.any? %>
  <ul>
    <% picture.comments.each do |comment| %>
      <li>
        <%= comment.comment %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<a href='pictures/new'>Add A Picture</a>