<%= render 'layouts/header' %>
<h1>Explore</h1>

<% @pictures.each do |picture|  %>
  <p><div>
    <% if picture.image.attached? %>
      <image width="300" height="300" src="<%= (url_for(picture.image)) %>"><br>
      <% end %>
    <%= link_to 'Show', picture_path(picture) %> |
    <%= link_to 'Edit', edit_picture_path(picture) %> |
    <%= link_to 'Delete', picture_path(picture),
        method: :delete,
        data: { confirm: 'Are you sure?' } %>
  </div></p>
<% end %>
