<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <a href="/pictures/<%=picture.id%>?id=<%=picture.id%>"><%= image_tag picture.image.url(:thumb) %></a>
    <p> Added by: <%= picture.user.email %></p>
    <p>
      <% if picture.instagratifications.length == 0 %>
      No ♥ :<
      <% else %>
        <%= picture.instagratifications.length %> ♥
      <% end %>
    </p>
    <p><%= picture.description%></p>
    <% end %>
<% else %>
  <h2>No pictures yet</h2>
<% end %>

<form action="/pictures/new" method=get>
  <input type="submit" value="Add a picture" />
</form>
