<%= link_to "New lint", new_picture_path %>

<% @pictures.each do |picture| %>
  <p>Posted by <%= picture.user.email %></p>
  <a href="<%= picture_path(picture) %>" id="image-<%= picture.id %>">
    <img src="<%= picture.url %>">
  </a>
  <% unless @pictures.last == picture %>
    <hr>
  <% end %>
<% end %>
