<% if @pictures.any? %>
  <% @pictures.all.each do |picture| %>
  <%= link_to "View #{picture.title}", picture_path(picture) %>
  <%= link_to "Edit #{picture.title}", edit_picture_path(picture) %>
  <%= link_to "Delete #{picture.title}", picture_path(picture), method: :delete %>
  <%= link_to "Comment #{picture.title}", new_picture_comment_path(picture) %>

  <h2><%= image_tag picture.image.url(:thumb) %></h2>
  <p><%= pluralize picture.likes.count, 'like' %></p>
  <h3>Comments for <%= picture.title %></h3>

  <% if picture.comments.any? %>
  <ul>
    <% picture.comments.each do |comment| %>
      <li>
        <%= comment.thoughts %>
        <%= link_to "Like", picture_likes_path(picture), class: 'likes-link' %>
        <span class="likes_count"> <%= picture.likes.count %> </span> <%= 'like'.pluralize(picture.likes.count) %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No comments.</p>
<% end %>
<% end %>
  <% else %>
  <h1>No pictures yet</h1>
<% end %>

<a href="/pictures/new">Add a picture</a>
