<p id="notice"><%= notice %></p>

<h1>Pictures</h1>

<table>
  <thead>
    <tr>
    <th> Image </th>
      <th>Caption</th>
      <th>Likes</th>
      <th>Comments</th>
      <th colspan=""></th>
    </tr>
  </thead>

  <tbody>
    <% @pictures.each do |picture| %>
      <tr>
        <td> <%= image_tag(picture.image, style: 'width:100px; height:auto')%></td>
        <td><%= picture.caption%></td>
        <td><%= picture.likes %></td>
        <td><%= picture.comments %></td>
        <td><%= link_to 'Show', picture %></td>
        <td><%= link_to 'Edit', edit_picture_path(picture) %></td>
        <td><%= link_to 'Delete', picture, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Picture', new_picture_path %>
