<% @pictures.each do |p| %>

  <div class='photo-container'>
    <h4 class='photo-info'>
     <strong><%= p.title %></strong>, by <%= p.user.email %>
    </h4>
    <h5 class='photo-info'>Description <%= p.description %></h5>

    <%= image_tag p.photo.url(:medium) %>

    <% if p.comments != [] %>
      <h4 class='photo-info'>Latest comment</h4>
      <h5 class='photo-info'>
        <%= p.comments.last.comment %> <em>written by</em> <%= p.comments.last.user.email %>
      </h5>
      
    <% end %>

    <% if user_signed_in? && !current_user.has_commented?(p) && (p.user_id != current_user.id) %>
      <%= link_to 'Add comment', new_picture_comment_path(p)  %>
    <% end %>

    <% if user_signed_in? %>
      <p><%= link_to 'Like', picture_likes_path(p), method: 'post' %> <%= p.likes.count %> </p>
    <% end %>

    <% if user_signed_in? && (p.user_id == current_user.id)  %>
      <p><%= button_to 'Delete', picture_path(p), method: 'delete' %></p>
    <% end %>
  </div>

<% end %>
