<div id='pictures' >
  <% @pictures.each do |picture| %>
    <div class="box panel panel-default col-lg-1 col-offset-6 centered">
      <p><%= link_to image_tag picture.image.url(:medium) %></p>
      <div class="panel-body ">
        <p><%= "Submitted by #{picture.user.email}" %> </p>
        <p><%= link_to "View picture #{picture.image_file_name}", picture %></p>
        <p><%= button_to "Remove #{picture.image_file_name}", picture, method: :delete %></p>
      </div>
    </div>
  <% end %>
<div>

<%= "No pictures yet" unless @pictures.any? %>
