- if @pictures.any?
  - @pictures.each do |picture|
    .picture-div
      %p= image_tag picture.image.url(:medium)
    .picture-details-div
      %p= link_to picture.description, picture_path(picture)
      %span= link_to "Comment on picture | ", new_picture_comment_path(picture)
      %span= link_to "Edit picture description | ", edit_picture_path(picture)
      %span= link_to "Delete picture", picture_path(picture), method: :delete
      .comments
        - picture.comments.each do |comment|
          %span= "#{comment.text} | "
          %span= "#{comment.picture.user.name} | "
          %span= "#{comment.created_at}"
          %br
-else
  No pictures added yet

%p= link_to 'Upload a picture', new_picture_path
