.main-container
  %a.add-pic(href=new_picture_path) Add a picture
  %ul
    - if @pictures.any?
      - @pictures.each do |picture|
        .posts
          %h2= picture.user.email
          = image_tag picture.image.url(:medium)
          .post-info
            %h2= link_to picture.name + ":", picture_path(picture)
            %h2= picture.description
          .endorsements
            %p= pluralize picture.endorsements.count, 'likes'
            = link_to 'LIKE', new_picture_endorsement_path(picture) 
          .leave-comment= link_to "Comment", new_picture_comment_path(picture)
          - if picture.user == current_user
            .pic-admin
              = link_to "Edit", edit_picture_path(picture)
              = link_to "Delete", picture_path(picture), method: :delete
          - picture.comments.each do |comment|
            .comments
              = comment.thoughts
              = " - " + comment.user.email
    - else
      %p No pictures yet
