<br>
<% if user_signed_in? %>
  <br><br><%= link_to "Upload a picture", new_picture_path %>
<% end %>

<% if @pictures.any? %>
  <% @pictures.each do |picture| %><br>

    <span><h3><%= picture.user.username %></h3>
    <%= image_tag picture.image.url(:med) %>
    <%= picture.description %></span><br>
    <% if picture.likes.any? %>
      <%= pluralize picture.likes.count, 'Like' %>
      <% picture.likes.each do |like| %>
        <% if current_user == like.user %>
          <% if like.user.has_liked? picture %>
            Liked
          <% end %>
        <% else %>
         <span><%= link_to "Like", picture_likes_path(picture) %></span>
        <% end %>
      <% end %>
    <% end %>

    <% if picture.comments.any? %>
      <% picture.comments.each do |comment| %>
        <span><%= comment.user.username %>:  <%= comment.thoughts %>
        </span>
        <br>
      <% end %>
    <% end %>

    <% if user_signed_in? %>
      <span><%= link_to "Like", picture_likes_path(picture), method: :post %></span>
      <span><%= link_to "Comment", new_picture_comment_path(picture) %></span>
      <span><%= link_to "Delete", picture_path(picture), method: :delete %></span><br><br>
    <% end %>
  <% end %>
<% else %>
  No pictures yet
<% end %>
