<div class="pic-feed">
<% if @pictures.any? %>
  <% @pictures.reverse.each do |picture| %>
  <div id='picture_<%= picture.id%>', class="picture_image">
    <div class="pic_header">
      <div class="profile_pic">
        <%= link_to profile_path(picture.user.user_name) do %>
          <%= image_tag picture.user.image.url(:thumb) %>
        <% end %>
      </div>
      <div class="user_details">
        <span id="picture_user_name"><%= picture.user.user_name %><br></span>
        <%= picture.created_at.strftime("%d %b %Y %H:%M") %>
      </div>
    </div>
    <%= link_to picture_path(picture) do %>
      <%= image_tag picture.image.url, class: "pic_image" %>
    <% end %>
      <p><%= picture.caption%></p>

      <%= link_to "Edit Post", edit_picture_url(picture) %> |
      <%= link_to "Delete Post", picture_path(picture), method: :delete %>

      <div id='picture_<%= picture.id%>_comments', class="picture_comments">
        <%= render picture.comments %>
      </div>

      <%= form_for [picture, picture.comments.new], remote: true do |f| %>
        <%= f.text_field :comment_text, placeholder: 'Add a comment' %>
        <%= f.submit 'Comment' %>
      <% end %><br>

</div>
  <% end %>
<% else %>
  <h1>No pictures yet :(</h1>
<% end %>
</div>
