<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
  <section>
    <%= link_to picture.name, picture_path(picture) %>
    <h3> <%= picture.comment %></h3>
    <h3> <%= picture.rcomment %></h3>
    <h4> <%= link_to "Comment on #{picture.name}", edit_picture_path(picture) %> </h4>
    <%= image_tag picture.image.url(:thumb) %>
  </section>
  <br>
  <% end %>
  <% else %>
  <section>
    No pictures yet
  </section>
<% end %>

<a href='/pictures/new'>Add a picture</a>
