

- if @pictures.any?
  - @pictures.each do |picture, comment|
    %div{id: "picture_#{picture.id}" }
      %h3= picture.find_username(picture.user_id)
      = image_tag picture.image.url(:medium)
      %h3= "#{picture.find_username(picture.user_id)}: #{picture.description}"
      - if picture.comments.any?
        - picture.comments.each do |comment|
          %p= "#{comment.find_username(comment.user_id)}: #{comment.thoughts}"
      - if current_user
        %h3= link_to "Leave comment", new_picture_comment_path(picture)
      - if current_user.present? && current_user.owns?(picture)
        %a= link_to "Delete #{picture.description}", picture_path(picture), method: :delete

- else
  No pictures posted

%div= link_to "Post a picture", 'pictures/new', :class => "post_link"
-# #{comment.find_username(@comment_user)}:
