<% if current_user %>

  <h3 class="profile-name"> <%= current_user.name %></h3>

  <%= link_to 'New Picture', new_picture_path %>

  <p><%= link_to destroy_user_session_path, method: :delete do %>
    Log Out
  <% end %></p>

  <% @pictures.each do |picture| %>

    <p><%= "#{picture.user.name} posted #{time_ago_in_words(picture.created_at)} ago" %></p>

    <%= link_to picture_path(picture.id) do %>
      <%= image_tag picture.image_url, alt: "image" %>
    <br>

    <% liked = picture.likes.find { |like| like.user_id == current_user.id } %>

    <% if liked %>
      <%= link_to 'Unlike', picture_like_path(picture, liked), method: :delete %>
    <% else %>
      <%= link_to 'Like', picture_likes_path(picture), method: :post %>
    <% end %>
    <br>
    <%= picture.likes.count %> <%= (picture.likes.count) == 1 ? 'Like' : 'Likes' %>
  <% end %>
    <br>
    <br>

    <h3>Comment on This Picture</h3>
    <%= form_for [picture, Comment.new] do |f| %>
      <%= f.text_area :text %><br>
      <%= f.hidden_field :picture_id, value: picture.id %>
      <%= f.submit %>
    <% end %>

    <h3>Comments:</h3>

      <% picture.comments.each do |comment| %>
        <div class="comment">
          <p><%= "#{comment.user.name} commented #{time_ago_in_words(comment.created_at)} ago" %></p>
          <br>
          <%= comment.text %>
          <br>
          <% if comment.user_id == current_user.id %>
            <%= link_to 'Destroy', picture_comment_path(picture, comment), method: :delete, data: { confirm: 'Are you sure?' } %>
            <%= link_to 'Edit', edit_picture_comment_path(picture, comment), method: :get %>
          <% end %>
        </div>
        <br>
      <% end %>

  <% end %>

<% end %>
