<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
  <div id='image_div'>
    <%= link_to picture_path(picture) do %>
      <%= image_tag picture.image.url(:medium) %>
    <% end %>
      <p><%= picture.caption%></p>
      <% if picture.comments.any? %>
        <% picture.comments.each do |comment| %>
          <p><%= comment.comment_text %></p>
        <% end %>
      <% end %>
      <%= link_to "Comment", new_picture_comment_path(picture) %>
  </div>
  <% end %>
<% else %>
  <h1>No pictures yet :(</h1>
<% end %>

<%= link_to "Post a picture", new_picture_path %>
