- if @pictures.any?
  - @pictures.each do |picture|
    %h1= link_to picture.title, picture_path(picture)
    = link_to image_tag(picture.image.url(:preview)), picture_path(picture)
    = link_to "Edit #{picture.title}", edit_picture_path(picture)
    = link_to "Delete #{picture.title}", picture_path(picture), method: :delete
- else
  %h4 There aren't any pictures here yet.

= link_to 'Upload a picture...', new_picture_path
