<%= link_to 'Add a picture', new_picture_path %>
<% if @pictures.length == 0 %>
  <h2>No pictures have been added yet</h2>
<% else %>
  <% @pictures.reverse.each do |picture|  %>
    <ul>
      <li>
         <div id='img'>
           <%= image_tag picture.image.url(:medium)%>
           <%= pluralize picture.likes.count, 'Like' %>
           <%= link_to 'Like', picture_likes_path(picture), method: :post %>
           <% picture.comments.each do |comment| %>
             <p><%= comment.description %></p>
           <% end %>
           <%= link_to 'Add comment', new_picture_comment_path(picture) %>
         </div>
       </li>
     </ul>
  <% end %>
<% end %>
