<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:medium) %>
    <h2><%= picture.title %></h2>
    <h5><%= link_to 'Like', picture_likes_path(picture), class: 'like-link'%>
    <span class="likes_count"><%= picture.likes.count %> </span> <%= 'like'.pluralize(picture.likes.count) %> </h5>
    <h5><%= link_to 'Delete picture', picture_path(picture), method: :delete %></h5>
    <h5><%= link_to 'Comment', new_picture_comment_path(picture) %></h5>
    <% if picture.comments.any? %>
      <ul>
        <% picture.comments.each do |comment| %>
          <li>
            <strong><%= comment.user.username %></strong> <%= comment.words %>
            <%= link_to 'Delete comment', comment_path(comment), method: :delete %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <h5>No comments. Yet...</h5>
    <% end %>
    <br>
  <% end %>
<% else %>
  No pictures yet
<% end %>

<%= link_to 'Post a picture', new_picture_path %>
