<% if @pictures.any? %>

<% @pictures.all.each do |picture| %>
<br><%= image_tag picture.image.url(:thumb) %>
<h3><%= link_to picture.caption, picture_path(picture) %></h3>
<% if current_user %>
  <%= link_to "Edit Picture", edit_picture_path(picture) %>
  <%= link_to "Delete Picture", picture_path(picture), method: :delete %>
  <% end %>
<% end %>

<% else %>

<h3>No pictures yet</h3>

<% end %>
<br></br>
<% if current_user %>
  <%= link_to "Add a picture", new_picture_path %>
<% end %>
