
<% @pictures.each do |picture| %>
<div class="col-lg-3 centered box panel panel-default">
  <p><%= link_to image_tag picture.image.url(:medium) %></p>
  <p><%= "Submitted by #{picture.user.email}" %> </p>
  <p><%= link_to "View picture #{picture.image_file_name}", picture %></p>
  <p><%= button_to "Remove #{picture.image_file_name}", picture, method: :delete %></p>
</div>
<% end %>

<%= "No pictures yet" unless @pictures.any? %>
