- if @pictures.any?
  - @pictures.each do |picture|
    %p= image_tag picture.image.url(:thumb)
    %p= link_to picture.description, picture_path(picture)
    %p= link_to "Edit picture description", edit_picture_path(picture)
    %p= link_to "Delete picture", picture_path(picture), method: :delete
-else
  No pictures added yet

= link_to 'Upload a picture', new_picture_path
