<div class="whitebox">
  <h1>Add a picture</h1>
  <%= form_for @picture, html: { multipart: true, :class => "pure-form pure-form-aligned" } do |f| %>
    <%= field_set_tag do %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.label :description %>
      <%= f.text_field :description %>
      <%= f.submit 'Post picture', class: "pure-button pure-button-primary" %>
    <% end %>
  <% end %>
</div>
