<br>
<span class="btn btn-default btn-file">
<%= form_for @picture, html: { multipart: true } do |f| %>
  <span class="btn btn-default btn-file"> Upload <%= f.file_field :image %></span>
  <br>
  <br>
  <span class="btn btn-default btn-file"><%= f.label :title %> :
  <%= f.text_field :title %></span>
  <br>
  <br>
  <%= f.submit %>
<% end %>
</span>