<h2>Upload a picture</h2><br>
<%= form_for(@picture, multipart: true) do |f| %>
   <div class="field">
     <%= f.label :image %><br>
     <%= f.file_field :image %>
   </div><br>
   <div class="actions">
     <%= f.submit 'Upload' %>
     <%= link_to 'Return to pictures', pictures_path, class: 'button' %>
   </div>
<% end %>
