<h2>upload a picture</h2>
<%= form_for(@picture, multipart: true) do |f| %>
  <div class="field">
    <%= f.label :title %><br>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :image %><br>
    <%= f.file_field :image %>
  </div><br>
  <div class="actions">
    <%= f.submit 'Upload', class:'btn btn-primary' %>
    <%= link_to 'Return to profile', '/', class: 'button' %>
  </div>
<% end %>
