<ul class="form">
  <%= form_for @picture, html: {multipart: true} do |f| %>
  <li><%= f.label :image, "Upload Your Picture" %></li>
  <li><%= f.file_field :image %></li>
  <br>
  <li>
    <%= f.label :description %>
    <%= f.text_area :description %>
  </li>
  <li>
    <%= f.submit "Add Picture" %>
  </li>
  <% end %>
</ul>
