  <div class="new-pictures" id="new-pictures">
  <h2>Add photo</h2>
  <%= form_with scope: :picture, url: user_pictures_path do |f| %>
    <tr>
      <th><%= f.label :caption %></th>
      <td><%= f.text_field :caption %></td>
    </tr>
    <tr>
      <th><%= f.label :image %></th>
      <th><%= f.file_field :image %></th>
    </tr>
    <div class="form-buttons">
      <%= f.submit("Create Post") %>
    </div>
  <% end %>
</div>
