<%= render "shared/user_details_header" %>
<h1>Post your lint</h1>

<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
  <p>
    <%= form.label :url %>
    <%= form.text_field :url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to "Back", pictures_path %>
