<%=form_for(@picture, html: {multipart: true}) do |form| %>
<p>
  <%= form.label :instructions, 'Attach an image.' %> <br>
  <%= form.label :title, 'Image title:' %>
  <%= form.text_field :title %><br>
  <%= form.file_field :image %><br>
</p>

<%= form.submit "Upload Picture", class: 'button' %>
<%end%>
