%h2 Add a picture

= form_for @picture, url: pictures_path, html: {multipart: true} do |f|
  = f.label :Title
  = f.text_field :title
  = f.file_field :image, :class => "input-field file-field", id: "imgInp"


  -# <form id="form1" runat="server">
  -#   <input type='file' id="imgInp" />
  -#   <img id="blah" src="#" alt="your image" />
  -# </form>
  = f.submit 'Post', :class => "btn"
