<section class="Add-a-Picture-Form">
  <%= form_for @picture, html: {multipart: true} do |f| %>
    <%= f.label :Add_a_Picture %>
    <%= f.file_field :image %>
    <%= f.label :Add_a_short_description %>
    <%= f.text_field :name %> <br>
    <%= f.submit %>
  <% end %>
</section>