<h1>New picture</h1>
<h3><a href = "/galleries/<%= @gallery.id %>">Back to Gallery "<%= @gallery.name %>"</a></h3>

<!-- DRY ??? Same code (essentially) on galleries -->
<% if @picture.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@picture.errors.count, "error") %> prohibited this picture
      from being saved: </h2>
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<br>

<%= form_for [@gallery, @picture] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Create Picture" %>
<% end %>
