<% if @picture.errors.any? %>
  <section id="errors" >
    <ul>
      <% @picture.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>
<%= form_for @picture, html: {multipart: true} do |f| %>
  <div class="field">
    <%= f.file_field :image %>
  </div>
  <div class="field">
    <%= f.text_field :description,  placeholder: 'Description' %>
  </div>
  <div class="actions">
    <%= f.submit 'Post picture' %>
  </div>
<% end %>
