<%= form_for :picture, url:pictures_path, html: { multipart: true } do |f| %>
<p>
  <%= f.file_field :image, "name" => "file_upload" %>
</p>
<p>
  <%= f.label :Caption %><br>
  <%= f.text_field :caption, "name" => "caption" %>
</p>
<p>
  <%= f.submit "Post Picture" %>
</p>
<% end %>
