<h1>New picture</h1>
<h3><a href = "/galleries/<%= @gallery.id %>">Back to Gallery "<%= @gallery.name %>"</a></h3>
<%= form_for [@gallery, @picture] do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.submit "Create Picture" %>
<% end %>
