  <h1>Add photo</h2>
  <%= form_with scope: :picture, url: pictures_path do |f| %>
    <div>
      <%= f.label :caption %>
      <%= f.text_field :caption %>
    </div>
    <div>
      <%= f.label :image %>
      <%= f.file_field :image %>
    </div>
    <div class="form-buttons">
      <%= f.submit("Create Post") %>
    </div>
  <% end %>
