<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Upload a picture</title>
  </head>
  <body>
    <% if @picture.errors.any? %>
      <section id="errors" >
        <h2><%= pluralize(@picture.errors.count, 'error') %> prohibited this picture from being added:</h2>
        <ul>
          <% @picture.errors.full_messages.each do |message| %>
            <li><%= message %></li>
          <% end %>
        </ul>
      </section>
    <% end %>
    <%= form_for @picture, html: {multipart: true} do |f| %>
      <%= f.label :description, 'Description' %>
      <%= f.text_field :description %>
      <%= f.label :picture, 'Picture' %>
      <%= f.file_field :picture %>
      <%= f.submit 'Upload picture' %>
    <% end %>
  </body>
</html>
