.form-wrapper
  = form_for @picture, html: {class: 'form-horizontal', multipart: true} do |f|
    .form-group
      = f.file_field :image
    .form-group.text-center
      = f.label :description
    .form-group.text-center
      = f.text_field :description
    .form-group.text-center
      = f.submit "Post a picture",  class: 'btn-success'
