<section class="form">
  <%= form_for @picture, html: {multipart: true} do |f| %>
    <%= f.label :title %>
    <br>
    <%= f.text_field :title %>
    <br>
    <br>
    <%= f.file_field :image %>
    <br>
    <br>
    <%= f.submit "Post picture" %>
  <% end %>
</section>
