<h1>New Picture</h1>
<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label "Upload Image" %><br>
  <%= form.file_field :image %>
</p>


<p>
  <%= form.label :caption %><br>
  <%= form.text_area :caption %>
</p>

<p>
  <%= form.submit %><br>
</p>

<% end %>

<%= link_to 'Back', pictures_path %>
