= form_with scope: :picture, url: pictures_path, local: true do |form|
  %h3
    = form.label :image_url
  %br
    = form.text_area :image
  %br
  %h3
    = form.label :description
  %br
  %p
    = form.text_area :description

  %p
    = form.submit
