%h1= @picture.title
-# = image_tag @picture.image.url
%img{ src: @picture.image.url, id: 'pics'  }
%p= @picture.description 
%p= @picture.user.email

= link_to "Back", root_path
= link_to "Edit", edit_picture_path
= link_to "Delete", picture_path, method: :delete, data: { confirm: "Are you sure you want to delete this photo?" } 

