<p>
  <b>Name:<b> <%= @picture.name %>
  <%= link_to "Edit", edit_picture_path(@picture) %> /
  <%= link_to "Delete", picture_path(@picture), method: :delete %>
</p>

<p><%= image_tag @picture.image.url(:medium) %></p>

<%= render "likes" %>

<p> <b><i>Description:</b></i> <%= @picture.description %> </p>

<p> <b>Comments:<b> </p>

<% if @picture.comments.any? %>
  <% @picture.comments.each do |comment| %>
    <div class="container border">
      <h4> <%= comment.comment %> </h4>
      <p> <%= link_to 'Edit', edit_picture_comment_path(@picture, comment) %> /
          <%= link_to 'Delete', picture_comment_path(@picture, comment), method: :delete %>
      </p>
    </div>
  <% end %>

<% end %>

<%= form_for [@picture, @picture.comments.build], url: picture_comments_path(@picture), method: :post do |f| %>

  <p> <%= f.label :comment %> </p>
  <p> <%= f.text_area :comment %> </p>
  <p> <%= f.submit 'Leave comment' %> </p>


<% end %>
