<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.caption %></p>
<% if @picture.comments.any? %>
  <% @picture.comments.each do |comment| %>
    <p><%= comment.comment_text %></p>
  <% end %>
<% end %>
<% if current_user == nil %>
  <p>You need to sign in to comment on pictures</p>
<% elsif current_user.id == @picture.user_id %>
  <p><%= link_to "Comment", new_picture_comment_path(@picture) %></p>
  <p><%= link_to "Edit Caption", edit_picture_path(@picture) %></p>
  <p><%= link_to "Delete Picture", picture_path(@picture), method: :delete %></p>
<% else %>
  <p><%= link_to "Comment", new_picture_comment_path(@picture) %></p>
<% end %>
