<h2><%= @picture.title %></h2>
<%= image_tag @picture.image_url, class: 'img-rounded' %><br>
<% if @picture.comments.any? %>
  <p>Comments</p>
  <% @picture.comments.each do |comment| %>
    <p>Posted by <%= comment.author %></p>
    <p><%= comment.content %></p>
    <p><%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></p>
    <hr>
  <% end %>
<% else %>
	<p>No comments</p>
<% end %>
<br>
<% if user_signed_in? %>
	<%= link_to "Comment", new_picture_comment_path(@picture) %>
<% end %>
<p><%= link_to "Back", pictures_path %></p>

