<p>
  <strong>Title:</strong>
  <%= @picture.title %>
</p>

<p>
  <% if @picture.image.attached? %>
    <image width="600" height="600" src="<%= (url_for(@picture.image)) %>"
  <% end %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<h2>Comments</h2>
<%= render @picture.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
