<h2><%= @picture.title %></h2>
<% if @picture.comments.any? %>
  <p>Comments</p>
  <% @picture.comments.each do |comment| %>
    <p>Posted by <%= comment.author %></p>
    <p><%= comment.content %></p>
    <p><%= comment.created_at.strftime('%b %d, %Y at %H:%M') %></p>
    <hr>
  <% end %>
<% else %>
	<p>No comments</p>
<% end %>
<br>
<p><%= link_to "Comment", new_picture_comment_path(@picture) %></p>
<p><%= link_to "Back", pictures_path %></p>

