<%= image_tag(@picture.image.url(:medium)) %>
<p> <%= @picture.caption %> </h2>
<%= link_to 'Edit', edit_picture_path(@picture) %>
<%= link_to 'Delete', picture_path(@picture), method: :delete %>
<%= link_to '😻', picture_likes_path(@picture) %>
<p> <%= pluralize @picture.likes.count, 'likes' %> </p>
<%= link_to 'Add a comment', new_picture_comment_path(@picture) %>
<% if @picture.comments.any? %>
  <% @picture.comments.each do |comment| %>
    <p><%= comment.thoughts %></p>
  <% end %>
<% end %>
