<p>
  Name: <%= @picture.name %>
  <%= link_to "Edit Picture", edit_picture_path(@picture) %>
  <%= link_to "Delete Picture", picture_path(@picture), method: :delete %>
  <p> <%= link_to 'Like', picture_likes_path(@picture), method: :post %> </p>

</p>

<% if @picture.likes.any? %>
<p id='picture_likes'> <%= pluralize(@picture.likes.size, 'like') %> </p>
<% end %>

<p> <%= @picture.description %> </p>

<p> Comments: </p>

<% if @picture.comments.any? %>
  <% @picture.comments.each do |comment| %>
    <p> <%= comment.comment %> </p>
    <p> <%= link_to 'Edit comment', edit_picture_comment_path(@picture, comment) %> </p>
    <p> <%= link_to 'Delete comment', picture_comment_path(@picture, comment), method: :delete %> </p>
  <% end %>

<% else %>

<p> No comments </p>

<% end %>

<p> <%= link_to "Leave a comment", new_picture_comment_path(@picture) %> </p>
