<p id="notice"><%= notice %></p>

<!-- <p>
  <strong>Name:</strong>
  <%= @picture.name %>
</p> -->
<%= image_tag @picture.image.url(:large) %>

<!-- <p>
  <strong>Postdatetime:</strong>
  <%= @picture.postDateTime %>
</p>

<p>
  <strong>Latitude:</strong>
  <%= @picture.latitude %>
</p>

<p>
  <strong>Longitude:</strong>
  <%= @picture.longitude %>
</p> -->

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
