<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @picture.likes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @picture.comments %>
</p>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
