
<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.description%></p>
  <% if @picture.belongs_to?(current_user) %>
    <%= link_to "Edit", edit_picture_path(@picture) %>
    <%= link_to 'Delete', picture_path(@picture), method: :delete, data: {confirm: "Are you sure?"} %>
  <% end %>
  <% if @picture.instagratifications.length == 0 %>
  No ♥ :<
  <% else %>
    <%= @picture.instagratifications.length %> ♥
  <% end %>
<% @picture.comments.each do |comment| %>
<p>
  <% if comment.belongs_to?(current_user) %>
    <%= link_to 'x', picture_comment_path(@picture, comment), method: :delete %>
  <% end %>
  <%= comment.content %></p>
<% end %>

<% if current_user %>
<%= link_to "♡", picture_instagratifications_path(@picture), method: :post %>
  <ul class="form">
    <%= form_for [@picture, @comment] do |f| %>
    <li>
      <%= f.label :content, "Add Comment" %>
      <%= f.text_area :content %>
    </li>
    <li>
      <%= f.submit "Submit" %>
    </li>
    <% end %>
  </ul>
<% end %>
