<div class="post" id="post">
  <%= image_tag(@picture.image.url, class: 'post-img', alt: 'Photo') %>
  <div class="caption" id="caption">
    <h2 class="caption"><%= @picture.caption %></h2>
  </div>
  <div class="email" id="email">
    <%= @picture.user.email %>
  </div>
  <div class="edit" id="edit">
    <% if @picture.user.id == current_user.id %>
      <%= link_to "Delete Photo", picture_path(@picture), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>
    <% end %>
  </div>
  <div class="comment" id="comment">
    <%= link_to('Add comment', new_picture_comment_path(@picture.id)) %>
  </div>
  <div class="comments" id="comments">
    <% if @picture.comments %>
      <% @picture.comments.each do |comment| %>
        <div class="comm" id="comm">
          <%= comment.content %>
          by <%= comment.user.email %>
        </div>
      <% end %>
    <% end %>
  </div>
</div>
