<h2><%= @picture.title %></h2>
<p><%= @picture.username %></p>
<p><%= @picture.description %></p>
<%= image_tag @picture.image.url(:medium) %>
<hr>
<%= link_to "Edit #{@picture.title}", edit_picture_path(@picture) %>
<%= link_to "Delete #{@picture.title}", picture_path(@picture), method: :delete %>
