%p
  %h3= @picture.title
%p
  = link_to 'Edit', edit_picture_path
  = link_to 'Delete', picture_path, method: :delete
%p= image_tag @picture.image.url(:medium)
= link_to 'Comment', new_picture_comment_path(@picture)

%ul
  - if @picture.comments.any?
    - @picture.comments.each do |comment|
      %li
        %h4= comment.thoughts
