<p id="notice"><%= notice %></p>

<p>
  <strong></strong>
  <%= image_tag @picture.image %>
</p>

<p>
  <strong></strong>
  <%= @picture.caption %>
</p>

<%= render 'comments/comment' %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
