<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @picture.caption %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @picture.likes %>
</p>

<p>
  <strong>Comments:</strong>
  <%= @picture.comments %>
</p>
<p>
<div style = 'width:400px; height:auto'>
<%= image_tag(@picture.image, style:'width:100%') %>

<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
