%p
  %h3= @picture.title == '' ? 'Untitled' : @picture.title

  %p
    - if user_signed_in? && current_user.is_owner_of?(@picture)
      = link_to 'Edit', edit_picture_path
      = link_to 'Delete', picture_path, method: :delete

%p= image_tag @picture.image.url(:medium)

%p
  = "Likes: #{@picture.likes.count}"

- if user_signed_in? && !@picture.has_been_liked_by?(current_user)
  %p= link_to 'Like', new_picture_like_path(@picture)
- if user_signed_in? && @picture.has_been_liked_by?(current_user)
  %p= link_to 'Unlike', like_path, method: :delete
- if user_signed_in?
  %p= link_to 'Comment', new_picture_comment_path(@picture)
- else
  %p= 'Sign up/in to leave a comment'

%ul
  - if @picture.comments.any?
    - @picture.comments.each do |comment|
      %li
        %strong= comment.thoughts
        - if user_signed_in? && current_user.is_owner_of?(comment)
          = link_to 'Edit comment', edit_comment_path(comment)
          = link_to 'Delete comment', comment_path(comment), method: :delete
