<div class="bigger_whitebox">
  <h3><%= @picture.description %></h3>
  <%= image_tag @picture.image.url(:medium) %>
  <p><%= pluralize @picture.likes.count, 'like' %></p>
  <% if @comments.any? %>
    <% @comments.each do |c| %>
    <div class="comments">
      <p class="comment_text">"<%= c.comment %>"</p>
      <p class="comment_date"><%= c.created_at.strftime("%d %b %Y - %H:%M") %></p>
    </div>
    <% end %>
  <% else %>
    <p>No comments have been added yet.</p>
  <% end %>
  <div class="picture_links">
    <%= link_to "Edit", edit_picture_url(@picture.id), class: "pure-button" %>
    <%= link_to "Delete", picture_path(@picture), method: :delete, class: "pure-button" %>
    <%= link_to "Like", new_picture_like_path(@picture), class: "pure-button" %>
    <%= link_to "Comment", new_picture_comment_path(@picture), class: "pure-button" %>
  </div>
</div>
