<%= image_tag @picture.image.url(:medium) %>
<p><%= @picture.caption %></p>
<% if @picture.comments.any? %>
  <% @picture.comments.each do |comment| %>
    <p><%= comment.comment_text %></p>
  <% end %>
<% end %>

<p><%= link_to "Edit Caption", edit_picture_path(@picture) %></p>
<p><%= link_to "Delete Picture", picture_path(@picture), method: :delete %></p>
