- if @posts.any?
  - @posts.each do |post|
    %h4= link_to post.caption, post_path(post)
    %h4= link_to "Edit #{post.caption}", edit_post_path(post)
    %h4= link_to "Delete #{post.caption}", post_path(post), method: :delete
-else
  No posts yet

%a(href='posts/new') Add a post
