%h3=link_to  "Upload Image", new_photo_path

- if @photos.any?
  - @photos.each do |photo|
    %h2= link_to photo.name, photo_path(photo)
    %h3= photo.description
    = image_tag photo.image.url(:medium)
    %h4= link_to "Comment", new_photo_comment_path(photo)
    %h4 
      Comments for
      = photo.name
    - if photo.comments.any?
      %ul
        - photo.comments.each do |comment|
          %li
            = comment.thoughts
    - else
      %p No comments 

    
- else 
  %h1 No photos yet!