<!DOCTYPE html>
<html>
  <head>
    <title>Instafam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>
    <%= link_to 'Home', root_path %>
    <%= link_to 'New Post', new_post_path %>

    <br>
    <h2>Welcome, <%= current_user.username %><h2>


    <%= yield %>
  </body>
</html>
