<!DOCTYPE html>
<html>
  <head>
    <title>Instafam</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if user_signed_in? %>
      <%= link_to 'My Posts', my_posts_path %>
      <%= link_to 'Logout', destroy_user_session_path, method: :delete, data: {confirm: "Are you sure you want to sign out?"} %>
    <% else %>
      <%= link_to 'Login', new_user_session_path %>
      <%= link_to 'Register', new_user_registration_path %>
    <% end %>
    <%= link_to 'Home', root_path %>
    <%= link_to 'New Post', new_post_path %>

    <br>
    <% if user_signed_in? %>
      <h2>Welcome, <%= current_user.username %></h2>
    <% end %>

    <br>
    <% flash.each do |a, b| %>
      <div class="flash"><%= b %></div>
    <% end %>

    <%= yield %>
  </body>
</html>
