<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @post.user.user_name %>
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
    <div class="text-center">
      <% if @post.user.id == current_user.id %>
        <%= link_to "Cancel", posts_path %>
        <%= link_to "Edit Post", edit_post_path(@post) %>
      <% else %>
        <%= link_to "Cancel", posts_path %>
      <% end %>
    </div>
  </div>
</div>
