<% if @pictures.any? %>
  <% @pictures.each do |picture| %>
    <%= image_tag picture.image.url(:thumb) %>
    <h2> <%= picture.title %> </h2>
    <%= link_to picture.title, picture_path(picture) %>
    <%= link_to "Edit #{picture.title}", edit_picture_path(picture) %>
    <%= link_to "Delete #{picture.title}", picture_path(picture), method: :delete %>

  <% end %>
<% else %>
  No pictures yet
<% end %>

<a href='pictures/new'>Add a picture</a>