<h2> Post a picture </h2>
<%= form_for Picture.new, html: {multipart: true} do |f| %>

<div class='form-group'>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
</div>
<div class ='form-group'>
  <%= f.label :image %>
  <%= f.file_field :image%>
</div>
  <%= f.submit %>
<% end %>
