<p class="creator">
  <%= photo.user.username %>
<p>

<a href="<%= photo_path(photo) %>" class="image">
  <%= image_tag photo.image.url(:large) %>
</a>
<p><%= photo.status %></p>
<%= pluralize photo.likes.count, "like" %>

<% if user_signed_in? && photo.created_by?(current_user) %>
  <div class="edit-status">
    <%= link_to "Edit", edit_photo_path(photo) %>
  </div>
  <%= link_to "Delete", photo_path(photo), method: :delete %>
<% end %>

<% if photo.comments.any? %>
  <% photo.comments.each do |comment| %>
    <ul>
      <%= comment.user.username %> <%= comment.content %>
      <% if user_signed_in? && comment.created_by?(current_user) %>
        <div class="edit-comment">
          <%= link_to "Edit", edit_comment_path(comment) %>
        </div>
        <div class="delete-comment">
          <%= link_to "Delete", comment_path(comment), method: :delete %>
        </div>
      <% end %>
    </ul>
  <% end %>
<% end %>

<div>
  <% if user_signed_in? %>
    <%= link_to "Like", photo_likes_path(photo), method: :post %>
    <%= form_for [photo, photo.comments.new] do |f| %>
      <%= f.text_field :content, placeholder: "Add a comment" %>
      <%= f.submit "Send" %>
    <% end %>
  <% end %>
</div>
