<%= form_for @photo, url: photos_path, html: { multipart: true }, class: "form-group" do |form| %>
 


  <p>
    <%= form.file_field :image %>
  </p>


  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description, class: "form-control", row: "5" %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>