<%= form_for @photo, url: photos_path, html: { multipart: true } do |form| %>

  <div class="upload">
    <%= form.file_field :upload_file %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_field :caption, id: :photo_caption %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
