<%= form_for @photo, url: photos_path, html: { multipart: true } do |form| %>
 

  <p>
    <%= form.label :image %><br>
    <%= form.file_field :image %>
  </p>


  <p>
    <%= form.label :Description %><br>
    <%= form.text_area :description %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
<% end %>