<p id="notice"><%= notice %></p>

<table class="table text-centered">
  <tbody>
    <% @photos.reverse.each do |photo| %>
      <tr>
        <td><%= image_tag(photo.image_url.to_s) %></td>
      </tr>
        <td><%= link_to 'Show', photo %></td>
      <tr>
      </tr>
      <tr>
        <td><%= photo.description %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Photo', new_photo_path %>
