<table class="table text-centered">
  <tbody>
    <% @photos.reverse.each do |photo| %>
    <% @photo = photo %>
      <tr>
        <td><strong><%= photo.user.username %></strong> at <%= photo.local_time_stamp %> <%= photo.local_date_stamp %> <%= link_to 'Show', photo %></td>
      </tr>
        <td><%= image_tag(photo.image_url.to_s) %></td>
      <tr>
        <td><%= photo.description %></td>
      </tr>
      <tr>
        <td><%= render photo.comments %></td>
      </tr>
      <% if current_user %>
      <tr>
        <td><%= render 'comments/form' %></td>
      </tr>
      <% end %>
    <% end %>
  </tbody>
</table>

<br>
