.photo-container#edit
  = image_tag(@photo.photo_url, class: 'img-responsive')
  %br/
  .form-container
    = form_for @photo do |f|
      .form-group
        = f.label :description
        = f.text_field :description, class: 'form-control'
      .form-group
        = f.submit 'Save changes', class: 'btn btn-primary'
