<div class='container'>
  <%= form_for @photo do |f| %>
    <%= f.label :caption %>
    <%= f.text_field :caption %></br>
    <%= f.label :location %>
    <%= f.text_field :location %></br>
    <%= f.submit 'Update Photo', id:'update-btn' %>
  <% end %>
</div>
