<section class="photo-upload-form">
  <%= form_for @photo, method: :patch do |f| %>
    <div class="description">
      <%= f.label :description %><br>
      <%= f.text_area :description, value: @photo.description %>
    </div>
    <div class="tags">
      <%= f.label "Tags (must be space-separated)" %><br>
      <%= f.text_field :tags, value: all_tags_to_string(@photo) %>
    </div><br>
    <div class="filters">
      <%= f.radio_button :filter, "none", value: true %>
      <%= label_tag(:filter, "None") %>
      <%= f.radio_button :filter, "lomo" %>
      <%= label_tag(:filter, "Lomo") %>
      <%= f.radio_button :filter, "gotham" %>
      <%= label_tag(:filter, "Gotham") %>
      <%= f.radio_button :filter, "greyscale" %>
      <%= label_tag(:filter, "Greyscale") %>
    </div><br>
    <div class="actions">
      <%= f.submit "Edit" %>
    </div>
  <% end %>
</section>
