<section class="photo-upload-form">
  <%= form_for @photo, method: :patch do |f| %>
    <div class="description">
      <%= f.label :description %><br>
      <%= f.text_area :description, value: @photo.description %>
    </div><br>
    <div class="tags">
      <%= f.label :tags %><br>
      <%= f.text_field :tags, value: all_tags_to_string(@photo) %>
    </div><br>
    <div class="actions">
      <%= f.submit "Edit" %>
    </div>
  <% end %>
</section>
