<div class="wrapper_skinny">
  <% if @photos.any? %>
    <div id="add-photo">
      <%= link_to "Add a photo", new_photo_path %>
    </div>
    <% @photos.each do |photo| %>
      <div id="photo-content">
        <ul>
          <li>
            <div class="photo-time">
              <i><%= "#{time_ago_in_words(photo.created_at)} ago" %></i>
            </div>
            <%= image_tag photo.image.url(:large), class: 'photo-image' %>
            <div class="photo-caption">
              <%= photo.caption %><hr> <span><%= link_to "Edit caption", edit_photo_path(photo) %> | <%= link_to "Delete post", photo_path(photo), method: :delete %></span>
            </div>
          </li>
        </ul>
      </div>
    <% end %>
  <% else %>
    <div id="add-photo">
      <h3>Oh no, it seems there are no photos to display</h3>
      <%= link_to "Add a photo", new_photo_path %>
    </div>
  <% end %>
</div>
