<div class="central_divide">
  <% if @photos.all.any? %>
    <% @photos.all.reverse.each do |photo| %>
      <div class="photo_box">
        <div class="username"><%= photo.username %></div>
        <div class="timestamp"><%= relative_time(photo.created_at) %></div>
        <% if photo.image_file_name %>
          <div class="image"><%= link_to image_tag(photo.image.url(:thumb)), photo_path(photo), class: "photolink" %></div>
        <% end %>
        <div class="favourites_box">
          <span class="favourites_count"> <%= photo.favourites.length %> </span> <span class="favourite_text"><%= 'Favourite'.pluralize(photo.favourites.count) %></span>
          <%= link_to image_tag('heart.png'), photo_favourites_path(photo), class: 'favourites-link' %>
        </div>
        <div class="caption"><%= photo.caption %></div>
        <% if photo.comments.any? %>
            <% photo.comments.each do |comment| %>
              <div class="comment"><%= comment.username %> said <%= comment.comment %> </div>
              <% if current_user %>
                <% if comment.user_id == current_user.id %>
                  <%= link_to "Delete Comment", photo_comment_path(photo, comment), method: :delete %> </br>
                <% end %>
              <% end %>
          <% end %>
        <% else %>
          <p>No Comments</p>
        <% end %>
        <% if current_user %>
          <% if photo.user_id == current_user.id %> 
            <%= link_to "Edit #{photo.caption}", edit_photo_path(photo) %>
            <%= link_to "Delete #{photo.caption}", photo_path(photo), method: :delete %>
          <% end %>
          <%= link_to "Leave a comment", new_photo_comment_path(photo) %>
        <% end %>
      </div>
    <% end %>
  <% else %>
    <h1>No photos yet</h1>
  <% end %>
</div>


<%= link_to 'Post a photo', new_photo_path() %>
