%h3=link_to  "Add a photo", new_photo_path

- if @photos.any?
  %h1 Sweet Sweet Photos!!
  - @photos.each do |photo|
    = image_tag photo.image.url(:medium)
    = link_to "Edit #{photo.caption}", edit_photo_path(photo)
    = link_to "Delete #{photo.caption}", photo_path(photo), method: :delete

- else
  %h1 No photos yet!