.posts-wrapper.row
  - if @photo.any?
    - @photo.each do |photo|
      .post
        .post-head
          .name
            =photo.user.email
        .text-center
          =link_to (image_tag photo.image.url(:medium)), photo_path(photo)
          %p.caption
            =photo.caption

            .br
            - if photo.comments
              - photo.comments[0..2].each do |comment|
                = link_to comment.user.email, "#"
                |
                = comment.content
                - if comment.user == current_user
                  = link_to photo_comment_path(photo, comment), method: :delete, data: { confirm: "Are you sure?" } do
                    %span(class="glyphicon glyphicon-remove delete-comment")

                .br
            - if photo.comments[3]
              = link_to "...", photo_path(photo)
            - if current_user
              = form_for [photo, photo.comments.new] do |f|
                = f.text_field :content, placeholder: 'Add a comment...'
                = f.button :submit
  - else
    %h1 No photos have been posted!
