- if @photos.any?
  - @photos.each do |photo|
    = link_to (image_tag photo.image.url(:medium)), photo_path(photo)
    = photo.caption
    = link_to 'Like', photo_likes_path(photo), method: :post
    %p= pluralize photo.likes.count, 'likes'
    = link_to 'Edit photo', edit_photo_path(photo)
    = link_to 'Upload photo', new_photo_path
    = link_to 'Comment', new_photo_comment_path(photo)
    = link_to 'Delete photo', photo_path(photo), method: :delete

- else
  %h2 No photos uploaded yet!
  = link_to 'Upload photo', new_photo_path
