%meta(charset="UTF-8")
%h2 Instagram
- if @photos.any?
  - @photos.each do | photo |
    = image_tag photo.image.url(:medium)
    = link_to "Comment", new_photo_comment_path(photo)
    = link_to "Like", photo_likes_path(photo), class: 'likes-link'
    %span.likes_count= photo.likes.count
    %p= 'like'.pluralize photo.likes.count
    - if photo.comments.any?
      %ul
        - photo.comments.each do |comment|
          %li
          = comment.comment
- else
  No photos yet!

%a(href='/photos/new') Add a photo
