<p id="notice"><%= notice %></p>

<h1>Photo stream</h1>

<table>
  <thead>
    <tr>
      <th>Caption</th>
      <th>Location</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% if @photos.any? %>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= link_to (image_tag photo.image.url(:medium)), photo_path(photo) %></td>
        <td><%= photo.caption %></td>
        <td><%= photo.location %></td>
        <td><%= photo.get_username %></td>
        <td><%= link_to 'Edit', edit_photo_path(photo) %></td>
        <td><%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <td> <div id="comments_wrapper">
          <% @photo = photo %>
          <%= render :partial => 'likes/new' %>
          Likes: <%= photo.likes.count %>
          <%= render :partial => 'comments/form' %>
          <%= link_to 'Comment', new_photo_comment_path(photo) %>
            <% photo.comments.each do |comment|%>
            <p> <%= comment.content %> <p>
              <% end %>

        </div></td>
      </tr>
    <% end %>
    <% else %>
      <h1>No photos yet</h1>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'Post a photo', new_photo_path %>
