<p id="notice"><%= notice %></p>

<%= link_to 'Post a photo', new_photo_path %>

<% if @photos.any? %>
<% @photos.each do |photo| %>

<div id="post-container">



  <div id="img-container">
    <%= link_to (image_tag photo.image.url(:medium)), photo_path(photo), id: "img" %>
    <div id="img-info">
      <div id="user-info">
        <%= photo.get_username %>
      </div>
      <div id="img-caption">
        <%= photo.caption %>
      </div>
    </div>
    <div id="img-actions">
      <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Delete', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </div>

  </div>

  <div id="img-location">
    <%= photo.location %>
  </div>

  <div id="likes-comments-container">
    <% @photo = photo %>
    <%= render :partial => 'comments/form' %>

    <div id="comments-wrapper">
      <% photo.comments.each do |comment|%>
        <strong> <%= comment.get_username %></strong> <%= comment.content %> <br>
      <% end %>
    </div>

        <div id="likes-wrapper">
          <%= render :partial => 'likes/new' %>
          Likes: <%= photo.likes.count %>
        </div>
      </div>
    </div>

    <% end %>
    <% else %>
    <h1>No photos yet</h1>
    <% end %>

    <br>
