<head>
 <meta charset='utf-8'>
</head>

<body>
  <div class="container-fluid">
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row">
      <div class="col">
      </div>
      <div class="col">
        <h3>All posts</h3>
        <% @photos.each do |photo| %>
            <%= image_tag(photo.image, :size => "180x180") if photo.image.attached?%>
            <br>
            <%= photo.caption %>
            <br>
            Posted by: <%= photo.user.name %>
            <%= button_to 'Show/Comment', photo_path(photo), method: :get, type: "button", class: "btn btn-dark" %>
            <br>
            <%= button_to "Like", photo_likes_url(photo), method: :post, type: "button", class: "btn btn-dark"  %>
            <br>
        <% end %>
      </div>
      <div class="col">
      </div>
    </div>
  </div>
</body>
