= link_to "Upload photo", new_photo_path

- if @photos.any?
  %ul
    - @photos.each do |photo|
      %li
        %h4= photo.description
        %figure{class: photo.filter_class}
          = image_tag photo.image.url(:medium)
        %p= link_to 'Add filter', photo_path(photo)
        - if (current_user && !current_user.has_liked?(photo))
          = link_to "#{'&#9825'}".html_safe, photo_likes_path(photo), method: :post, class: 'like_link'
        = "Uploaded by: #{User.find(photo.user_id).username} #{distance_of_time_in_words(Time.at(photo.image_updated_at), Time.now)} ago"
        %p= "#{'&#9829'} #{photo.likes.count} #{' like'.pluralize photo.likes.count}: #{User.get_usernames(photo.likes)}".html_safe
        - if photo.comments.any?
          %ul
            - photo.comments.each do |comment|
              %li
                = comment.comment
                %p= "Left by:  #{User.find(comment.user_id).username} #{distance_of_time_in_words(Time.at(comment.created_at), Time.now)} ago"
                - if (current_user && current_user.owns?(comment))
                  =link_to 'Delete comment', comment_path(comment), method: :delete
        %p= link_to "Add comment", new_photo_comment_path(photo)

        - if (current_user && current_user.owns?(photo))
          %p= link_to "Delete photo", photo_path(photo), method: :delete
