<banner>
  <h1> InstaGratification <h1>
  <h3><%= link_to "InstaGratify", new_photo_path %></h3>
</banner>

<section class="photo_feed">
<% if @photos.any? %>
  <% @photos.each do |photo| %>
  <figure class="med_photo_feed_item" id="<%= photo.id %>">
  <%= image_tag(photo.image.url(:medium)) %>
</figure>
<aside class="photo_feed_info">
  <h3 class="photo_caption">
  <%= photo.caption %>
  </h3>
  <h4 class="time_ago">
    <%= "Sought InstaGratification #{post_recency(photo.created_at)} ago" %>
  </h4>
  <%= image_tag(photo.user.profile_pic.url(:thumb)) %>
  <%= photo.user_name %>
  <p class="timestamp">
    <%= post_exact_time(photo.created_at) %>
  </p>
  <%= render 'user_photo_options', photo: photo %>
</aside>
  <% end %>
</section>
<% else %>
  <h1> Nobody is using our site :'( <h1>
<% end %>
