
<%= link_to "Post a photo", controller: "photos", action: "new" %>

  <br></br>

<% if @photos.any? %>
  <% @photos.reverse.each do |photo|%>
    <%= image_tag photo.image.url(:medium) %>
    <h4> <%=  photo.caption %> </h4>
    <%= link_to "Comment", new_photo_comment_path(photo) %> <%= link_to "View Comments", comment_path(photo) %>

    <h4> React with: </h4>
    <br></br>
  <% end %>
<% else %>
  <h4> Be the first to post a photo </h4>
<% end %>
