<% if @photos.all.any? %>
  <% @photos.all.each do |photo| %>
    <h2><%= link_to photo.caption, photo_path(photo) %></h2>
    <% if photo.comments.any? %>
    <h3>Comments for <%= photo.caption %></h3>
      <ul>
        <% photo.comments.each do |comment| %>
          <li>
            <%= comment.comment %>
            <% if current_user %>
              <% if comment.user_id == current_user.id %>
                <%= link_to "Delete Comment", photo_comment_path(photo, comment), method: :delete %>
              <% end %>
            <% end %>
          </li>
        <% end %>
      </ul>
    <% else %>
      <p>No Comments</p>
    <% end %>
    <% if current_user %>
      <% if photo.user_id == current_user.id %> 
        <%= link_to "Edit #{photo.caption}", edit_photo_path(photo) %>
        <%= link_to "Delete #{photo.caption}", photo_path(photo), method: :delete %>
      <% end %>
      <%= link_to "Leave a comment", new_photo_comment_path(photo) %>
    <% end %>
  <% end %>
<% else %>
  <h1>No photos yet</h1>
<% end %>


<%= link_to 'Post a photo', new_photo_path() %>
