- if @photos.any?
  - @photos.each do |photo|
    %h3= link_to photo.title, photo_path(photo)
    %p= photo.description
    = link_to "Like #{photo.title}", photo_likes_path(photo), method: :post
    %p= pluralize photo.likes.count, 'like'
    - photo.comments.each do |comment|
      %p= comment.thoughts
    = link_to "Comment on #{photo.title}", new_photo_comment_path(photo)
    = link_to "Edit #{photo.title}", edit_photo_path(photo)
    = link_to "Delete #{photo.title}", photo_path(photo), method: :delete
- else
  No photos yet

= link_to 'Add a photo', new_photo_path
