<% if @photos.empty? %>
  No photo yet
<% else %>
  <% @photos.each_with_index do |photo, i| %>
    <div id="photo<%=i%>">
      <h3><%= photo.title %></h3>
      <%= link_to image_tag(photo.image.url :medium), photo_path(photo) %><br/>
      <%= link_to photo.user.email, "users/#{photo.user_id}/photos" %>
      <%= link_to 'Comment', new_photo_comment_path(photo) %>
      <%= link_to 'Like', photo_photo_likes_path(photo), method: :post %>
      <% if photo.photo_likes.present? %>
        <%= pluralize photo.photo_likes.count, 'like' %><br/>
      <% end %>
      Comments:
      <% photo.comments.each_with_index do |comment, j| %>
      <div id="photo<%=i%>comment<%=j%>">
        <%= comment.content %>
        <%= link_to 'Like', photo_comment_comment_likes_path(photo, comment), method: :post %><br/>
        <% if comment.comment_likes.present? %>
          <%= pluralize comment.comment_likes.count, 'like' %>
        <% end %>
      </div>
      <% end %>
    </div><br/>
  <% end %>
<% end %><br/>
<%= link_to 'Add photo', new_photo_path %>
