<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<table>
  <tbody>
    <% @photos.each do |photo| %>
      <tr>
        <td><%= image_tag photo.image.url(:medium) %></td>
        <td><%= photo.title %></td>
        <td><%= button_to 'Edit', photo, method: :get, class: 'button' %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= button_to('New Photo', { action: 'new' }, method: :get, class: 'button')%>
