<% if Photo.all.any? %>
  <% Photo.all.each do |photo| %>

    <h2><%= photo.title %></h2>
    <%= image_tag photo.image.url(:medium) %>
    <%= link_to( "Show photo", photo_path(photo), method: :get) %>
    <%= link_to( "Edit", edit_photo_path(photo)) %>
    <%= link_to "Delete", photo_path(photo), method: :delete %>
  <% end %>
<% else %>
  <h1>No photo yet</h1>

<% end %>


<%= link_to( "Add a photo", new_photo_path) %>