<% if @photos.all.any? %>
   <% @photos.all.each do |photo| %>
      <ul>
        <a href="<%= photo_path(photo) %>" class="image">
          <%= image_tag photo.image.url(:large) %>
        </a>
       <p><%= photo.caption %></p>
       <%= link_to "Edit", edit_photo_path(photo) %>
       <%= link_to "Delete", photo_path(photo), method: :delete %>
      </ul>
   <% end %>
 <% else %>
   <h1>No photos yet!</h1>
 <% end %>



<%= link_to "Add Photo", new_photo_path %>
