- if @photos.any?
  - @photos.each do |photo|
    %h3
      Comment for
      = photo.title

      - if photo.comments.any?
        %ul
          - photo.comments.each do |comment|
            %li
              = comment.thoughts
      - else
        %p No comments

        %p= link_to photo.title, photo_path(photo)
        %p= link_to "Edit #{photo.title}", edit_photo_path(photo)
        %p= link_to "Delete #{photo.title}", photo_path(photo), method: :delete
        %p= link_to "Comment #{photo.title}", new_photo_comment_path(photo)

- else
  %h1 No photos added!

%h3= link_to "Add a photo", new_photo_path