= link_to "Upload photo", new_photo_path

- if @photos.any?
  <ul>
  - @photos.each do |photo|
    %li= photo.description
    %p= image_tag photo.image.url(:thumb)
    - if photo.comments.any?
      <ul>
      - photo.comments.each do |comment|
        %li= comment.comment
        =link_to 'Delete comment', comment_path(comment), method: :delete
      </ul>
    = link_to "Delete photo", photo_path(photo), method: :delete
    = link_to "Add comment", new_photo_comment_path(photo)

  </ul>
