- if @photos.any?
  - @photos.each do |photo|
    = link_to photo.title, photo_path(photo)
    %p= photo.description
    = link_to "Edit #{photo.title}", edit_photo_path(photo)
- else
  No photos yet

= link_to 'Add a photo', new_photo_path
