<% if @photo.any? %>
  <% @photo.each do |photo| %>
    <li>
      <%= image_tag photo.image.url(:thumb) %>
      <%= link_to "Delete", photo_path(photo), method: :delete %>
      <%= link_to "Comment", new_photo_comment_path(photo) %>
      <%= pluralize photo.likes.count, 'likes' %>
      <% if photo.comments.any? %>
        <ul>
          <% photo.comments.each do |comment| %>
            <li>
              <%= comment.thoughts %>
            </li>
          <% end %>
        </ul>
      <% end %>
    </li>
  <% end %>
<% else %>
  <h1>No photos added yet</h1>
<% end %>


<a href="photos/new">Add a photo</a>
