<% if @photo.any? %>
	<% @photo.each do |photo| %>
	<p> <%= link_to (image_tag photo.image.url(:medium)), photo_path(photo) %><p> 
	<p><%= photo.description %> <p>
	<p><%= photo.created_at.strftime("Added on %m/%d/%Y")%> </p>
	<p><%=link_to "Add a comment", new_photo_comment_path(photo) %> </p>

			<% if photo.comments.any? %>
				<% photo.comments.each do |comment| %>
				<li>
				<%= comment.body %>
				</li>
				<%end%>		
		<% else %>
			<p>No comments</p>
		<% end %>
	<% end %>

<% else %>
No photos added yet
<% end %>


<a href= 'photos/new'> Add a photo </a> <br>