<% if @photos.any? %>

  <% @photos.each do |photo| %>
    <a id="photo_link" href="<%= photo_path(photo) %>">
      <%= image_tag photo.image.url(:medium), :class => 'img-responsive img-thumbnail' %>
    </a>
    <p><%= photo.description %></p>

    <div class="btn-group btn-group-sm" role="group" aria-label="...">
      <%= link_to "Edit Photo", edit_photo_path(photo), :class => 'btn btn-default' %>
      <%= link_to "Delete Photo", photo_path(photo), method: :delete, :class => 'btn btn-default' %>
    </div>
    <hr>
  <% end %>

<% else %>
  <h1>No photos yet</h1>
<% end %>

<%= link_to "Add Photo", new_photo_path, :class => 'btn btn-primary' %>
