<h1>PhotoFeed</h1>
<%= link_to 'Post Photo', new_photo_path %><br><br>

<% @photos.each do |photo| %>
  <%= photo.title %><br>
  <%= image_tag photo.image.url(:medium) %><br>
  <%= link_to "Like #{ photo.get_likes.size }", edit_photo_path(photo.id), class: "like #{photo.id.to_s}" %><br>
  Added by <%= photo.user.email %> at <%= photo.local_time_stamp %><br><br>
<% end %>
