<p id="notice"><%= notice %></p>

<h1>Photos</h1>

<% @photos.each do |photo| %>
   <div class="Post">
    
    <%= image_tag photo.photo %>
    <%= photo.description %>
        
    <span>
        <%= link_to 'Show', photo %>
       <%= link_to 'Edit', edit_photo_path(photo) %>
      <%= link_to 'Destroy', photo, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
<% end %>


<br>

<%= link_to 'Create Post', new_photo_path %>