<%= form_for @photo, html: {multipart: true} do |f| %>
  <div class="form-group col-sm-offset-2 col-sm-6">
    <%= f.label :description, class: "control-label" %>
    <%= f.text_field :description, class: "form-control" %>
  </div>
  <div class="form-group col-sm-offset-2 col-sm-6">
    <%= f.file_field :image, class: "form-control" %>
  </div>
  <div class="form-group col-sm-offset-2 col-sm-6">
    <%= f.submit "Upload", class: "btn btn-default" %>
  </div>
<% end %>
