<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>
<%= form_for :article, html: {multipart: true} do |f| %>
  <p>
    <%= f.label :image_title, "Image Title:" %><br>
    <%= f.text_field :image_title %><br>
  </p>

  <p>
    <%= f.label :image, "Upload your image:" %>
    <%= f.file_field :image %>
  </p>
<% end %>

