<%= form_for(@photo, html: {multipart: true}) do |form| %>
<p>
  <%= form.label :instructions, 'Upload a photo' %> <br>
  <%= form.label :title, 'Photo title' %><br>
  <%= form.text_field :title %><br>
  <%= form.file_field :image %><br>
</p>
<%= form.submit "Upload" %>
<% end %>
