- if @photo.errors.any?
  %section#errors
    %h2
      = pluralize @photo.errors.count, "error"
      prohibited this post from being saved:
    %ul
      - @photo.errors.full_messages.each do |message|
        %li= message
= form_for @photo do |f|
  = f.label :title
  = f.text_field :title
  = f.submit
