<div class='container'>
  <h2>Show the world your breakfast!</h2>
    <%= form_for @photo, html: {multipart: true} do |f| %>
      <%= f.label :caption %>
      <%= f.text_field :caption %>
      <%= f.label :location %>
      <%= f.text_field :location %>
      <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.submit 'Upload Photo'%>
    <% end %>
</div>
