.row
  .large-12.columns
    = form_for @photo, html: { multipart: true } do |f|
      = f.label :title
      = f.text_field :title
      = f.label :photo
      = f.file_field :image
      = f.submit 'Create Photo',  class: "button"