
<div class="photo_container">

  <div class="comment_container">

    <%= form_for :photo, url: photos_path do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.label :photo_file %>
        <%= f.text_field :photo_file %>
      </p>

      <p>
        <%= f.submit class: "btn btn-primary btn-sm" %>
      </p>
    <% end %>

  </div>

</div>
