.new-photo
  = form_for @photo, html: {multipart: true} do |f|
    %h2 Upload your photo:
    = f.label :caption, 'Title:'
    %br
    = f.text_field :caption
    %br
    Add your photo: 
    = f.file_field :image
    %br
    = f.submit "Post"
