

  <center>
  <br><h2>Upload Photo</h2>
    <%= form_for @photo, html: {multipart: true} do |f| %>
      <%= f.file_field :image %><br>
      <%= f.label :caption %>
      <%= f.text_field :caption %><br>
      <%= f.submit "Upload your photo"%>
    <% end %>
  </center>
