
<%= form_for :photo, url: photos_path do |f| %>
  <p>
    <%= f.label :name %><br>
    <%= f.text_field :name %>
  </p>

  <p>
    <%= f.label :photo_file %><br>
    <%= f.text_field :photo_file %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
