<section class="photo-upload-form">
  <%= form_for @photo, html: { multipart: true }, url: photos_path do |f| %>
    <div class="field">
      <%= f.label :image %><br>
      <%= f.file_field :image %>
    </div>
    <div class="description">
      <%= f.label :description %><br>
      <%= f.text_area :description %>
    </div><br>
    <div class="tags">
      <%= f.label :tags %><br>
      <%= f.text_field :tags %>
    </div><br>
    <div class="actions">
      <%= f.submit 'Upload' %>
    </div>
  <% end %>
</section>
