%center
  %h1 New Photo
.form-container
  = form_for(@photo, html: { class: "directUpload", data: { 'form-data' => (@s3_direct_post.fields), 'url' => @s3_direct_post.url, 'host' => URI.parse(@s3_direct_post.url).host } }) do |f|
    .photo-view
    .p{class: 'text-center'}
      %button#crop-it.btn.btn-primary{style: 'display: none;'} Finish cropping
    .form-group
      = f.label :photo_url
      = f.file_field :photo_url, class: 'form-control'
    .form-group
      = f.label :description
      = f.text_field :description, class: 'form-control'
    .form-group
      = f.submit 'Add photo', class: 'btn btn-primary', disabled: true
