<div id="container">
<%= form_for @photo, html: {multipart: true, :id => "addPhotoForm"} do |f| %>
  <%= f.file_field :image %>
  <br>
  <br>
  <%= f.label :description %>
  <%= f.text_field :description %>
  <%= f.submit :value => "Add photo" %>
<% end %>
</div>