
<div class="photo_container">

  <div class="comment_container">

    <%= form_for :photo, url: photos_path do |f| %>
      <p>
        <%= f.label :name %>
        <%= f.text_field :name %>
      </p>

      <p>
        <%= f.file_field :image %>
      </p>

      <p>
        <small>or, enter URL to an image</small> <br>
        <%= f.text_field :remote_image_url %>
      </p>

      <p>
        <%= f.submit class: "btn btn-primary btn-sm" %>
      </p>
    <% end %>

  </div>

</div>
