

= form_for @photo, html: {multipart: true} do |f|
  = f.label :description
  = f.text_field :description
  = f.label :image
  = f.file_field :image
  = label_tag 'Click to add a filter'
  = check_box_tag :add_filter
  = f.submit
