<h1>Photos#new</h1>
<p>Find me in app/views/photos/new.html.erb</p>
<%= form_for :photo, url: photos_path, html: {multipart: true} do |f| %>
  <p>
    <%= f.label :title, "Image Title:" %><br>
    <%= f.text_field :title %><br>
  </p>

  <p>
    <%= f.label :image, "Upload your image:" %>
    <%= f.file_field :image %>
  </p>

  <p>
    <%= f.submit "Upload" %>
  </p>
<% end %>

