<h2><%= @photo.title %> by <%= @photo.user.display_name %><br></h2>
Posted: <%= @photo.created_at.strftime("%d/%m/%Y %H:%M") %><br>
<%= button_to 'Go Back', '/photos', method: :get %><br>
<img src="<%= @photo.image_file_url %>" id="photo_image"></img>
