= image_tag @photo.image.url(:medium)

%p= pluralize @photo.likes.count, 'Like'
- if !current_user.has_liked? @photo
  = form_for [@photo, @new_like] do |f|
    = f.submit 'Like'

= form_for [@photo, @new_comment] do |f|
  = f.text_area :text
  = f.submit 'Leave comment'
- if @comments.all.any?
  - @comments.each do |comment|
    %p= comment.text

-if current_user.id == @photo.user_id
  = link_to "Delete photo", photo_path, method: :delete
