<% require_relative '../time_helper' %>

<div class="container">
  <p>
    <%= image_tag(@photo.image, style:"object-fit:cover; width: 250px; height: 250px;") if @photo.image.attached?%>
  </p>
    <strong><%= @photo.user.name%></strong> -
    <%= @photo.caption %>
    <br>
    <div class="time-since"><%= time_since_post(@photo) %></div>
  <p>
    <% if current_user == (@photo.user) %>
    <%= link_to 'Delete', photo_path(@photo), method: :delete, data: { confirm: "Are you sure?"}, class: "btn btn-dark" %>
    <%end%>
  </p>

  <%= button_to 'Like', photo_likes_url(@photo), method: :post, class: "btn btn-dark"  %>
  <br>
  <% @photo.likes.each do |like| %>
    <p>
      <strong>Liked by:</strong>
      <% @user = User.find(like.user_id) %>
      <%= @user.name %>
    </p>
  <% end %>
  <br>
  <% if @photo.comments.any? %>
    <strong>Comments</strong>
    <%= render @photo.comments %>
  <% end %>
    <br>
  <strong>Add a comment:</strong>
  <%= render 'comments/form' %>

  <br>
  <%= button_to 'Back', photos_path, method: :get, class: "btn btn-dark"  %>
</div>
