<div class="row">
  <div class="col-md-8 col-md-offset-2">

    <div class="thumbnail">
      <%= image_tag @photo.image.url %>
      <div class="caption">
        <p><%= @photo.description %></p>
        <div class="btn-group btn-group-sm" role="group">
          <%= link_to "Edit Photo", edit_photo_path(@photo), :class => 'btn btn-primary' %>
          <%= link_to "Delete Photo", photo_path(@photo), method: :delete, :class => 'btn btn-primary' %>
          <%= link_to "Comment", new_photo_comment_path(@photo), :class => 'btn btn-primary' %>
        </div>
      </div>
    </div>

  </div>
</div>
