<p id="notice"><%= notice %></p>

<div style="width:400px, height:auto">
<%= image_tag(@photo.image, style:'width:20%')%>
</div>

<p>
  <strong></strong>
  <%= @photo.caption %>
</p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
