
<!-- http://t.wallpaperweb.org/wallpaper/nature/1600x1200/Half_Dome_From_Olmstead_Point_Yosemite_National_Park_California.jpg -->

<div class="container">

  <div class="photo_header">
    <h3><%= @photo.name %></h3>
  </div>

  <div class="photo_container">
    <img class="photo" src="<%= @photo.photo_file %>" alt="<%= @photo.name %>">
  </div>

  <div class="comment_container">
    <p>add a comment</p>
    <%= form_for ([@photo, @photo.comments.build])  do |f| %>
      <p>
        <%= f.label :text %><br>
        <%= f.text_area :text %>
      </p>
      <p>
        <%= f.submit %>
      </p>
    <% end %>

    <h2>Comments:</h2>
    <% @photo.comments.each do |comment| %>
      <p><%= comment.text %></p>
    <% end %>
  </div>

</div>
