#current-photo= image_tag @photo.image.url(:medium)
%p= @photo.description
= link_to 'Edit description of this photo', edit_photo_path(@photo)
= link_to 'Delete this photo', photo_path(@photo), method: :delete
= link_to 'Add comment', new_comment_path(@photo)
