<p><%= @user.email %></p>
<p><%= @photo.caption %></p>
<p><%= image_tag(@photo.image.url(:large)) %>
<p><%= @photo.created_at %></p>
<%= link_to "Edit", edit_photo_path(@photo) %>
<%= link_to "Delete", photo_path(@photo), method: :delete %>