.individual
  .photo= image_tag @photo.image.url(:medium)
  = @photo.caption
  %br
  - if @photo.comments.any?
    - @photo.comments.each do |comment|
      %p.comment #{comment.thoughts}
  = link_to "Edit", edit_photo_path(@photo)
  = link_to "Delete photo", photo_path(@photo), method: :delete
  = link_to "Comment", new_photo_comment_path(@photo)
