<p id="notice"><%= notice %></p>

<p>

  <%= image_tag @photo.image.url(:medium) %><br>
  <% if @photo.title.length > 0 %>
    <strong>Title:</strong>
    <%= @photo.title %>
  <% end %>
</p>

<%= button_to 'Edit', edit_photo_path(@photo), method: :get, class: 'button' %><br>
<%= button_to 'Delete Photo', @photo, method: :delete, data: { confirm: 'Are you sure?' }, class: 'button' %> <br>
<%= button_to 'All Photos', photos_path, method: :get, class: 'button' %><br>
<%= button_to 'New Photo', new_photo_path, method: :get, class: 'button' %>
