%h2= @photo.name
= link_to '@'.html_safe + @photo.user.username, user_photos_path(@photo.user)
%p= @photo.description
= image_tag @photo.image.url(:medium)
%p
  = link_to "like", photo_likes_path(@photo), class: 'likes-link'
  %span.likes_count= @photo.likes.count 
  = 'likes'.pluralize @photo.likes.count
  
%h3= link_to "Leave a Comment", new_photo_comment_path(@photo)

- if @photo.created_by?(current_user)
  %h3= link_to "Delete photo", photo_path(@photo), method: :delete
  
- if @photo.comments.any? 
  %ul
    - @photo.comments.each do |comment|
      %li
        = link_to '@'.html_safe + comment.user.username, user_photos_path(comment.user)
        = comment.thoughts
- else
  %p No comments 