<%= image_tag @photo.image.url(:medium) %>
<p><%= @photo.description %></p>
<%= link_to "Edit photo", edit_photo_path(@photo) %>
<%= link_to "Delete photo", photo_path(@photo), method: :delete %>
<hr>
  <%= link_to "Add comment", new_photo_comment_path(@photo) %>
