<p id="notice"><%= notice %></p>

  <p><%= image_tag(@photo.image_url.to_s) %></p>

  <p><%= @photo.description %></p>

<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', root_url %>
