<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @photo.caption %>
</p>

<p>
  <strong>Location:</strong>
  <%= @photo.location %>
</p>

<%= link_to 'Like', new_photo_like_path(@photo) %>
<%= link_to 'Comment', new_photo_comment_path(@photo) %>
<%= link_to 'Edit', edit_photo_path(@photo) %> |
<%= link_to 'Back', photos_path %>
<%= render :partial => 'likes/new' %>
<%= render :partial => 'comments/form' %>
