= image_tag @photo.image.url(:medium)

=form_for [@photo, @new_comment] do |f|
  = f.text_area :text
  = f.submit 'Leave comment'
- if @comments.all.any?
  - @comments.each do |comment|
    %p= comment.text
= link_to "Delete photo", photo_path, method: :delete
