<section class="show-photo-view">
  <section class="show-photo-box">
    <%= image_tag @photo.image.url %>
  </section>
  <section class="show-photo-box">
    <section class="top">
      <%= link_to profile_path(@photo.user) do %>
        <h3>@<%= @photo.user.username %></h3>
      <% end %><%= render 'admin' %>
    </section>
    <p><%= @photo.description %></p>
    <section class="photo-comments"><%= render 'comments' %></section>
    <section class="base">
      <section class="photo-likes">
        <%= form_for([@photo, @photo.likes.build], remote: true, method: :post) do |form| %>
            <%= form.submit "" %>
        <% end %>
        <p><%= render 'likes' %></p>
      </section>
      <section class="photo-comment-form">
        <%= form_for([@photo, @photo.comments.build], remote: true, method: :post) do |form| %>
          <%= form.text_field :user_id, value: current_user.id, type: "hidden" %>
          <%= form.text_area :text %><%= form.submit "..." %>
        <% end %>
      </section>
    </section>
  </section>
</section>
