  <p><strong><%= @photo.user.username %>:</strong> at <%= @photo.local_time_stamp %> <%= @photo.local_date_stamp %>
    <% if current_user && @photo.user_id == current_user.id %>
    <%= link_to 'Edit', edit_photo_path(@photo) %>
    <% end %>
  </p>
  <p><%= image_tag(@photo.image_url.to_s) %></p>

  <% if @photo.description %>
    <p><%= @photo.description %></p>
  <% end %>

  <%= render partial: 'likes/form', locals: { likeable: @photo } %>
  <strong><%= @photo.get_likes.size %></strong> likes </br>

<%= render @photo.comments %>

<%= link_to 'Back', root_url %>

<% if current_user%>
<%= render 'comments/form' %>
<% end %>
