<div class='container'>
  <h4><%= @photo.created_at.strftime("%d/%m/%Y %H:%M") %></h4>
  <h4><%= @photo.location %></h4>
  <h2><%= @photo.caption%></h2>
  <%= image_tag @photo.image.url(:medium) %>
  <%= link_to 'Update Photo', edit_photo_path(@photo) %>
  <%= link_to 'Delete Photo', photo_path(@photo), method: :delete %>
</div>
