%h2= @photo.name
= image_tag @photo.image.url(:medium),:id => "show-photo"
%p= pluralize(@likes, 'Like')

- if current_user
  = link_to "New Comment", new_photo_comment_path(@photo)
  - if current_user.liked_photos.include?(@photo)
    = link_to "Unlike", photo_like_path(@photo), method: :delete
  - else
    = link_to "Like", new_photo_like_path(@photo)
  - if @photo.user_id == current_user.id
    = link_to "Rename", edit_photo_path(@photo)
    = link_to "Delete", photo_path(@photo), method: :delete

- if @comments.any?
  %h3 Comments:
  - @photo.comments.each do |comment|
    %h4= comment.user.email + " on " + comment.created_at.strftime("%e %b %Y")
    %p= comment.text
    - if comment.user == current_user
      = link_to "Delete Comment", photo_comment_path(@photo, comment), method: :delete
