%p= @photo.title
= image_tag @photo.image.url
= link_to "Edit post", edit_photo_path(@photo)
= link_to "Delete post", photo_path(@photo), method: :delete
= link_to "Leave a comment", new_photo_comment_path(@photo)
