<h3><%= @post.title %></h3>
<%= image_tag @post.image.url(:original) %><br>
<%= @post.caption %><br>
<%= link_to 'Edit Post', edit_post_path(@post) %><br>
<%= link_to "Delete Image", post_path(@post), method: :delete %>
