<h3 class="card-title"><%= @post.caption %> <span style="font-style: italic"><%= @post.user.username %></span></h3>
<h5 class="card-text">Likes: <%= @post.likes.count %></h5>
<% if current_user  %>
  <% if user_already_likes_post?(@post.id) %>
    <%= link_to 'UnLike', post_like_path(@post, find_like(@post.id)), method: :delete, class: "btn btn-danger" %>
  <% else %>
    <%= link_to 'Like', post_likes_path(@post), method: :post, class: "btn btn-success" %>
  <% end %>
  <% if current_user == @post.user %>
    <%= link_to 'Delete', post_path(@post), method: :delete, class: "btn btn-info" %>
  <% end %>
<% end %>
