- if user_signed_in?
  = link_to "Comment", new_post_comment_path(post), class: 'btn btn-primary'
- if post.comments.any?
  %ul{ :class => 'comment-list'}
    - post.comments.each do |comment|
      %li{ :class => 'comment-box'}
        %h5= raw "#{link_to comment.user.username, user_path(comment.user)}: "
        %span{ :class => 'comment-text' }
        - if comment.has_commented?(current_user)
          = link_to edit_post_comment_path(post, comment), class: 'custom-btn edit_comment' do
            %span{:class => "glyphicon glyphicon-pencil"}
          = link_to post_comment_path(post, comment), method: :delete, class: 'custom-btn remove_comment' do
            %span{:class => "glyphicon glyphicon-remove"}
        = comment.text
- else
  %p{ :class => 'comment-list'} No comments