
- if @posts.any?
  - @posts.each do |post|
    = image_tag post.image.url(:thumb)
    %br
    %br
    .caption
      = post.caption
        - if post.user_id == current_user.id
          = link_to 'delete', post_path(post), method: :delete
        - if post.likes.any?
          = pluralize post.likes.count, 'like'
        - if post.comments.any?
          - post.comments.each do |comment|
          %h4= comment.thoughts
      =link_to 'comment', new_post_comment_path(post)
      =link_to post_likes_path(post), method: :post,class: "btn btn-lg" do
        %i.glyphicon.glyphicon-heart

- else

  No posts yet.
