<%= form_for :post, html: {multipart: true}, url: posts_path do |form| %>
  <div class="field">
    <p class="control">
      <%= form.label :title, class: "label" %>
      <%= form.text_area :title, rows: 2, maxlength: 100, class: "textarea" %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= form.file_field :photo %>
    </p>
  </div>

  <div class="field">
    <p class="control">
      <%= form.submit :Upload, class: "button is-info" %>
    </p>
  </div>
<% end %>

