<div class="w-full max-w-xs">
  <%= form_with(model: post, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4") do |form| %>
    <% if post.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>
        <ul>
          <% post.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div class="field mb-4">
      <%= form.label :images, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.file_field :images %>
    </div>
    <div class="field mb-4">
      <%= form.label :message, class: "block text-gray-700 text-sm font-bold mb-2" %>
      <%= form.text_field :message, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
    </div>
    <div class="actions flex items-center justify-between">
      <%= form.submit "Post", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
    </div>
  <% end %>
