<%= render 'shared/errors', object: post %>

<%= form_for post do |f| %>
<% if post.image? %>
    <%= image_tag post.image.thumb.url %>
    <div>
      <%= label_tag :remove_image do %>
        Remove image
        <%= f.check_box :remove_image %>
      <% end %>
    </div>
<% end %>
<div>
  <%= f.label :title %>
  <%= f.text_field :title %>
</div>

<div>
  <%= f.label :body %>
  <%= f.text_area :body %>
</div>

<div>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.hidden_field :image_cache %>
</div>

<%= f.submit %>
<% end %>
