<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h4> Please check the
        <%= pluralize(@post.errors.count, "error") %> below:
      </h4>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li>
            <%= msg %>
          </li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <% if @post.image? %>
    <div>
      <%= image_tag @post.image.url %>
    </div>
  <% end %>

  <p>
    <%= form.label :image %>
    <%= form.file_field :image, id: 'upl-post-img', required: true  %>
  </p>
  <p>
    <%= form.label :description %>
    <%= form.text_area( :description, cols: 40, rows: 10, id: 'post-desc') %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
