<%= form_with model: post do |form| %>
    <%= render 'shared/form_errors', form: form %>
    
    <div class="mb-3">
        <%= form.label :title %>
        <%= form.text_field :title %>
    </div>
    <div class="mb-3">
        <%= form.label :body %>
        <%= form.text_area :body, class: 'form-control' %>
    </div>
    <%= form.button 'Post', class: 'btn btn-primary' %>

    <% if form.object.persisted? %>
        <%= button_to 'Delete', form.object, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-outline-danger' %>
    <% end %>
<% end %>