<div id="postform">
  <%= form_for @post, html: {multipart: true} do |f| %>
  <table id="posttable">
    <tr>
      <td><%= f.label :image %></td>
      <td><%= f.file_field :image, id:'post_image'%></td>
    </tr>
    <tr>
      <td><%= f.label :description %></td>
      <td><%= f.text_area :description, cols: 50, rows: 10 %></td>
    </tr>
    <tr>
      <td id="btn" colspan="2"><%= f.submit %></td>
    </tr>
    <% end %>
  </table>
</div>
