<%= form_with model: @post, local: true do |form| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    add an image....
    <%= form.file_field :image %>
  </p>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, id: 'text' %>
  </p>

  <%= form.hidden_field :user_id, value: current_user.id %>

  <p>
    <%= form.submit %>
  </p>
<% end %>
