<%= form_for @post, html: { multipart: true } do |f| %>

	<div class="form-group">
		<%= f.label :image %>
		<%= f.file_field :image, class: "form-control-file", id: "picturebutton" %>
		<%= f.hidden_field :image_cache %>
	</div>
	<div class="form-group">
		<%= f.label :description %>
		<%= f.text_area :description, class: "form-control" %>
		<br>
		<%= f.submit "Save Post", class: "btn btn-success" %>
	</div>
<% end %> 