<%= render 'shared/errors', object: post %>

<%= form_for post do |f| %>
<% if post.image? %>
  <%= image_tag post.image.thumb.url %>
  <div>
    <%= label_tag :remove_image do %>
    Remove image
    <%= f.check_box :remove_image %>
  <% end %>
</div>
<% end %>
<div>

<%= f.label :title %>
</div>

<div>
<%= f.text_field :title %>
</div>

<div>
<%= f.label :body %>

</div>
<div class="">
  <%= f.text_area :body %>
</div>
<div class="">
  <%= f.label :image %>
</div>

<div class="button">
  <%= f.file_field :image %>
</div>
<div>
<%= f.hidden_field :image_cache %>
</div>

<div class="button">
  <%= f.submit %>
</div>

<% end %>
