<%= form_for @post, html: {multipart: true} do |f| %>
  <div>
    <div>
      <div>
        <%= f.label :image %>
        <%= f.file_field :image %>
      </div>

      <div>
        <%= f.label :caption %>
        <%= f.text_field :caption, class: 'caption-input' %>
        <%= f.submit %>
      </div>
    </div>
  </div>
<% end %>
