<%= form_for post do |f| %>
  <div>
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <div>
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <%= f.submit %>
<% end %>
