  <%= form_with scope: :post, url: posts_path, local: true do |f| %>
    <div>
      <%= f.text_field :description, placeholder: "enter a caption", class:"caption"%>
    </div>
    <div>
      <%= f.file_field :image%>
    </div>
    <div>
      <%= f.text_field :user_id, value: current_user.id, class:"invisible"%>
    </div>
    <div>
      <%= f.submit 'Create Post', class:"button" %>
    </div>
  <% end %>