
<%= form_with model: @post, local: true do |form| %>
 
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error") %> prohibited
        this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
 
  <p>
    <%= form.label :photo %><br>
    <%= form.text_field :photo %>
  </p>
 
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>
 
  <p>
    <%= form.submit %>
  </p>
 
<% end %>