<%= form_with(model: post) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
    <% end %>
    <div class="container w-100 h-100 m-0" style="min-width: 400px;">
      <div class="bg-light border rounded-3 p-4 pt-3 m-3">
        <legend>New Post</legend>

        <div class="form-floating">
          <%= form.text_field :title, class:"form-control", id:"floatingTitle", placeholder:"Title" %>
          <%= form.label :title, for:"floatingTitle" %>
        </div>

        <div class="field">
          <%= form.hidden_field :likes, value: 0 %>
        </div>

        <div class="field">
          <%= form.hidden_field :user_id, value: current_user.id %>
        </div>

        <%= form.file_field :image, class: "form-control my-3" %>

        <div class="actions d-flex flex-row-reverse">
          <%= form.submit "Post", class: "btn btn-primary w-25" %>
        </div>
      </div>
    </div>
<% end %>
