<div class="post">
  <div class="post-head">
    <div class="username"><%= post.user.username %></div>
    <div class="time-ago"><%= time_ago_in_words(post.created_at) %> ago</div>
  </div>
  <div class="image">
    <%= link_to (image_tag post.image.url(:medium), class: "img_responsive"), post_path(post) %>
  </div>
  <div class="post-bottom">
    <div class="caption">
      <div class="username"><%= post.user.username %></div>
      <div class="caption-content"><%= post.caption %></div>
    </div>
  </div>
</div>
