<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      </div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <%= render 'posts/likes', post: post %>
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <%= post.caption %>
        <div class="comments" id="comments_<%= post.id %>">
          <% if post.comments %>
            <%= render post.comments, post: post %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1 like-button">
        <%= liked_post post %>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for([post, post.comments.new], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...', class: "comment_content",
          id: "comment_content_#{post.id}" %>
          <%= f.submit "Post", class: 'button comment-post-button' %>
        <% end %>
      </div>
    </div>
    </div>
  </div>
</div>
