<div class="col-12 col-sm-6 col-lg-3 px-0">
<%= image_tag post.image, class: 'w-100' %>
<!-- <%= link_to 'Edit Post', edit_post_path(post) %> -->
<!-- <%= button_to 'Edit Post', edit_post_path(post), method: :get, class: 'btn btn-sm btn-outline-secondary' %> -->
</div>

<!-- <div class="mb-3 card card-body">
<strong><%= post.title %></strong>
<p><%= post.body %></p>
<%= image_tag post.image, class: 'posts-img' %>
<%= button_to 'Edit Post', edit_post_path(post), method: :get, class: 'btn btn-sm btn-outline-secondary' %>
</div> -->