<section>
  <h3><%= post.user.email %></h3>
  <img src="<%= post.photo %>" alt="photo not available">
  <%= render "likes/like_form", likeable: post %>
  <%= render "comments/form", comment: post.comments.new %>
  <%= render "comments/comments", comments: post.comments %>
</section>
