<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img">
      </div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <%= render 'posts/likes', post: post %>
      <div class="caption">
        <div class="caption-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <%= post.caption %>
        </div>
        <% if post.comments %>
          <% post.comments.each do |comment| %>
            <div class="comments">
              <div class="user-name">
                <%= comment.user.username %>
              </div>
              <div class="comment-content">
                <%= comment.content %>
                <% if comment.user == current_user %>
                  <%= link_to post_comment_path(post, comment),
                  method: :delete, data: { confirm: "Are you sure?" } do %>
                    <span class="glyphicon glyphicon-remove delete-comment"></span>
                  <% end %>
                <% end %>
              </div>
            </div>
          <% end %>
        <% end %>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <%= link_to '', like_post_path(post.id), remote: true, id: "like_#{post.id}", class: "glyphicon #{liked_post post}" %>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Add a comment...' %>
          <%= f.submit "Post" %>
        <% end %>
      </div>
    </div>
  </div>
</div>
