<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %> ago
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="text-center edit-links">
      <% if post.user.id == current_user.id %>
        <%= link_to 'Edit Post', edit_post_path(post) %>
      <% end %>
    </div>
    <div class="post-bottom">
      <div class="description">
        <div class="description-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <%= post.description %>
        </div>
        <div class="comments">
           <% if post.comments %>
            <% post.comments.each do |comment| %>
              <div class="comment" id="comments<%= post.id %>" >
                <div class="user-name">
                  <%= comment.user.username %>
                </div>
                <div class="comment-content">
                  <%= comment.content %>
                </div>
                <% if comment.user == current_user %>
                  <%= link_to 'Delete', post_comment_path(post, comment), method: :delete, id: "delete-#{comment.id}", data: { confirm: "Are you sure?" } %>
                <% end %>
              </div>
            <% end %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_field :content, placeholder: 'Make you mum proud, say something nice...',
                                     class: "comment_content",
                                     id: "comment_content_#{post.id}",
                                     data: { post_id: "#{post.id}",
                                     value: "#{post.comments.count}" } %>
          <%= f.submit 'Leave Comment', class: 'comment-submit-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
