.posts-wrapper.row
  - @posts.each do |post|
    .post
      .post-head
        .post-user
          .avatar= image_tag post.user.fbimage
          .name= post.user.email
        .post-time= "posted #{time_ago_in_words(post.created_at)} ago"
      .image.center.block= image_tag post.image.url(:medium)
      %p.caption= post.caption

      = link_to 'Like', post_likes_path(post), class: 'like-link' if current_user && !current_user.liked?(post)
      = link_to 'Unlike', post_likes_path(post), class: 'like-link' if current_user && current_user.liked?(post)
      %span.likes_count= post.likes.count
      = 'like'.pluralize post.likes.count

      - if post.comments.any?
        = render 'comments', comments: post.comments
      = link_to 'Comment', new_post_comment_path(post)
