.posts-wrapper
  .post
    .post-head
      .thumb-img
      .user-name
        = post.user.user_name
    .image.center-block
      = link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
    .post-bottom
      .caption
        .user-name
          = post.user.user_name
        = post.caption
      - if post.comments
        - post.comments.each do |comment|
          .comment
            .user-name
              = comment.user.user_name
            .comment-content
              = comment.content
            - if comment.user == current_user
              = link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do
                %span(class="glyphicon glyphicon-fire red" id="flame-icon")
    .comment-like-form.row
      .like-button.col-sm-2
        - if current_user.voted_up_on?(post)
          = link_to dislike_post_path(post), method: :put do
            %span(class="glyphicon glyphicon-heart red")
            = post.get_upvotes.size
        - else
          = link_to like_post_path(post), method: :put do
            %span(class="glyphicon glyphicon-heart-empty")
            = post.get_upvotes.size

      .comment-form.form-inline.col-sm-10
        = simple_form_for [post, post.comments.new] do |f|
          = f.text_field :content, placeholder: 'Add a comment...', class: 'form-control'
          = f.submit class: 'btn btn-primary'
