<% @posts.each do |post| %>
<div class="post">
  <a class="username" href="users/<%=post.user_id%>"><%= find_user_name(post.user_id) %></a><br>
  <a href="posts/<%= post.id%>"><img id="picture_and_caption" src="<%= post.pics.url %>"></a><p>
    <div id='likes'>
      <% if (@likes.where(post_id: post.id, user_id: current_user).blank?) %>
      <%= link_to image_tag("https://image.flaticon.com/icons/svg/149/149217.svg", height: '30px', alt: 'new', class: 'blank_like'), new_like_path(post_id: post.id, user_id: current_user) %>
      <% else %>
      <%= image_tag("https://image.flaticon.com/icons/svg/148/148836.svg", :height => '30px', class: 'red_like') %>
      <%  end %>
      <%= post.likes.count %> Likes
    </div>

    <blockquote>
      <%= post.caption %>
    </blockquote><p>


      <div class='comment'>
        <% post.comments.each do |comment| %>
          <b><a href="users/<%=comment.user_id%>"><%= (User.find(comment.user_id)).username %></a></b> <%= comment.comment %><br>
        <% end %>

        <%= link_to 'Comment', new_comment_path(post_id: post.id) %>
      </div>

        <% if user_signed_in? %>
        <div id="user_modifiy">
        <% if current_user.id == post.user_id %>
          <%= link_to 'Edit', edit_post_path(post) %> |
          <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
        </div>
        <% end %>
    </div>
  <% end %>
<% end %>
</div>
