<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %> ago
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:original), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="text-center edit-links">
      <% if post.user.id == current_user.id %>
        <%= link_to 'Edit Post', edit_post_path(post) %>
      <% end %>
    </div>
    <div class="post-bottom">
      <div class="description">
        <div class="description-content">
          <div class="user-name">
            <%= post.user.username %>
          </div>
          <%= post.description %>
        </div>
        <div class="comments" id="comments_<%= post.id %>">
          <% if post.comments %>
            <%= render post.comments, post: post %>
          <% end %>
        </div>
      </div>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for([post, post.comments.build], remote: true) do |f| %>
          <%= f.text_field :content, placeholder: 'Make you mum proud, say something nice...',
                                     class: "comment_content",
                                     id: "comment_content_#{post.id}",
                                     data: { post_id: "#{post.id}",
                                     value: "#{post.comments.count}" } %>
          <%= f.submit 'Leave Comment', class: 'comment-submit-button' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
