<div class="container" id="card-gallery">
  <% @posts.each do |post| %>
    <div class="card mx-auto img-fluid" style="width: 40rem;">
      <%= link_to image_tag(post.image.variant(resize: "5184x3456"), class: "card-img-top"), post_path(post) %>
      <div class="card-body">
        <h5 class="card-title"><%= post.caption %> <span style="font-style: italic"><%= post.user.username %></span></h5>
        <p class="card-text">Likes: <%= post.likes.count %></p>
        <p class="card-text">Comments: <%= post.comments.count %></p>
        <%= link_to 'View Post', post_path(post), class: "btn btn-success" %>
      </div>
    </div>
  <% end %>
</div>
