<div class="post">
  <div class="post-head">
    <div class="username"><%= post.user.username %></div>
    <div class="time-ago"><%= time_ago_in_words(post.created_at) %> ago</div>
  </div>
  <div class="image">
    <%= link_to (image_tag post.image.url(:medium), class: "img_responsive"), post_path(post) %>
  </div>
  <div class="post-bottom">
    <div class="caption">
      <div class="username"><%= post.user.username %></div>
      <div class="caption-content"><%= post.caption %></div>
      <div id="likes_<%= post.id %>" class="likes">
        <% post.votes_for.up.by_type(User).voters.each do |voter| %>
          <div class="username"><%= voter.username %></div>
        <% end %>
      </div>
      <div class="comments">
        <% post.comments.each do |comment| %>
          <div id="comments_<%= post.id %>" class="comment">
            <div class="username"><%= comment.user.username %></div>
            <div class="comment-content"><%= comment.content %></div>
            <% if comment.user == current_user %>
              <div class="delete-comment">
                <%= link_to "Delete", post_comment_path(post, comment), method: :delete, data: {confirm: "Are you sure?"} %>
              </div>
            <% end %>
          </div>
        <% end %>
      </div>
    </div>
  </div>
  <div class="comment-like-form row">
    <div class="col-sm-1">
      <%= link_to "", like_post_path(post), class: already_liked(post) %>
    </div>
    <%= form_for [post, post.comments.new] do |f| %>
      <%= f.label :content, class: "label-hidden"%>
      <%= f.text_field :content, placeholder: "Add a comment..." %>
      <%= f.submit %>
    <% end %>
  </div>
</div>
