<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.username %>
      </div>
      <div class="time-ago">
        <%= time_ago_in_words post.created_at %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to(image_tag(post.image.thumb.url, alt: 'Image', class: 'img-responsive'), post.image.url, target: '_blank') if post.image? %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="user-name">
          <%= post.user.username %>
        </div>
        <%= post.caption %>
      </div>
      <% if post.comments %>
        <% post.comments.each do |comment| %>
          <div class="comment">
            <div class="user-name">
              <%= comment.user.username %>
            </div>
            <div class="comment-content">
              <%= comment.body %>
            </div>
            <% if comment.user == current_user %>
              <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: "Are you sure?" } do %>
                <span class="glyphicon glyphicon-remove delete-comment"></span>
              <% end %>
            <% end %>
          </div>
        <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="glyphicon glyphicon-heart-empty"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
          <%= f.text_field :body, placeholder: 'Add a comment...' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
