<div class="posts-wrapper">
  <div class="post">
    <div class="post-head">
      <div class="thumb-img"></div>
      <div class="user-name">
        <%= post.user.user_name.capitalize %>
      </div>
    </div>
    <div class="image center-block">
      <%= link_to (image_tag post.image.url(:web, :preview), class:'img-responsive'), post_path(post) %>
    </div>
    <div class="post-bottom">
      <div class="caption">
        <div class="user-name">
          <%= post.user.user_name.capitalize %>
        </div>
        <%= post.text %>
      </div>
      <% if post.comments %>
          <% post.comments.each do |comment| %>
              <div class="comment">
                <div class="user-name">
                  <%= comment.user.user_name.capitalize %>:
                </div>
                <div class="comment-content">
                  <%= comment.content %>
                </div>
                <% if comment.user == current_user %>
                    <%= link_to post_comment_path(post, comment), method: :delete, data: { confirm: 'Are you sure?' } do %>
                        <span class="fa fa-trash-o delete-comment"></span>
                    <% end %>
                <% end %>
              </div>
          <% end %>
      <% end %>
    </div>
    <div class="comment-like-form row">
      <div class="like-button col-sm-1">
        <span class="fa fa-heart"></span>
      </div>
      <div class="comment-form col-sm-11">
        <%= form_for [post, post.comments.new] do |f| %>
            <%= f.text_field :content, name: 'content', placeholder: 'Add a comment...' %>
            <%= f.submit 'Comment' %>
        <% end %>
      </div>
    </div>
  </div>
</div>
