<%= simple_form_for @post do |f| %>
  <%= f.input :image %>
  <%= f.input :caption %>
  <%= f.button :submit %>
<% end %>

<div class="">
  <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Do you really want to delete this post?" } %>

  <%= link_to "Cancel", posts_path %>
</div>
