<div class='background'>
    <main class='auth-form'>
        <section>
            <h2>Edit your post</h2>
            <%= form_for @post, html: {multipart: true} do |f| %>
                <%= f.text_field :title, class: "text-input", placeholder: 'Title' %>
                <%= f.label :image, "Upload a new image" %>
                <%= f.file_field :image, class: "btn" %>
                <%= f.submit "Edit", class: "btn fr" %>
            </section>
        </main>
    <% end %>
