= simple_form_for @post do |post|
  = post.input :image
  = post.input :description
  = post.button :submit


= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" }
