<h1>Edit Post</h1>

<%= form_for [@post], url: { controller: "posts", action: "update" }, method: :patch do |form| %>
  <%= form.label 'title:' %> </br>
  <%= form.text_field :title %> </br>
  <%= form.label 'message:' %> </br>
  <%= form.text_area :text %></br>
  <%= form.submit "Submit" %>
<% end %>