<h1>Edit post</h1>

<%= form_with(model: @post, local: true) do |form| %>
  <p>
    <%= form.label :photo %><br>
    <%= form.text_field :photo %>
  </p>

  <p>
    <%= form.label :desc %><br>
    <%= form.text_area :desc %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
