<h1>Edit Post</h1>

<%= form_for @post, html: { multipart: true } do |f| %>

<%= image_tag @post.image.url(:small) %>

  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div><br />

  <div class="field">
    <%= f.label :description %>
    <%= f.text_area :description %>
  </div><br />

  <div class="actions">
    <%= f.submit :Update%>
  </div>

<% end %>
