<h1>Edit Instagram</h1>

<%= link_to "Home", posts_path %>
<br/><br/>

<% if @post.errors.any? %>
  <div id="error_explanation">
    <h2>
      <%= pluralize(@post.errors.count, "error") %> prohibited
      this article from being saved:
    </h2>
    <ul>
      <% @post.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<img src="<%= url_for(:controller => "posts",
                      :action => "show_image",
                      :id => @post.id) %>">

<%= form_for @post, method: :patch, url: post_path do |f| %>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
