<%= form_for(@post) do |form| %>
  <p><%= form.label("title") %></p>
  <p><%= form.text_field("title") %></p>
  <p><%= form.label("contents") %></p>
  <p><%= form.text_area("contents") %></p>
  <p><%= form.submit %></p>
<% end %>
<p><%= link_to("Back to post", post_path(@post)) %></p>
<p><%= link_to("Back to all posts", posts_path) %></p>
