<h1>Edit Post</h1>

<%= form_with model: @post, local: true do |form| %>

<%= image_tag  @post.image, id: 'previewImage' %>

<p>
  <%= form.label :filter %>
  <%= form.select(
    :filter,
    options_for_select(['Greyscale', 'Bright', 'Saturate', 'Contrast']),
    { include_blank: true }
  ) %>
</p>

<p>
  <%= form.submit 'Update' %>
</p>

<% end %>