<div class="form-wrapper">
  <div class="posts-wrapper">
      <div class="post">
        <div class="post-head"></div>
        <div class="image">
          <%= link_to image_tag(@post.image.url(:medium)), post_path(@post) %><br>
        </div>
      </div>
  </div>
  <%= render 'form' %>
  <div class="edit-links">
    <%=link_to "Cancel", posts_path%>
    <%="|"%>
    <%=link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }%>
  </div>
</div>
