.row
  = image_tag @post.image.url(:medium)
  %p= @post.caption

= simple_form_for @post do |form|
  = form.input :image
  = form.input :caption
  = form.submit 'Update Post'

%br
= link_to 'Cancel', posts_path
