<h1> Edit Post </h1>
<%= form_with model: @post, local: true do |form| %>
  <%= form.label :location %><br>
  <%= form.text_field :location, :value => @post.location %><br>
   <%= form.label :description %><br>
  <%= form.text_area :description, :value => @post.description %>
  <%= form.submit %>
<% end %>
