<h1>Edit your post</h1>

<%= form_with(model: @post, local:true) do |form| %>
<%=form.label :caption %>
<section id='edit'><%= form.text_area :caption%><section>
<%= form.submit "Submit"%>
<%end%>

<p><%= link_to 'Home', posts_path %>
