<h1>Edit Post</h1>
<%= form_with(model: @post) do |form|  %>

  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2>
        <%= pluralize(@post.errors.count, "error")  %>
        prohibited this post from being saved:
      </h2>
      <ul>
        <% @post.errors.full_message.each do |msg|  %>
          <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <p>
    <%= form.label :text %><br>
    <%= form.text_area :text, id: 'text' %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>

<%= link_to 'Back', posts_path %>
