<h1>Edit post</h1>
<div>
  <span><%= image_tag(post.image.url(:medium)) %></span>
  <span><%= form_with(model: @post, local: true) do |form| %>
      <%= form.label :description %>
      <%= form.text_field :description %>

      <%= form.submit "Submit" %>
    <% end %>
  </span>
</div>

<%=link_to "Back to home page", posts_path %>
