<div class="text-center">
  <%= image_tag @post.image.variant(resize_to_limit: [600, 600]) %>
</div>
<div class="form-wrapper">
<%= simple_form_for @post, html: { class: 'form-horizontal', multipart: true } do |f| %>
  <div class="image-input text-center">
    <%= f.input :image %>
  </div>
  <div class="d-flex justify-content-center text-center">
    <%= f.input :caption %>
  </div>
  </br>
  <div class="d-flex justify-content-center text-center">
    <%= f.button :submit, class: 'btn-info' %>
  </div>
<% end %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %>
    
    <%= button_to "Delete Post", post_path(@post), method: :delete, class: "btn-danger" %>
  </div>
</div>
