%h2 Edit post

= form_for @post do |f|
  %div{ :class=>"field" }
    = f.label :title
    %br
    = f.text_field :title
  %div{ :class=>"field" }
    = f.label :description
    %br
    = f.text_area :description
  %div{ :class=>"actions" }
    = f.submit