<h1>Change Your Post:</h1>

<%= simple_form_for @post do |f| %>
<p>
  <%= f.input :image %>
</p>
<p>
  <%= f.input :caption %>
</p>
<p>
  <%= f.button :submit, "Save Changes" %>
</p>
<% end %>

<%= link_to 'Cancel', posts_path %>
