<body>
  <h1><%= current_user.username %></h1>
  <span>
    <%= link_to 'Post a Photo', new_post_path %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  </span>
  <div id=gallery>
    <% @posts.each_with_index do |post, i| %>
    <div id=<%= "post_#{i}" %>>
      <h2><%= User.find(post.user_id).username %></h2>
      <img src=<%= post.image_url %>></img>
      <%= link_to 'Like', post_likes_path(post), method: :post %>
      <h3 style="float:right"> <%= "#{post.likes.count} \u2665" %> </h3>
    </div>
    <% end %>
  </div>
</body>
