<% if @posts.any? %>
  <div class='posts-wrapper row'>
    <% @posts.reverse.each do |post| %>
      <div class='post'>
        <div class='post-head'>
          <div class="name">
            Abigail McP
          </div>
        </div>
        <div class='image center-block'>
          <%= link_to post_path(post) do %>
            <%= image_tag post.image.url(:medium), class: "img-responsive" %>
          <% end %>
          <div class="caption">
            <%= post.caption %>
          </div>
          <div class="buttons">
            <%= link_to 'Edit', edit_post_path(post) %>
            |
            <%= link_to 'Delete', post_path(post), method: :delete %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <p> No posts yet </p>
<% end %>
