<% if Post.all.any? %>
  <% Post.all.each do |post| %>
    <h2><%= post.title %></h2>
    <%= image_tag post.image.url(:thumb) %>
    #<%= post.tag %>
    Likes: <%= post.likes %>
    <%= link_to(post.title, post_path(post)) %>
    <%= button_to "like", like_post_path(post), {:onclick => "like"} %>
  <%end%>
  <%else%>
    <h1>No posts yet</h1>
<%end%>

<a href='/posts/new'>Add a post</a>'
