- if @posts.any?
  %section
    - @posts.reverse_each do | post |
      .section.col-md-6.col-md-offset-3.post
        %section
          %h5.text-left.post-title= post.user.username
        = link_to post_path(post) do
          = image_tag post.image.url(:medium), class: 'img-responsive center-block'
        %section.post-info
          %p.likes.text-left.post-text
            %span.likes_count= post.likes.count
            = "Like".pluralize post.likes.count
            = link_to "Like", post_likes_path(post), class: 'likes-link'
          %h6.post-text= post.title
          - if post.comments.any?
            %ul.list-unstyled.post-text
              - post.comments.reverse_each do |comment|
                %li
                  = comment.thoughts
                  - if user_signed_in? && current_user.id == comment.user_id
                    = link_to "Edit comment", edit_post_comment_path(post, comment)
                    = link_to "Delete comment", post_comment_path(post, comment), method: :delete
          - if user_signed_in? && current_user.id == post.user_id
            = link_to "Delete", post_path(post), method: :delete, class: "post-text"
          = form_for [post, @comment] do |f|
            = f.text_field :thoughts, placeholder: "Leave a comment...", class: "post-comment-field"
            %noscript= submit_tag "Comment"
- else
  %h2 No posts yet!