<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Challenge</title>
  </head>
  <body>
    <div class="container">
      <div class="row">
        <div class="col-sm-3"><h1> Instagram </h1></div>

        <div class="col-sm-9">
        <p class="navbar-text pull-right">
        <% if user_signed_in? %>
          Logged in as <strong><%= current_user.email %></strong>.
          <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
          <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
        <% else %>
          <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
          <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
        <% end %>
        </p>
      </div>

      </div>

      <div class="row">
      <% @posts.sort_by { |x| x.created_at }.reverse.each do |post| %>
        <div class="col-md-4">
          <h4><%= post.created_at.strftime("%a %e %b %H:%M") %></h4>
          <h4><%= User.find(post.user_id).username if (post.user_id)  %></h4>
          <%= link_to post_path(post) do %>
          <img src="<%= post.photo %>" style="height: 250px; width: 250px;">
          <div class="caption">
            <h3><%= post.desc %></h3>
            <h6><%= post.comments.count %> <%= (post.comments.count) == 1 ? 'Comment' : 'Comments'%></h6>
            <h6><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></h6>
            <% if current_user == User.find(post.user_id) %>
              <span><%= link_to 'Edit', edit_post_path(post) %></span>
              <span>| <%= link_to 'Delete', post_path(post),
                method: :delete,
                data: { confirm: 'Are you sure?' } %></span>
            <% end %>
          </div>

        </div>
        <% end %>

        <% end %>
      </div>

      <h3 style="float:bottom">
      <%= link_to new_post_path do %>
        <p>New post</p>
      <% end %>
    </h3>

    </div>

  </body>
</html>
