<% if current_user %>
  <div id='log-out' class='nav-link'>
    <a href='/logout' data-method="delete">Log Out</a>
  </div>
<% end %>

<%= flash[:sign_in_success] %>
<%= flash[:sign_up_success] %>
<%= flash[:sign_in_failure] %>
<div class='center-block'>
  <% @posts.each do |post| %>
    <div class="">
      <h4 class="font-weight-bold"> <%= User.find_by(id: post.users_id).username %> </h4>
      <h5> <%= post.caption %> </h5>
      <%= image_tag url_for(post.photo), :class => "img-fluid" %>
    </div>
<% end %>
</div>
