%section
  = link_to 'Add post', new_post_path

%section
  - @posts.each do |post|
    %p= post.title
    %p= post.description
    = image_tag post.image.url(:thumb)
    = link_to 'Edit post', edit_post_path(post)
    = link_to 'Delete post', post_path(post), method: :delete
