<p id="notice"><%= notice %></p>

<% @posts.each do |post| %>
<div class="card text-center" style="width: 31rem;">
  <div class="card-header">
    <%= @users.find(post.user_id).firstname %>
  </div>
  <span class="card-img-top">
    <%= image_tag post.image.url, :class => "post_image", :style => "width: 100%" if post.image? %>
  </span>
  <div class="card-body">
    <p class="card-text"><%= post.content %></p>
    <span class="remove-post">
      <%= button_to 'Remove', post, method: :delete, data: { confirm: 'Are you sure?' } %>
    </span>
  </div>
  </div>
<% end %>
</div>

<div class="card text-center" >
<button type="button" class="btn btn-default btn-lg">
  <span class="glyphicon glyphicon-plus-sign" aria-hidden="true">
    <%= link_to 'New Post', new_post_path %>
  </span>
</button>
