<% if @posts.any? %>
  <% @posts.each do |post|%>
    <ul>
      <li>
        <span id="img"><%= image_tag post.image.url(:medium) %></span><br>
        <span id="description"><%= post.description%></span>

        <%= link_to "♡", post_likes_path(post), class: 'likes-link' %>
        <span class="likes_count"><%="♥ "%><%=post.likes.count %> </span> <%= 'like'.pluralize(post.likes.count) %>

        <%= link_to "Edit", edit_post_path(post) %>
      </li>
    </ul>
    <% end %>
<% else %>
  No posts yet
<% end %>

<a href='/posts/new'>Add a post</a>
