<div>
  <span><%= link_to "New Post", new_post_path %>
  </span>
</div>

<% @posts.each do |post| %>
  <div class="white">
    <br>
    <%= image_tag(post.image.url(:medium)) %>
    <br>
    <%= post.description %>
    <%= post.created_at %>
    <span><%= link_to 'Edit', edit_post_path(post) %>
    </span>
    <span><%= link_to 'Delete', post_path(post),
      method: :delete,
      data: { confirm: 'Are you sure?' } %>
    </span>
 </div>
<% end.reverse %>
