<%= link_to new_post_path do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p>@<%= post.user.username %></p>
  <p><%= image_tag post.image %></p>
  <p><%= post.caption %></p>
  <p><%= post.likes.count %>
  <%= button_to 'Like', likes_path(post.id), method: :post %>
<% end %>
