<% @posts.each do |post| %>

  <p><%= post.image %>
  <%= post.caption %>
  <%= link_to "Edit", edit_post_path(post)%> 
  <%= link_to "Show", post_path(post)%> 
  <%= link_to 'Delete', post_path(post), :method => :delete %>
  </p>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>

<p id="flash"><%= flash[:alert] %></p>
