<%= render 'shared/nav' %>

<style>
.center {
  max-width: 500px;
  margin: auto;
}
</style>

<div class="center">
  <div class="row h-100 ">
    <div class="col-sm-12 my-auto" style="background:lightblue">
      <h1 class= "d-flex justify-content-center">Posts</h1>
        <% @posts.each do |post| %>
        <div class="card center" style="width: 22rem;">
            <div class="card-body align-self-center">
              <p class="card-text">Created by: <%= post.created_by %></p>
              <a href="<%=post_path(post)%>" class="card-title"><%= image_tag post.image_url(:thumb) %></a>
              <p class="text-center font-weight-light"> Comments (<%= post.comments.size %>) - Likes (<%= post.likes.size %>)</p>
              <p class="card-text"><%= post.description %> <br>
                <br>
                <% pre_like = Like.find_by(user_id: current_user.id, post_id: post) %>
                <% if pre_like %>
                  <%= link_to 'Unlike', post_like_path(post, pre_like), method: :delete %> -
                <% else %>
                  <%= link_to 'Like', post_likes_path(post), method: :post %> -
                <% end %>
                <%= link_to 'Comment', post_path(post)  %> -
                <%= link_to 'Delete', post_path(post), method: :delete,  data: { confirm: 'Are you sure?' }  %>
                <p class="card-text text-right"><small class="text-muted text-right">Posted: <%= localize(post.created_at, :format => :short) %></small></p>

            </div>
          </div>
        <br>
        <% end %>
      </div>
    </div>
  </div>
</div>
