<%= form_with url: 'posts/new', method: :get do |form| %>
  <%= form.submit 'New Post' %>
<% end %>

  <% @posts.each do |post| %>
    <% user = User.find_by(id: post.user_id) %>
    <article class="post">
      <p>@<%= user.username %></p>
      <%= image_tag(post.image) %>
      <p><%= post.caption %></p>
    </article>
  <% end %>
