- if user_signed_in?
  %h3= link_to "Add a post", new_post_path 

- if @post.any?
  - @post.each do |post|
    %h4= post.user.username
    %h4= link_to post.title, post_path(post)
    %h5= post.description
    - if post.comments.any?
      %ul
        - post.comments.each do |comment|
          %li
            = comment.user.username
            = comment.text
            - if comment.user == current_user
              = link_to "Delete comment", post_comment_path(post, comment), method: :delete
              = link_to "Edit comment", edit_post_comment_path(post, comment)
    - else
      %p No comments
    - if user_signed_in?
      = link_to "Comment", new_post_comment_path(post)
    - if current_user == post.user
      = link_to "Edit post", edit_post_path(post)
      = link_to "Delete post", post_path(post), method: :delete
- else
  %h1 No posts yet!
