<div class="new-post">
  <%= form_for @post do |form| %>
    <%= form.label :image, "Upload Your Photo Here!" %>
    <%= form.file_field :image %>
    <%= form.text_area :caption, class: 'caption', placeholder: "Share your thoughts here" %>

    <%= form.submit "Send", class: "send" %>
  <% end %>
</div>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="each-post">
      <div class="post-details">
        <h4 class="post-username"><%= post.user.username %></h4>
        <h5 class="post-timestamp"><%= post.created_at.strftime("%H:%M %-d %B %Y")%></h5>
      </div>
      <div class="image">
        <% if post.image.attached? %>
          <%= image_tag post.image.variant(resize_to_fit: [180, 150]) %>
        <% else %>
          <p>no picture this time!</p>
        <% end %>
      </div>
      <div class="post-caption">
        <p><%= post.caption %></p>
      </div>
    </div>
  <% end %>
</div>
