- if user_signed_in?
  %h3= link_to "Add a post", new_post_path 

- if @post.any?
  - @post.each do |post|
    %h4= post.user.username
    %h4= link_to post.title, post_path(post)
    %h5= post.description
    = post.likes_count
    - if user_signed_in?
      - if post.has_been_liked?(current_user)
        = link_to "Unlike", post_like_path(post, post.like_by(current_user).first), method: :delete
      - else
        = link_to "Like", new_post_like_path(post)
      = link_to "Comment", new_post_comment_path(post)
    - if post.has_posted?(current_user)
      = link_to "Edit post", edit_post_path(post)
      = link_to "Delete post", post_path(post), method: :delete

    - if post.comments.any?
      %ul
        - post.comments.each do |comment|
          %li
            = comment.user.username
            = comment.text
            - if comment.has_commented?(current_user)
              = link_to "Delete comment", post_comment_path(post, comment), method: :delete
              = link_to "Edit comment", edit_post_comment_path(post, comment)
    - else
      %p No comments

- else
  %h1 No posts yet!
