<h1>Posts</h1>

<%= form_for @post do |form| %>
  <div>
    <%= form.label :picture %>
    <%= form.text_field :picture %>
  </div>
  <div>
    <%= form.label :caption %>
    <%= form.text_field :caption %>
  </div>
  <div>
    <%= form.submit "Post Picture" %>
  </div>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.picture %>
      <%= post.caption %>
    <li>
  <% end %>
</ul>
