<%# <p id="notice"><%= notice %></p>

<h1>Feed</h1>

    <% @posts.each do |post| %>
        @<%= post.user.username %>
        <%= post.title %><br/>
        <%= image_tag post.image.variant(resize_to_limit: [800, 800]) %> <br/>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <br/><br/>

        <%# <figure class="figure"> %>
          <%# <img src=".." class="figure-img img-fluid rounded"> %>
          <%# <figcaption class="figure-caption">TEXT</figcaption> %>
        <%# </figure> %>

    <% end %>

<br>

