<h1>Posts</h1>

<%= link_to "New Post", new_post_path %>

<div class="posts">
  <% @posts.each do |post| %>
    <div class="post">
      <%= image_tag post.image.url(:thumb) %>
      <h3><%= link_to post.title, post_path(post) %></h3>
      <p><%= post.description %></p>
      <p> Likes: <%= Like.where(post_id: post.id).size  %> </p>
      <%= link_to 'Like', post_likes_path(post), method: :post %>
    </div>
  <% end %>
</div>
