<!doctype html>
<html>
<head>
  <title>Instagram| It's photo-delicious!</title>
</head>
<body>

  <%= @posts.each do |post| %>

  <div class="post" id="<%= post.id %>">
    <%= post.title %>
    <%= image_tag post.image.url(:medium) %>
  </div>
  <% end %>

  <%= link_to new_post_path do %>
  <% end %>
</body>
</html>
