<%= link_to "Make a post", new_post_path %>

<section class="posts">
    <ul>
        <% @posts.each do |post| %>
            <li>
                <%= link_to post_path(post), class: "show-link" do %>
                    <div class="image-box">
                        <%= image_tag post.image.url(:thumb) %>
                    </div>
                <% end %>
                <%= link_to "Comment", post_path(post), class: "comment" %>
                <%= post.title %>
            </li>
        <% end %>
    </ul>
</section>
