<div id="content">
  <div class="post">
    <% @posts.each do |post| %>
    <b><a href="users/<%=post.user_id%>"><%= (User.find(post.user_id)).username %></a></b><p>
    <a href="posts/<%= post.id%>"><img id="picture_and_caption" src="<%= post.pics.url %>"></a><p>
      <% if (@likes.where(post_id: post.id, user_id: current_user).blank?) %>
        <%= link_to image_tag("https://image.flaticon.com/icons/svg/149/149217.svg", :height => '30px'), new_like_path(post_id: post.id, user_id: current_user) %>
      <% else %>
       <%= image_tag("https://image.flaticon.com/icons/svg/148/148836.svg", :height => '30px') %>
      <%  end %>

    <blockquote>
      <%= post.caption %>
    </blockquote><p>
 </div>

 <div class='likes'>
  <%= post.likes.count %> Likes
 </div>

 <div class='comment'>
    <% post.comments.each do |comment| %>
    <a href="users/<%=comment.user_id%>"><%= (User.find(comment.user_id)).username %></a>: <%= comment.comment %><br>

    <% end %>


    <%= link_to 'Comment', new_comment_path(post_id: post.id) %>

    <% if @likes.where(user_id: current_user).blank? %>
      <%= link_to 'Like', new_like_path(post_id: post.id, user_id: current_user) %>
    <%  end %>

      <% if user_signed_in? %>
      <% if current_user.id == post.user_id %>
        <p><%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% end %>
        <p>
          <% end %>
        </div></div>
        <br>

        <%= link_to 'New Post', new_post_path %>
