<h1>Posts Go Here</h1>

<%= link_to new_post_path, id: "new-posts" do %>
  New post
<% end %>

<% @posts.each do |post| %>
  <p><%= User.find(post.user_id).username %> says: <%= post.caption %></p>
  <%= image_tag post.image_url.to_s, height: Post::IMAGE_HEIGHT %>
  <br />
  <%= form_tag("/likes", method: "post") do %>
    <%= hidden_field_tag(:user_id, current_user.id) %>
    <%= hidden_field_tag(:post_id, post.id) %>
    <% already_liked = post.likes.any?{ |like| like.user_id == current_user.id } %>
    <%= submit_tag "Like (#{post.likes.count})", :disabled => already_liked %>
  <% end %>

  <% post.comments.each do |comment| %>
    <p> <%= comment.user.name %>: <%= comment.body %></p>
  <% end %>

  <%= form_for([post, post.comments.build]) do |comment| %>
    <%= comment.hidden_field(:user_id, value: current_user.id) %>
    <%= comment.text_field :body, placeholder: 'Write a comment... ✏️', class: 'comment-input-box float-left' %>
    <%= comment.submit class: 'hidden' %>
  <% end %>
<% end %>
