<% if Post.all.any? %>
  <% Post.all.each do |post| %>
    <h2><%= link_to(post.title, post_path(post)) %></h2>
    <%= image_tag post.image.url(:thumb) %>
    #<%= post.tag %>
    Likes: <%= post.likes %>
    <%= button_to "like", like_post_path(post), {:onclick => "like"} %>
    <%= link_to "Edit #{post.title}", edit_post_path(post) %>
    <%= link_to "Delete #{post.title}", post_path(post), method: :delete %>
    <%= link_to "Comment on #{post.title}", new_post_comment_path(post) %>

    <h3> Comments on <%=post.title%>:</h3>
      <% if post.comments.any? %>
        <ul><% post.comments.each do |comment| %>
            <li>
              <%= comment.message %>
              <strong><%= comment.reaction %></strong>
            </li>
          <% end %>
        </ul>
      <% else %>
        <p> No comments yet </p>
      <% end %>
    <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<a href='/posts/new'>Add a post</a>'
