<h3>Post a new picture</h3>

<div class="file-upload">
  <%= form_for @post do |f| %>
      <%= f.file_field :image , class: "myButton" %>
      <%= f.text_field :caption, placeholder: 'write a caption...'%>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.label :filter %>
      <%= f.select :filter, ['none', 'greyscale', 'bluish', 'pinkish', 'invert'] %>
      <%= f.button :submit , class: "myButton" %>
  <% end %>
</div>

<% @posts.order(created_at: :desc).each do |post| %>
 <div class="post">
  <div class="poster gradient">
    <%= image_tag post.user.avatar.url(:thumb) %><%= post.user.username %>
  </div>

    <%= image_tag post.image.to_s, class: post.filter, height: Post::IMAGE_HEIGHT %><br />

  <div>
    <h3><%= post.caption %></h3>
  </div>

  <div class="comments">
      <% post.comments.each do |comment| %>
        <div class="comment">
          <% if comment.user.avatar.url == "noface_image.jpg" %>
            <img src="tiny_noface_image.jpg">
          <% else %>
            <%= image_tag comment.user.avatar.url(:comment) %>
          <% end %>
          <strong><%= comment.user.username %></strong> said: <%= comment.comment %></p>
        </div>
      <% end %>

    <%= form_for @comment do |f| %>
      <%= f.text_field :comment, placeholder: 'write a comment...'%>
      <%= f.hidden_field(:user_id, value: current_user.id) %>
      <%= f.hidden_field(:post_id, value: post.id) %>
      <%= f.button :submit, class: "myButton" %>
    <% end %>

  </div>
</div>
<% end %>
