<p id="notice"><%= notice %></p>

<h1>Lazygram</h1>
<br>
<%= link_to 'New Post', new_post_path %>
<br>
    <% @posts.each do |post| %>
      <%= post.message %>
      <%= post.user_id %>
      <% post.hashtags.each do |hashtag| %>
      <%= '#' + hashtag.name %>
      <% end %>
      <%= image_tag post.image, class: 'main-image' %>
      <tr>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>


