<ul class='posts-index'>
    <% @posts.each do |post| %>
      <li>
        <section>
          <p>
            User Name
          </p>
        </section>
        <p>
          <%= image_tag post.image.url(:square) %>
          <%= post.title %>
        </p>

        <p>
          <%= post.created_at.localtime.strftime('%d-%b-%Y %I:%M:%S %p') %>
        </p>
        <p>
          <span class='posts-index-post-likes' id="like-<%= post.id %>">
            <%= pluralize(post.likes.count, "like") %> |
          </span>
          <%= link_to 'Like', post_likes_path(post), remote: true, method: :post, class: "like-link", data: { id: post.id } %>
          <%= link_to 'Comment', post_path(post) %>
        </p>
      </li>
    <% end %>
</ul>

<%= link_to new_post_path do %>
  New post
<% end %>
