<h1>See posts below</h1>

<% @posts.each do |posts| %>
  <p><%= posts.title %></p>
  <p><%= posts.body %></p>
  <p><%= posts.comment %></p>
  <img src="<%= posts.pictures %>">
  <p>
    <%= link_to 'Show', posts %>
    <%= link_to "Comment", comment_post_path(posts) %>
    <input type="button" name="submit" value="Like">
  </p>

<% end %>

<%= link_to "New Post", posts_new_path %>
