
<h1>Listing posts</h1>

<table>
  <tr>
    <th>Description</th>
    <th>Show</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.description %></td>
      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= post.comments.empty? ? "No comments yet!" : post.comments %></td>
      <% if user_signed_in? && current_user.id == post.user_id %>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Destroy', post_path(post),
          method: :delete,
          data: { confirm: 'Are you sure?' } %>
    </tr>
  <% end %>
  <% end %>
</table>

<%= link_to 'New post', new_post_path %>
