<% if current_user %>
  <div id='log-out' class='nav-link'>
    <a href='/logout' data-method="delete">Log Out</a>
  </div>
<% end %>

<%= flash[:sign_in_success] %>
<%= flash[:sign_up_success] %>
<%= flash[:sign_in_failure] %>

<% @posts.each do |post| %>
  <div class='post'>
    <h4> <%= User.find_by(id: post.users_id).username %> </h4>
    <h5> <%= post.caption %> </h5>
    <%= image_tag url_for(post.photo) %>
  </div>
<% end %>
