<div class="collapse" id="navbarToggleExternalContent">
  <div class="bg-dark p-4">
    <h5 class="text-white h4">Collapsed content</h5>
    <span class="text-muted">Toggleable via the navbar brand.</span>
  </div>
</div>

<main>
  <section class="new-post-form-wrapper">
    <%= form_for @post do |form| %>
    <%= form.label :content %>
    <%= form.text_field :content %>
    <%= form.label "Upload an image" %>
    <%= form.file_field :image, accept: "image/jpeg, image/png, image/heic" %>
    <%= form.submit "Submit" %>
    <% end %>
  </section>

  <section class="posts d-flex flex-column align-items-center justify-content-center">
    <% @posts.reverse_each do |post| %>
      <div class="card" style="width: 18rem;">
        <%= image_tag("not_loaded_sample.jpeg", class: "card-img-top", alt: "Post Image") %>
        <div class="card-body">
          <p class="card-text"><%= post.content %></p>
        </div>
      </div>
    <%end%>
  </section>

</main>