<main class='posts-index-mainFeed'>
  <section class='posts-index-newPostLink'>
    <%= link_to new_post_path do %>
      New Post
    <% end %>
  </section>
  <ul class='posts-index-posts'>
    <% @posts.each do |post| %>
      <li class='posts-index-post'>
        <header class='posts-index-userDetails'>
          <div class='posts-index-userIcon'></div>
          <div class='posts-index-userName'><%= post.user.user_name %></div>
        </header>
        <p class='posts-index-picture'><%= image_tag post.picture.url, class: 'posts-index-picture' %></p>
        <p class='posts-index-description'><%= post.description %></p>
        <p class='posts-index-time'><%= time_ago_in_words(post.created_at).capitalize %> ago</p>
        <%= render partial: 'comments/show', locals: { post: post } %>
      </li>
    <% end %>
  </ul>
</main>
