<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= link_to post.content, post_path(post) %> </h2>
      <%= image_tag post.image.url(:thumb) %>
      <% if current_user && current_user.has_liked?(post) == false  %>
      <%= link_to "Like", post_likes_path(post), method: :post %>
      <% end %>
      <p><%= pluralize post.likes.count, 'like' %></p>
      <% if post.comments.any? %>
        <ul>
        <% post.comments.each do |comment| %>
          <li>
          <%= comment.content %>
          <% if current_user && current_user.id == comment.user_id %>
            <%= link_to "Delete comment", comment_path(comment), method: :delete %>
          <% end %>
          </li>
        <% end %>
        </ul>
      <% else %>
      <p>No comments.</p>
      <% end %>
    <% if current_user && current_user.id == post.user_id %>
      <%= link_to "Edit #{post.content}", edit_post_path(post) %>
      <%= link_to "Delete #{post.content}", post_path(post), method: :delete %>
    <% end %>
    <%= link_to "Comment", new_post_comment_path(post) %>
  <% end %>
<% else %>
  No posts yet
<% end %>

<%= link_to "Add a post", new_post_path %>
