<h1>Welcome to Mummygram <%= current_user.name %></h1>


<ul class="hmenu">
  <%= render 'devise/menu/registration_items' %>
  <%= render 'devise/menu/login_items' %>
</ul>


<%= link_to "New Post", new_post_path %>

<% @posts.each do |post| %>
  <div class="single-picture">
    <p id="username"><%= p User.find(post.user_id).name %></p>
    <figure>
      <%= image_tag post.image.url(:medium) %>
      <figcaption><%= post.description %></figcaption>
    </figure>
  </div>
<% end %>
