<% if @posts.any? %>
<% @posts.each do |post|%>
<ul>
  <li>
    <span id="img"><%= image_tag post.image.url(:medium) %></span><br>
    <span id="description"><%= post.description%></span>

      <tr>
      <% if current_user && !current_user.liked_post?(post)%>
        <%= link_to "♡", post_likes_path(post), class: 'likes-link' %>
      <% end %>
        <span class="likes_count"><%="♥ "%><%=post.likes.count %> </span> <%= 'like'.pluralize(post.likes.count) %>


        <% if current_user %>
          <%= link_to "Comment", new_post_comment_path(post) %>
        <% end %>


        <% if current_user && current_user.id == post.user_id%>
          <%= link_to "Edit", edit_post_path(post) %>
          <%= link_to "Delete", post_path(post), method: :delete %>
        <% end %>


        <%post.comments.each do |comment|%>
            <ul>
              <li><%= comment.opinions %></li>
            </ul>
        <%end%>

      </li>
    </ul>
    <% end %>
<% else %>
No posts yet
<% end %>
