<% if @posts.any? %>
  <% @posts.each do |post|  %>
    <h2><%= post.caption %></h2>
    <%= image_tag post.image.url(:thumb) %>

    <% if post.comments.any? %>
      <ul>
        <% post.comments.each do |comment| %>
        <li>
          <%= comment.thoughts %>
        </li>
        <% end %>
      </ul>
    <% else %>
      <p>No comments</p>
    <% end %>

    <%= link_to "Delete Post", post_path(post), method: :delete %>
    <%= link_to "Edit Caption", edit_post_path(post) %>
    <%= link_to "Add Comment", new_post_comment_path(post) %>
  <% end %>
  
<% else %>
  No posts have been added
<% end %>

<%= link_to 'Add a post', new_post_path %>
