<p id="notice"><%= notice %></p>
<h1>Listing Posts</h1>
<div id="content">
  <div class="row">
    <% @posts.each do |post| %>
      <div class="col-md-2">
        <img id="picture_and_caption" src="<%= post.picture %>"><br>
        <%= post.caption %><br>
        <%= link_to 'Show', post %>
        <%= link_to 'Edit', edit_post_path(post) %>
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      </div>
    <% end %>
  </div>
</div>
<br>

<%= link_to 'New Post', new_post_path %>
