<p id="notice"><%= notice %></p>

<% @friends.each do |user_object| %>
  <div style="display:inline-block"> <%= user_object.username %>  
    <% if user_object.avatar.attached? %>
      <%= image_tag user_object.avatar.representation(resize_to_limit: [nil, 50]) %>
    <% end %>
    <%= form_for @friend, url: '/unfollow', method:'post' do |form| %>
      <%= form.hidden_field :follow, :value => "#{user_object.id}"%>
      <%= form.submit "Unfollow" %>
    <% end %>
  </div>
<% end %>
<br />
<%= link_to 'New Post', new_post_path %>
<br />
<form method="get" action="/">
  <input type="text" placeholder="Look up this usename" value="" name="username" />
  <input type="submit" value="Lookup" />
</form>
<br />
<h1>Posts</h1>

<table>
  <thead>
    <tr>
      <th>Entry</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr><td>-------------</td></tr>
      <tr>
      <td> <%= get_time_ago(post.created_at) %> </td>
      <% post_user = User.find(post.user_id.to_i) %>
      <td><%= post_user.username %><br />
      <% if post_user.avatar.attached? %>
        <%= image_tag post_user.avatar.representation(resize_to_limit: [nil, 50]) %>
      <% end %>
      </td>
      <td><% if post.avatar.attached? %>
          <%= image_tag post.avatar.representation(resize_to_limit: [nil, 50]) %>
        <% end %><br />
        <%= post.entry %></td>
      
      <td>
      <%= form_for @like, url: '/unlike', method:'post' do |form| %>
        <%= form.hidden_field :post_id, :value => "#{post.id}"%>
        <%= form.submit "Unlike" %>
      <% end %>
      <%= form_for @like, url: '/like', method:'post' do |form| %>
        <%= form.hidden_field :post_id, :value => "#{post.id}"%>
        <%= form.submit "Like" %>
      <% end %>
      <p>Likes: <%= post.likes_count %></p>
      </td>
      <td>
      <%
      @comments = Comment.where({post_id: post.id})
      @comments.each do |comment_object|
      %>
        comment: <%= comment_object.entry %> <br />
        <% comment_user = User.find(comment_object.user_id.to_i) %>
        user: <%= comment_user.username %> 
        <% if comment_user.avatar.attached? %>
          <%= image_tag comment_user.avatar.representation(resize_to_limit: [nil, 50]) %>
        <% end %>
      <% end %>
      </td>
      <td>
        <%= form_for :comment, url: comments_path do |f| %>
        <p>
          <%= f.label :comment %> <br>
          <%= f.text_area :entry, required: true %><br>
          <%= f.hidden_field :post_id, required: true, value:"#{post.id}" %> 
          <%= f.hidden_field :user_id, required: true, value:"#{current_user.id}" %> 
          </p>
          <p>
          <%= f.submit %>
        </p>
        <% end %>
      </td>
        <td><%= link_to 'Show', post %></td>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% @users.each do |user_object| %>
  <div> <%= user_object.username %>  
    <% if user_object.avatar.attached? %>
      <%= image_tag user_object.avatar.representation(resize_to_limit: [nil, 50]) %>
    <% end %>
    <%= form_for @friend, url: '/follow', method:'post' do |form| %>
      <%= form.hidden_field :follow, :value => "#{user_object.id}"%>
      <%= form.submit "Follow" %>
    <% end %>
  </div><br />
<% end %>
