<div class="container">
  <div class="nav-wrapper">
    <ul id="nav-mobile" class="right hide-on-med-and-down">
      <li>
        
      </li>
    </ul>
  </div>
  <div class="row">
    <div class="main__posts">    
      
      <ul>
        <% @posts.each { |post| %>
          <div class="card">
            <div class="card-image">
              <%= image_tag(post.image) %>
              
            </div>
            
            <div class="card-content">
              <span class="card-title post__title"><%= post.title %></span>
              <%= post.description %>
              <p>
                <%= link_to 'Show', post_path(post) %>
                <% if post.user.id == current_user.id %>
                  <%= link_to 'Edit', edit_post_path(post) %>
                  <%= link_to 'Delete', post_path(post), method: :delete, data: {
                    confirm: "Are you sure?"
                  } %>
                <% end %>
              </p>
              
            </div>
            
            
          </div>
        <% } %>
      </ul>
    </div>
  </div>
  
</div>
