<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<%= link_to 'New Post', new_post_path %>
<table>
  <tbody>
    <% @posts.each do |post| %>
    <% user = User.find(post.user_id) %>
      <tr>
        <td><%= user.username %></td>
        <% if post.image.attached?  %>
        <td><image src="<%= (url_for(post.image)) %>"></td>
        <% end  %>
        <td><%= post.caption %></td>
        <% if current_user && current_user.id == post.user_id %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end  %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

