<h2>Railstagram feed</h2>

<ul id="posts">
<% @posts.each do |post| %>
  <li>
    <% if post.image? %>
      <div>
        <%= image_tag post.image.url %>
      </div>
    <% end %>
    <p><%= post.description %></p>
    <p>Posted by <strong><%= User.find(post.user_id).email.split("@")[0] %></strong> at <%= post.created_at %> </p>
    <p><%= link_to "View post", post_path(post), id: "view-post-#{post.id}" %></p>

    <!-- Show up to 3 comments if there are any -->
    <% if post.comments.length > 0 %>
      <ul>
      <% post.comments.last(3).each do |comment| %>
        <li><strong><%= get_username_by_id(comment.user_id) %></strong> <%= comment.body %></li>
      <% end %>
      <% if post.comments.length > 3 %>
        <li><%= link_to "View all comments", post_path(post) %></li>
      <% end %>  
      </ul>
    <% end %>

    <!-- Show comment form if viewer is logged in -->
    <% if current_user %>
    <p>
      <%= form_with(model: [post, post.comments.build], local: true) do |form| %>
      <%= form.text_field :body, id: "comment-body-on-post-#{post.id}" %>
      <%= form.submit "Comment", id: "submit-comment-on-post-#{post.id}" %>
      <% end %>
    </p>
    <% end %>

    <hr>
  </li>
<% end %>
</ul>