<% if @posts.any? %>
  <% @posts.each do |post| %>
  <%= link_to post.description, post_path(post) %>
  <%= post.comments.first.comment if post.comments.length > 0 %>
  <%= link_to "Edit #{post.description}", edit_post_path(post) %>
  <%= link_to "Delete #{post.description}", post_path(post), method: :delete %>
  <%= link_to "Comment on #{post.description}", new_post_comment_path(post) %>
  <%= link_to "Like #{post.description}", post_likes_path(post), class: 'likes-link' %>
  <span class="likes_count"> <%= post.likes.count %> </span> <%= 'like'.pluralize(post.likes.count) %>
  <%= image_tag post.image.url(:medium) %>
  <% end %>
<% else %>
  No posts yet
<% end %>

<a href='posts/new'>Add a post</a>
