<%= stylesheet_link_tag "posts_index.css" %>

<body align="center">
  <div class="topnav">
    <h2>Eternagram</h2><br />
    <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>
    <%= link_to('Profile', user_path(@user), method: :get) %>
  </div>

  <div id="website_name">
    <h1>Eternagram</h1>
  </div>

  <%= flash[:failure] %>

<div class="post_form">
  <%= form_for @post do |form| %>
    <%= form.label :photo %>
    <%= form.file_field :photo %>
    <%= form.label :caption %>
    <%= form.text_field :caption, maxlength: 20 %>

    <%= form.submit "Submit" %>
  <% end %>
</div>

<div class="container">

  <div class="grid">
    <% @posts.each do |post| %>
      <div class="photos">
        <p><%= (User.find_by(id: post.user_id)).username %></p><br />
        <%= image_tag(post.photo, :size => '260x180') %><br />
        <p class="caption"><%= post.caption %></p><br />
      </div>
    <% end %>
  </div>

</div>

</body>
