<%= link_to 'Post to Instagram', new_post_path %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.description %></h2>

    <% if post.comments.any? %>
        <ul>
          <% post.comments.each do |comment| %>
          <li>
            <%= comment.text %>
            <%= link_to 'Delete Comment', post_comment_path(post, comment), method: :delete %>
          </li>
          <% end %>
        </ul>
      <% else %>
        No comments
      <% end %>

        <%= post.likes.count %> Likes
        <%= image_tag post.image.url(:thumb, timestamp: false) %>

        <%= form_for [post, @like] do |f| %>
          <%= f.submit 'Like' %>
        <% end %>

        <%= link_to "Delete #{post.description}", post_path(post), method: :delete %>
        <%= link_to "Comment on #{post.description}", new_post_comment_path(post) %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>