<% if @posts.any? %>
  <ul>
    <% @posts.each do |post| %>
      <li>
        <%= link_to post.description, post_path(post) %>
        <%= link_to "Like", post_likes_path(post), class: 'likes-link' %>
      <span class="likes_count"> <%= post.likes.count %> </span> <%= 'like'.pluralize(post.likes.count) %>
        <!-- <p><%= pluralize post.likes.count, 'like' %></p> -->
        <% if @current_user.id == post.user_id %>
          <%= link_to 'Edit', edit_post_path(post) %>
          <%= link_to 'Delete', post_path(post), method: :delete %>
        <% end %>
      </li>
    <% end %>
  </ul>
<% else %>
  <p>No posts to display</p>
<% end %>

<%= link_to "Add a post", new_post_path %>
