<h1>Eternagram</h1>

<%= form_for @post do |form| %>
  <%= form.label :photo %>
  <%= form.text_field :message %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= post.message %><p>
<% end %>
