.container
  .row
    .four.columns
      %br
    .four.columns
      - if user_signed_in?
        = link_to 'Add post', new_post_path, class: "button button-primary"

.container
  .row
    .one.columns
    %br
    .ten.columns
      %ul.posts
        - @posts.each do |post|
          %li.post
            .row
              %h4= post.title
            .row
              .one.columns
                %br
              .six.columns
                = image_tag post.image.url(:medium)
              .five.columns.post_info
                .post_info_content
                  %strong= "#{post.user.username}: "
                  = post.description
                  %p
                    %span.date= post.created_at.strftime("%d %b at %I:%M")
                  %span.post_like
                    %p.likes
                      = link_to 'like', post_likes_path(post), method: :post
                      %span.presentation 路
                      %span= "likes: #{post.likes.count}"

                  - if post.belongs_to? current_user
                    .row
                      = link_to 'Edit post', edit_post_path(post)
                      %span.presentation 路
                      = link_to 'Delete post', post_path(post), method: :delete
            .row
              .one.columns
                %br
              .nine.columns
                %ul.comments
                  - post.comments.each do |comment|
                    %li.comment
                      %strong= "#{comment.author}:"
                      %span= "#{comment.content}"
                      %p.likes
                        = link_to 'like', comment_likes_path(comment),
                          method: :post
                        %span.presentation 路
                        %span= "likes: #{comment.likes.count}"
                        %span.presentation 路
                        %span.date= comment.created_at.strftime("%d %b at %I:%M")
                = link_to 'Comment', new_post_comment_path(post)
