<a href="posts/new">Add a post</a>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.message, post_path(post) %></h2>
    <p><%= pluralize post.likes.count, 'like' %></p>
    <% if post.comments.any? %>
      <ul>
        <% post.comments.each do |comment| %>
          <li>
            <%= comment.message %>
          </li>
       <% end %>
      </ul>
    <% end %>
    <%= link_to "Add comment", new_post_comment_path(post) %>
    <%= link_to "Edit post", edit_post_path(post) %>
    <%= link_to "Delete post", post_path(post), method: :delete %>
    <%= post.created_at.strftime('%I:%M%p, %m/%d/%Y') %>
<% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>
