<% if @posts.any? %>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.description %>
      User ID = <%= post.user_id %>

      <% if post.comments.any? %>
        <ul>
          <% post.comments.each do |comment| %>
          <li>
            <%= comment.text %>
            User ID = <%= comment.user_id %>
            <% if @user.owns_comment? (comment) %>
              <%= link_to 'Delete', comment_path(comment), method: :delete %>
            <% end %>
          </li>
          <% end %>
        </ul>
      <% else %>
        No comments
      <% end %>

      <%= post.likes.count %> Likes
      <%= image_tag post.image.url(:medium, timestamp: false) %>

      <% if @user.has_liked? (post) %>
        <%= link_to 'Unlike', like_path(post.get_like_of(@user)), method: :delete %>
      <% else %>
        <%= form_for [post, @like] do |f| %>
          <%= f.submit 'Like' %>
        <% end %>
      <% end %>

      <%= form_for [post, @comment] do |f| %>
        <%= f.label :text %>
        <%= f.text_area :text %>
        <%= f.submit 'Comment' %>
      <% end %> 

      <% if @user.owns_post? (post) %>
        <%= link_to 'Delete', post_path(post), method: :delete %>

      <% end %>
    </li>
  <% end %>
  </ul>
<% else %>
No posts yet
<% end %>

<%= link_to 'Post to Instantgram', new_post_path %>