<div class="posts">
  <% @posts.each do |post| %>
  <section class="post">
    <div class="user">
      <div class="avatar">
        <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTqtEOpkkYsHbI5VCATwmwFFxFe3sOY_IT6eHQbuaQTbgzXTLYEfZQFxwbIwAGQMbQL-6s&usqp=CAU">
      </div>
      <div class="username">
        <%= post.user.username %>
      </div>
    </div>
    <%= link_to (image_tag post.image, class: 'main-image'), post_path(post) %>
      <div class="caption">
      <span class="username"><%= post.user.username %></span>
        <span><%= post.caption %></span>
        <p>
        <%= time_ago_in_words(post.created_at).capitalize %> ago
      </p>
      </div>
  </section>
  <% end %>
</div>