<p id="notice"><%= notice %></p>

<table>
  <tbody>
    <% @posts.each do |post| %>
        <tr><h4><%= post.title %></h4></tr>
        <tr><%= link_to image_tag(post.image.url(:large)), post.image.url %></tr><br><br>
        <tr><%= post.body %></tr><br><br>
        <tr><%= link_to 'Show', post %></tr><nbsp>
        <tr><%= link_to 'Edit', edit_post_path(post) %></tr><nbsp>
        <tr><%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></tr>
      <br><br>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
