<h1> Here are your Posts... </h1>


<%= stylesheet_link_tag    'application', media: 'all' %>



 <% @posts.each do |post| %>
<article> <img><%= image_tag post.image %></img>
<h3> <%= post.caption %> </h3>
<p> Posted by User Id Number: <%= post.user_id %> <p>
</article>
<% end %>


<%= link_to new_post_path do %>
  New post
<% end %>
