<% if @posts.any? %>
<div class="posts-wrapper">
  <% @posts.each do |post| %>
  <div class="post">
    <div class="post-head">
      <p style="display:inline-block;float:right"><%= link_to "Edit", edit_post_path(post) %>
      <%= link_to "Delete", post_path(post), method: :delete %></p>
      <h4 class="name"> <%= post.user.username %></h4>
      <p class="location"> <%= request.location.city %> </p>
    </div>
    <div class="image"><%= link_to image_tag(post.image.url(:medium), alt: post.caption, class:"img-responsive"), post_path(post) %></div>
    <span class="user-react">
      <%= link_to '', like_post_path(post.id), remote: true, id: "like_#{post.id}", class: "glyphicon #{liked_post(post)}" %>
      <%= count_likes(post) %>
      <p class="caption"> <%= post.caption %> </p>
    </span>

    <div class="comment-like-form row">
      <hr style="padding:0;clear:both;width:90%;">

    <div class="col-sm-12">
    <div id="show-comments" style="margin-top:-10px;">
      <span class="user-react" style="margin-left:0;margin-top:0"><%= link_to "Leave Comment...", new_post_comment_path(post) %></span><br>

    <% post.comments.each do |comment| %>
    <br><span id="comment-name"><%= comment.user.username  %></span>
    <%= comment.content  %>  <span style="color:grey; font-size:0.8em"><%= comment.created_at.strftime("%H:%M, %A %e %b") %></span>
    <% end %>
  </div>
  </div>
      </div>
        </div>

  <% end %>
</div>

<% else %>
  No posts yet
<% end %>
