<h1>Eternagram</h1>

<%= form_for @post do |form| %>
  <%= form.label :photo %>
  <%= form.file_field :photo %>

  <%= form.submit "Submit" %>
<% end %>

<% @posts.each do |post| %>
  <p><%= image_tag(post.photo, :size => '260x180') %><p>
<% end %>
