<h1>binstagram!</h1>

<% if flash[:notice] %>
  <div class="notice"><%= flash[:notice] %></div>
<% end %>

<%= link_to 'New post', new_post_path %>

<table>
  <% @posts.each do |post| %>
    <tr>
      <% if post.image.attached? %>
        <td>
          <%= image_tag(post.image, :size => "260x180") %>
        </td>
      <% end %>
    </tr>
    <tr>
      <td>
        <%= post.caption %>
      </td>
    <tr>
    <tr>
      <td>
        <%= post.created_at.strftime('%e %B %Y') %>
      </td>
    </tr>
    <tr>
      <td>
        <br>
      </td>
    </tr>
  <% end %>
</table>
