<% if there_are_posts? %>
  <div class="container" id="card-gallery">
    <% @posts.each do |post| %>
      <div class="card mx-auto img-fluid" style="width: 40rem;">
        <%= image_tag(post.image, class: "card-img-top") %>
        <div class="card-body">
          <h5 class="card-title"><%= post.caption %> <span style="font-style: italic"><%= post.user.username %></span></h5>
          <p class="card-text">Total likes: 0</p>
          <% if current_user %>
            <a href="#" class="btn btn-primary">Comment</a>
            <a href="#" class="btn btn-success">Like</a>
            <%= link_to 'Delete', post_path(post), method: :delete, class: "btn btn-danger" %>
          <% end %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid text-center">
     <div class="container">
      <h1 class="display-4">Oh no! There are currently no photos!</h1>
      <p class="lead">
        <% if current_user %>
          <%= link_to "New Post", {controller: "posts", action: "new"}, class: "btn btn-outline-success" %>
        <% else %>
          <%= link_to "Sign In", sign_in_path %> or <%= link_to "Sign Up", sign_up_path %> to add one!
        <% end %>
      </p>
     </div>
   </div>
<% end %>
