<h2>All Posts:</h2>
<hr>
<% @posts.each do |post| %>
    <div class="each-post col-lg-4 col-md-4 col-sm-6 col-xs-12" >
      <%= image_tag url_for(post.image) %>
      <p><%= truncate(post.description) %></p>
      <p>Posted by <%= post.user.email %> at <%= post.created_at.to_formatted_s(:short) %></p>
      <p><%= post.likes.count %> <%= (post.likes.count) == 1 ? 'Like' : 'Likes'%></p>
      <a><%= link_to "View", post_path(post), :class => 'btn btn-info' %></a>
    </div>
<% end %>


<style>

  div.each-post {
    padding: 5px;
    height: 450px;
  }

  img {
    display: block;
    max-width: 100%;
    max-height: 300px;
    padding-bottom: 5px;
    margin: auto;
  }

</style>
