<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<% if current_user %>
<%= link_to "Log Out", destroy_user_session_path, method: :delete %>
<% else %>
<%= link_to "Sign Up", new_user_registration_path%>
<%= link_to "Log In", new_user_session_path%>
<% end %>

<table>
  <thead>
    <tr>
      <th>Image</th>
      <th>Caption</th>
      <th>User</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.image %></td>
        <td><%= post.caption %></td>
        <td><%= post.user.email %></td>
        <td><%= link_to 'Show', post %></td>
        <% if current_user == post.user %>
        <td><%= link_to 'Edit', edit_post_path(post) %></td>
        <td><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>
