<% @posts.each do |post| %>
  <div class="card">
    <div id="post-img">
    <% if post.image.attached? %>
      <p><%= image_tag post.image.variant(resize_to_limit: [200, 200]), id: 'img'  %><br>
    <% end %>
    </div>
    <p><%= post.caption %><br>
    Posted by <%= User.find(post.user_id).email %><br>
    <%= post.created_at.strftime("%m/%d/%Y, %H:%M") %>
    </p>
  </div>
<% end %>

<%= link_to new_post_path do %>
  New post
<% end %>
