<% if @posts.empty? %>
  <p>No posts yet :'(</p>
<% else %>
  <% @posts.each do |post| %>
    <div class="post">
      <%= link_to (image_tag post.image.url, width: '400'), post_path(post.id) %>
      <p class="caption"><%= link_to post.caption, post_path(post.id) %></p>
      <p>Likes: <%= post.likes.size %> | Dislikes: <%= post.dislikes.size %> | Overall: <%= post.rating %> 
        <% case post.comments.size %>
        <% when 0 %>
          No comments
        <% when 1 %>
          1 comment
        <% else %>
          <%= post.comments.size %> comments
        <% end %>
      </p>
    </div>
  <% end %>
<% end %>
<p><%= link_to 'Post photo', new_post_path %></p>