<%= link_to 'Welcome Page', controller: 'welcome' %>
<br><br>
<%= link_to 'New Post', new_post_path, method: :get %>

<h1>All Posts</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Image</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= image_tag(post.image_url(:thumb).to_s) %></td>
      <td><%= post.text %></td>

      <td><%= link_to 'Show', post_path(post) %></td>
      <td><%= link_to 'Edit', edit_post_path(post) %></td>
      <td><%= link_to 'Delete', post_path(post), method: :delete,
              data: { confirm: 'Are you sure' } %></td>
    </tr>
  <% end %>
</table>

<% @posts.each do |post| %>

<% end %>
