<section class="hero is-primary">
  <div class="hero-body">
    <div class="container has-text-centered">
      <h2 class="subtitle">
        welcome to
      </h2>
      <h1 class="title">
        Imāgo
      </h1>
    </div>
  </div>
</section>

<section class="section">
<div class="column is-half is-offset-3">
<p class="field">
  <a class="button is-primary" href="<%= new_post_path %>">
    <span class="icon">
      <i class="fa fa-camera-retro"></i>
    </span>
    <span>Add new</span>
  </a>
</p>

<% @posts.each do |post| %>
<div class="card">
  <div class="card-image">
    <figure class="image">
    <% if post.photo? %>
      <%= image_tag post.photo_url, alt: "Image" %>
    <% else %>
      <%= image_tag 'Trollface.png' %>
    <% end %>
    </figure>
  </div>

  <div class="card-content">
    <div class="media">
      <div class="media-left">
        <figure class="image is-48x48">
          <img src="http://bulma.io/images/placeholders/48x48.png" alt="Image">
        </figure>
      </div>
      <div class="media-content">
        <p class="title is-4"><%= post.user_email %></p>
      </div>
    </div>

    <div class="content">
      <%= post.title %>
      <br>
    </div>
    <nav class="level is-mobile">
      <div class="level-left">
        <a class="level-item">
          <span class="icon"><i class="fa fa-heart"></i></span>
        </a>
        <a class="level-item">
          <span class="icon"><i class="fa fa-comment-o"></i></span>
        </a>
      </div>
      <div class="level-right">
        <small><%= time_ago_in_words(post.created_at) %> ago</small>
      </div>
    </nav>
  </div>
</div>
</br>
</br>
<% end %>
</div>
</section>
