<h1> This is the html.erb new post form </h1>
  <div class="new-post">
  <%= form_for @post do |form| %>
    <%= form.label :image, "Upload Your Photo Here!" %>
    <%= form.file_field :image %>
    <%= form.text_area :caption, class: 'caption', placeholder: "Share your thoughts here" %>

    <%= form.submit "Send", class: "send" %>
  <% end %>
</div>

<h1> This is the JS post form </h1>

<div id="new-post">
  <form id="new-post-form" action="/posts" method="post">
    <label for="image">Upload Your Photo Here!</label>
    <input type="file" id="post-image" name="post[image]">
    <textarea id="caption" name="post[caption]" rows="8" cols="80" class="caption" placeholder="Share your thoughts here"></textarea>
    <input type="submit" id="Js-Send" value="Send">
  </form>
</div>

<div id="posts"></div>

<%= javascript_include_tag("posts.js") %>
