<% if @posts.any? %>
  <% @posts.each do |post| %>
    <div class="name_time"><strong><%= link_to post.user.username, user_path(post.user) %></strong>
    <%= distance_of_time_in_words(Time.now, post.created_at) %> ago
  </div>
      <%= link_to post_path(post), class: "img_link" do %>
        <%= image_tag post.image.url(:medium), class: post.filter, alt: post.description %>
      <% end %>
    <div class="likes"><%= link_to 'Like', perform_post_likes_path(post), class: 'likes-link', data:{post_id: post.id} %>
    <span class="likes_count" id="like_number<%= post.id %>"><%= post.likes.count %></span>
    <%= 'like'.pluralize(post.likes.count) %>
  </div>

    <p><strong><%= post.user.username %></strong> <%= post.description %></p>
    <% post.comments.each do |text| %>
    <%= text.user.username %>
    <%= text.comment %></br>
    <% end %>
    <% if current_user %>
      <%= link_to 'Comment', new_post_comment_path(post) %>
      <% if current_user == post.user %>
        <%= link_to 'Delete post', post_path(post), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'Add a post', new_post_path %>
