<h1>Listing Posts</h1>
<div id="content">
  <% @posts.each do |post| %>
  <b>username</b><p>
  <a href="posts/<%= post.id%>"><img id="picture_and_caption" src="<%= post.picture %>"></a><p>
    <blockquote>
      <%= post.caption %>
    </blockquote><p>
      <%= link_to 'Show', post %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <p>
      <% end %>
    </div>
    <br>

    <%= link_to 'New Post', new_post_path %>
