<%= link_to 'Welcome Page', controller: 'welcome' %>
<br>
<%= link_to 'New Post', new_post_path, method: :get %>

<h1>All Posts</h1>

<table>
  <tr>
    <th>ID</th>
    <th>Text</th>
  </tr>

  <% @posts.each do |post| %>
    <tr>
      <td><%= post.id %></td>
      <td><%= post.text %></td>

      <td><%= link_to 'Show', post_path(post) %></td>
    </tr>
  <% end %>
</table>
