<% if there_are_posts? %>
  <div class="container" id="card-gallery">
    <% @posts.each do |post| %>
      <div class="card mx-auto img-fluid" style="width: 40rem;">
        <%= link_to image_tag(post.image, class: "card-img-top"), post_path(post) %>
        <div class="card-body">
          <h5 class="card-title"><%= post.caption %> <span style="font-style: italic"><%= post.user.username %></span></h5>
          <p class="card-text">Likes: <%= post.likes.count %></p>
          <p class="card-text">Comments: <%= post.comments.count %></p>
          <%= link_to 'View Post', post_path(post), class: "btn btn-success" %>
        </div>
      </div>
    <% end %>
  </div>
<% else %>
  <div class="jumbotron jumbotron-fluid text-center">
     <div class="container">
      <h1 class="display-4">Oh no! There are currently no photos!</h1>
      <p class="lead">
        <% if current_user %>
          <%= link_to "New Post", {controller: "posts", action: "new"}, class: "btn btn-outline-success" %>
        <% else %>
          <%= link_to "Sign In", sign_in_path %> or <%= link_to "Sign Up", sign_up_path %> to add one!
        <% end %>
      </p>
     </div>
   </div>
<% end %>
