<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<div class="grid-container">
    <% @posts.each do |post| %>

       <div class="grid-item">
    <table>
      <thead>
        <tr>
          <th colspan="3"></th>
        </tr>
      </thead>

      <tbody>
      <tr>
        <td>
          <img src="<%=(url_for(post.image))%>" width="150px", height="150px">
        </td>
        <td>
          <%= User.where(id: post.user_id).first.username %><br>
          <%= post.description %>
        </td>
      </tr>
      <tr>
        <td>
          <%= link_to 'Show', post %>
        </td>
        <td>
          <%= render partial: 'likes/form', locals: { likeable: post } %>
        </td>
      </tr>
    </tbody>
  </table>
  </div>
    <% end %>


</div>

<br>

<%= link_to 'New Post', new_post_path %>
