<h1>FakeGram</h1>
<%= link_to "New Post", new_post_path %>
<%= button_to "Log Out", destroy_user_session_path, method: :delete %>

<% @posts.each do |post| %>
  <ul>
    <li>
      <%= post.user.username %>
    </li>
    <li>
      <%= image_tag post.pic.variant(:gravity=>"Center", resize: "400x400^", crop: '400x400+0+0') %>
    </li>
    <li>
      <%= post.text %>
    </li>
  </ul>

  <h2>Add a comment:</h2>
  <%= form_with model: [ post, post.comments.build ] do |form| %>
    <div>
      <%= form.label :body, "Comment" %><br>
      <%= form.text_area :body %>
    </div>
    <div>
      <%= form.submit %>
    </div>
  <% end %>

<% end %>

