<h1>Posts index</h1>
<p>
  <%= link_to 'create post', new_post_path %>
</p>
<ul>
  <% @posts.each { |post| %>
    <h1>Created by: <%= post.user.email %></h1>
    <h2><%= post.title %></h2>
    <p>
      <%= post.description %>
    </p>
    <p>
      <%= link_to 'Show', post_path(post) %>
      <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Delete', post_path(post), method: :delete, data: {
        confirm: "Are you sure?"
      } %>
    </p>
  <% } %>
</ul>