<%= link_to new_post_path do %>
 Add a new post
<% end %>
<div class="posts">
<% @posts.each do |post| %>
  posted by: <%= post.user.name%>
  <p><%= image_tag(post.image, class:"insta-image")%><br>
 <div class='caption'> <%= post.caption %><br>
 <%= post.created_at%>
  <%= link_to "Edit", edit_post_path(post)%> 
  <%= link_to "Show", post_path(post)%> 
  <%= link_to 'Delete', post_path(post), :method => :delete %>
  </div>
<% end %>
  <p id="flash"><%= flash[:alert] %></p>

</div>
