<% if user_signed_in? %>
<li>
  Welcome <%= @user.username %> - <%= link_to 'Sign Out', destroy_user_session_path, :method => :delete %>
</li>
<% else %>
<li>
  <%= link_to 'Sign Up', new_user_registration_path  %> / <%= link_to 'Sign In', new_user_session_path  %>
</li>
<% end %>
<div id="content">
  <div class="post">
    <% @posts.each do |post| %>
    <b><a href="users/<%=post.user_id%>"><%= (User.find(post.user_id)).username %></a></b><p>
    <a href="posts/<%= post.id%>"><img id="picture_and_caption" src="<%= post.picture %>"></a><p>
    <blockquote>
      <%= post.caption %>
    </blockquote><p>
 </div>

 <div class='likes'>
  <%= post.likes.count %> Likes
 </div>

 <div class='comment'>
    <% post.comments.each do |comment| %>
    <a href="users/<%=comment.user_id%>"><%= (User.find(comment.user_id)).username %></a>: <%= comment.comment %><br>
    <% end %>
 </div>

    <%= link_to 'Comment', new_comment_path(post_id: post.id) %><%= link_to 'Like', new_like_path(post_id: post.id) %>
      <% if user_signed_in? %>
      <% if current_user.id == post.user_id %>
        <p><%= link_to 'Edit', edit_post_path(post) %> |
        <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %>
      <% end %>
      <% end %>
        <p>
          <% end %>
        </div>
        <br>

        <%= link_to 'New Post', new_post_path %>
