<h1>Your Feed</h1>
<h3> <%= link_to 'New post', new_post_path %> </h4>

<content class = "post-feed">

  <% @posts.reverse_each do |post| %>
      <div class="poster-name"><%= User.find(post.user).name %> - </div>
      <div class="post-text"> <%= post.text %> </div> 
      <p><%= link_to 'Show', post_path(post.id)%>
      <% if post.user.to_i == current_user.id %>
        <%= link_to 'Delete', [post],
                        method: :delete,
                        data: { confirm: 'Are you sure?' } %> </p> 
      <% end %>
      </br> </br>
  </content>
  <% end %>