<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= link_to post.caption, post_path(post) %></h2>

    <h3>Comments for <%= post.caption %></h3>

      <% if post.comments.any? %>
        <ul>
          <% post.comments.each do |comment| %>
            <li>
              <%= comment.comment %>, <strong><%= comment.hotornot %></strong>/5
            </li>
          <% end %>
        </ul>
      <% else %>
        <p>No comments.</p>
      <% end %>

    <%= link_to "Edit #{post.caption}", edit_post_path(post) %>|
    <%= link_to "Delete #{post.caption}", post_path(post), method: :delete %>|
    <%= link_to "Add comment  to #{post.caption}", new_post_comment_path(post) %>
  <% end %>
<% else %>
  <h1>No post pictures yet</h1>
<% end %>

<h2><%= link_to "Add a post picture", new_post_path %></h2>