%h1
  Welcome to snapshot!

%h2
  Your Snapshot!s

-if current_user
  = link_to 'Add a new Snapshot!', new_post_path
  -if current_user.has_no_snapshots?
    %h2 You have not yet posted any Snapshot!s
  - else
    -if @user_posts.any?
      -@user_posts.each_with_index do | user_post, index |
        %ul
          %li #{index + 1}. #{user_post.title}
          = link_to 'Comment on your Snapshot!', new_post_comment_path(user_post)
          = link_to 'View post in more detail', post_path(user_post)
          -if user_post.comments.any?
            -user_post.comments.each do | comment |
              %ul
                %li #{comment.user.email}, commented: #{comment.comment}

-else
  You must log in or sign up to view your snapshots

%h2
  Most Recent Snapshot!s

-if @posts != nil
  -@posts.each_with_index do | post, index|
    %ul
      %li #{index + 1}. #{post.title}, posted by #{post.user.email}
      = link_to 'Comment on this Snapshot!', new_post_comment_path(post)
      = link_to 'View post in more detail', post_path(post)
      -if post.comments.any?
        -post.comments.each do | comment |
          %ul
            %li #{comment.user.email}, commented: #{comment.comment}
