<p id="notice"><%= notice %></p>

<h1>Feed</h1>

    <% @posts.each do |post| %>
    <ul>
      <li>
        <div class="post-username">
          <strong>User:</strong>
          <%= post.user.username %>
        </div>
      </li>
      <li>
        <div class="post-image">
          <%= image_tag post.image.url %>
        </div>
      </li>
      <li>
        <div class="post-caption">
          <strong>Caption:</strong>
          <%= post.caption %>
        </div>
      </li>
      <li><%= link_to 'View', post %></li>
    </ul>
    <% end %>

<br>

<%= link_to 'New Post', new_post_path %>
