<% if @posts.any? %>
  <% @posts.each do |post| %>
    <%= post.user.username %>
    <%= image_tag post.image.url(:medium) %>

    <%= link_to 'Like', post_likes_path(post), class: 'likes-link' %>
    <span class="likes_count"><%= post.likes.count %></span>
    <%= 'like'.pluralize(post.likes.count) %>




    <p><%= link_to post.description, post_path(post) %></p>
    <% post.comments.each do |text| %>
    <%= text.user.username %>
    <%= text.comment %></br>
    <% end %>
    <% if current_user %>
      <%= link_to 'Comment', new_post_comment_path(post) %>
      <% if current_user == post.user %>
        <%= link_to 'Delete post', post_path(post), method: :delete %>
      <% end %>
    <% end %>
  <% end %>
<% else %>
  <h1>No posts yet</h1>
<% end %>

<%= link_to 'Add a post', new_post_path %>
