<div class="new-post">
  <%= form_for @post do |form| %>
    <%= form.label :image, "Upload Your Photo Here!" %>
    <%= form.file_field :image %>
    <%= form.text_area :caption, class: 'caption', placeholder: "Share your thoughts here" %>

    <%= form.submit "Send", class: "send" %>
  <% end %>
</div>

<div id="js-posts">

</div>

<%= javascript_include_tag("posts.js") %>
