<%= link_to 'Post to Instagram', new_post_path %>
<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2><%= post.description %></h2>
      <%= image_tag post.image.url(:thumb, timestamp: false) %>
        <% if post.comments.any? %>
          <% post.comments.each do |comment| %>
            <%= comment.text %>
            <%= link_to 'Delete Comment', post_comment_path(post, comment), method: :delete %>
          <% end %>
        <% else %>
        No comments
        <% end %>
      <%= form_for [post, @like] do |f| %>
        <%= f.submit 'Like' %>
        <%= post.likes.count %> Likes
      <% end %>
        <%= form_for [post, @comment] do |f| %>
          <%= f.label :text %>
          <%= f.text_area :text %>
          <%= f.submit 'Leave Comment' %>
        <% end %>
        <%= link_to "Delete Post", post_path(post), method: :delete %>
    <% end %>
  <% else %>
  <h3>No posts yet</h3>
<% end %>