<div class="post-feed">
  <% @posts.each do |post| %>
    <div class="post">
      <div class="post-header">
        <div class="post-author-info">
          <%= image_tag("default.jpg", class: "post-author-pic") %>
          <p class="post-author-name"><%= post.user.username %></p>
        </div>
        <% if post.user_id == Current.user.id %>
          <p class="post-options">
            <%= link_to 'Edit', edit_post_path(post), class: "post-link" %> |
            <%= link_to 'Delete', post, method: :delete, class: "post-link", data: { confirm: 'Are you sure you want to delete this post?' } %>
          </p>
        <% end %>
      </div>
      <%= link_to image_tag(post.image), post, :class => "post-thumbnail" %>
      <div class="post-footer">
        <%= image_tag("like.png", class: "post-like-icon") %>
        <p class="post-like-count">
          23 likes
        </p>
        <div class="post-content">
          <p class="post-caption-author-name">
            <%= post.user.username %>
          </p>
          <p class="post-caption-text">
            <%= post.caption %>
          </p>
        </div>
        <p class="post-time-since">
          <%= time_ago_in_words(post.created_at) %> ago
        </p>
        <div class="post-comments">
          <%= image_tag("smile.png", class: "post-comment-icon") %>
          <input class="post-comment-box" type="text" name="" id="" placeholder="Add a comment...">
          <button class="post-focus-comment-button">Post</button>
        </div>
      </div>
    </div>
  <% end %>
</div>
