
- if @posts.any?
  - @posts.each do |post|
    %h2= post.description
    = image_tag post.image.url(:medium)
    = link_to "More", post_path(post)
    = link_to "Edit", edit_post_path(post)
- else
  No posts yet

%a(href='#{url_for(action: 'new', controller: 'posts')}') Add a post
