<p id="notice"><%= notice %></p>

<h1>Posts</h1>

<table>
  <thead>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= image_tag post.picture.variant(resize: "400x400!") %></td>
      </tr>
    <tr>
      <td><div class="likes">Likes: <%= post.likes.count %></div> <%= link_to 'Show', post %> <%= link_to 'Edit', edit_post_path(post) %>
      <%= link_to 'Destroy', post, method: :delete, data: { confirm: 'Are you sure?' } %></td>
    </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Post', new_post_path %>

