%a(href='/posts/new') Add a post
- if @posts.any?
  - @posts.each do |post|
    %h2= post.title
    = link_to image_tag("/posts/#{post.id}/picture"), post_path(post)
    = link_to "Add a comment", new_post_comment_path(post)
    %p
      = button_to "Like!", "/posts/#{post.id}/likes"
      = pluralize post.likes.count , 'like'
    - if post.comments.any?
      - post.comments.each do |comment|
        = comment.thoughts
        = link_to "Delete", comment_path(comment), method: :delete
- else
  %h1 No posts yet!