%h1
  Welcome to snapshot!



%h2
  Most Recent Snapshot!s

-if @posts != nil
  -@posts.each_with_index do | post, index|
    %ul
      = image_tag post.image.url(:medium), id: "post-#{post.title}-image-medium"
      %li #{index + 1}. #{post.title}, posted by #{post.user.email}
      = link_to 'View this Snapshot! in more detail', post_path(post)
      = link_to 'Comment on this Snapshot!', new_post_comment_path(post)
      Digged #{pluralize post.digs.count, "time"}
      -if current_user
        -if (post.user != current_user) && current_user.has_not_digged?(post)
          = link_to 'Dig this Snapshot!', post_digs_path(post), method: :post
      -post.comments.each do | comment |
        %ul
          %li #{comment.user.email}, commented: #{comment.comment}
