<div class="row">
    <% @posts.each do |post| %>
      <div class="caption">
      <%= post.comment %> posted by <%= post.user.email %>
      <div>
    </div>
    <div class='center-block'>
      <%= link_to image_tag(post.avatar.url), post %>
    </div>
    <div class='comments'>
    <% post.comments.each do |comment| %>
        <%= comment.user.email %>: <%= comment.body %><br>
        <% end %>
      </div>
    </div>
<% end %>
</div>
