<h2>Railstagram feed</h2>

<ul id="posts">
<% @posts.each do |post| %>
  <li>
    <% if post.image? %>
      <div>
        <%= image_tag post.image.url %>
      </div>
    <% end %>
    <p><%= post.description %></p>
    <p>Posted by <%= User.find(post.user_id).email %> at <%= post.created_at %></p>
    <p><%= link_to 'View post', post_path(post) %></p>
    <hr>
  </li>
<% end %>
</ul>