<% if @posts.any? %>
  <ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.description %>
      <%= post.likes %> Likes
      <%= image_tag post.image.url(:medium, timestamp: false) %>
      <%= link_to "Delete", post_path(post), method: :delete %>
      <%= link_to "Like", post_path(post), method: :put %>
    </li>
  <% end %>
  </ul>
<% else %>
No posts yet
<% end %>

<a href='/posts/new'>Post to Instantgram</a>