
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Moments // Tell your story in pictures.</title>
  </head>
  <body>
    </br>
    </br>
    <h1><strong>MOMENTS</strong></h1>
    <div id="new_post_link">
      <% if user_signed_in? %>
        <%= link_to new_post_path do %>
          <h2>NEW MOMENT</h2>
        <% end %>
      <% end %>
    </div>
    </br>
    </br>
    </br>
    <div id="all_posts">
      <% @posts.reverse.each do |post| %>
        <div id="single_post">
          <div id="post_header">
            <p class="align-left"><%= post.user.username %> </p>
            <p class="align-right"><%= post.caption %></p>
            </br>
            <div id="post_likes">
              <p class="align-right">❤️ <%= post.get_upvotes.size %> <%= link_to 'LIKE', like_post_path(post), method: :put %></p>
            </div>
          </div>
          </br>
          <div id="post_image">
              <%= image_tag("http://18.188.174.95/" + File.basename(post.moment.url.partition('?').first)) %>
          </div>
          <div id="post_time">
            <p><%= get_time(post.created_at) %></p>
          </div>
            </br>
            <% if user_signed_in? && post.user === current_user %>
              <%= link_to 'EDIT CAPTION', edit_post_path(post.id) %>
              <%= link_to 'DELETE MOMENT', post_path(post), method: :delete %>
            <% end %>
            </br>
            </br>
            <% post.comments.reverse.each do |comment| %>
              <div id="all_comments">
                <p> COMMENTS </p>
                <%= comment.body %> </br>
                <%= comment.created_at.strftime("Commented on %a, %d %b %Y") %>
                </br>
                <% if user_signed_in? && comment.user === current_user %>
                  <%= link_to 'DELETE COMMENT', post_comment_path(post, comment), method: :delete %>
                <% end %>
                </br>
              </div>
          <% end %>
          <% if user_signed_in? %>
            <div id="comment_form">
              <%= form_with(model: [ post, post.comments.build], local: true) do |form| %>
                <%= form.text_area :body, cols: "50", rows: "2" %>
                <br>
                <%=form.submit "COMMENT"%>
              <% end %>
            </div>
          <% end %>
          </br>
          </br>
        </div>
      <% end %>
    </div>
  </body>
</html>
