<h1>Posts</h1>

<h1>Listing Posts</h1>
<div class="">
  <%= link_to "New post", new_post_path %>
</div>

<div class="container">

  <% @posts.each do |post| %>
    <div class="grid">

      <%= post.title %>
      <%= post.body %>
      <div class="item">
        <%= image_tag post.image %>
      </div>

      <%= link_to "Show", post %>
      <%= link_to "Edit", edit_post_path(post) %>
      <%= link_to 'Delete', post, :method => :delete, data: { confirm: "Are you sure?" } %>
    </div>

  <% end %>

</div>

<br>
