<h1>Posts</h1>

<h1>Listing Posts</h1>
<div class="">
  <%= link_to "New post", new_post_path %>
</div>

<div class="container">

  <% @posts.each do |post| %>
    <div class="grid">
      <h4><%= link_to post.title, post %><br>
        Submitted
        <%= time_ago_in_words(post.created_at) %>
        ago by
        <%= post.user.email %>
      </h4>
      <%= post.body %>

      <div class="item">
        <%= image_tag post.image %>
      </div>

      <%= link_to "Show", post %>
      <% if user_signed_in? && current_user.id == post.user_id  %>
        <%= link_to "Edit", edit_post_path(post) %>
        <%= link_to 'Delete', post, :method => :delete, data: { confirm: "Are you sure?" } %>
      <% end %>
    </div>

    <%= link_to like_post_path(post), method: :put do %>
    Upvote
    <%= post.get_upvotes.size %>
  <% end %>

  <%= link_to dislike_post_path(post), method: :put do %>
  Downvote
  <%= post.get_downvotes.size %>
<% end %>

<% end %>

</div>

<br>
