<%= link_to('New Post', new_post_path)  %>



<ul>
  <% @posts.each do |post| %>
  <li>
    <a href="<%= post_path(post.id) %>"><%= image_tag post.image.url %></a>
    <br /><%= post.caption %>
    <br />Likes: <%= post.likes.count %>
    <br />Comments: <%= post.comments.count %>
  </li>
  <% end %>
</ul>
