<%= stylesheet_link_tag "posts_index.css" %>

<body align="center">
  <div class="topnav">
    <h2>Eternagram</h2><br />
    <a href="#">Log Out</a>
    <a href="#">Profile</a>
  </div>

  <div id="website_name">
    <h1>Eternagram</h1>
  </div>

  <%= flash[:failure] %>

<div class="post_form">
  <%= form_for @post do |form| %>
    <%= form.label :photo %>
    <%= form.file_field :photo %>

    <%= form.submit "Submit" %>
  <% end %>
</div>

<div class="container">
  <div class="spacer">&nbsp;</div>

  <% @posts.each do |post| %>
    <div class="photos">
      <p><%= (User.find_by(id: post.user_id)).username %></p><br />
      <%= image_tag(post.photo, :size => '260x180') %><br />
    </div>
  <% end %>

  <div class="spacer">&nbsp;</div>
</div>

</body>
