
<h1>Welcome to Powergram</h1>


<%= form_for @post do |form| %>
  <%= form.label :message, "Create a powerful post" %>
  <%= form.text_field :message, placeholder: "tell the people" %>
  <%= form.submit "Post" %>
<% end %>

<ul>
  <% @posts.each do |post| %>
    <li>
      <%= post.message %>
    </li>
  <% end %>
</ul>
