<%= link_to "Make a post", new_post_path %>

<section class="posts">
    <ul>
        <% @posts.each do |post| %>
            <li>
                <%= link_to post_path(post), class: "show-link" do %>
                    <div class="image-box">
                        <%= image_tag post.image.url(:thumb) %>
                    </div>
                <% end %>
                <p>
                    <%= form_for post, url: "/posts/#{post.id}/update_likes", action: "update_likes", method: :post do |f| %>
                        <%= f.submit "Like" %>
                    <% end %>
                    <%= pluralize(post.likes, 'like') %> 
                    <%= link_to "Comment", post_path(post), class: "comment" %>
                </p>
                <p><%= find_username_by_id(post.user_id)%> <%= post.title %></p>
            </li>
        <% end %>
    </ul>
</section>
