<% if @posts.any? %>
  <% @posts.each do |post| %>
    <h2> <%= image_tag post.image.url(:medium) %>
    <br></br>
    <%= post.description %>
      <br></br>
      <% if current_user %>
        <%= link_to "Comment", new_post_comment_path(post) %>
        <%= link_to "Edit picture", edit_post_path(post) %>
        <%= link_to "Delete picture", post_path(post), method: :delete %>
        <%= link_to "Like", post_likes_path(post), method: :post %>
      <% end %>
        <p><%= pluralize post.likes.count, 'like' %></p>
        Comments:
        <% if post.comments.any? %>
        <div>
          <br> </br>
          <% post.comments.each do |comment| %>
            <%= comment.comment %>
            <h6> posted <%= time_ago_in_words(comment.created_at)%> ago</h6>
            <% end %>
        </div>
      </h2>
      <% else %>
        <p> No comments... yet! </p>
      <% end %>
  <% end %>
<% else %>
<h5>  No pictures yet </h5>
<% end %>
