<h1>Instagram</h1>

<%= link_to "New photo", new_post_path %><br/>

<h2>Photo stream</h2>
<% @posts.each do |post| %>
  <a href="<%= url_for(post) %>">
    <img src="<%= url_for(:controller => "posts",
                          :action => "show_image",
                          :id => post.id) %>">
  </a>
  <p>
    <%= post.description %>
  </p>
  <p>
    <%= link_to "Add a comment", new_post_comment_path(post) %>
  </p>
  <p>
    <%= link_to "Edit post", edit_post_path(post) %>
  </p>
  <p>
    <%= link_to "Delete post", post_path(post),
      method: :delete,
      data: { confirm: "Are you sure you want to delete this post?" }
    %>
  </p>
  <br/>
<% end %>
