.posts.col-md-6.col-md-offset-3.text-center
  - if @posts.any?
    - @posts.each do |post|
      .article.well
        = link_to image_tag(post.image.url(:medium)),
          post_path(post),
          class: 'image_post'
        %h2= post.description
        %h3= pluralize post.likes.count, 'like'
        = link_to 'Like!',
          post_likes_path(post),
          method: :post,
          type: 'button',
          class: 'btn btn-primary'
        - if post.created_by?(current_user)
          = link_to "Delete Post",
            post_path(post),
            method: :delete,
            type: 'button',
            class: 'btn btn-danger'
  - else
    %h2 No posts yet

.col-md-6.col-md-offset-3.text-center
  = link_to "Create Post",
    new_post_path,
    type: 'button',
    class: 'btn btn-primary'
