<p id="notice"><%= notice %></p>

<h1>Posts</h1>
<div>
<% if !@posts %>
<h2>Be the first to post something!</h2>
<% end %>
<% @posts.each do |post| %>
<div class="post">
    <%= image_tag(post.image, class: "index") %>
    <p class="username">posted by <%= link_to(post.info_for_display[:username], new_follow_url) %> on <%= post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
    <p><%= post.info_for_display[:likes].length %> likes</p>
    <p><%= link_to 'Show', post %></p>
    <%= button_to 'I like it!', {:controller => "likes", :action => "create", :like => { :user_id => current_user, :post_id=> post.id } } , :method=>:post %>
    <p>Likers:</p>
    <ul>
      <% post.info_for_display[:likes].each_with_index do |like, i| %>
        <% if i < 3 %>
          <li><%= link_to(like.username, new_follow_url) %></li>
        <% elsif i == 3 %>
          <li>and <%=post.info_for_display[:likes].length - 3 %> others!</li>
        <% end %>
      <% end %>
    </ul>

    <p><%= link_to 'Delete', post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
<% end %>
</div>


<br>

<%= link_to 'New Post', new_post_path %>
