<content class="post-feed">
  <h2>Add Post:</h2>
</p>
<%= form_with(model: @post, local: true) do |form| %>
  <%= form.label 'title:' %> </br>
  <%= form.text_field :title %> </br>
  <%= form.file_field :image %> </br>
  <%= form.label 'message:' %> </br>
  <%= form.text_area :text %></br>
  <%= form.submit "Submit" %>
<% end %>
</content>
