<!--
<%= form_for @post do |form| %>
  <%= form.label :caption %>
  <%= form.text_area :caption %>

  <%= form.label :image %>
  <%= image_tag form.object.image_url if form.object.cached_image_data %>
  <%= form.hidden_field :image, value: form.object.cached_image_data %>
  <%= form.file_field :image , :class => 'form-control', :type => 'file' %>

  <%= form.submit "Submit" %>
<% end %>
-->
<%= form_for @post do |form| %>
      <%= form.label :caption %>
      <%= form.text_area :caption %>
      <%= form.hidden_field :image%>
      <%= form.file_field :image %>
      <%= form.submit %>
 <% end %>
 
<!--
 <form action="/post/new" method="post" enctype="multipart/form-data">
  <input name="photo[image]" type="hidden" value="<%= @post.cached_image_data %>" />
  <input name="photo[image] "type="file" />
  <input type="submit" value="Create" />
</form>
-->