<h1>New post</h1>

<%= form_with model: @post do |form|%>
<div>
<%= form.label :description%><br>
<%= form.text_field :description%>
<%= form.submit%>
</div>
<% end %>
  <%= link_to "Back to posts", posts_path %>