<% if @post.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved: </h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @post, html: {multipart: true} do |f| %>
  <%= f.label "Upload a picture" %>
  <%= f.file_field :image %>
  <%= f.label :caption %>
  <%= f.text_field :caption %>
  <%= f.submit 'Upload' %>
<% end %>
