<div>
<% flash.each do |type, msg| %>
    <%= msg %>
<% end %>
</div>
<div>
<%= form_for @post do |form| %>
  <%= form.label :image %>
  <%= form.file_field :image %>
  <%= form.label :caption %>
  <%= form.text_field :caption %>

  <%= form.submit "Create Post" %>
<% end %>
</div>