= form_for @post do |f|
  = f.label :image
  = f.file_field :image 
  = f.label :filter
  = f.select(:filter, options_for_select([['None',nil],['Sepia','filter-sepia'],['Blur', 'filter-blur'],['Grayscale', 'filter-greyscale'],['Sharpen', 'filter-sharpen'],['Comic Book','filter-posterize']], nil))
  = f.submit 'Post Image'