<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Post an Image</title>
  </head>
  <body>
    <%= form_for Post.new do |form| %>
      <%= form.file_field :image %>
      <br>
      Description: <%= form.text_field :description %>
      <br>
      <%= form.hidden_field :user_id, value: @user.id %>
      <%= form.submit 'Create Post', class: 'btn btn-primary' %>
    <% end %>
  </body>
</html>
