<div class="container is-flex is-flex-direction-column is-align-items-center mt-3" id="new-post-container">
  <div class="container mb-3" style="border:1px solid #ccf2ff;background-color:white"">
    <%= form_for @post do |form| %>
    
    <div>

      <%= form.label :Image, :class => 'image-label' %>
      <%= form.file_field :image, :class => "new-image" %>
      <%= form.text_area :body %>

    <div>
      <%= form.submit "Post" %>
    </div>
    <% end %>
  </div>
</div>