<div class='background'>
    <main class="auth-form">
        <section>
            <h2>Make a new post</h2>
            <%= form_for @post, html: {multipart: true} do |f|%>
                <%= f.text_field :title, class: "text-input", placeholder: "Title" %>
                <%= f.label :image, "Upload an image" %>
                <%= f.file_field :image, class: "btn" %>
                <%= f.submit "Post", class: "btn fr" %>
            <% end %>
        </section>
    </main>
</div>
