<h2> New gram!</h2>
<%= form_for @post, html: {multipart: true} do |post| %>
  <%= post.label :img %>
  <%= post.file_field :img %>
  <%= post.label :description %>
  <%= post.text_area :description %>
  <br>
  <%= post.submit %>
<% end %>
