<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>

<%= form_for @post do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description %>
<br>
  <%= form.submit "Create post" %>
<% end %>
<%= link_to "Back", posts_path %>
