
    <h4> Add new post </h4>
    <%= form_for @post, html: {multipart: true} do |f| %>
    <%= f.label :image %>
      <%= f.file_field :image %>
      <%= f.label :caption %>
      <%= f.text_field :caption %><br>
      <%= f.submit %>
    <% end %>
