<h2>
<%= form_for @post, html: {multipart: true} do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image, required: true %>
  <br></br>
  <%= f.label :description %>
  <%= f.text_field :description, required: true %>
  <br></br>
  <%= f.submit %>
<% end %>
</h2>
