<h1>Make A New Post</h1>

<div class="">


<%= form_for @post, html: { multipart: true } do |a| %>
  <% a.label :picture %>
  <%= a.file_field :picture %>
  <%= a.label :description %>
  <%= a.text_area :description %>
  <br>
  <%= a.submit "Submit", class: 'button' %>

<% end %>
</div>
