<h2>New Post</h2>

<%= form_for @post, html: { multipart: true } do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <br>
  <%= f.label :description %>
  <%= f.text_area :description %>
  <br>
  <%= f.submit %>

<% end %>
