<h1>New Post</h1>

<%= form_with model: [current_user, current_user.posts.build], local: true do |form| %>

<p>
  <%= form.label :image %><br>
  <%= form.file_field :image %>
</p>

<div id="image-preview-container">
  <img src="" alt="Image Preview" id="previewImage">
</div>

<p>
  <%= form.label :filter %>
  <%= form.select(
    :filter,
    options_for_select(['Greyscale', 'Bright', 'Saturate', 'Contrast']),
    { include_blank: true }
  ) %>
</p>

<p>
  <%= form.submit 'Post' %>
</p>

<% end %>