= form_for @post do |f| 
  .field
    = f.label :description
    %br/
    = f.text_area :description, autofocus: true, autocomplete: "description"
  .field
    = f.label :image
    %br/
    = f.file_field :image 
 
  %div.text-center
  = f.submit 'Create Post', class: 'btn btn-primary'

