<h1>Posts#new</h1>
<p>Find me in app/views/posts/new.html.erb</p>


<%= form_for @post, html: { multipart:true } do |form| %>

  <%= form.label :messages %>
  <%= form.text_field :messages, { required: true } %> <br>
  <%= form.label :image %>
  <%= form.file_field :image, { required: true } %>

  <%= form.submit "Gram it!" %>
<% end %>
