<h1> New Post </h1>

<%= form_for @post  do |form| %>
  <p>
    <%= form.label :photo %><br>
    <%= form.file_field :photo %>
  </p>


  <p>
    <%= form.label :caption %><br>
    <%= form.text_area :caption %>
  </p>

  <p>
    <%= form.submit "Submit" %>
  </p>
<% end %>
