
<!doctype html>
<html>
<head>
  <title>Instagram| It's photo-delicious!</title>
</head>
<body>

  <%= form_for @post, html: { multipart: true } do |f| %>
  <%= link_to image_tag(@post.image.url(:med)), @post.image.url %>
  <% validates :avatar, :attachment_presence => true %>

  <%= f.label :title %>
  <%= f.text_field :title %>:<br />

  <%= f.submit "Upload picture"%>
  <% end %>


</body>
</html>
