
<!doctype html>
<html>
<head>
  <title>Instagram| It's photo-delicious!</title>
</head>
<body>

  <%= form_for @post do |f| %>
  <div class="field">
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div class="field">
    <%= f.label :avatar %>
    <%= f.file_field :avatar %>
  </div>
  <div class="actions">
    <%= f.submit 'Add an image' %>
  </div>
  <% end %>

</body>
</html>
