<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Challenge</title>
  </head>
  <body>

    <div class="container">

    <%= form_with scope: :post, url: posts_path, local: true do |form| %>
      <p>
        <%= form.label :photo %><br>
        <%= form.text_field :photo %>
      </p>

      <p>
        <%= form.label :desc %><br>
        <%= form.text_area :desc %>
      </p>

      <p>
        <%= form.submit %>
      </p>
    <% end %>

    <%= link_to 'Back', posts_path %>

    </div>
  </body>
</head>
