<h2>New Post</h2>
<hr>

<%= form_for @post do |f| %>
  <%= f.label :cover_photo %>
  <br>
  <%= f.file_field :image %>
  <br>
  <%= f.label :description  %>
  <br>
  <%= f.text_area :description  %>
  <br>
  <%= f.submit  %>
<% end %>
