<section>
    <h1 class="title"> INSTAGRAHAM </h1>
        <div class= "postform">
            <%= simple_form_for @post do |f| %>
            <%= f.input :title, input_html: { class: 'input' }, wrapper: false, label_html: { class: 'label' } %>
            <%= f.file_field :image %>
            <%= f.input :content, input_html: { class: 'textarea' }, wrapper: false, label_html: { class: 'label' } %>
            <%= f.button :submit, "POST", class: "button is-primary"%>
        <% end %>
    </div>
</section>

