<div class="col-sm-6 col-sm-offset-3">
  <%= form_for [@user, @post], html: {multipart: true}, class: "add-post" do |f| %>
    <div class="form-group">
      <%= f.label :image %>
      <%= f.file_field :image, class: "btn btn-default" %>
    </div>
    <div class="form-group">
      <%= f.label :caption %>
      <%= f.text_field :caption, class: "form-control" %>
    </div>
    <%= f.submit 'Post', class: "btn btn-default" %>
  <% end %>
</div>
