
%section#new-post
  .row
    .small-12.medium-8.medium-centered.columns
      %h2
        upload a new image
      = form_for Post.new, html: {multipart: true} do |f|
        = f.label :image
        = f.file_field :image, required: true
        = f.label :description
        = f.text_field :description, required: true
        = f.submit
