<div class="new-post-container">
  <div class='card'>
    <div id='new-post-header'>
    New Post
    </div>
    <%= form_for @post do |form| %>

      <%= form.label :image %>
      <%= form.file_field :image %><br>

      <%= form.label :caption %>
      <%= form.text_field :caption, :maxlength => 500, :size => 40 %><br>

      <%= form.submit "Submit" %>
    <% end %>
  </div> 
</div>