<div class="container">
  <h2>New post</h2>

  <%= form_for(@post) do |r| %>
    <div class="form-group row">
      <label for="description" class="col-xs-2 col-form-label"><%= r.label :description %></label>
      <div class="col-xs-10" id="description">
        <%= r.text_field(:description, class: "form-control", placeholder: "Add description here") %>
      </div>
    </div>

    <div class="form-group row">
      <label for="location" class="col-xs-2 col-form-label"><%= r.label :location %></label>
      <div class="col-xs-10" id="location">
        <%= r.text_field(:location, class: "form-control", placeholder: "Add location here") %>
      </div>
    </div>

    <%= r.submit "Post it", class: "btn btn-primary" %>
    <%= link_to "Cancel", posts_path %>
  <% end %>
</div>
