<h1> Add new post </h1>

<%= form_for @post, html: {multipart: true} do |form| %>

  <p>
    <%= form.label :avatar %>
    <%= form.file_field :avatar %>
  </p>

  <p>
    <%= form.label :comment %><br>
    <%= form.text_field :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>

<% end %>
