<!-- <div class="form-wrapper">
  <div class="form-horizontal">
    <%= simple_form_for @post do |f| %>
      <div class="form-group">
        <%= f.input :image %>
      </div>
      <div class="form-group text-center">
        <%= f.input :caption %>
      </div>
      <div class="form-group text-center">
        <%= f.button :submit, class: 'btn-success'%>
      </div>
    <% end %>
  </div>
</div> -->

<div class="form-wrapper">
  <h2>Create a new post</h2>
    <div class="form-group">
      <%= simple_form_for @post do |f| %>
      <div class="form-group">
        <%= f.input :image%>
        <%= f.hint 'Image must be added to submit post', class: 'warning'%>
      </div>
      <div class="form-group">
        <%= f.input :caption, input_html: { class: 'form-control' }%>
      </div>
      <div class="form-group">
        <%= f.button :submit, class: 'btn-success'%>
      </div>
      <% end %>
    </div>
</div>
