<%= form_for @post, html: {multipart: true} do |f| %>
  <div id="title">
	  <%= f.label :title %>
	  <%= f.text_field :name %>
	</div>
	<div id-"image">
	  <%= f.file_field :image %>
	</div>
	<div id="submit">
  	<%= f.submit %>
	</div>
<% end %>

