<%= form_for @post, html: { class: 'new-user', multipart: true } do |form| %>

  <div class='image-upload-container float-left'>
    <h2 class='centered form-header brand-font'>Caption</h2>
    <%= form.text_field :caption, class: :centered, id: :caption %>
    <%= form.hidden_field(:user_id, value: current_user.id) %>

    <%= form.file_field :image, class: :centered %>
  </div>

  <div class='filters-container float-right'>
    <div class='centered'>
      <h2 class='centered form-header brand-font'>Super-Necessary Filters!</h2>
      <%= form.label :none, class: 'filter-label' %>
      <%= form.radio_button :filter, 'none', checked: 'checked' %>

      <%= form.label :sepia, class: 'filter-label' %>
      <%= form.radio_button :filter, 'sepia' %>

      <%= form.label :super_bright, class: 'filter-label' %>
      <%= form.radio_button :filter, 'super_bright' %>

      <br />

      <%= form.label :greyscale, class: 'filter-label' %>
      <%= form.radio_button :filter, 'greyscale' %>

      <%= form.label :blur, class: 'filter-label' %>
      <%= form.radio_button :filter, 'blur' %>

      <%= form.label :invert, class: 'filter-label' %>
      <%= form.radio_button :filter, 'invert' %>

      <br />

      <%= form.label :saturate, class: 'filter-label' %>
      <%= form.radio_button :filter, 'saturate' %>

      <%= form.label :contrast, class: 'filter-label' %>
      <%= form.radio_button :filter, 'contrast' %>

      <%= form.label :colourise!, class: 'filter-label' %>
      <%= form.radio_button :filter, 'colourise' %>
    </div>

    <%= form.submit "Post picture!", id: 'post', class: 'centered clear-btn send-post-btn' %>
  </div>

<% end %>
