- if @post.errors.any?
  %section#errors
    %h2
      = pluralize @post.errors.count, 'error'
      don't allow this post to be saved:
    %ul
      - @post.errors.full_messages.each do |message|
        %li= message
= form_for @post, html: { multipart: true } do |f|
  = f.label :image
  = f.file_field :image
  = f.label :description
  = f.text_field :description
  = f.submit