<h1>New Post</h1>

<% if @post.errors.any? %>
   <div id="error_explanation">
     <h2>
       <%= pluralize(@post.errors.count, "error") %> prohibited
       this post from being saved:
     </h2>
     <ul>
       <% @post.errors.full_messages.each do |msg| %>
         <li><%= msg %></li>
       <% end %>
     </ul>
   </div>
 <% end %>

<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :description %><br>
    <%= form.text_field :description %>
  </p>

  <p>
    <%= form.submit :Share %>
  </p>
<% end %>

<%= link_to 'Back', posts_path %>
