<center>
  <%= form_for @post, html: { multipart: true } do |form| %>
  <br>
  <h2><%= form.label :message %></h2>
  <br>
  <div class="text_field">
    <%= form.text_field :message, :size=>"70" %>
  </div>
  <br>
  <h2><%= form.label :image %></h2>
  <br>
  <%= form.file_field :image %>
  <br><br>
  <%= form.submit "Submit" %>
  <% end %>
  <br>
  <%= button_to "View posts", posts_path, :method => :get %>
</center>
