- if @post.errors.any?
  %section#errors
    %h3
      Whoops!
      = pluralize @post.errors.count, "error"
      prevented you from posting to BubHub:
    %ul
      - @post.errors.full_messages.each do |message|
        %li=message



= form_for @post do |f|
  = f.file_field :image
  = f.label :caption
  = f.text_field :caption
  = f.submit 'post it'
