"New post"

<div class='post-form'>    
  <%= form_for @post do |form| %>
    <%= form.label :image %>
    <%= form.file_field :image, class: 'form-control'%><br>
    <%= form.label :content %>
    <%= form.text_field :content, class: 'form-control' %><br>
    <%= form.submit "Submit", class: 'btn-main'%>
  <% end %>
</div>