.form-wrapper
  = form_for @post, html: { multipart: true, class: 'form-horizontal' } do |f|
    .form-group
      = f.label :image
      = f.file_field :image
    .form-group
      = f.text_area :caption, class: 'form-control', placeholder: 'Caption'
    .form-group
      = f.submit 'Post', class: 'btn btn-primary'
