<%= form_for @post, html: {multipart: true} do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.label :tag %>
  <%= f.text_field :tag %>
  <%= f.submit %>
<% end %>

<% if @post.errors.any? %>
<section id='errors'>
  <h2><%= pluralize(@post.errors.count, 'error') %> post not saved: </h2>)
    <ul>
      <% @post.errors.full_messages.each do |message| %>
      <li><%= message %></li>
      <% end %>
    </ul>
  </section>
  <% end %>
