<div class="form">
  <%= form_for @post, html: {multipart: true} do |f| %>
  <div class="image-selector">
    <%= f.file_field :image %>
  </div>
    <br>
    <br>
    <%= f.label :description %>
    <br>
    <%= f.text_field :description, :class => 'caption' %>
    <br>
    <br>
    <%= f.submit :class => 'button' %>
  <% end %>
</div>
