<div class="container">
  <%= form_for [@user, @post], url: posts_path, html: { multipart: true } do |f| %>
    <div class="field">
      <%= f.label :image %><br />
      <%= f.file_field :image %>
    </div>

    <div class="field">
      <%= f.label :caption %><br />
      <%= f.text_field :caption %>
    </div>

    <div class="actions">
      <%= f.submit "Post" %>
    </div>

  <% end %>
</div>
