<%= form_with scope: :post, url: posts_path, local: true do |form| %>
  <p>
    <%= form.label :text %><br>
    <%= form.text_field :text %>
  </p>

  <p>
    <%= form.label :url %><br>
    <%= form.text_field :image_url %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
