<h1>New Post</h1>
<%= form_for @post, url: { action: 'create' } do |f| %>
  <%= f.label :image %>
  <%= f.file_field :image %><br><br>
  <%= f.label :caption %><br>
  <%= f.text_area :caption %><br>
  <%= f.submit 'Post' %>
<% end %>
