<%= render partial: 'shared/nav' %>

<div class="container-fluid">
  <div class="row">
    <div class="col-2 offset-5 mt-5">
      <h1 class="text-center">Upload a picture!</h1>

      <%= form_with model: @post, html: { multipart: true } do |f| %>
        <div class="mb-3 mt-3">
          <%= f.file_field :uploaded_picture, class: 'form-control' %>
        </div>

        <div class="mb-3">
          <%= f.label :message %>
          <%= f.text_area :message, class: 'form-control' %>
        </div>

        <%= f.submit 'Do it', class: 'btn btn-primary btn-lg' %>
      <% end %>
    </div>
  </div>
</div>
