%section.sign_up_pos
  .border-form-div
    .brand_name
      %h1 Instagram It
    .main_signup
      = form_for @post, html: {multipart: true} do |f|
        = f.file_field :image
        = f.label :name
        = f.text_field :name
        = f.submit "Add Image"