<h1>New Post</h1>

<%= form_for :post, url: posts_path, html: {multipart: true} do |f| %>
  <p>
    <%= f.label :picture %><br>
    <%= f.file_field :picture %>
  </p>

  <p>
    <%= f.label :description %><br>
    <%= f.text_area :description %>
  </p>

  <p>
    <%= f.submit %>
  </p>
<% end %>
