<%= form_for @post do |form| %>
  <div class="field">
    <%= form.label 'How you feline?' %><br />
    <%= form.text_field :caption %><br />
  </div>
  <div class="field">
    <%= form.file_field :image %><br />
  </div>

  <div class="actions">
    <%= form.submit "Create post" %><br />
  </div>
<% end %>

<%= link_to "Back", :back %>
