<html>
    <head>
        <meta charset="utf-8">
        <title></title>
    </head>
    <body>
        <h1>
            Create a new post
        </h1>
        <div class="form-style-5">
            <% if @post.errors.any? %>
            <section id="errors">
                <h2>
                    <%= pluralize @post.errors.count, "error" %>
                    prohibited this post from being saved:
                </h2>
                <ul>
                    <% @post.errors.full_messages.each do |message| %>
                    <li>
                        <%= message %>
                    </li>
                    <% end %>
                </ul>
            </section>
            <% end %>
            <%= form_for @post, html: {multipart: true} do |f| %>
            <%= f.label :caption %>
            <%= f.text_field :caption %>
            <%= f.file_field :image %>
            <%= f.submit %>
            <% end %>
        </div>
    </body>
</html>
