<h1>Submit a New Post</h1>

<%= form_for @posts do | form | %>
  <div class="field">
    <p><%= form.label :image %></p>
    <%= form.text_field :image %>
  </div>
  
  <div class="field">
    <p><%= form.label :description %></p>
    <%= form.text_area :description %>
  </div>

  <%= form.submit "Submit" %>
<% end %>