<h1>New Post</h1>
<%= form_for @post, html: {multipart: true} do |form| %>
  <p><%= form.label :message %></p>
  <p><%= form.text_area :message, :cols => 40, :rows => 5 %></p>
  <p><%= form.file_field :image %></p>
  <%= form.submit "Submit" %>
<% end %>
<%= render 'form', post: @post %>
<%= link_to 'Back', posts_path %>
