#forgot.container
  = simple_form_for @post, html: { multipart: true } do |f|
    = f.error_notification
    %h2 Create Post
    %br
    .form-inputs
      = f.input :image, required: true
      = f.input :caption
    %br
    .form-actions
      = f.button :submit, "Post!"
    %br
