<div class="post_div">
  <div class="h1_div">
    <div class="h1">New post</div>
  </div>

  <div class="post_comments_div">
    <div class="form_comments w-form">

      <%= form_for(@post, url: {controller: "posts", action: "create"}) do |f| %>
        <div>
          <%= f.file_field :image %><br /><br />
        </div>

        <div>
          <%= f.label :description, class: "w-form-label" %><br />
          <%= f.text_area :description, class: "text_field w-input" %>
        </div>

        <div>
          <%= f.submit "Create post", class: 'button w-button' %>
        </div>
      <% end %>

    </div>
  </div>
</div>
