.form-wrapper
  = form_for @post, html: { class: 'form-horizontal', multipart: true } do |f|
    .form-group
      = f.label :image
      = f.file_field :image
    .form-group.text-center
      = f.label :caption
      = f.text_field :caption
    .form-group.text-center
      = f.submit 'Create Post', class: 'btn-success'
