<% if @post.errors.any? %>
  <section id='errors'>
    <h2> Something went wrong.. <%= pluralize(@post.errors.count, 'error') %>:</h2>
    <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<%= form_for @post do |f| %>
  <%= f.label :title %>
  <%= f.text_field :title %>
  <%= f.label :image %>
  <%= f.file_field :image %>
  <%= f.submit 'Post!' %>
<% end %>