<h1>New Post</h1>
<%= form_with model: @post do |form| %>
  <%= form.label :message %>
  <%= form.text_field :body %>
  <%= form.file_field :image, id: "Post_picture" %>
  <%= form.submit "Submit" %>
<% end %>