- if @post.errors.any?
  - @post.errors.full_messages.each do |message|
    = message

= form_for @post do |f|
  = f.file_field :image
  = f.label :caption
  = f.text_field :caption
  = f.submit 'Create Post'
  = f.submit 'Delete'
