<%= form_for @post do |form| %>
  <p><%= form.label :title %></p>
  <%= form.text_field :title %>
  <p><%= form.label :message %></p>
  <%= form.text_field :body %>
  <p><%= form.label :image %></p>
  <%= form.file_field :image %>
  

  <p><%= form.hidden_field :user_id, :value => current_user.id if current_user %></p>

  <%= form.submit ("Post") %>
<% end %>
