<h1>New Photo</h1>

<%= form_for :post, url: posts_path do |f| %>
  <p>
    <%= f.file_field :image_data %>
  </p>
  <p>
    <%= f.label :description %><br/>
    <%= f.text_area :description %>
  </p>
  <p>
    <%= f.submit "Post photo" %>
  </p>
<% end %>
