<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  
  <div class='post-form'>    
    <%= form_for @post do |form| %>
      <%= form.label :image %>
      <%= form.file_field :image, class: 'form-control'%><br>
      <%= form.label :content %>
      <%= form.text_field :content, class: 'form-control' %><br>
      <%= form.label :author %>
      <%= form.text_field :author, class: 'form-control' %><br>
      <%= form.submit "Add Extra", class: 'btn-main'%>
    <% end %>
  </div>

</body>
</html>