<h1>New Post!</h1>
   <%= form_tag '/newpost' do %>
   <%= label_tag :description%>
   <%= text_field_tag :description %>
   <%= hidden_field_tag :user_id, current_user.id if current_user %>
   <%= submit_tag "Submit Post"%>
<%end%>
