.container
  = form_for @post, html: {multipart: true} do |f|
    = f.label :title
    = f.text_field :title
    = f.label :description
    = f.text_area :description
    = f.label :image
    = f.file_field :image
    = f.submit
