    <div class="col-md-5">
      <%= form_for @post, html: {multipart: true} do |f| %>
        <div class="form-group">
          <%= f.label :title, :class => 'label' %>
          <%= f.text_field :title, :class => 'form-control' %>
          <%= f.label :image, :class => 'label' %>
          <%= f.file_field :image, :class => 'choose_file' %>
          <%= f.label :tag, :class => 'label' %>
          <%= f.text_field :tag, :class => 'form-control' %>
          <%= f.submit :class => 'create_post'%>
        </div>
      <% end %>
    </div>

<% if @post.errors.any? %>
<section id='errors'>
        <h2><%= pluralize(@post.errors.count, 'error') %> post not saved: </h2>)
          <ul>
            <% @post.errors.full_messages.each do |message| %>
            <li><%= message %></li>
            <% end %>
          </ul>
  </section>
  <% end %>
