<h1>New Post</h1>

<%= form_with model: [current_user, current_user.posts.build], class: 'post-form', local: true do |form| %>

<%= form.file_field :image %>

<div id="image-preview-container">
  <img src="" alt="Image Preview" id="previewImage">
</div>

<div class="post-filter-select">
  <%= form.label :filter %>
  <%= form.select(
    :filter,
    options_for_select(['Greyscale', 'Bright', 'Saturate', 'Contrast']),
    { include_blank: true }
  ) %>
</div>

<%= form.submit 'Post', class: 'btn-primary' %>

<% end %>