<h2>New Picture</h2>
<%= form_with model: @post, local: true do |form| %>

  <%= hidden_field_tag 'post[user_id]', current_user.id %>
  <%= form.file_field :image %>
  <br>
  <%= form.label :caption %>
  <br>
  <%= form.text_field :caption %>
  <br>
  <%= form.submit "Submit" %>
<% end %>
