
<%= form_for(Post.new) do |post| %>
<p><%= post.text_field("title") %></p>
<p><%= post.text_field("contents") %></p>
<p><%= post.submit %></p>

<% end %>

<p><%= button_to("Back", posts_path) %></p>
