<div><h1>Upload your picture</h1></div>

<%= form_for @post do |f| %>
  <div class="form-group">
    <%= f.label :image %>
    <%= f.file_field :image %>
  </div>

  <div class="form-group">
    <%= f.label :caption %>
    <%= f.text_field :caption %>
  </div>

  <%= f.submit 'Upload' %>
<% end %>
