<h2>  Get your dog ready to woof!! <h2>
<h3> Add dog's name and breed and load up an image</h3>
<%= form_for Post.new do |f| %>
  <%= f.label :Name %>
  <%= f.text_field :title %>
  <%= f.label :Breed %>
  <%= f.text_field :desc %>
  <%= f.submit %>
<% end %>
