<%= form_for ([current_user, current_user.posts.build]) do |form| %>
<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :link %><br>
  <%= form.text_field :link %>
</p>

<p>
  <%= form.hidden_field :user_id, :value => params[:user_id] %>
</p>

<p>
  <%= form.submit %>
</p>
<% end %>
