<%= render 'post', post: @post %>
<% if @post.user == current_user %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %>
    |
    <%= link_to "Edit Post", edit_post_path(@post) %>
    |
    <%= link_to "Delete Post", post_path(@post), method: :delete %>
  </div>
<% else %>
  <div class="text-center edit-links">
    <%= link_to "Cancel", posts_path %>
  </div>
<% end %>
