<p><%= @post.description %></p>
<%= link_to "Like", post_likes_path(@post), class: 'likes-link' %>
<span class="likes_count"><%= @post.likes.count %></span><%= ' like'.pluralize(@post.likes.count) %>

<%= link_to "leave comment", new_post_comment_path(@post) %>

<h3>Comments</h3>
<% if @post.comments.any? %>
  <% @post.comments.each do |comment| %>
    <ul>
      <li><%= comment.body %></li>
    </ul>
  <% end %>
<% end %>
