<!-- <h2>View Post</h2> -->
<!-- <h4>Posted By: <%= @post.user.email %> </h4> -->
<%= image_tag url_for(@post.image) %>
<h4><i><%= @post.user.email %></i></h4>
<h4>Description:</h4>
<%= @post.description %>
<br>
<h5><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></h5>

<%= link_to 'Like', post_likes_path(@post),
                                      method: :post,
                                      :class => 'btn btn-success' %>

<% if @post.user.id == current_user[:id] %>
  <%= link_to "Delete", post_path(@post),
                                        method: :delete,
                                        data: { confirm: 'Are you sure?'},
                                        :class => 'btn btn-danger' %>
<% end %>
<hr class="top">
<h4>Comments:</h4>
<% if @post.comments.count > 0 %>
  <% @post.comments.each do |comment| %>
    <div class="">
      <i><strong><%= comment.user.email %></strong>: <%= comment.body %></i>
    </div>
  <% end %>
<% else %>
  <p><i>no comments yet</i></p>
<% end %>
<hr class="top">
<h4>Add Comment</h4>
<%= form_for([@post, @post.comments.build]) do |f| %>
  <p>

    <%= f.text_area(:body, {:class => 'form-control'}) %>
  </p>
  <p>
    <%= f.submit({:class => 'btn btn-default'}) %>
  </p>
<% end %>
<style>

  img {
    max-width: 100%;
  }

  hr.top {
    border: 2px dashed white;
  }

  h2, h4, p {
    color: grey;
  }

</style>
