<p id="notice"><%= notice %></p>

<p>
  <image src="<%=(url_for(@post.image))%>">
</p>

<p>
  <strong>Username:</strong>
  <%= @post.username %>
</p>

<p>
  <strong>Description:</strong>
  <%= @post.description %>
</p>

<p>
  <strong>Location:</strong>
  <%= @post.location %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
