<h1>Neogram</h1>

<article class="post">
  <p><%= @post.username %></p>
  <p><%= @post.formatted_time %></p>
  <%= image_tag  @post.image, class: @post.filter_class %>
  <% if @owner  %>
  <p>
    <%= link_to  "Edit", edit_post_path(@post) %>
    <%= link_to  "Delete", post_path(@post), 
        method: :delete, 
        data: { confirm: 'Are you sure? '} %>
  </p>
  <% end%>
</article>

<% if logged_in? %>
<section class="comments-form">
  <%= form_with model: [@post, @post.comments.build], local: true do |form| %>
  <p>
    <%= form.label :content %><br>
    <%= form.text_area :content %>
  </p>
  <p>
    <%= form.submit 'Add comment' %>
  </p>
  <% end %>
</section>
<% end %>

<section class="comments">
  <% @comments.each do |comment| %>
  <article class="comment">
    <p><%= comment.username %></p>
    <p><%= comment.formatted_time %></p>
    <p><%= comment.content %></p>
  </article>
  <% end %>
</section>