<p>
  <strong>ID:</strong>
  <%= @post.id %>
</p>
<p>
  <strong>Text:</strong>
  <%= @post.text %>
</p>


<h2>Comments</h2>
<%= render @post.comments %>


<h3>Add a comment:</h3>
<%= render 'comments/form' %>


<%= link_to 'Edit', edit_post_path(@post) %><br>
<%= link_to 'Delete', post_path(@post), method: :delete,
        data: { confirm: 'Are you sure' } %><br>
<%= link_to 'Back', posts_path %>
