


<p>
  <strong>Content:</strong>
  <%= @post.content %>
</p>

<p>
  <strong>Picture:</strong>
   <%= image_tag @post.picture.url if @post.picture? %>
  <br> Comments

<% if @post.liked_by(current_user) %>
<%= button_to "Unlike", post_like_path(@post.id, @post.find_likes(current_user)), method: :delete, class: "like_button" %>
 <% else %>
 <%= button_to "Like", post_likes_path(@post.id), class: "like_button" %>
  <% end %>

likes count: <%= @count %>


<ul>
<% @comments.each do |comment| %>
  <li><p> <%=comment.body %></p></li>
<% end %>
</ul>




</p>
<h2>Add a comment:</h2>
<%= form_for [@post, Comment.new] do |form| %>
  <%= form.label :body %>
  <%= form.text_field :body %>

  <%= form.submit "Submit" %>
<% end %>
