<p id="notice"><%= notice %></p>

<p>
  <strong>By:</strong>
  <%= link_to(@post.info_for_display[:username], new_follow_url) %>
</p>

<div style="height:400px;width:auto">
<%= image_tag(@post.image, style: 'height:100%') %>
</div>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>

<div class="post">
    <%= image_tag(@post.image, class: "index") %>
    <p class="username">posted by <%= link_to(@post.info_for_display[:username], new_follow_url) %> on <%= @post.created_at.strftime('%m/%d/%Y at %I:%M%p') %></p>
    <p><%= @post.info_for_display[:likes].length %> likes</p>
    <%= button_to 'I like it!', {:controller => "likes", :action => "create", :like => { :user_id => current_user, :post_id=> @post.id }, back_to: @post } , :method=>:post %>
    <p>Likers:</p>
    <ul>
      <% @post.info_for_display[:likes].each_with_index do |like, i| %>
        <% if i < 3 %>
          <li><%= link_to(like.username, new_follow_url) %></li>
        <% elsif i == 3 %>
          <li>and <%=@post.info_for_display[:likes].length - 3 %> others!</li>
        <% end %>
      <% end %>
    </ul>

    <p><%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %></p>
</div>
