 <div class="uploader"> <%= @post.user.email.to_s %> </div>
<div class="photo"><img width="80%" src="<%= @post.photo %>"></div>
<div class="description"><%= @post.description %></div>
<div class="likes"> likes: <%= @post.likes.count %></div>
  <%= form_with(model: [ @post, @post.likes.build ], local: true) do |form| %>
    <%= form.submit "Like!", id: 'likebtn' + @post.id.to_s, :disabled => !LikesHelper::enableLike?(@post, current_user)%>
  <% end %>
  <div class="comments_count"> <%= pluralize(@post.comments.count, "comment") %> </div>


<div class="comments"> 
  <%@post.comments.each do |comment|%>
  <div class="comment">
  
  <div class="author"><%= link_to User.find(comment.user_id).email.to_s, user_posts_index_path(:user => comment.user_id) %></div>
  <div class="comment-text"> <%= comment.text %> </div>

  <%   if current_user && current_user.id == comment.user_id %>
            <%= link_to 'Edit', edit_post_comment_path(comment), method: :get %>
            <%= link_to 'Delete', post_comment_path(comment), method: :delete, data: { confirm: 'Are you sure you want to delete this comment?' } %>
          <% end %>
  </div>
  <% end %>
</div>
<%= form_with(model: [ @post, @post.comments.build ], local: true) do |form| %>

  <p>
    <%= form.label :Comment %><br>
    <%= form.text_area :text %>
  </p>
  <p>
    <%= form.submit "Post comment"%>
  </p>
<% end %>