<h1>Post</h1>
<%= render @post %>

<% if user_signed_in? && current_user.id == @post.user_id %>
  <%= link_to 'Edit', edit_post_path(@post) %>
<%end%>

<% if @post.comments.any? %>
  <h2>Comments</h2>
  <%= render @post.comments %>
<% end %>

<% if user_signed_in?%>
    <h2>Add a comment:</h2>
    <%= render 'comments/form' %>
  <% end %>

  <%= link_to 'Back', posts_path %>
