<div class="post">
  <%= image_tag @post.image.url, width: '400' %>
  <p><%= link_to 'Like', post_likes_path(@post.id), method: 'post' %> | <%= link_to 'Dislike', post_dislikes_path(@post.id), method: 'post' %>
  <p><%= @post.created_at %></p>
  <p><%= @post.caption %></p>
  <p>Likes: <%= @post.likes.size %> | Dislikes: <%= @post.dislikes.size %>
  <p><%= link_to 'Delete post', post_path(@post.id), method: :delete %></p>
</div>

<% @comments.each do |cmt| %>
  <div class="comment">
    <p><%= cmt.comment %></p>
    <p><%= cmt.created_at %></p>
    <%= link_to 'Delete comment', post_comment_path(@post.id, cmt.id), method: :delete %> | <%= link_to 'Edit comment', edit_post_comment_path(@post.id, cmt.id) %>
  </div>
<% end %>

<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %><br>
  <%= f.text_area :comment %><br>
  <%= f.submit 'Comment!' %>
<% end %>