<%= image_tag @post.image.url(:original) %>
<% if @post.description? %>
  <%= @post.description %>
<% end %>

<% if @post.comments.any? %>
  <ul>
    <% @post.comments.each do |comment| %>
      <li>
        <strong> <%= comment.thoughts %> </strong> from <%= comment.user.email %>
        <% if comment.user.id === current_user.id %>
          <%= link_to "Delete", post_comment_path(@post, comment), method: :delete %>
        <% end %>
       </li>
      <% end %>
  </ul>
<% end %>

<% if user_signed_in? %>
<%= form_for [@post, @comment] do |f| %>
  <%= f.text_field :thoughts %>
  <%= f.submit 'Send' %>
<% end %>
<% end %>
