<nav class="navbar navbar-expand-lg navbar-light bg-light" style="background-color: #e3f2fd;">
  <a class="navbar-brand" <%= link_to "Binstagram", root_url %> </a>
  <span class="navbar-text">
  <div class="collapse navbar-collapse" id="navbarText">
    <z class="nav-item active">
        <z class="nav-link" > <%= link_to "New Post", new_post_path %>

      <%- if current_user %>
      <%= link_to "Logout", destroy_user_session_path, method: :delete, confirm: "Are you sure?" %>
      <% else %>
      <%= link_to "Login", new_user_session_path %>
      <%= link_to "Register", new_user_registration_path %>
      <% end %> 
  </span></a>
  </div>
</nav>
<div class="container">
  <div class="col-lg-12 text-center">
    <% flash.each do |a, b| %>
        <div class="alert alert-success"> <%= b %> 
        <% end %>
<h3> All your favourite bins in one place </h3>
<h3>Posts</h3>

<%= image_tag @post.image.url(:medium)%>
<br>
<%= @post.description %>


