<p id="notice"><%= notice %></p>

<%= params[:filter]%>

<%# <%= image_tag post.image.variant(resize: "500x600"), class: 'rounded mx-auto d-block card-img-top'%>
<%= image_tag @post.image, class: 'rounded mx-auto d-block card-img-top' if params[:filter] == nil %>
<%= image_tag @post.image.variant(resize: "500x600"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter1'%>
<%= image_tag @post.image.variant(resize: "400x500"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter2'%>
<%= image_tag @post.image.variant(resize: "300x400"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter3'%>
<%= image_tag @post.image.variant(resize: "200x500"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter4'%>
<%= image_tag @post.image.variant(resize: "100x400"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter5'%>
<%= image_tag @post.image.variant(resize: "50x250"), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter6'%>


<br>
<div class="container">
  <div class="row">
    <div class="col">
    <%= link_to 'Filter 1', url_for( :filter => 'filter1' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
    <%= link_to 'Filter 2', url_for( :filter => 'filter2' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
    <%= link_to 'Filter 3', url_for( :filter => 'filter3' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
    <%= link_to 'Filter 4', url_for( :filter => 'filter4' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
    <%= link_to 'Filter 5', url_for( :filter => 'filter5' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
    <%= link_to 'Filter 6', url_for( :filter => 'filter6' ), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

