<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram Challenge</title>
  </head>
  <body>
    <div class="container">

      <p>
        <h4><%= @post.created_at.localtime.strftime("%a %e %b %H:%M") %></h4>
        <div><%= User.find(@post.user_id).username if (@post.user_id)  %></div>
      </p>

      <img src="<%= @post.photo %>" style="height:300px;width:300px;">

      <p>
        <h3><%= @post.desc %></h3>
      </p>


    <span><%= link_to 'Edit', edit_post_path(@post) %></span>
    <span><%= link_to 'Delete', post_path(@post),
            method: :delete,
            data: { confirm: 'Are you sure?' } %></span>

    <h6><%= @post.likes.count %> <%= (@post.likes.count) == 1 ? 'Like' : 'Likes'%></h6>

    <%= render 'likes/form_like' %>

    <%= render 'comments/comment' %>

    <span><%= link_to 'Back', posts_path %></span>
    </div>
  </body>
</head>
