<p id="notice"><%= notice %></p>

<%= image_tag @post.image, class: 'rounded mx-auto d-block card-img-top' if params[:filter] == nil %>
<%= image_tag @post.image.variant(charcoal: 1), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter1'%>
<%= image_tag @post.image.variant('blue-shift' => 1), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter2'%>
<%= image_tag @post.image.variant(canny: 1), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter3'%>
<%= image_tag @post.image.variant(emboss: 1), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter4'%>
<%= image_tag @post.image.variant(negate: true), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter5'%>
<%= image_tag @post.image.variant(monochrome: true), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter6'%>
<%= image_tag @post.image.variant(paint: 3), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter7'%>
<%= image_tag @post.image.variant(polaroid: 10), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter8'%>
<%= image_tag @post.image.variant(posterize: 2), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter9'%>
<%= image_tag @post.image.variant(wave: '10x10'), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter10'%>
<%= image_tag @post.image.variant(sketch: 2), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter11'%>
<%= image_tag @post.image.variant(swirl: 80), class: 'rounded mx-auto d-block card-img-top' if params[:filter] == 'filter12'%>
<br>
<div class="container">
  <div class="row">
    <div class="col">
      <%= link_to 'Filter 1', url_for( :filter => 'filter1' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 2', url_for( :filter => 'filter2' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 3', url_for( :filter => 'filter3' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 4', url_for( :filter => 'filter4' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 5', url_for( :filter => 'filter5' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 6', url_for( :filter => 'filter6' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 7', url_for( :filter => 'filter7' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 8', url_for( :filter => 'filter8' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 9', url_for( :filter => 'filter9' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 10', url_for( :filter => 'filter10' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 11', url_for( :filter => 'filter11' ), class: 'btn btn-primary' %>
    </div>
    <div class="col">
      <%= link_to 'Filter 12', url_for( :filter => 'filter12' ), class: 'btn btn-primary' %>
    </div>
  </div>
</div>

