<body>
  <h1><%= current_user.username %></h1>
  <span>
    <%= link_to 'Post a Photo', new_post_path %>
    <%= link_to 'Log Out', destroy_user_session_path, method: :delete %>
  </span>
  <%= link_to 'Back', posts_path %>
  <div id="post">
    <h2><%= User.find(@post.user_id).username %></h2>
    <img src=<%= @post.image_url %>></img>
    <% pre_like = @post.likes.find { |like| like.user_id == current_user.id } %>
    <% if pre_like %>
      <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
    <% else %>
      <%= link_to 'Like', post_likes_path(@post), method: :post %>
    <% end %>
    <h3> <%= "#{@post.likes.count} \u2665" %> </h3>
  </div>
  <div id="comments">
    <%= render 'comments/form' %>
    <h3> Comments </h3>
    <% if @post.comments.count > 0 %>
      <% @post.comments.each_with_index do |comment, i| %>
      <div id="<%= "comment_#{i}" %>"><%= comment.body %> <%= '-' if (comment.body)%>
        <i> <%= User.find(comment.user_id).username if (comment.user_id)  %></i>
      </div>
      <% end %>
    <% end %>
  </div>
</body>
