Caption: <%= @post.caption %><br />
Image: <%= image_tag @post.image.url %><br />
Likes: <%= @post.likes.count %>

<%= link_to "Like post", new_like_path(:post_id => @post.id) %>

<p>
<%= link_to "All posts", root_path %>
</p>
