.posts-wrapper.row
  .post
    .post-head
      .name
        = @post.user.user_name
    .image.center-block
      = image_tag @post.image.url(:medium)
    %p.caption
      = @post.caption

      - if current_user == @post.user
        .text-center.edit-links
          = link_to "Edit Post", edit_post_path(@post)
          |
          = link_to "Main Page", root_path
      - else
        .text-center.edit-links
          = link_to "Main Page", root_path
