<div style="margin-top: 1rem;" class="container">
  <div style="padding: 10px;" class="col-md-9 mx-auto card">
    <h3 style="text-align: center;"> <%= @post.title %> </h3>
    <p style="text-align: center;"> <%= @post.body %> </p>
    <p><%= @post.comment %> </p>
    <img style="margin: 0 auto; height: 400px; width: 90%;" src="<%= @post.pictures %>">
    <br>
    <div style="margin: 0 auto;">
      <%= link_to 'All Posts', posts_path, class:"btn btn-outline-primary" %>
    </div>
  </div>
</div>
