= image_tag @post.image.url(:medium)
%h1= @post.caption
%br
Uploaded
= time_ago_in_words(@post.created_at)
ago

- @post.comments.each do |comment|
  %ul
    %li= comment.comment

= link_to "Home", posts_path
= link_to "Add comment", new_post_comment_path(@post)
- if @post.user == current_user
  = link_to "Delete", post_path(@post), method: :delete
