<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
<h1>Your Post:</h1>

<%= image_tag @post.image.url(:medium) %>
<p>
  <%= @post.caption %>
</p>
<%= link_to 'Edit Post', edit_post_path(@post) %><br>
<%= link_to 'Delete This Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %><br>
<%= link_to "Back to Posts", posts_path %>
  </body>
</html>
