<%= render 'post', post: @post %>
  <% if @post.user.id == current_user.id %>
    <div class="text-center edit-links">
      <%= link_to 'Back', posts_path %>
      <%= link_to 'Delete', post_path(@post),
          method: :delete,
          data: { confirm: 'Are you sure?'} %>
      <%= link_to 'Edit', edit_post_path(@post) %>
    </div>
  <% else %>
    <div class="text-center edit-links">
      <%= link_to 'Back', posts_path %>
    </div>
  <% end %>
