
<h2>Post</h2>
  <p>
    <% if @post.image? %>
      <div>
        <%= image_tag @post.image.url %>
      </div>
    <% end %>
  </p>
  <p>
    <%= @post.description %>
  </p>
  <p>
      <%= link_to "Remove", post_path(@post),
      method: :delete,
      data: { confirm: 'Are you sure?' } %> |
      <%= link_to "Edit", edit_post_path(@post) %>
  </p>

<%= link_to 'Back', posts_path %>