= image_tag @post.image.url(:medium)
%h1= @post.caption
%br
Uploaded
= time_ago_in_words(@post.created_at)
ago

= link_to "Add comment", new_post_comment_path(@post)
= link_to "Delete", post_path(@post), method: :delete
