<article class="post">
  <div class="post-details">
    <h1>Post by <%= @post.username %></h1>
    <p><%= @post.formatted_time %></p>
  </div>
  <div class="post-image-wrapper">
    <%= image_tag  @post.image, class: @post.filter_class%>
  </div>

  <div class="control-group">
    <div class="control-group">
      <div class="counter"><%= @post.likes.count %> likes</div>
      <% if logged_in?%>
      <% if @user_liked %>
      <%= button_to  "Unlike", post_like_path(@post, @like) , method: :delete, class: 'btn' %>
      <% else %>
      <%= button_to  "Like", post_likes_path(@post), class: 'btn' %>
      <% end %>
      <% end %>
    </div>

    <% if @owner %>
    <div class="control-group">
      <%= button_to  "Edit", edit_post_path(@post), method: :get, class: 'btn' %>
      <%= button_to  "Delete", post_path(@post), 
        method: :delete, 
        data: { confirm: 'Are you sure? '}, class: 'btn-danger'  %>
    </div>
  </div>
  <% end%>
</article>

<section class="comments">
  <% if logged_in? %>
  <%= form_with model: [@post, @post.comments.build], local: true, class: 'comment-form' do |form| %>
  <%= form.text_area :content, placeholder: 'Add a comment...' %>
  <%= form.submit 'Comment', class: 'btn' %>
  <% end %>
  <% end %>

  <% @comments.each do |comment| %>
  <article class="comment">
    <div class="comment-details">
      <h3><%= comment.username %></h3>
      <p><%= comment.formatted_time %></p>
    </div>
    <p><%= comment.content %></p>
  </article>
  <% end %>
</section>