
<h2>Post</h2>
  <p>
    <% if @post.image? %>
      <div>
        <%= image_tag @post.image.url %>
      </div>
    <% end %>
  </p>
  <p>
    <%= @post.description %>
  </p>

  <!-- Show controls to edit/delete if user owns post -->
  <% if get_owner(@post.user_id) == current_user %>
    <p>
      <%= link_to "Remove", post_path(@post),
        method: :delete,
        data: { confirm: 'Are you sure?' } %> |
      <%= link_to "Edit", edit_post_path(@post) %>
    </p>
  <% end %>

  <!-- Show comments if there are any -->
  <% if @post.comments.length > 0 %>
    <ul>
    <% @post.comments.each do |comment| %>
      <li><%= comment.body %></li>
    <% end %>
    </ul>
  <% end %>

  <!-- Show comment form if viewer is logged in -->
  <% if current_user %>
  <p>
    <%= form_with(model: [@post, @post.comments.build], local: true) do |form| %>
    <%= form.text_field :body %>
    <%= form.submit 'Comment' %>
    <% end %>
  </p>
  <% end %>

<%= link_to 'Back', posts_path %>