<div id="navigation">
  <p><%= link_to "Instasham", posts_path %></p>
  <% if @current_user %>
    <p>Logged in as <%= @current_user.email %></p>
    <p><%= link_to "Log Out", destroy_user_session_path, method: :delete %></p>
  <% else %>
    <p><%= link_to "Sign Up", new_user_registration_path %></p>
    <p><%= link_to "Log In", new_user_session_path %></p>
  <% end %>
</div>

<p id="notice"><%= notice %></p>

<h1>Post</h1>

<ul>
  <div class="post">
    <li><%= @post.user.email %></li>
    <li><%= @post.content %></li>
    <li><%= image_tag @post.image.url(:big) unless @post.image.blank? %></li>
    <li>Posted <%= time_ago_in_words(@post.created_at) %> ago</li>
  </div>
</ul>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
