<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @post.title %>
</p>

<p>
  <strong>Likes:</strong>
  <%= @post.likes %>
</p>


<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', root_path %>
