<%= image_tag(@post.image.url) %>
<br><br>
<%= link_to "Leave comment", new_post_comment_path(@post.id) %>
<br><br>
<div class="container-fluid">
<% if @comments.any? %>
  <% @comments.each do |comment| %>
    <ul>
      <%= comment.created_at.strftime('%a, %d %b %Y %H:%M:%S') %> <br>
      <%= "#{@users.find(comment.user_id).email} commented:" %>
      <%= comment.comment %>
    </ul>
  <% end %>
<% else %>
<% end %>
</div>