%div{ :class => 'row page-title' }
  %h4= raw "#{link_to @post.user.username, user_path(@post.user)} > #{@post.title}"

  - if @post.has_posted?(current_user)
    = link_to edit_post_path(@post), class: 'custom-btn edit_post' do
      %span{:class => "glyphicon glyphicon-pencil"}
    = link_to post_path(@post), method: :delete, class: 'custom-btn remove_post' do
      %span{:class => "glyphicon glyphicon-remove"}

= image_tag @post.image.url(:medium)

%div{ :class => 'description' }
  %h5= @post.description

= render :partial => "comments", locals: { post: @post }