<div class="post">
  <%= image_tag @post.image.url, width: '400' %>
  <p><%= @post.caption %>
</div>
<%= form_for [@post, @comment] do |f| %>
  <%= f.label :comment %>
  <%= f.text_area :comment %>
  <%= f.submit 'Comment!' %>
<% end %>