<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>Picture:</strong>
  <%= image_tag @post.picture_url, width: '100%' if @post.picture.present? %>
</p>

<p>
  <strong>Pentagram Like:</strong>
  <%= link_to 'like', likes_path(@post) %>
  <%= @post.likers_count %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', :back %>
