<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <%= image_tag @post.image.url(:medium) %><br>
    <%= @post.caption %>
    <%= link_to "Edit", edit_post_path(@post) %>
    <%= link_to "Delete", post_path(@post), method: :delete, data: { confirm: "Do you really want to delete this post?" } %>

    <% if @post.comments.count > 0 %>
      <h2>Comments</h2>
      <%= render @post.comments.select(&:persisted?) %>
    <% end %>

    <%= render "comments/form" %>

  </body>
</html>
