<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= link_to image_tag(@post.image.url(:med)), @post.image.url %>
</p>

<p>
  <strong>Desc:</strong>
  <%= @post.desc %>
</p>

<p>
  <%= @post.likes.count %><br>
  <% if @post.likes.count == 1 %>
    Like
  <% else %>
    Likes
  <% end %>
</p>
<br>

<p>
  <% @post.comments.each { |comment| %>
    <%= comment.content %>
    <br>
  <%}%>
<br>

<%= render 'comments/form', comment: @comment %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
<%= button_to 'Like', likes_path, params: {like: { post_id: @post.id }}%>
