  <!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>NIS-tagram</title>
  </head>
  <body>


<div class="posts-wrapper">



    <div class="post">

      <%= image_tag @post.image.url(:medium) %><br>
      <div class="caption">  <%= @post.caption %> </div>

    </div>

    <%= link_to "Go Back", posts_path %> |
    <%= link_to "Edit Post", edit_post_path(@post) %> |
    <%= link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure you want to delete this post?" } %>

</div>



  </body>
</html>
