<%= render 'shared/nav' %>

<style>
.center {
  max-width: 500px;
  margin: auto;
}
.alignleft {
	float: left;
}
.alignright {
	float: right;
}
</style>

<div class="center">
  <div class="row h-100 ">
    <div class="col-sm-12 my-auto" style="background:lightblue">
      <br>

      <div class="card center" style="width: 22rem;">
    <div class="card-body align-self-center">
      by: <%= @post.created_by %> <br><br>
      <h5 class="card-title"><%= image_tag @post.image_url(:thumb) %></h5>
      <p class="card-text">Description: <%= @post.description %> <br>
        Posted: <%= localize(@post.created_at, :format => :short) %> <br>
        <h6>Comments (<%= @post.comments.size %>)</h6>
        <h6>Likes (<%= @post.likes.size %>)</h6> <br>
        <% pre_like = Like.find_by(user_id: current_user.id, post_id: @post) %>
        <% if pre_like %>
          <%= link_to 'Unlike', post_like_path(@post, pre_like), method: :delete %>
        <% else %>
          <%= link_to 'Like', post_likes_path(@post), method: :post %>
        <% end %>
    </div>
  </div>
<br>
<h7 aria-label> Leave a comment: </h7>

<%= form_for [ @post, @comment ] do |f| %>
<div class="input-group">
  <div class="input-group-prepend">
    <button <% f.submit%> class="input-group-text" >submit</button>
  </div>
  <textarea class="form-control" aria-label="With textarea" <%= f.text_area :comment %> </textarea>
  <%= f.hidden_field :created_by, :value => current_user.username %>
  <%= f.hidden_field :post_id, :value => @post.id %>
</div>
<% end %>
<br>
</div>
</div>

<% @comments.each do |comment| %>
<br>

<div class="card">
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted alignleft"><%= comment.created_by %></h6>
    <br>
    <p class="card-text"><%= comment.comment %></p>

    <a href="#"> <%= link_to 'Delete', post_comment_path(comment), method: :delete,  data: { confirm: 'Are you sure?' }, :class=>"small" %> -</a>
    <a href="#"> <%= link_to 'Edit', post_comment_path(comment), :class=>"small" %></a>
    <a class="small text-muted alignright"><%= localize(comment.created_at, :format => :short) %> </a>


  </div>
</div>
<% end %>
</div
<br>
<br>
<br>
<br>
<br>
