<%= link_to "Edit #{@post.title}", edit_post_path(@post) %>
<%= link_to "Delete #{@post.title}", post_path(@post), method: :delete %>
<p><%= @post.title %></p>
<%= link_to (image_tag @post.image.url(:large)), post_path(@post) %>

<% if @post.comments.any? %>
	<% @post.comments.each do |comment| %>
		<%= comment.thoughts %>
	<% end %>
<% else %>
	<p> No comments.</p>
<% end %>