<div class="posts-wrapper">
    <div class="post">
      <div class="post-head"></div>
      <div class="image">
        <%= link_to image_tag(@post.image.url(:medium)), post_path(@post) %><br>
      </div>
      <div class="caption">
        <%= @post.caption %><br>
      </div>
      <div class="edit-links">
        <%=link_to "Cancel", posts_path%>
        <%="|"%>
        <%=link_to "Edit Post", edit_post_path(@post)%>
        <%="|"%>
        <%=link_to "Delete Post", post_path(@post), method: :delete, data: { confirm: "Are you sure?" }%>
      </div>
    </div>
</div>
