<div id="content">
  <div class="post">
    <a class="username" href="../users/<%=@post.user_id%>"><%= (User.find(@post.user_id)).username %></a><p>
      <img id="picture_and_caption" src="<%= @post.pics.url %>"><p>
        <div id='likes'>
          <% if (@likes.where(post_id: @post.id, user_id: current_user).blank?) %>
            <%= link_to image_tag("https://image.flaticon.com/icons/svg/149/149217.svg", height: '30px', alt: 'new', class: 'blank_like'), new_like_path(post_id: @post.id, user_id: current_user) %>
          <% else %>
            <%= image_tag("https://image.flaticon.com/icons/svg/148/148836.svg", :height => '30px', class: 'red_like') %>
          <%  end %>
          <%= @post.likes.count %> Likes
       </div>

       <blockquote>
        <%= @post.caption %>
       </blockquote><p>

      <% @post.comments.each do |comment| %>
        <a href="../users/<%=comment.user_id%>"><%= (User.find(comment.user_id)).username %></a>: <%= comment.comment %><br>
      <% end %>

      <%= link_to 'Comment', new_comment_path(post_id: @post.id) %>
      
      <div id="user_modifiy">
      <% if user_signed_in? %>
        <% if current_user.id == @post.user_id %>
          <%= link_to 'Edit', edit_post_path(@post) %> |
            <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
     <% end %>
    </div>
  </div>
</div>
