<h2> Preview </h2>
<div class="postblock">
  <h3 class= "title"> 
  <%= @post.title %> 
  </h3>
  <h2 class="timelabel">
   Posted: <%= @post.created_at.strftime("%B %d %Y, %l:%M%P") %>
  </h2>
  <div class="picture">
  <%= image_tag(@post.image, style:'width:50%') %>
  </div>

  <div class= "content">
    <%= @post.content %>
  </div>
  <a type="exitshowpost">
    <%= link_to 'HOME', :back %>
  </a>
</div>

