<p id="notice"><%= notice %></p>

<p>
  <strong>Uri:</strong>
  <%= @post.uri %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user %>
</p>
<p>
<!--  <td><%#= image_tag url_for(@post.picture) %></td>-->
  <td><%= image_tag @post.picture.variant(resize: "100x100") %></td>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
