<p id="notice"><%= notice %></p>
<center>
  <p>
    <img src="<%=(url_for(@post.image))%>"><br>
    <%= User.where(id: @post.user_id).first.username %><br>
    <%= @post.description %>
  </p>

  <% if @post.user_id == current_user.id %>
      <%= link_to 'Edit', edit_post_path(@post) %>
      <%= link_to 'Destroy', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
  <% end %>
  <%= link_to 'Back', posts_path %>
  <%= render partial: 'likes/form', locals: { likeable: @post } %>

  <% @post.comments.each do |comment| %>
  <p class="comments">
   <%= comment.body %></p>
   <%= User.where(id: comment.user_id).first.username %>
   <%= comment.created_at.to_s(:long_ordinal) %>
   <% if comment.user_id == current_user.id %>
      <%= form_for([@post, comment], :html => { :method => :delete }) do |f| %>
        <%= f.hidden_field :post_id, :value => @post.id %>
        <%= f.submit "Delete Comment" %>
      <% end %>
    <% end %>
    <%= render partial: 'likes/form', locals: { likeable: comment } %>

  <% end %>

  <%= form_for [@post, Comment.new] do |form| %>
    <%= form.text_field :body %>
    <%= form.hidden_field :post_id, :value => @post.id %>
    <%= form.submit "Add comment" %>
  <% end %>
</center>
