<p>
  <%= image_tag @post.avatar.url, class: 'uploaded-pic' %>
</p>

<p>
  <%= @post.comment %>
</p>
<div class="row text-center">
<%= link_to 'Update post', edit_post_path(@post) %>
</div>

<div class="row text-center">
<p> Comments: </p>
<%= render @post.comments %>
</div>

<p> Add a comment: <p>
<%= render 'comments/form' %>
