<div class="posts-wrapper row">
  <div class="post">
    <div class="post-head">
      <div class="name">
        <%= @post.user.user_name %> 
      </div>
    </div>
    <div class="image center-block">
      <%= image_tag @post.image.url(:medium) %>
    </div>
    <p class="caption">
      <%= @post.caption %>
    </p>
    <% if @post.user.id == current_user.id %>
      <div class="text-center">
        <%= link_to "Edit Post", edit_post_path(@post) %> 
        |
        <%= link_to "Cancel", posts_path %>
      </div>
    <% else %>
      <div class="text-center">
        <%= link_to "Cancel", posts_path %>
      </div>
    <% end %>
  </div>
</div>