<!DOCTYPE html>
<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
  </head>

  <body>
    <h1>Your Post:</h1>
    <div class="posts-wrapper row">
      <div class="post">
        <div class="post-head">
          <div class="name">
            Ben Walker
          </div>
        </div>
        <div class="image center-block">
          <%= image_tag @post.image.url(:medium) %>
        </div>
        <p class="caption">
          <%= @post.caption %>
        </p>
        <div class="text-center edit-links">
          <%= link_to "Back to Posts", posts_path %>
          |
          <%= link_to "Edit Post", edit_post_path(@post) %>
          |
          <%= link_to 'Delete This Post', post_path(@post), method: :delete, data: { confirm: 'Are you sure?' } %><br>
        </div>
      </div>
    </div>

  </body>
</html>
