<html>
  <head>
    <meta charset="utf-8" />
    <title>Chitter</title>
    <link rel="stylesheet" href="/style.css" />
  </head>
  <body>
    <div class="topnav">
      <a class="active" href="/posts">Posts</a>
      <% if(session.authenticated){ %>
      <a href="/logout">Logout</a>
      <% } else{ %>
      <a href="/login">Login</a>
      <a href="/signup">Sign up</a>
      <% } %>
    </div>
    <div class="user-greeting">
      <% if(session.authenticated){ %>
      <h1>Hello, <%= session.user.username %>!</h1>
      <% } else{ %>
      <h1>Hello!</h1>
      <% } %>
    </div>
    <div class="box">
      <div class="box-content">
        <h1>Posts</h1>
        <form action="/posts/new" method="POST">
          <input type="text" id="newPostText" name="newPostText" />
          <br />
          <input type="submit" value="Post" />
        </form>
        <% posts.forEach((post)=>{ %>
        <div class="each-post">
          <p><%= post.text %></p>
          <p><%= post.username %></p>
          <p><%= post.createdDate %></p>

          <form action="/posts/<%= post.id %>" method="GET">
            <input type="submit" value="View" />
          </form>
        </div>
        <% }) %>
      </div>
    </div>
  </body>
</html>
