
<!DOCTYPE html>
<html>
  <head>
      <script src='https://unpkg.com/axios/dist/axios.min.js'></script>
    <link rel='stylesheet' href='/stylesheets/page_style.css' />
  </head>
  <body>
    <nav class="navbar">
    <div class="nav-wrapper">
        <img src="images/img/logo.PNG" class="brand-img" alt="">
        <input type="text" class="search-box" placeholder="search">
        <div class="nav-items">
            <img src="images/img/home.PNG" class="icon" alt="">
            <img src="images/img/messenger.PNG" class="icon" alt="">
            <a href='/posts/new'><img src="images/img/add.PNG" class="icon" id="new-post"  alt="" ></a>
            <img src="images/img/explore.PNG" class="icon" alt="">
            <img src="images/img/like.PNG" class="icon" alt="">
            <div class="icon user-profile"></div>
        </div>
    </div>
</nav>

<section class="main">
    <div class="wrapper">
        <div class="left-col">
          <div class="status-wrapper">
                <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_1.jpeg" alt=""></div>
                    <p class="username">You</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_2.jpeg" alt=""></div>
                    <p class="username">Bob</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_3.jpeg" alt=""></div>
                    <p class="username">Linda</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_4.jpeg" alt=""></div>
                    <p class="username">Louise</p>
                </div>
                <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_5.jpeg" alt=""></div>
                    <p class="username">Gene</p>
                </div>
                 <div class="status-card">
                    <div class="profile-pic"><img src="images/img/cover_3.jpeg" alt=""></div>
                    <p class="username">Teddy</p>
                </div>
          </div>
          {{#each posts}}
           <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover_1.jpeg" alt=""></div>
                        <p class="username">Lil' Tina</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="{{this.url}}.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes"></p><span id="likes-count-{{this.id}}">{{this.likes}}</span>likes</p>
                    <p class="description"><span>Lil' Tina</span>{{this.caption}}</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              {{/each}}
            <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover_2.jpeg" alt=""></div>
                        <p class="username">Bob-a-licious</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/bobbelcher.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes"></p><span id="likes-count-{{this.id}}">{{this.likes}}</span>likes</p>
                    <p class="description"><span>Bob-a-licious </span>Motivation Monday</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover 2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/cover 2.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes"></p><span id="likes-count-{{this.id}}">{{this.likes}}</span>likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover 2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/cover 2.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover 2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/cover 2.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover 2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/cover 2.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
              <div class="post">
                <div class="info">
                    <div class="user">
                        <div class="profile-pic"><img src="images/img/cover 2.png" alt=""></div>
                        <p class="username">modern_web_channel</p>
                    </div>
                    <img src="images/img/option.PNG" class="options" alt="">
                </div>
                <img src="images/img/cover 2.png" class="post-image" alt="">
                <div class="post-content">
                    <div class="reaction-wrapper">
                        <button id="like-button" class="{{this.id}}" type="submit" value="Like">Like</button>
                        <img src="images/img/like.PNG" class="icon" alt="">
                        <img src="images/img/comment.PNG" class="icon" alt="">
                        <img src="images/img/send.PNG" class="icon" alt="">
                        <img src="images/img/save.PNG" class="save icon" alt="">
                    </div>
                    <p class="likes">1,012 likes</p>
                    <p class="description"><span>username </span> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Pariatur tenetur veritatis placeat, molestiae impedit aut provident eum quo natus molestias?</p>
                    <p class="post-time">2 minutes ago</p>
                </div>
                <div class="comment-wrapper">
                    <img src="images/img/smile.PNG" class="icon" alt="">
                    <input type="text" class="comment-box" placeholder="Add a comment">
                    <button class="comment-btn">post</button>
                </div>
              </div>
        </div>
        <script>
    const updateLikeStats = {
      Like: function (postId) {
                document.querySelector('#likes-count-' + postId).textContent++;
            },
            Unlike: function(postId) {
                document.querySelector('#likes-count-' + postId).textContent--;
            }
        };

        const toggleButtonText = {
                Like: function(button) {
                button.textContent = "Unlike";
            },
            Unlike: function(button) {
                button.textContent = "Like";
            }
        }

    document.querySelectorAll("#like-button").forEach((btn) => {
      btn.addEventListener("click", (event) => { 
        console.log(event.target.className)
        const postId = event.target.className
        const action = event.target.textContent.trim();
          toggleButtonText[action](event.target);
          updateLikeStats[action](postId);
        // eslint-disable-next-line no-use-before-define
        /*eslint-disable */

        //suppress all warnings between comments
        axios.post('posts/' + postId + '/likes', { action: action });

        /*eslint-enable */
          
      });
    });
</script>
        <div class="right-col">
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/cover_1.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Lil'_Tina</p>
                    <p class="sub-text">Tina Belcher</p>
                </div>
                <button class="action-btn">switch</button>
            </div>
            <p class="suggestion-text">Suggestions for you</p>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/bob2.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Sally124</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/bob1.png" alt="">
                </div>
                <div>
                    <p class="username">burgernator</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/bob3.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Blondey</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/bob4.jpeg" alt="">
                </div>
                <div>
                    <p class="username">Zeke</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
            <div class="profile-card">
                <div class="profile-pic">
                    <img src="images/img/Pngitem_260083.png" alt="">
                </div>
                <div>
                    <p class="username">Burgs</p>
                    <p class="sub-text">followed by user</p>
                </div>
                <button class="action-btn">follow</button>
            </div>
        </div>
</section>