<h1>Hello show posts route</h1>
<html>
  <head>
    <meta charset="utf-8" />
    <title>Instaclone</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>
  <body>
    <a href="/logout" class="nav-item nav-link">Logout</a>
    <a href="/posts" class="nav-item nav-link">Posts</a>
    <li><%= selectedPost.text %></li>
    <li><%= numberOfLikes %> Likes</li>
    <% comments.forEach((comment)=>{ %>
    <ul>
      <li><%= comment.text %></li>
    </ul>
    <% }) %>
    <form
      id="newLike"
      action="/posts/<%= selectedPost.id %>/like/new"
      method="POST"
    >
      <input type="submit" value="Like" />
    </form>
    <form
      id="newComment"
      action="/posts/<%= selectedPost.id %>/comment/new"
      method="POST"
    >
      <input type="text" id="newCommentText" name="newCommentText" />
      <br />
      <input type="submit" value="Comment" />
    </form>
  </body>
</html>
