<h3>
<% if current_user && current_user.sign_in_count == 1 %>
  Welcome to Instagram <%= current_user.email %>
<% elsif current_user && current_user.sign_in_count > 1 %>
  Welcome back <%= current_user.email %>
<% else %>
  Please sign in
<% end %>
</h3>
<br>
<% if Picture.count == 0 %>
  <h5>  No photos have been added! </h5>
<% end %>

<% @pictures.each do |picture| %>
  <%= image_tag picture.image.url(:medium) %>
  <br>
  <h4><%= picture.title %></h4>
  <br>
  <br>
  <% these_comments = Comment.where(picture_id: picture.id) %>
  <% if these_comments %>
    <% these_comments.each do |comment| %>
    <% user = User.find(comment.user_id) %>
      <p>
        <%= comment.description %> by <i> <%= user.email %> </i>
        <br>
        <% if current_user && current_user.id == comment.user_id %>
          <%= link_to "Delete comment", picture_comment_path(picture, comment), method: :delete %>
        <% end %>
      </p>
    <% end %>
  <% end %>
  <% if current_user %>
    <%= link_to 'Comment', new_picture_comment_path(picture) %>
  <% end %>
  <% if current_user && current_user.id == picture.user_id %>
    <%= link_to "Delete #{picture.title}", picture_path(picture), method: :delete %>
  <% end %>
<% end %>