<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <% if signed_in? %>
    <%= current_user.email %>
    <%= button_to "Sign out", sign_out_path, method: :delete %>
  <% else %>
    <%= link_to "Sign in", sign_in_path %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
