<h1>New gallery</h1>
<h3><a href = "/galleries">Back to Galleries</a></h3>

<!-- DRY - this is duplicated in new.html.erb -->
<% if @gallery.errors.any? %>
  <section id="errors" >
    <h2> <%= pluralize(@gallery.errors.count, "error") %> prohibited this gallery
      from being saved: </h2>
    <ul>
      <% @gallery.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  </section>
<% end %>

<br>
<%= form_for @gallery do |f| %>
  <%= f.label :name %>
  <%= f.text_field :name %>
  <%= f.submit %>
<% end %>
