<h1><%= @gallery.name %></h1>
<% if user_signed_in? %>
  <strong><%= link_to "Edit name", edit_gallery_path(@gallery) %></strong>
  <strong><%= link_to "Delete Gallery", gallery_path(@gallery), method: :delete %></strong>
  <p><strong><%= link_to "Add Picture", "/galleries/#{@gallery.id}/pictures/new" %></strong>
<% end %>

<h2>Photos will display here.</h2>
<p><%= link_to "Back to Galleries listing", galleries_path %></p>

<% @gallery.pictures.each do |picture| %>
  <div id = "picture">
    <div id = "title">
      <%= picture.title %>
    </div>
  </div>
<% end %>
