<%= form_with model: @new_image, url: images_path, html: { multipart: true}, local: true do |form| %>

<p>
  <%= form.label :title %><br>
  <%= form.text_field :title %>
</p>

<p>
  <%= form.label :likes %><br>
  <%= form.text_area :likes %>
</p>

<p>
  <%= form.label :snappysnap %><br>
  <%= form.file_field :snappysnap %>
</p>

<p>
  <%= form.submit %>
</p>

<% end %>

<% @images.each do |image| %>
<p><div id='image-box'>
    <div id=<%="image_box_for_#{image.id}"%>
        <div id="image-itself"><td><%=image_tag image.snappysnap.url(:large) if image.snappysnap.exists?%></div>
        <div id='image-title'><%= image.title %></div>
        <div id='image-likes'><td><%=image.likes%> Likes</div>
        <div id=<%="image_id_#{image.id}_like_button"%>>
        <%= button_to "Like", { action: 'like_image', id: image.id }, method: :post %></div>
      </div>
    </div>
</p>
  <% end %>
