<section class='row jumbotron'>
	<h1><%= @user.email %>'s posts</h1>
</section>

<div class='grid row'>

	<section class='col-1-3'>
		<div class='user-summary'>
			<%= link_to 'Following', "/users/#{@user.id}/following" %>
			<%= link_to 'Followers', "/users/#{@user.id}/followers" %>
		</div>
		<p>PLACEHOLDER FOR USER SUMMARY AND LINKS</p>
	</section>

	<section class='col-2-3 user-feed'>

		<% @user.posts.each do |post| %>

			<div class='user-feed-row'>
				<section class='col-1-3 image'>
					<%= link_to image_tag(post.image.url(:thumb)), post_path(post), id: "pic#{post.id}" %>
				</section><!--
			--><section class='col-2-3'>
					
					<h2><%= post.caption %></h2>

					<h3><%= link_to 'Like', post_likes_path(post), class: 'add-like-link' %> | <span class='like-count'><%= post.likes.count %><%= ' like'.pluralize(post.likes.count) %></span> <span class='like-error'></span></h3>

					<% if @user == current_user %>
						<h3><%= link_to 'Delete post', "/posts/#{post.id}", method: :delete %></h3>
					<% end %>

					<% if post.comments.any? %>
					<% post.comments.each do |comment| %>
						<section class='comment'>
							<span class="tip tip-up"></span>
							<div class='message'>
								<p><%= comment.comment %></p>
								<p>from <%=comment.user.email%></p>
								<%= link_to 'Delete comment', comment_path(comment),method: :delete, class: 'btn btn-delete' %>
							</div>
						</section>
					<% end %>
				<% end %>
					
				</section>
			</div>

		<% end %>

	</section>
</div>