<%= @user.email %>'s posts
<% @user.posts.each do |post| %>
	<%= link_to image_tag(post.image.url(:thumb)), post_path(post), id: "pic#{post.id}" %>
	<%= post.caption %>
	<% if @user == current_user %>
		<%= link_to 'Delete post', "/posts/#{post.id}", method: :delete %>
	<% end %>
	<% if post.comments.any? %>
		<p>Comments:</p>
		<% post.comments.each do |comment| %>
			<%= comment.comment %>
			<%= link_to 'Delete comment', comment_path(comment), method: :delete %>
		<% end %>
	<% end %>
<% end %>