<div class="center-button">
  <%= button_to "Hompage", posts_path, :method => "get", :class => "btn btn-danger" %>
</div>

<div class="postbox">
  <h5><strong>Check out <%= @user.email %>'s posts!</h5></strong>
</div>

<div class="postbox">
  <% @user.posts.each do |post| %>
    <h4 class="big-captions">"<%= post.caption %>". . .</h4>
    <%= link_to image_tag(post.image.url(:medium), :class => "img-rounded"), post_path(post) %>
    <br />
    <%= pluralize post.likes.count, 'like'%>
    <%= button_to "Like", post_likes_path(post), method: :post, :class => "btn btn-danger button" %>
    <br />
  <% end %>
</div>

<div class="center-button">
  <%= button_to "Hompage", posts_path, :method => "get", :class => "btn btn-danger" %>
</div>
