<h5>Check out <%= @user.email %>'s posts!</h5>

<% @user.posts.each do |post| %>
  <em>"<%= post.caption %>". . .</em>
  <br />
  <%= link_to image_tag(post.image.url(:medium), :class => "img-rounded"), post_path(post) %>
  <br />
  <%= pluralize post.likes.count, 'like' %>
  <%= link_to "Like this post", post_likes_path(post), method: :post %>
  <br />
<% end %>
