
<% if @photos.empty? %>
  <%= 'No photos to show :(' %>
<% else %>
  <% @photos.each do |photo| %>
  <div class="post">
    <center>
    <div class='container'>
    <p class="alignright">
      <%= link_to "edit", edit_photo_path(photo) %>
      <%= link_to "delete", photo_path(photo), method: :delete %>
    </p>
    <p class="alignright"> </p>
      <center>
        <img src= "<%= photo.image %>" alt="post" height="250" width="250">
      </center><br>
          <p class="alignleft">
            <img src="locationpin.png" height='10' width='10'>
            <%= photo.location %>
          </p>
          <p class="alignright"><%= photo.created_at_formatted %></p>
        <br>
          <div style="clear: both;">
          <p class="desc-alignleft"><%= photo.description %></p>
    </div><br>
    </div>
    </center>
  </div>
  <% end %>
<% end %>
