<% if @photos.any? %>
  <% @photos.reverse.each do |p| %>
    <%= link_to image_tag(p.image.url(:medium), id: "imageNo#{p.id}"),photo_path(p) %>
    <%= link_to 'Edit caption', edit_photo_path(p) %>
    <%= link_to 'Delete photo', photo_path(p), method: :delete %>
    <p><%= p.caption %></p>
  <% end %>
<% else %>
  No photos yet :(
<% end %>
<%= link_to 'Upload Photo', new_photo_path %>
