%h1= @photo.title
= image_tag(@photo.image.url(:medium))
%p= @photo.description
Submitted by:
%p= @photo.user.email


= link_to "Back", root_path
= link_to "Edit", edit_photo_path
= link_to "Delete", photo_path, method: :delete, data: { confirm: "Are you sure?"}
