<div class="col-lg-6" id='<%"gram_container" + gram.id.to_s %>'>
<h3> Posted by <%= get_email_for_gram(gram) %> </h3>
<%= link_to gram_path(gram) do %>
  <%= image_tag(gram.image_url, width: 600) if gram.image.present? %>
<% end %>
<h3><%= truncate(gram.caption, length: 150) %></h3>

  <span class="pull-right">
  <% if user_liked?(gram)%>
    <%= link_to unlike_gram_path(gram), method: 'post', remote: true do %>
      <i class="fas fa-thumbs-down"></i>
    <% end %>
  <% else %>
    <%= link_to like_gram_path(gram), method: 'post', remote: true do %>
      <i class="fas fa-thumbs-up"></i>
    <% end %>
  <% end %>
  </span>
  <span id="gram_<%= gram.id %>_likes"><%= gram.likes.size %></span> likes
  <p id='<%"gram_comments" + gram.id.to_s %>'> <%= number_of_comments(gram) %> comments. </p>
  <%= button_to 'Comments', gram_url(gram[:id]), method: :get %>
</div>
<hr>
