<p id="notice"><%= notice %></p>

<p>
  <strong>Caption:</strong>
  <%= @gram.caption %>
</p>

<p>
  <strong>Gram:</strong>
  <%= image_tag(@gram.image_url, width: 600) if @gram.image.present? %>
</p>

<%= link_to 'Edit', edit_gram_post_path(@gram) %> |
<%= link_to 'Back', gram_posts_path %>
