<h2>Sign up here!</h2>

<%= form_with scope: :user, local: true do |form| %>

<div class="field">
  <%= f.label :first_name %>
  <%= f.text_field :first_name %>
</div>

<div class="field">
  <%= f.label :last_name %>
  <%= f.text_field :last_name
</div>

<div class="field">
  <%= f.label :username %>
  <%= f.text_field :username %>
</div>

<div class="field">
  <%= f.label :email %>
  <%= f.email_field :email %>
</div>

<div class="field">
  <%= f.label :password %>
  <%= f.password_field :password %>
</div>

<div class="field">
  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>
</div>

<div class="actions">
  <%= f.submit "Sign up!" %>
</div>

<% end %>
