.posts-wrapper.row
  .post
    .post-head
      .name
        =post.user.user_name || post.user.email
    .image.center-block
      = link_to (image_tag post.image.url(:medium), class:'img-responsive'), post_path(post)
      -if current_user == post.user
        = link_to "Edit post", edit_post_path(post)
        = link_to "Delete post", post_path(post), method: :delete
      -else
        = link_to "Add comment", new_post_comment_path(post)
    .post-bottom
      .caption
        .user-name
          = "#{post.user.user_name}'s caption: #{post.caption}"
      - if post.comments
        = "Comments: #{post.comments.count}"
        - post.comments.each do |comment|
          .comment
            .user-name
              = "#{comment.user.user_name}: #{comment.comment}"
      .comment-form
        = form_for [post, post.comments.new] do |f|
          = f.text_field :comment, placeholder: 'Add a comment...'
