<h1>Photogram</h1>

<h2>Please enter your email and password to login:</h2>

<%  if !@error.nil? %>
    <div id="error_explanation">
      <h2><%=@error%></h2>
      </ul>
    </div>
  <% end %>

   <%= form_tag '/login' do %>

   <%= label_tag :email%>

   <%= text_field_tag :email %>

   <%= label_tag :password%>

   <%= password_field_tag :password%>

   <%= submit_tag "Login"%>

<%end%>