<p id="notice"><%= notice %></p>

<p>
  <%= image_tag(@picture.link) %>
</p>

<p>
  <strong>Description:</strong>
  <%= @picture.description %>
</p>

<br>
<h3>Comments:</h3>

<p>
  <% @comments.each do |comment| %>
    <p><%= comment.comment %></p>
  <% end %>
</p>

<br>

<%= link_to 'Add Comment', new_picture_comment_path(@picture) %> |
<%= link_to 'Edit', edit_picture_path(@picture) %> |
<%= link_to 'Back', pictures_path %>
