<h1>New Picture</h1>
<%= form_with scope: :picture, url: pictures_path, local: true do |form| %>
  <p>
    <%= form.label :url %><br>
    <%= form.text_field :url %>
  </p>
  <p>
    <%= form.label :comment %><br>
    <%= form.text_area :comment %>
  </p>

  <p>
    <%= form.submit %>
  </p>
<% end %>
