<h1>New user sign up</h1>
<p>Register for binstagram below</p>

<%= form_with model: @user do |form| %>
  <div id="Name">
    <%= form.label :name %> </br>
    <%= form.text_field :name %>
  </div>

  <div id="Email">
    <%= form.label :email %> </br>
    <%= form.text_field :email %>
  </div>

  <div>
    <%= form.submit "Submit"%>
  </div>
<% end %>

<div>
  <% if @signedIn %>
  <%= @signedIn %>
  <% end %> 
</div>
