
= link_to("Upload Photo", new_photo_path)

- if @photos.any?
  - @photos.each do |photo|
    %p= link_to photo.title, photo_path(photo)
    %p= photo.caption
    = image_tag photo.image.url(:medium)

    %h3
      Comments for
      = photo.title

      - if photo.comments.any?
        %ul
          - photo.comments.each do |comment|
            %li
              = comment.comment
      - else
        %h4 No Comments


- else
  %h1 No photos have been uploaded!
