%h2= @photo.title
%h3= @photo.caption
%p= image_tag @photo.image.url(:medium)
%p= link_to "Delete #{@photo.title}", photo_path(@photo), method: :delete
%p= link_to "Leave a Comment", new_photo_comment_path(@photo)
