<h1>Listing tweetts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @tweetts.each do |tweett| %>
  <tr>
    <td><%= tweett.content %></td>
    <td><%= tweett.image %></td>
    <td><%= link_to 'Show', [tweett.image, tweett] %></td>
    <td><%= link_to 'Edit', edit_image_tweett_path(tweett.image, tweett) %></td>
    <td><%= link_to 'Destroy', [tweett.image, tweett], method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Tweett', new_image_tweett_path(params[:image_id]) %>
