<p id="notice"><%= notice %></p>

<p>
  <b>Content:</b>
  <%= @tweett.content %>
</p>

<p>
  <b>Image:</b>
  <%= @tweett.image %>
</p>


<%= link_to 'Edit', edit_image_tweett_path(@tweett.image, @tweett) %> |
<%= link_to 'Back', image_tweetts_path(@tweett.image) %>
