
- if @posts.all.any?
  - @posts.all.each do |post|
    = link_to post.caption, post_path(post)
    %p= post.description
    - post.comments.each do |comment|
      %p= comment.thoughts
    =image_tag post.image.url(:thumb)
    %p= pluralize post.likes.count, 'like'
    %p= link_to "Show #{post.caption}", post_path(post)
    %p= link_to "Edit #{post.caption}", edit_post_path(post)
    %p= link_to "Delete #{post.caption}", post_path(post), method: :delete
    %p= link_to "Review #{post.caption}", new_post_comment_path(post)
- else
  %h1 No posts yet!

%a(href='/posts/new') Add a post
