
- if @posts.all.any?
  - @posts.all.each do |post|
    = link_to post.caption, post_path(post)
    %p= post.description
    %p= link_to "Edit #{post.caption}", edit_post_path(post)
    = link_to "Delete #{post.caption}", post_path(post), method: :delete

- else
  %h1 No posts yet!

%a(href='/posts/new') Add a post
