
- if @post.errors.any?
  %section#errors
    %h2
      = pluralize @post.errors.count, "error"
      prohibited this post from being saved:
    %ul
      - @post.errors.full_messages.each do |message|
        %li= message

= form_for @post, html: {multipart: true} do |f|
  = f.label :caption
  = f.text_field :caption
  = f.file_field :image
  = f.submit
