<%=render "shared/nav_bar"%>

<div class="container">
  <div class='show-flex-container'>
    <div class='first-box-img-container'>
      <%=image_tag(@post.avatar, class: "post-avatar")%>
    </div>
    <div class='second-box'>

      <div>
        <div class='post-user-avatar-container'>
            <%=image_tag(@post.user.avatar, class: "post-user-img")%>
        </div>

         <div class='post-username-div'>
          <span class="user-name-post"><%= link_to @post.user.username, @post.user%><span>
         </div>
      </div>
      <hr>

      <div id="caption-box">
      <div id="post-title">
        <span><%=@post.title%><span>
      </div>
      <div id="post-content">
        <span><%=@post.content%><span>
      </div>
      </div>

   </div>
 </div>
</div>