<h2>Edit your post</h2>
<br>

<%= form_for @post do |f| %>
  <%= f.label :image %><br>
  <%= f.file_field :image, value: @post.image %><br>
  <%= f.label :description %><br>
  <%= f.text_area :description, value: @post.description %><br>
  <%= f.submit "Update" %>
<% end %>
