<div class='centered_text'>
  <h2>Your Posts</h2>
</div>
<div class='postsContainer centered'>
  <% @posts.each do |post| %>
    <div class='post'>
      <strong><%= post.username %></strong>
      &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
      <small>posted <%= distance_of_time_in_words(post.created_at, Time.now) %> ago</small>
      <br>
      <div class='indexImage'>
        <%= link_to post_path(post) do %>
          <%= image_tag(post.image, style: 'width: 100%') %>
        <% end %>
      </div>
      <br>
      <%= post.description %>
      <br>
      <%= link_to post_path(post) do %>
        <%= post.comments.length %> comments
      <% end %>
    </div>
  <% end %>
</div>
