<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instum.title %>
</p>

<%= link_to image_tag(@instum.image, style:"width:50%"), insta_path %>

<p>
  <strong>Caption:</strong>
  <%= @instum.caption %>
</p>

<%= link_to 'Edit', edit_instum_path(@instum) %> |
<%= link_to 'Back', insta_path %>
