<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @instum.title %>
</p>

<p>
  <strong>Caption:</strong>
  <%= @instum.caption %>
</p>

<%= link_to 'Edit', edit_instum_path(@instum) %> |
<%= link_to 'Back', insta_path %>
