<%= form_for Post.new, html: {multipart: true} do |f| %>
  <div class="form-group">
  <%= f.label :title %>
  <br>
  <%= f.text_field :title %>
  </div>
  <div class="form-group">
  <%= f.label :description %>
  <br>
  <%= f.text_field :description %>
  </div>
  <div class="form-group">
  <%= f.file_field :image %>
  </div>
  <%= f.submit :class => 'btn btn-primary'%>
<% end %>
