<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="style.css">
</head>
<body>
  <body>
    <div class="navbar">
      <% if current_user %>
        <ul class="top_navbar">
          <li class="left"><a href="/posts"><img src="https://www.pngarts.com/files/4/Instagram-PNG-Image.png" alt="" class="instagram_logo_navbar"></a></li>
          <li class="right"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
          <li class="right"><%= link_to 'New Post', new_post_path %></li>
        </ul>
      </div>
    <% else %>
      <div class="navbar">
        <ul class="top_navbar">
          <li class="left"><a href="/posts"><img src="https://www.pngarts.com/files/4/Instagram-PNG-Image.png" alt="" class="instagram_logo_navbar"></a></li>
          <li class="right"><%= link_to 'Sign up', new_user_registration_path %></li>
          <li class="right"><%= link_to 'Sign in', new_user_session_path %></li>
        </ul>
      </div>
    <% end %>
    <!-- <p class="notice"><%= notice %></p> -->
    <p class="alert"><%= alert %></p>
    <div class="container">
      <div class="left_container">
          <% @posts.reverse.each do |post| %>
            
              <% if post.image %>
              <div class="image">
                <%= image_tag(post.image, style:'max-width:100%; max-height: 100%; object-fit: contain') %> <br>
              </div>
              <% end %>
              <%= link_to post do %>
                <span class="icon"><i class="fa fa-link" aria-hidden="true"></i></span>
              <% end %>
              <% if current_user && current_user.admin %>
                <%= link_to edit_post_path(post), class: 'level-item' do %>
                  <span class="icon"><i class="fa fa-pencil" aria-hidden="true"></i></span>
                <% end %>
                <%= link_to post, method: :delete, data: { confirm: 'Are you sure?' } do%>
                  <span class="icon"><i class="fa fa-trash-o" aria-hidden="true"></i></span>
                <% end %> <br>
                By: <%= post.user.username %> <br>
                <%= post.caption %> <br>
                <% post.comments.each do |comment|%>
                  <%= User.find(comment.user_id).username %> said: <%= comment.content %> <br> 
                <% end %>
                <!-- here i had to put @comment as a variable for new comment in the posts controller! -->
                <%= form_with(model: @comment, local: true) do |form| %>
                <div class="hidden_field">
                  <%= hidden_field_tag 'post_id', post.id %>
                </div>
                <div class="comment_field">
                  <%= form.label :comment %>
                  <%= form.text_area :content %>
                </div>
              
                <div class="actions">
                  <%= form.submit %>
                </div>
              <% end %>
              
            <% end %>
          <% end %>
      </div>
        <div class="right_container">
          <h1>People to follow</h1>
          <% @users.each do |user|%>
            <%= user.username %>
            <form action="/followers/create" method="POST">
              <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token%>">
              <input type="hidden" name="followee" value="<%= user.id%>">
              <input type="submit" name="submit" value="Follow">
            </form>
          <% end %>
        </div>
    </div>
    </tbody>
  </table>
  
  <br>
  
  
</body>
</html>
