= link_to "Make a post", new_post_path

- if @posts.any?
  %ul
    - @posts.reverse_each do | post |
      %li
        = image_tag post.image.url(:thumb)
        %h2= post.title
        %span.likes_count= post.likes.count
        = "Like".pluralize post.likes.count
        = link_to "Like", post_likes_path(post), class: 'likes-link'
        = link_to "Leave comment", new_post_comment_path(post)
        - if post.comments.any?
          - post.comments.reverse_each do |comment|
            = comment.thoughts
        - if user_signed_in? && current_user.id == post.user_id
          = link_to "Delete", post_path(post), method: :delete
- else
  %h2 No posts yet!