<section class='row jumbotron'>

	<h1>What have you got?</h1>

	<%= form_for @post, html: {multipart: true} do |f| %>
		<section class='choose-image'>
			<%= f.label :image, class: 'hide' %>
			<%= f.file_field :image %>
		</section>
		<section class='choose-image'>
			<%= f.label :caption %>
			<%= f.text_field :caption %>
		</section>
		<br>
		<%= f.submit 'Post image', class: 'btn btn-submit' %>
	<% end %>

</section>