<div class='large-image'>
	<%= image_tag(@post.image.url(:large)) %>
</div>

<section class='large-image-text'>

	<h2><%= @post.caption %></h2>
	<h3>Posted by <%= link_to @post.user.email, user_path(@post.user) %></h3>
	
	<h3><%= link_to 'Like', post_likes_path(@post), class: 'add-like-link' %> | <span class='like-count'><%= @post.likes.count %><%= ' like'.pluralize(@post.likes.count) %></span> <span class='like-error'></span></h3>

	<% if @post.comments.any? %>
		<h4>Comments:</h4>
		<% @post.comments.each do |comment| %>
			<p><%= comment.comment %></p>
			<%= link_to 'Delete comment', comment_path(comment), method: :delete %>
		<% end %>
	<% end %>

	<%= form_for [@post, @comment] do |f| %>
		<%= f.label :comment, class: 'hide' %>
		<%= f.text_area :comment %>
		<%= f.submit 'Add comment', class: 'btn btn-submit' %>
	<% end %>

</section>