<p>
  <div style="width:400px; height:auto">
    <%= link_to image_tag(@post.image, style:'width:100%'), posts_path %> <br>
  </div>
  <strong>Caption:</strong>
  <%= @post.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @post.user.username %>
</p>

<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %>
