<%= @post.name %>
<%= image_tag @post.image.url(:medium) %>
<%= @post.content %>
<br>
<%= @post.created_at %>
<% if @post.comments.any? %>
      <br>
      <ul>
        <% @post.comments.each do |comment| %>
          <li>
            <%= comment.thoughts %>
            <br>
            <%= comment.created_at %>
            <br>
            <%= link_to "delete comment", post_comment_path(@post, comment), method: :delete %>
          </li>
        <% end %>
      </ul>
      <% end %>
<br>
<%= link_to "comment on post", new_post_comment_path(@post) %>
<%= link_to "delete post", post_path(@post), method: :delete %>
