<%= image_tag(@post.image.url(:medium)) %>
<%= @post.caption %>
<p>Posted by <%= link_to @post.user.email, user_path(@post.user) %></p>
<% if @post.comments.any? %>
	<p>Comments:</p>
	<% @post.comments.each do |comment| %>
		<%= comment.comment %>
		<%= link_to 'Delete comment', comment_path(comment), method: :delete %>
	<% end %>
<% end %>

<%= form_for [@post, @comment] do |f| %>
	<%= f.label :comment %>
	<%= f.text_area :comment %>
	<%= f.submit 'Add comment' %>
<% end %>