<p id="notice"><%= notice %></p>

<p><%= image_tag @post.image.url(:large) %></p>
<p><b><%= @post.caption %></b></p>
<% @post.comments.each do |comment| %>
<div id="comment"><em>"<%= comment.content %>"</em></div>
<% end %>

<% if user_signed_in? %>
  <%= link_to 'Comment', new_post_comment_path(@post) %>
  <%= link_to 'Edit', edit_post_path(@post) %>
  <%= link_to 'Delete', @post, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>
<%= link_to 'Back', posts_path %>
