%section.add_photo_form
  = form_for @photo, html: { multipart: true } do |f|
    %div.add_photo_label
      = f.label :image
      = f.file_field :image
    = f.label :message
    = f.text_field :message
    = f.submit "Add my photo", class: "btn btn-success add-photo"