<%= render 'head_and_foot/head' %>

<div class="top_menu">
  <%= render 'devise/menu/registration' %>
  <%= render 'devise/menu/login' %>
  <%= render 'devise/menu/addphoto' %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<div class="foto_grid">
<% for photo in @photos do %>
  <div class="single_photo_obj">
    <% user = User.find(photo.user_id) %>
    <h1> <%= user.username %> </h1>
    <div class="image"><%= image_tag photo.image.url(:medium), :class => "image_img" %> <br> </div>
    <p1> <%= photo.description %> <br> </p1>

<% if @current_user != nil %>
  <%= form_for @like, url: '/likes' do |form| %>
    <%= hidden_field_tag :user_id, @current_user.id %>
    <%= hidden_field_tag :photo_id, photo.id %>
    <%= form.submit 'Like'%>
  <% end %>
<% end %>

<%= photo.count_likes %>

  </div>
<% end %>

</div>

<%= render 'head_and_foot/footer' %>
