Fridge - Share your food online, where people can admire it, but only you can eat it.

<%= render 'devise/menu/registration' %>
<%= render 'devise/menu/login' %>
<%= render 'devise/menu/addphoto' %>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% for photo in @photos do %>
  <h2><%= photo.description %></h2>
<% end %>
