<%= render 'head_and_foot/head' %>

<div class="top_menu">
  <%= render 'devise/menu/registration' %>
  <%= render 'devise/menu/login' %>
  <%= render 'devise/menu/addphoto' %>
</div>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

<% for photo in @photos do %>
  <h2><%= photo.description %></h2>
<% end %>

<%= render 'head_and_foot/footer' %>
