<%= render 'head_and_foot/head' %>
<div class="notice">
  <%= notice %>
</div>

<%= form_for(@photo) do |form| %>
  <p>
    <%= form.label :description %><br/>
    <%= form.text_area :description %>
    <%= form.file_field :image %>
  </p>

  <%= form.submit %>
<% end %>

<%= render 'head_and_foot/footer' %>
