= image_tag  @moment.image.url(:medium)
= @moment.description
= form_for [@moment, @comment] do |f|
  = f.text_field :comment 
  = f.submit "Comment"
- if @moment.comments.any?
  - @moment.comments.each do |comment|
    %h3= comment.comment
-# = link_to "Comment", new_moment_comment_path(@moment)
