<% @posts.each do |post| %>
  <% @post = post %>
  <div class="card border-secondary mb-3" style="max-width: 60rem;" id="<%= post.id %>">
  <div class="card-header"><%= post.user[:user_name] %> - posted <%= post.when(post.updated_at) %></div>
  <div class="card-body">
    <p class="card-text">
      <%= post.message %><br />
      <%= link_to (image_tag post.image.url(:thumb)), post %>
    </p>
  </div>
  </div>
  <%= render 'posts/reactions' %>
  <%= render "posts/options" %>
  <hr>
<% end %>
