<div class="card border-secondary mb-3" style="max-width: 60rem;">
<div class="card-header"><%= @post.user[:user_name] %> - posted <%= @post.when(@post.updated_at) %></div>
<div class="card-body">
  <p class="card-text">
    <%= @post.message %><br />
    <%= image_tag @post.image.url(:Large), style:"max-width: 95%;" %>
  </p>
</div>
</div>
<%= render 'posts/reactions' %>
<%= render "posts/options" %>
<hr>
<%= link_to "Back to your Minstas", posts_path %>
<br />
