
<% if @posts.any? %>
    <% @posts.each do |post| %>
    <ul>
        <li>
          <%= post.title.upcase%> <br>
          <% if user_signed_in? %>
          <%= link_to "View Post", post_path(post) %> <br>
          <%= link_to "Edit Post", edit_post_path(post) %> <br>
          <%= link_to "Comment Post", new_post_comment_path(post)%> <br>
          <%= link_to "Delete Post", post_path(post), method: :delete %> <br>
      <% end %>
    </li>
  </ul>
  <% end %>
  <% else %>
    No post added yet
  <% end %>
<%= link_to "Add post", new_post_path%>
