%ul{id: "image_#{image.id}_comments"}
  - if image.comments.any?
    - image.comments.each do |comment|
      %li= comment.text
- if current_user
  = form_tag('#', method: 'get') do
    .form-group.row
      = text_field_tag(:comment_text, 'Enter your comment here', class: 'col-12 form-control new-comment-field')
      = link_to('Post comment', image_comments_path(image), class: 'btn-primary add-new-comment')
