- @images.each do |image|
  %h4= image.title
  %p= image.description
  = image_tag image.image_file.url(:medium)
  = render partial: 'comments', locals: { image: image }
  = render partial: 'likes', locals: { image: image }
