.row.justify-content-center
  .col-12.col-sm-10.col-md-8
    - @images.each do |image|
      .row.justify-content-center.image-container.no-gutters.my-4
        .col-12.p-2
          %h5= image.title
        .col-12
          = image_tag image.image_file.url(:large), class: 'img-fluid'
        .col-12.px-2
          %p.image-description.pt-1= image.description
          %hr
          = render partial: 'comments', locals: { image: image }
        .col-12.px-2
          = render partial: 'likes', locals: { image: image }
