<h1>Editing Image</h1>

<%= render 'form' %>

<%= link_to 'Show', @image %>
<%= link_to 'Back', images_path %>

<%= form_for @image, url: images_path, html: { multipart: true } do |form| %>
  <%= form.file_field :photo %>
<% end %>
