<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Edit Image</title>
  </head>
  <body>

    <%= form_for @image do |f| %>
      <%= f.label :description, 'Description' %>
      <%= f.text_field :description, class: 'formEntryField' %>
      <%= f.label :image, 'Image' %>
      <%= f.file_field :image, class: 'formEntryField' %>
      <%= f.submit 'Update', class: 'submitButton' %>
    <% end %>

  </body>
</html>
