<% if current_user %>
<%= link_to('Logout', destroy_user_session_path, id: "log-out" , method: :delete) %>
<% end %>

<h1>Instasham</h1>

<div class='timeline'>
<% if @images.any? %>
  <% @images.each do |image| %>
    <div class='image-div' id=<%=image.id%>>
      <%= image_tag(image.photo_url.to_s, width: 300) %>
      <p class='image-caption' id=<%=image.id%>>Caption: <%= image.caption %></p>
        <p class='caption-edit'><%= link_to 'Edit Caption', edit_image_path(image) %></p>
    <% end %>
<% else %>
    <h2>No Images Added Yet</h2>
  </div>
<% end %>

<%= link_to new_image_path do %>
  Upload Image
<% end %>
