<% if @images.any? %>
  <ul>
    <% @images.each do |image| %>
      <ul>
        <%= image_tag image.image.url(:medium) %>
        <% if image.belongs_to_user?(current_user) %>
        <p><%= link_to 'Edit', edit_image_path(image) %></p>
        <p><%= link_to 'Delete', image_path(image), method: :delete %>
          <% else %>
          <p></p>
          <% end %>
        <p><%= link_to 'Like', image_likes_path(image), class: 'likes-link' %>
        <span class='likes_count'> <%= image.likes.count %> </span> <%= 'likes'.pluralize(image.likes.count) %>
        <%= image.caption %>
          <% if image.comments.any? %>
            <ul>
              <% image.comments.each do |comment| %>
                <ul>
                  <%= comment.comments %>
                </ul>
              <% end %>
            </ul>
          <% else %>
            <p> </p>
          <% end %>
        <%= link_to 'Comment', new_image_comment_path(image) %>
      </ul>
    <% end %>
  </ul>
<% else %>
  No images yet
<% end %>

<a href='images/new'>Add your image here!</a>
