<% @images.each do |image| %>
  <div><p><%= image.title %></p>
  <p><%= image_tag(image.image_url.to_s) %></p></div>
<% end %>

<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
  <%= link_to 'Post Panorama', new_image_path %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path  %> |
  <%= link_to "Login", new_user_session_path %>
<% end %>
