<% if @images.all.any? %>
  <% @images.all.each do |image| %>
    <%= image_tag image.upload.url(:thumb) %>
    <h3><%= image.caption %></h3>
    <h4><%= image.user.email %></h4>
    <h3>Comments</h3>
    <% if image.comments.any? %>
      <ul>
        <% image.comments.each do |comment| %>
          <li>
            <%= comment.message %>
            <%= comment.user.email %>
          </li>
        <% end %>
      </ul>
    <% end %>
    <%= form_for [image, Comment.new] do |f| %>
    <%= f.label :message %>
    <%= f.text_area :message %>
    <%= f.submit 'Leave Comment' %>
  <% end %>
<% end %>
<% else %>
  <h1>No images yet</h1>
<% end %>

<a href=<%= new_image_path %>>Upload an image</a>
