<% name = current_user.present? ? current_user.username : 'Stranger' %>
<section class="feed">
<p id="notice"><%= notice %></p>
<h1> Hello <%= name %> </h1>

    <% @images.each do |image| %>
      <div class='post'>
        <%= image_tag(image.image) %>
        <p><%= image.caption %></p>
        <p class='username'><%= link_to User.find_by(id: image.user_id).username, user_path(User.find_by(id: image.user_id)) %></p>
        <% if current_user %>
          <% if image.user_id == current_user.id %>
            <div class='edit-delete'>
              <%= link_to 'Edit', edit_image_path(image) %>
              <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
            </div>
          <% end %>
        <% end %>
        <p><%= image.created_at.strftime('%H:%M %d-%m-%y') %></p>
      </div>
    <% end %>

</section>
