<div class="container">
  <div class="row">

    <% if @images.any? %>
      <% @images.each do |image| %>

            <div class="col-lg-2 col-sm-3 col-xs-4">
              <%= link_to image_tag(image.image.url(:thumb)), image_path(image) %>

              <%= link_to image.description, image_path(image) %>

              <div class="badge"><%= pluralize image.likes.count, 'like' %></div>

              <% if current_user %>

                <% if current_user.already_liked?(image) %>
                  Liked
                <% else %>
                  <%= link_to "Like", image_likes_path(image), remote: true, method: :post %>
                <% end %>

              <%= link_to "Comment", new_image_comment_path(image) %>
              <%= link_to "Edit", edit_image_path(image) %>
              <%= link_to "Delete", image_path(image), method: :delete %>
            </div>

            <% else %>
            <% end %>
      <% end %>

    <% else %>
      No Images Yet
    <% end %>

  </div>
</div>
