<!DOCTYPE html>
<title>
  Shotwall
</title>
<body>
  <% if current_user %>
  <h3>Shotwall</h3>
  <br>
  <%= button_to 'Add your shot', { action: 'new', controller: 'images' }, method: :get, class: 'button' %>
  <br>
  <h4>Latest Metal shots:</h4>
  <% Image.all.each do |image| %>
  <br>
  <p>
    <img style="float:left;" src="<%=formatted_image_url(image)%>"/>
    <strong>Title:
    </strong>
    <%= image.title %><br>
    <strong>Description:
    </strong>
    <%= image.description %><br>
    <strong>Added by:
    </strong><em><%= image.user.email %></em> - <%= image.image_updated_at.strftime("%d-%m-%Y, %H:%M") %><br>
    <h5>☠ Comments:</h5>
    <% image.comments.each do |comment| %>
    <div>
      <strong><%= comment.user.email %></strong>:<br>
      "<%= comment.body %>"
      <!-- <p><%= link_to 'Delete', comment_path(comment), method: :delete, data: { confirm: 'Are you sure?' } %></p> -->
    </div>
    <% end %>
    <%= render partial: 'comments/form', locals: { user: current_user, image: image }%>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
  </p>
  <br>
  <% end %>
<% else %>
  <p>Please Sign up or Log in to check out and share the latest metal shots!</p>
  <% end %>

</body>
</html>
