<style>
.content {
  max-width: 500px;
  margin: auto;
}
</style>
<!-- <p id="notice"><%= notice %></p> -->

<h1>Here is your feed, <%=current_user.username%>!</h1>

  <body>
    <% @images.each do |image| %>

        <div style='width:400px; height:auto'>
          <%= image_tag(image.image, style: 'width:100%') %>
        </div>

        <p><%= image.caption %></p>
        <p>created by: <%= image.user.username %></p>
        <p>created at: <%= image.created_at.strftime('%d-%m-%y') %></p>
        <p class='links'>
        <%= link_to 'Show', image %>
        <% if current_user.username == image.user.username %>
          <%= link_to 'Edit', edit_image_path(image) %>
          <%= link_to 'Destroy', image, method: :delete, data: { confirm: 'Are you sure?' } %>
        <% end %>
        <br>
        <br>
      </p>
    <% end %>
  </body>


<br>

<%= link_to 'New Image', new_image_path %>
