<% if @images.any? %>
  <% @images.each do |image| %>
    <h2> <%= image.description %> </h2>
    <%= link_to image.description, image_path(image) %>
    <%= link_to (image_tag (image.avatar.url(:medium))), image_path(image) %>
    <%= link_to "Edit description", edit_image_path(image) %>
    <%= link_to "Delete image", image_path(image), method: :delete %>

  <% end %>
<% else %>
  No images yet
<% end %>
<%= link_to 'Add an image', new_image_path %>
