<h1>Add new image</h1>
<div class="image_upload">
  <%= form_for :image, url: '/images', html: { multipart: true } do |f| %>
    <%= f.label :name %>
    <%= f.text_field :name %>
    <%= f.label :image %>
    <%= f.file_field :avatar %>
    <%= f.submit "Post", class: "btn btn-primary" %>
  <% end %>
</div>
