<p>Images can only be accepted as jpg or png.</p>

<%= form_for @image, url: images_path, html: { multipart: true } do |form| %>
  <%= form.label :description %>
  <%= form.text_field :description %>
  <%= form.file_field :avatar, :accept => 'image/png,image/jpeg' %>
  <%= form.submit %>
<% end %>
