<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>

    <meta charset="utf-8">
    <title></title>
  </head>
  <body>

    <div class="notice">
      <%= notice %>
    </div>
    <div class="image_form">
      <%= form_for @image do |f| %>
        <p>
          <div class="label">
            <%= f.label :image %>
          </div>
          <div class="field">
            <%= f.file_field :image %>
        </div>
        </p>
        <p>
          <div class="label">
            <%= f.label :user %>
          </div>
          <%= f.text_field :user %>
        </p>
        <p>
          <div class="label">
            <%= f.label :caption %>
          </div>
          <%= f.text_field :caption %>
        </p>
        <div class="button">
        <%= f.submit 'Add image' %>
      </div>
      <% end %>
    </div>

  </body>
</html>
