= form_for @image, html: { multipart: true } do |f|
  .form-group.row
    = f.label :title, class: 'col-4'
    = f.text_field :title, class: 'col-8 form-control'
  .form-group.row
    = f.label :description, class: 'col-4'
    = f.text_area :description, class: 'col-8 form-control', rows: 10
  .form-group.row
    = f.file_field :image_file, class: 'col-12 form-control-file'
  .form-group.row
    = f.submit class: 'btn-lg btn-primary'
