.row.justify-content-center
  .col-12.col-md-8
    = form_for @image, html: { multipart: true }, class: 'row' do |f|
      .form-group.row.mt-5
        = f.label :title, class: 'col-4'
        = f.text_field :title, class: 'col-8 form-control'
      .form-group.row
        = f.label :description, class: 'col-4'
        = f.text_area :description, class: 'col-8 form-control', rows: 5
      .form-group.row
        = f.file_field :image_file, class: 'col-12 form-control-file'
        %small.form-text.text-muted.col-12.pt-1 Select a .jpg, .jpeg or .png file
      .form-group.row.justify-content-center.py-4
        = f.submit class: 'btn-lg btn-primary'
