<h3>Post your metal shot here:</h3>
<%= form_for @image, url: images_path, html: { multipart: true } do |image| %>
  <%= image.file_field :image %>
  <br>
  Add a title:
  <%= image.text_field :title %><br>
  <br>
  Add a description:
  <%= image.text_area :description %><br>
  <br>
  <%= image.submit "Hail!", class: 'button' %>
<% end %>
<br>
