<a href='/'>Homepage</a>

<%= form_for Image.new, html: {multipart: true} do |i| %>
  <%= i.label :description %>
  <%= i.text_field :description %>
  <%= i.file_field :image %>
  <%= i.submit "Upload" %>
<% end %>
