<h1>Upload an Image</h1>
<%= form_for Image.new, html: { multipart: true} do |f| %>
  <p>
    <%= f.file_field :image %>
  </p>
  <p>
    <%= f.label :title %><br>
   <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :description %><br>
    <%= f.text_field :description %>
  </p>
  <p>
    <%= f.submit %>
  </p>
<% end %>
