<h1>Upload a new image</h1>

<%= form_for @image do |form| %>
  <%= form.label :photo %>
  <br>
  <%= form.file_field :photo %>
  <br>
  <%= form.label :caption %>
  <br>
  <%= form.text_area :caption %>
  <br>
  <%= form.submit "Submit" %>
<% end %>
