<h1>Upload a new image</h1>

<%= form_for @image do |form| %>
  <div class="field">
    <%= form.label :photo %>
    <%= form.file_field :photo %>
  </div>

  <div class="field">
    <%= form.label :caption %>
    <%= form.text_area :caption %>
  </div>

  <div class="actions">
    <%= form.submit "Submit" %>
  </div>
<% end %>
