<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>New Image</title>
  </head>
  <body>

<%= form_for @image, html: {multipart: true} do |f| %>
  <%= f.label :description, 'Description' %>
  <%= f.text_field :description, class: 'formEntryField' %>
  <%= f.label :image, 'Image' %>
  <%= f.file_field :image, class: 'formEntryField' %>
  <%= f.submit 'Upload Image', class: 'submitButton' %>
<% end %>

  </body>
</html>
