<h3>Upload your metal shot here:</h3>
<%= form_for @image, url: images_path, html: { multipart: true } do |image| %>
  <%= image.file_field :image %>
  <%= image.text_field :title %>
  <%= image.text_field :description %>
  <%= image.submit "Hail!", class: 'button' %>
<% end %>
<br>
