= form_for @image, html: {multipart: true} do |f|
  = f.label :name
  = f.text_field :name
  = f.label :description
  = f.text_field :description
  = f.label :choose_image
  = f.file_field :image
  = f.submit('Upload Image')
