<p id="notice"><%= notice %></p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>

<h2><%= @image.title %></h2>
<%= image_tag attachment_url(@image, :image, :fill, 300, 300, format: "jpg") %>
<%= render 'comments'%>
