<p id="notice"><%= notice %></p>

<div class="post show-post">
  <%= image_tag(@image.image) %>
</div>
<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
