<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title><%= @image.description %></title>
  </head>
  <body>

    <%= image_tag @image.image.url(:medium) %>
    <%= @image.description %>

    <%= link_to "Edit", edit_image_path(@image) %>
    <%= link_to "Delete", image_path(@image), method: :delete %>

  </body>
</html>
