<h1><%= @image.description %></h1>
  <%= image_tag(@image.picture.url(:large), class: 'uploaded-pic large') %>
  <div class="creator_and_likes">
    <p>Created by <%= @creator_handle %></p>
    <p><%= link_to '&#x1F44D;'.html_safe, image_path(@image), method: :patch %><%=  @likes %></p>
  </div>

  <% if @image.show_comments.any? %>
    <ul>
      <% @image.show_comments.each do |comment| %>
      <li><%= link_to comment[1], user_path(comment[0].user_id) %></li>
    <% end %>
   </ul>
  <% end %>

  <%= link_to "Add Comment", new_image_comment_path(@image) %>
