<%= link_to("Back to Images", images_path) %>
<h1><%= @image.title %></h1>
<%= image_tag @image.image.url(:medium) %>
<%= @image.description %>
<%= link_to("Delete Image", image_path(@image), method: :delete) %>
