= @image.name
= image_tag @image.image.url(:medium)
= link_to "Edit #{@image.name}", edit_image_path(@image)
= link_to "Delete #{@image.name}", image_path(@image), method: :delete
= link_to "Add a comment", new_image_comment_path(@image)
- @image.comments.each do |comment|
  %p
    = comment.thoughts
