%h3 #{@image.title}:
%img{:src => @image.image.url}
%br
%br
= link_to "Add a comment to #{@image.title}", new_image_comment_path(@image)
%h3 Comments:
- if @image.comments.any?
  %ul
    - @image.comments.reverse.each do |comment|
      -# %li= comment.user.name
      %li= comment.comment
      = link_to "Delete comment", image_comment_path(@image, comment), method: :delete

- else
  No comments yet
%p
