<p id="notice"><%= notice %></p>
<div>
  <%= image_tag(@image.pic, style:"width:200px") %>
</div>
<p>
  <strong>Caption:</strong>
  <%= @image.caption %>
</p>

<p>
  <strong>User:</strong>
  <%= @image.user_id %>
</p>

<%= link_to 'Edit', edit_image_path(@image) %> |
<%= link_to 'Back', images_path %>
<hr>
<h1>New tweett</h1>

<%= render 'tweetts/form' %>

<hr>
<h1>Listing tweetts</h1>

<table>
  <tr>
    <th>Content</th>
    <th>Image</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @image.tweetts.each do |tweett| %>
  <% if tweett.persisted? %>
  <tr>
    <td><%= tweett.content %></td>
    <!-- <td><%= link_to 'Show', [tweett.image, tweett] %></td> -->
    <td><%= link_to 'Edit', edit_image_tweett_path(tweett.image, tweett) %></td>
    <!-- <td><%= link_to 'Destroy', [tweett.image, tweett], method: :delete, data: { confirm: 'Are you sure?' } %></td> -->
  </tr>
  <% end %>
  <% end %>
</table>