<p><%= image_tag(@image.url) %></p>
<p><%= @image.description %></p>

<%= link_to "Edit #{@image.description}", edit_image_path(@image) %>
<%= link_to "Delete #{@image.description}", image_path(@image), method: :delete %>
<%= link_to "Comment #{@image.description}", new_image_comment_path(@image) %>

<% @image.comments.each do |comment| %>
  <p><%= comment.user.email %></p>
  <p><%= comment.thoughts %></p>
<% end %>
