<header class="navbar navbar-fixed-top">
  <div class="container">
    <%= link_to "Plantagram", root_path, id: "logo" %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if logged_in? %>
          <li><%= link_to "Profile", current_user%></li>
          <li><%= link_to "Sign out", signout_path, method: "delete"%></li>
        <% else %>
          <li><%= link_to "Sign in", signin_path %></li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>