<header class="navbar navbar-fixed-top navbar-inverse">
  <div class="container">
    <%= link_to "Instagram", root_path, id:'logo' %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Home", root_path %></li>
        <% if current_user %>
          <%= link_to "New Post", new_picture_path %>
          <%= link_to "Log out", "#" %>
        <% else %>
          <%= link_to "Log in", "#" %>
          <%= link_to "Register", "#" %>
        <% end %>
      </ul>
    </nav>
  </div>
</header>
