<h1>pinstagram</h1>
<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<p id="links">
  <%= link_to 'Pin An Image', new_pin_path %>&nbsp;&nbsp;
  <% if user_signed_in? %>
    <%= link_to('Log Out', destroy_user_session_path, method: :delete) %>&nbsp;&nbsp;
  <% else %>
    <%= link_to('Log In', new_user_session_path) %>&nbsp;&nbsp;
  <% end %>
  <%= link_to "Home", root_path %>
</p>