<header>
  <div>
    <div class="navbar">
      <ul>
        <li><%= link_to "Explore", root_path %></li>
        <!-- add help path? -->
        <% if logged_in? %>
          <li><%= link_to 'Add Picture', new_picture_path %></li>
          <li><%= link_to "Profile", current_user %></li>
          <!-- add settings path? -->
          <li><%= link_to "Log out", logout_path, method: "delete" %></li>
        <% else %>
          <li><%= link_to "Log in", login_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</header>
