<nav class="navbar navbar-default">
  <div class ='navbar-container'>
    <div class="navbar-brand mb-0 h1"><%= link_to 'Home', root_path, class: 'navbar-brand' %></div>
    <div class="navbar-brand mb-0 h1">
    
    <% if user_signed_in? %>
      Logged in as <strong><%= current_user.email %></strong>.
      <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-brand' %> |
      <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-brand'  %>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-brand'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-brand'  %>
    <% end %>
   
    </div>
  </div>
 </nav>
 