<nav class="navbar navbar-light bg-white border-bottom">
  <div class="container-fluid ms-4 align-items-center">
    <a class="navbar-brand" href="/">
      <%= image_tag "Instagram_logo.svg", alt:"Instagram", height:"32", class:"d-inline-block align-text-top" %>
    </a>
    <div class="d-flex">
    <% if current_user %>
      <%= link_to "/", class:"fs-4 px-2 link-dark" do %>
        <i class="bi bi-house-door-fill"></i>
      <% end %>
      <%= link_to new_post_path, class:"fs-4 px-2 link-dark" do %>
        <i class="bi bi-plus-square"></i>
      <% end %>
      <div class="dropdown text-end px-2">
        <a href="#" class="d-block link-dark text-decoration-none" id="dropdownUser1" data-bs-toggle="dropdown">
          <%= avatar_for(current_user) %>
        </a>
        <ul class="dropdown-menu text-small">
          <li><%= link_to "Profile", user_path(current_user), class:"dropdown-item" %></li>
          <li><hr class="dropdown-divider"></li>
          <li><%= link_to "Log out", current_user_session, method: :delete, class:"dropdown-item" %></li>
        </ul>
      </div>
    <% else %>
      <%= link_to "Login", new_user_session_path, class:"btn btn-outline-primary me-2" %>
      <%= link_to "Sign-up", new_user_path, class: "btn btn-primary" %>
    <% end %>
    </div>
  </div>
</nav>