<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "ChristaGram", root_path, class: "navbar-brand" %>
    <form class="form-inline">
      <% if current_user %>
        <h3> Hi, <%= current_user.first_name %>!</h3>
        <%= link_to "Sign Out", {controller: "sessions", action: "destroy"}, class: "btn btn-outline-dark" %>
        <% else %>
        <%= link_to "Sign In", {controller: "sessions", action: "new"}, class: "btn btn-outline-dark" %>
        <%= link_to "Sign Up", {controller: "users", action: "new"}, class: "btn btn-outline-dark" %>
      <% end %>
    </form>
  </div>
</nav>
