<nav class="navbar navbar-light bg-light">
  <div class="container">
    <%= link_to "ChristaGram", root_path, class: "navbar-brand" %>
    <form class="form-inline">
      <% if current_user %>
        <h3> Hi, <%= current_user.first_name %>!</h3>
        <%= link_to "New Post", new_post_path, class: "btn btn-outline-success" %>
        <%= link_to "Sign Out", sign_out_path, class: "btn btn-outline-dark" %>
        <% else %>
        <%= link_to "Sign In", sign_in_path, class: "btn btn-outline-dark" %>
        <%= link_to "Sign Up", sign_up_path, class: "btn btn-outline-dark" %>
      <% end %>
    </form>
  </div>
</nav>
