<div class='timeline'>
<% @messages.each do |message| %>
  <div class='message-div' id=<%=message.id%>>
    <%= link_to '@' + message.user.username, user_path(message.user.id), params: {id: message.user.id}, id: 'author' + message.id.to_s %>
    <p class='message-text' id=text-<%=message.id%>><%=message.text%></p>
    <p class='message-date' id=date-<%=message.id%>><%=message.format_date%></p>
  </div>
<% end %>
</div>
