<!DOCTYPE html>
<html>
  <head>
    <title>Insteadgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <header>
    <p>
      <% if user_signed_in? %>
        Logged in as <strong><%= current_user.username %></strong>.
        <%= image_tag current_user.avatar.url(:thumb) %>
        <%= link_to 'Edit profile', edit_user_registration_path %> |
        <%= link_to "Logout", destroy_user_session_path %>
      <% else %>
        <%= link_to "Sign up", new_user_registration_path %> |
        <%= link_to "Login", new_user_session_path %>
      <% end %>
    </p>
  </header>

  <body>

    <% if notice %>
      <p><%= notice %></p>
    <% end %>
    <% if alert %>
      <p><%= alert %></p>
    <% end %>

    <%= yield %>
  </body>
</html>
