<!DOCTYPE html>
<html>
  <head>
    <title>Exchangeagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Vibur" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  </head>

  <body>
    <%= render 'layouts/navbar' %>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div class="flash <%= key %>"><%= value %></div>
      <% end %>
    </div>

    <%= yield %>

    <footer class='main-footer'>
      <span class='float-left footer-info brand-font'>Exchangeagram</span>
      <a class='footer-img-link float-right' href="https://github.com/TimRobinson1">
        <i class="fa fa-github" aria-hidden="true"></i>
      </a>
      <a class='footer-img-link float-right' href="https://www.youtube.com/watch?v=CewJ-ihIqaM">
        <i class="fa fa-info-circle" aria-hidden="true"></i>
      </a>
    </footer>
  </body>
</html>
