<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header>
  <h1>InstaSnap</h1>
</header>
<body>
  <ul>
  <% if current_user %>
    <li><%= link_to "New Post", new_post_path %></li>
    <li><%= link_to "Sign out", destroy_user_session_path, method: :delete %></li>
  <% else %>
    <li><%= link_to "Sign in", new_user_session_path %></li>
    <li><%= link_to "Sign up", new_user_registration_path %></li>
  <% end %>
  </ul>
<%= notice %>
<%= yield %>

</body>
</html>
