<!DOCTYPE html>
<html>
  <head>
    <title>Insta</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,user-scalable=no">
    <link href='http://fonts.googleapis.com/css?family=Lato:400,700|Kaushan+Script|Montserrat' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header>
      <img src= "<%= image_url('tranquil-lake.jpg') %>" alt="Tlake">
      <div class="name fancy-font">
        Rhys
      </div>
      <div>
        <%= button_to 'Sign Out', destroy_user_session_path, method: :delete %>
        <%= button_to 'New Post', new_post_path, method: :get %>
      </div>
      <div class="titles" style="color:#FFF">
        <h1>Hello! <span>I'm Rhys</span></h1>
        <h2>I love to travel all around the world</h2>
      </div>
    </header>

    <section class="instagram-wrap">
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <div class="instagram-content">
              <h3>InstaFeed</h3>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <%= yield %>
      </div>
    </section>

    <footer>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <div class="container">
        <div class="row">
          <div class="col-xs-12">
            <h4>Get in touch</h4>
            <p class="about-text">Generic 'about' stuff</p>
            <a class="contact-now-btn" href="#">Contact Now</a>
          </div>
        </div>
      </div>
    </footer>

    <section class="footer-bottom">

    </section>

  </body>
</html>
