<!DOCTYPE html>
<html>
  <head>
    <title>InstaSham</title>
    <link rel="icon" type="image/png" href="favicon/favicon-32x32.png" sizes="32x32" />
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="container">
      <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
      <% end %>
    </div>
    <%= render 'layouts/header' %>
    <%= yield %>
    <% if current_user %>
    <div><p>Welcome, <strong><%= current_user.first_name %> </strong></p></div>
    <% end %>
  </body>
</html>
