<!DOCTYPE html>
<html>
  <head>
    <title>Davestagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse">
                    <span class="sr-only">Toggle navigation</span>
                </button>
                <%= link_to "Davestagram", root_url, class: "navbar-brand" %>
            </div>
            <div class="nav navbar-nav">
              <li>
                <%= link_to "New Post", new_post_path %>
              </li>
              <% if current_user %>
              <li>
                <%= link_to "Log Out", destroy_user_session_path, method: :delete %>
              </li>
              <% else %>
              <li>
                <%= link_to "Log In", new_user_session_path %>
              </li>
              <li>
                <%= link_to "Sign Up", new_user_registration_path %>
              </li>
              <% end %>
            </div>
        </div>
    </nav>
    <div class="col-lg-12 text-center">
      <br>
      <div>
        <%= yield %>
      </div>
    </div>
  </body>
</html>
