<!DOCTYPE html>
<html>
  <head>
    <title>Instasham</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render 'layouts/header' %>
      <div class="jumbotron vertical-center">
        <div class="container-fluid text-center">
            <% if notice %>
              <p class="alert alert-success"><%= notice %></p>
            <% end %>
            <% if alert %>
              <p class="alert alert-danger"><%= alert %></p>
            <% end %>

            <%= yield %>
      </div>
    </div>
  </body>
</html>
