<!DOCTYPE html>
<html>
  <head>
    <title>Instabann</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <header>
      <nav class="navbar navbar-default navbar-fixed-top">
        <div class="container-fluid">
          <!-- Brand and toggle get grouped for better mobile display -->
          <div class="navbar-header">
            <a class="navbar-brand" href="/photos">Instabann</a>
          </div>

          <!-- Collect the nav links, forms, and other content for toggling -->
          <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
            <ul class="nav navbar-nav">
              <li class="active"><a href="/photos">Photos<span class="sr-only">(current</span></a></li>
              <li class="active"><a href="/photos/new">Upload<span class="sr-only">(current)</span></a></li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
              <% if signed_in? %>
                <p class="navbar-text">Welcome <%= current_user.email %></a></p>
              <% end %>
              <li>
                <% if signed_in? %>
                  <%= button_to 'Sign out', sign_out_path, method: :delete, :class => "btn btn-default navbar-btn" %>
                <% else %>
                  <!-- <%= button_to 'Sign in', photos_path, :class => "btn btn-default navbar-btn" %> -->
                <% end %>
              </li>
            </ul>
          </div><!-- /.navbar-collapse -->
        </div><!-- /.container-fluid -->
      </nav>

      <div class="spacer"></div>
    </header>

    <content>
      <div id="flash">
        <% flash.each do |key, value| %>
          <div class="flash <%= key %>"><%= value %></div>
        <% end %>
      </div>
      <%= yield %>
    </content>

  </body>
</html>
