<!DOCTYPE html>
<html lang="en">

<head>
  <title>InstagramChallenge</title>
  <%= csrf_meta_tags %>
  <%= csp_meta_tag %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  <!--Import Google Icon Font-->
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <!--Import materialize.css-->
  <link type="text/css" rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css" media="screen,projection" />
  <!--Let browser know website is optimized for mobile-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
</head>

<body class="purple lighten-5">
  <div id="heroku-warning">WARNING: For best results, clone repo and run locally. This Heroku demo doesn't implement storage backend - e.g. Amazon S3.<br>Heroku filesystem is ephemeral, so file uploads will be lost with dyno cycling.</div>
  <div class="navbar-fixed">
    <nav>
      <div class="nav-wrapper purple lighten-3">
        <ul id="nav-mobile" class="left">
          <li class="waves-effect">
            <%= link_to new_picture_path do %>
            <i class="material-icons tooltipped" data-position="left" data-delay="5"
              data-tooltip="Post Picture">camera_alt</i>
            <% end %>
          </li>
          <!-- <li class="waves-effect"><%= link_to "Post Picture", new_picture_path %></li> -->
        </ul>
        <a href="/" class="brand-logo right"><i class="material-icons">camera</i>Picturegram</a>
      </div>
    </nav>
  </div>

  <div>
    <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
    <% end %>
    <% if notice %>
    <p class="alert alert-success"><%= notice %></p>
    <% end %>
    <% if alert %>
    <p class="alert alert-danger"><%= alert %></p>
    <% end %>
  </div>


  <div class="container">
    <%= yield %>
  </div>

  <script src="https://code.jquery.com/jquery-3.3.1.min.js"
    integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
  <!--JavaScript at end of body for optimized loading-->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>

  <script type="text/javascript">
    $(document).ready(function () {
      $('.materialboxed').materialbox();
      $('.tooltipped').tooltip();
    });
  </script>
</body>

</html>