<!DOCTYPE html>
<html>
  <head>
    <title>AppName</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

   <div class="user-section">
              
    
                <% if user_signed_in? %>
                    <a href="<%= user_path(current_user)%>">
                        <i class="fa fa-user"></i>
                    </a>
                    <% else %>
                        <a href="<%= new_user_session_path%>">
                            <i class="fa fa-sign-in"></i>
                        </a>
                        <% end %>

            </div>
    <%= yield %>
  </body>
</html>
