!!!
%html
  %head
    %title InstagramClone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = notice
    = console if ENV['RAILS_ENV'] == 'development'
    = yield
