<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar navbar-expand-lg bg-dark navbar-dark mb-3">
      <div class="container">
        <%= link_to "InstaStrap", root_path, class: 'navbar-brand' %>

        <ul class="navbar-nav mr-auto">
          <li class="nav-item">
            <%= link_to "Home", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Recent", root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to "Upload", root_path, class: 'btn btn-primary' %>
          </li>
        </ul>

      </div>
    </div>
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
