!!!
%html
  %head
    %title Instagrails
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = stylesheet_link_tag 'http://fonts.googleapis.com/css?family=Pacifico'
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = render 'layouts/header'
    - if alert
      %span(class='flash')= alert
    - elsif notice
      %span(class='flash')= notice
    %section(class='container')
      = yield