<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= render "layouts/header" %>

<!-- <%= notice %> -->
<!-- <% if !flash.empty? %>
  <div class="alert alert-success"><%= flash[:notice] %></div>
<% end %> -->
<%= render "layouts/messages" %>

<%= yield %>

</body>
</html>
