!!!
%html
  %head
    %title Instagram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %header
      = link_to 'Upload a picture...', new_picture_path
      -if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, method: :delete
      -else
        = link_to "Sign in with Facebook", user_omniauth_authorize_path(:facebook)
        = link_to "Sign in", new_user_session_path
        = link_to "Sign up", new_user_registration_path
      -if notice
        .notice= notice
      -if alert
        .alert= alert
    = yield
