!!!
%html
  %head
    %title Snapshot!
    %meta(charset="UTF-8")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %header
    -if current_user
      %h3
        You are signed in as: #{current_user.email}
      = link_to "Sign out", destroy_user_session_path, method: :delete
    -else
      = link_to "Log in", new_user_session_path
      = link_to "Sign up", new_user_registration_path

  %body
    = notice

    %section
      %h2
        Your Snapshot!s

      -if current_user
        = link_to 'Add a new Snapshot!', new_post_path
        -if current_user.has_no_snapshots?
          %h2 You have not yet posted any Snapshot!s
        - else
          -if current_user.posts.any?
            -current_user.posts.each_with_index do | user_post, index |
              %ul
                = image_tag user_post.image.url(:thumb), id: "post-#{user_post.title}-image-thumb"
                %li #{index + 1}. #{user_post.title}
                = link_to 'Comment on your Snapshot!', new_post_comment_path(user_post)
                = link_to 'View your Snapshot! in more detail', post_path(user_post)
                -if user_post.comments.any?
                  -user_post.comments.each do | comment |
                    %ul
                      %li #{comment.user.email}, commented: #{comment.comment}

      -else
        You must log in or sign up to view your snapshots

    %section
      = yield
