<!DOCTYPE html>
<html>
  <head>
    <title>InstaCat</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='nav'>
      <div id='full-logo'><h1 id='cat-logo'>😺</h1><h1 id='title'>InstaCat</h1></div>
      <div id='sign-in-out-links'>
        <% if user_signed_in? %>
          <%= link_to 'sign out', destroy_user_session_path, method: :delete %>
        <% else %>
          <%= link_to 'sign in', new_user_session_path %>
          <%= link_to 'sign up', new_user_registration_path %>
          <%= link_to 'sign in with facebook', user_facebook_omniauth_authorize_path %>
        <% end %>
      </div>
    </div>
    <br>
    <div id='notice'><%= notice %></div>
    <div id='container'>
      <%= yield %>
      😺
    </div>
  </body>
</html>
