<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <link rel="shortcut icon" type="image/ico" href="/favicon.ico"/>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <header class="top-bar">
    <a href="/posts"><div class="home"></div></a>
    <div class="logo"></div>
  </header>
  <div class="container">
    <%= notice %>
    <%= yield %>
  </div>
</body>
</html>
