<!DOCTYPE html>
<html>
  <head>
    <title>Pinstagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div id="header">
    <h1>pinstagram</h1>
      <p id="links">
        <%= link_to 'Pin An Image', new_pin_path %>
      </p>
  </div>

    <%= yield %>
  </body>
</html>
