<!DOCTYPE html>
<html lang="en">
	<head>
	  <meta charset="utf-8">
	  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	  <meta name="description" content="">
	  <!-- Bootstrap core CSS -->
<!-- 	  <link href="vendor/css/bootstrap.min.css" rel="stylesheet"> -->
	  <title>Instagram</title>
	  <%= csrf_meta_tags %>
	  <%= stylesheet_link_tag    'application', media: 'all' %>
	  <%= javascript_include_tag 'application' %>
	</head>

  <body>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark static-top">
    <div class="container">
      <a class="navbar-brand" href="/">Patrick's Instagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarResponsive">
        <ul class="navbar-nav ml-auto">
          <% if account_signed_in? %>
            <%= render "layouts/account_nav" %>
          <% else %>
            <%= render "layouts/public_nav" %>
          <% end %> 
        </ul>
      </div>
    </div>
  </nav>

  <!-- Page Content -->
  <div class="container">
    <div class="row">
      <div class="col-lg-12 text-center">
      	<%= yield %>
      </div>
    </div>
  </div>
    
  </body>
</html>

