!!!
%html
  %head
    %meta(charset="UTF-8")
    %title Instagram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    - if user_signed_in?
      = link_to "Home", root_path
      = link_to "Profile", profile_path(current_user.username)
      = link_to "Upload", new_post_path
      = link_to "Sign out", destroy_user_session_path, method: :delete
    = notice
    = alert
    = yield
