<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h3>v a p o r g r a m</h3>
      <%= link_to new_post_path do %>Upload<% end %>

      <%= link_to new_post_path do %>Sign Up<% end %>

    </div>
    <%= yield %>
  </body>
</html>
