<!DOCTYPE html>
<html>
  <head>
    <title>Ynstagram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
    <%= csrf_meta_tag %>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">
    <script async defer src="https://buttons.github.io/buttons.js"></script>
  </head>

  <body>
    <header class="sticky-top fixed-top">
      <nav class="navbar" >
        <div class="container-fluid">

          <div class="navbar-logo">
            <%= image_tag("ynstagram.png", :alt => "logo") %>
          </div>
          <div class="navbar-title">
            <%= image_tag("ynstagram_words.png", :alt => "YNSTAGRAM") %>
          </div>
          <ul class="nav">
            <%= link_to root_path do %>
              <li>Home</li>
            <% end %>
            <%= link_to new_photo_path do %>
              <li>Upload</li>
            <% end %>
            <%= render 'devise/menu/registration_items' %>
            <%= render 'devise/menu/login_items' %>
          </ul>
        </div>
      </nav>
    </header>
    <section class="main">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    </section>
    <footer class="sticky-bottom"><p>An open-source Instagram clone, running on <%= link_to "Rails", "http://rubyonrails.org/" %></p><p><a class="github-button" href="https://github.com/i-hardy" aria-label="Follow @i-hardy on GitHub">Follow me on GitHub</a></p></footer>
  </body>
</html>
