<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Gugi|Berkshire+Swash|Pattaya|Text+Me+One|Josefin+Sans|Dosis" rel="stylesheet">

    <title>Idstergram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div id='banner'>
      <div id='banner_button'>
        <%= button_to('Home', root_url, {method: :get, id: 'banner_btn'}) %>
        <%= button_to('Git Repo', 'https://github.com/julesnuggy/instagram-challenge', {method: :get, id: 'banner_btn'}) %>
      </div>
      <div id='banner_text'>
        <h1 id='logo_text'>Idstergram</h1>
        <h2 id='subtitle'>Your New Basic Urge</h2>
      </div>
      <div id='banner_button'>
        <%= button_to('Register', new_user_path, {method: :get, id: 'banner_btn'}) %>
        <%= button_to('Log In', new_user_path, {method: :get, id: 'banner_btn'}) %>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
