<!DOCTYPE html>
<html>
<head>
  <title>andygram - GET / POST-ING</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
<HEADER>welcome to andygram</HEADER>

<%= yield %>

<%= button_to "Sign in", action: new_user_session_path %>
<%= button_to "Sign up", action: new_user_registration_path %>
</body>
</html>
