<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  </head>

  <body>
    <nav class="navbar navbar-dark bg-dark">
        <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>

      <ul class="nav justify-content-end">  
      <% if user_signed_in? %>   
      <li class="nav-item">     
      <%= link_to "Sign out", destroy_user_session_path, :method => :delete %>
      </li>
      <% else %>          
      <li>
      <%= link_to "Sign up", new_user_registration_path %>
      </li>
      <li>
      <%= link_to "Sign in", new_user_session_path%>
      </li>
      <% end %>
      </ul>
    
    
    </nav>



    <%= yield %>
  </body>
</html>
