<!DOCTYPE html>
<html>
  <head>
    <title>ProcrastagramRailsReact</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%# <link rel="apple-touch-icon" sizes="180x180" href="public/src/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="public/src/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="public/src/favicon-16x16.png">
    <link rel="manifest" href="/manifest.json"> %>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,300;0,400;0,600;1,300;1,400&family=Oxygen&display=swap" rel="stylesheet">
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <%= javascript_pack_tag 'index' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
