<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <link href='https://fonts.googleapis.com/css?family=Lato:400,700,300,900' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>

<nav>
<section id="container">

<a href="/"><h1 id="title">Instagram</h1></a>

<button id="addPhotoButton" onclick="addPhoto()">Add Photo</button>


<section id="userAuth">
<% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
<% else %>
  <%= link_to "Sign in", new_user_session_path %>
  <%= link_to "Sign up", new_user_registration_path %>
<% end %>
</section>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>
<%= yield %>
</section>
</nav>



</body>
</html>
