<!DOCTYPE html>
<html>
  <head>
    <title>Ynstagram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <header class="sticky-top fixed-top">

    <nav class="navbar" >
      <div class="container-fluid">

        <div class="navbar-logo">
          <a href="/"><%= image_tag("ynstagram.png", :alt => "logo") %></a>
        </div>
        <div class="navbar-title">
          <h3>YNSTAGRAM</h3>
        </div>
        <ul class="nav">
          <li><a href="/">Home</span></a></li>
        </ul>
      </div>
    </nav>


    </header>
    <section id="main">

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>

    </section>
  </body>
</html>
