!!!
%html
  %head
    %title InstagramChallenge
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    = console if Rails.env.development?
    - if user_signed_in?
      %span Signed in as #{ link_to('@' + current_user.username, '/' + current_user.username) }
      = link_to 'Sign out', destroy_user_session_path, method: :delete
      %p
        = link_to 'Add a new photo', new_photo_path
    - else
      = link_to 'Sign in', new_user_session_path
      = link_to 'Sign up', new_user_registration_path

    - if flash[:error]
      %br/
      %span(style="color:red")= flash[:error]
    - if flash[:notice]
      %br/
      %span= flash[:notice]
    = yield
