<!DOCTYPE html>
<html>
<head>
  <title>Instagram Challenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<header class="nav navbar navbar-inverse">
  <div class="navbar-class">
    <div class="container">
      <ul class="nav navbar-nav">
        <li><%=link_to "Pictures", pictures_path%></li>
        <li><%=link_to "Add a picture", new_picture_path%></li>
      </ul>
    </div>
  </div>
</header>
<p class="notice"><%= notice %></p>
<%= yield %>

</body>
</html>
