<!DOCTYPE html>
<html>
  <head>
    <title>Momentgram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  </head>

  <body>
    <nav class="navi" id="navi">
      <% if user_signed_in? %>
        <li>
          Welcome <%= current_user.email %>
        </li>
        <li>
          <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
        </li>
        <li>
          <%= link_to('Home', root_path) %>
        </li>
        <li>
          <%= link_to('Post', new_user_picture_path(current_user.id)) %>
        </li>
      <% end %>

    </nav>
    <%= yield %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  </body>
</html>
