<!DOCTYPE html>
<html>
<head>
  <title>InstaRails</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Lato|Lobster+Two' %>

  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="logo">
    <i class="fa fa-camera" aria-hidden="true"></i>
    <h1>InstaRails</h1>
  </div>
  <% if user_signed_in? %>
    <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
  <% else %>
    <%= link_to 'Sign in', new_user_session_path %>
    <%= link_to 'Sign up', new_user_registration_path %>
  <% end %>

  <%= notice %>
  <%= yield %>
</body>
</html>
