<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <script>
  // window.fbAsyncInit = function() {
  //   FB.init({
  //     appId      : <%= Rails.application.secrets.facebook_app_id %>,
  //     xfbml      : true,
  //     version    : 'v2.6'
  //   });
  // };
  //
  // (function(d, s, id){
  //    var js, fjs = d.getElementsByTagName(s)[0];
  //    if (d.getElementById(id)) {return;}
  //    js = d.createElement(s); js.id = id;
  //    js.src = "//connect.facebook.net/en_US/sdk.js";
  //    fjs.parentNode.insertBefore(js, fjs);
  //  }(document, 'script', 'facebook-jssdk'));
</script>


  <% if user_signed_in? %>
  <p> <%= link_to "Sign out", destroy_user_session_path, method: :delete %> </p>
  <% else %>
  <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
  <p> <%= link_to "Sign in", new_user_session_path %> </p>
  <p> <%= link_to "Sign up", new_user_registration_path %> </p>
  <% end %>

  <p> <%= link_to "New Post", new_post_path %> </p>


  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>


</body>
</html>
