<!DOCTYPE html>
<html>
  <head>
    <link href="https://fonts.googleapis.com/css?family=Bungee+Shade" rel="stylesheet">
    <title>Insta-WHAM!</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class="cf">
    <div class="wrapper">
      <a href="/" id="logo">Insta-<br>WHAM!</a>
      <nav>
        <ul>
          <li><a href="#" id="signin">Sign In</a></li>
          <li><a href="#" id="create_account">Create an account</a></li>
        </ul>
      </nav>
    </div>
  </header>
  <% if notice %>
    <div class = "alert alert-success wrapper"><%= flash[:notice] %></div>
  <% end %>
  <%= yield %>
  </body>
</html>
