<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />

    <title>InstagramChallenge</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "application", 'data-turbolinks-track' => true %>
    <%= javascript_include_tag "vendor/modernizr" %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <div class='fixed'>
    <nav class="top-bar" data-topbar role="navigation">
  <ul class="title-area">
    <li class="name">
      <h1><a href="/">Instafraud</a></h1>
    </li>
  </ul>

  <section class="top-bar-section">
    <ul class="right">
    <% if user_signed_in? %>
      <li class="active"><a href="#"><%=link_to 'Sign out', destroy_user_session_path, method: :delete %></a></li>
    <% else %>
      <li class="active"><a href="#"><%= link_to "Sign in", new_user_session_path %></a></li>
      <li class="active"><a href="#"><%= link_to "Sign up", new_user_registration_path %></a></li>
    <% end %>
    </ul>
  </section>
</nav>
</div>














    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
  <%= yield %>

  </body>
</html>
