!!!
%html
  %head
    %title Snapshot!
    %meta(charset="UTF-8")
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %header
    = link_to "Sign in", '#'
    = link_to "Sign up", '#'

  %body
    = notice

    = yield
