<!DOCTYPE html>
<html>
  <head>
    <title>Mintstagram</title>
    <h1>Welcome to Mintstagram!</h1>
    <header>
  <% if current_user %>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/posts">Mintstagram</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
            <li class="nav-item">
              <a class="nav-link" href="/posts/new">New Post</a>
            </li>
        </ul>
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="/users/edit">Edit Profile</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/users/sign_out" data-method="delete">Logout</a>
            </li>
        </ul>
        </div>
    </nav>
  <% else %>
    <nav class="navbar navbar-expand-md navbar-dark fixed-top bg-dark">
      <a class="navbar-brand" href="/posts">aceBook</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse" aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item">
            <a id="loggedIn" class="nav-link" href="/users/sign_up">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/users/sign_in">Login</a>
          </li>
        </ul>
        </div>
    </nav>
  <% end %>
  </header>
<body>
    <% if !user_signed_in? %>
    <h3>Please sign up or log in below:</h3>
    <% end%>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag    'application', 'https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css' %>

  </head>

  <body>
<p class="navbar-text pull-right">
<% if user_signed_in? %>
  Logged in as <strong><%= current_user.username %></strong>.
  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %> |
  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link'  %>
<% else %>
  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
  <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
<% end %>

</p>
    <% if notice %>
      <p class="alert alert-success"><%= notice %></p>
      <% end %>
      <% if alert %>
        <p class="alert alert-danger"><% alert %></p>
      <% end %>
    <%= yield %>
  </body>
</html>
