!!!
%html
  %head
    %title Catlambgram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %div{:id => "container"}
      %div{:id => "banner"} Catlambgram
      %ul
        - if user_signed_in?
          %li= link_to "Sign out", destroy_user_session_path, method: :delete
        -else
          %li= link_to "Sign in", new_user_session_path
          %li= link_to "Sign up", new_user_registration_path


  %body
    = notice
    = yield
