!!!
%html
  %head
  %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
  %title InstagramChallenge
  %link{:href => "https://fonts.googleapis.com/css?family=Lato|Roboto+Slab", :rel => "stylesheet"}/
  = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  = csrf_meta_tags


  %body
    = render 'layouts/navbar'

  .notice
    %p= notice
  .alert
    %p= alert

  = yield
