<!DOCTYPE html>
<html>

<head>
  <title>javIgram</title>
  <meta name="viewport" content="width=device-width,initial-scale=1">
  <% # <%= csrf_meta_tags %>
  <% # <%= csp_meta_tag %>

  <%= stylesheet_link_tag "application", media: "all", 'data-turbolinks-track': "reload" %>
  <% # <%= javascript_pack_tag "application", 'data-turbolinks-track': "reload" %>
  <link rel="preconnect" href="https://fonts.gstatic.com">
  <link href="https://fonts.googleapis.com/css2?family=Grand+Hotel&display=swap" rel="stylesheet">
</head>

<body>
  <nav class="navbar navbar-expand-lg navbar-light">
    <div class="container"><a href="" class="navbar-brand">javIgram</a>
      <div class="collapse navbar-collapse" id="globalNavbar">
        <ul class="navbar-nav d-none d-lg-flex ml-2 order-3">
          <li class="nav-item"><a class="nav-link" href="">Sign in</a></li>
          <li class="nav-item"><a class="nav-link" href="">Sign up</a></li>
        </ul>
      </div>
    </div>
  </nav>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <footer class="footer mt-auto py-3 bg-light">
    <div class="container">
      <span class="text-muted"><%= link_to 'New Image', new_image_path %></span>
    </div>
  </footer>
</body>

</html>