<!DOCTYPE html>
<html>
<head>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
</head>
<body>

  <nav class="nav has-shadow">
    <div class="container">
      <div class="nav-left">
        <a class="nav-item">
          <h1 class="title is-3">Imāgo</h1>
        </a>
        <a class="nav-item is-tab is-hidden-mobile is-active">Home</a>
      </div>
      <span class="nav-toggle">
        <span></span>
        <span></span>
        <span></span>
      </span>
      <div class="nav-right nav-menu">
        <a class="nav-item is-tab is-hidden-tablet is-active">Home</a>
        <% if signed_in? %>
          <a class="nav-item is-tab">
            <figure class="image is-24x24" style="margin-right: 8px;">
              <% if current_user.profile_picture? %>
                <%= image_tag current_user.profile_picture, class: "profile-picture" %>
              <% else %>
                <%= image_tag 'Trollface.png' %>
              <% end %>
            </figure>
            <%= current_user.username %>
          </a>
        <% end %>
        <% if signed_in? %>
          <%= link_to t(".sign_out"), sign_out_path, method: :delete, class: "nav-item is-tab" %>
        <% else %>
          <%= link_to t(".sign_in"), sign_in_path, class: "nav-item is-tab" %>
        <% end %>
      </div>
    </div>
  </nav>

    <div id="flash">
      <% flash.each do |key, value| %>
        <div id="flash_<%= key %>"><%=h value %></div>
      <% end %>
    </div>

  <%= yield %>

</body>
</html>
