<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <center>
 <% if user_signed_in? %>
    <%= button_to('Logout', destroy_user_session_path, method: :delete) %>
    <% else %>
    <%= button_to('Login', new_user_session_path) %>
    <% end %>

    <form action="/">
        <button type='submit'>Home</button>
    </form>
</center>
    <%= yield %>
  </body>
</html>
