!!!
%html
  %head
    %title Filterspam
    = stylesheet_link_tag 'application', media: 'all' , 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body

    %span#logo Filterspam
    - if user_signed_in?
      |
      %span#username= current_user.email
      |
      = link_to 'Sign out', destroy_user_session_path, method: :delete

    = alert
    = notice
    = yield
