<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <%= link_to('Home', posts_path) %> |
      <%= link_to('New Post', new_post_path) %> |
      <% unless current_page?(user_session_path) || current_page?(new_user_registration_path) || current_page?(new_user_password_path) %>
        <%=  render 'devise/menu/login_items'  %>
      <% end %>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
