<!DOCTYPE html>
<html>
  <head>
    <title>_nstagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/60e56b5ad3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="title">
          <h1>_nstagram</h1>
        </div><div class="button">
          <a href="#" class="btn">+</a>
        </div>
      </div>

    </header>
    <%= yield %>
  </body>
</html>
