<!DOCTYPE html>
<html>
<head meta charset="UTF-8">
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<header><center>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>

      </button>
      <a class="navbar-brand" href="/">Instagram</a>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <% if current_user %>
          <li class="active"><%= link_to 'Sign out', destroy_user_session_path, method: :delete %><span class="sr-only"></span></li>
          <li class="active"><%= link_to 'Add a picture', new_picture_path %><span class="sr-only"></span></li>
        <% end %>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <%= form_tag(pictures_path, method: "get", id: 'search-form') do %>
          <div class="form-group">
          <%= label_tag(:search, "Search for picture:") %>
            <span class="btn btn-default btn-file"><%= text_field_tag :search, params[:search], placeholder: "Search pictures" %></span>
            <button class="btn" type="submit">Search<i class="icon-search"></i></button>
        <% end %>
      </form>
      <ul class="nav navbar-nav navbar-right">
        <% if !current_user %>
          <li><%= link_to 'Sign up', new_user_registration_path %></li>
          <li><%= link_to 'Sign in', new_user_session_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>
<%= notice %>
<h1>Instagram</h1>

</center></header>
<body><center>

<%= yield %>

</center></body>
</html>
