<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" />
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
      <div class="row" style="background-color: #f8f9fa!important; margin: 0px;">
        <div class="col-sm-4">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href=<%= root_path %> >
            
            <img src="https://seeklogo.com/images/I/instagram-logo-A807AD378B-seeklogo.com.png" 
                width="30" height="30" class="d-inline-block align-top">
              | MakersGram
            </a>
          </nav>
        </div>
        <div class="col-sm-5">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
              <form class="form-inline my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
              </form>
            </div>
          </nav>
        </div>
        <div class="col-sm-1">
          <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand" href=<%= new_photo_path %>>
              <img src="https://upload.wikimedia.org/wikipedia/en/thumb/9/9c/Test-map-peakp-black.svg/1024px-Test-map-peakp-black.svg.png" 
                  width="30" height="30" class="d-inline-block align-top">
            </a>
            <a class="navbar-brand" href="#">
              <img src="https://image.flaticon.com/icons/png/512/23/23228.png" 
                  width="30" height="30" class="d-inline-block align-top">
            </a>
          </nav>
        </div>
      </div>
    </center>
 
    <div class="container">
      <div class="jumbotron">
        <center>
          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>
          <%= yield %>
        </center>
      </div>
    </div>
  </body>
</html>
