!!!
%html
  %head
    %meta{:charset => "utf-8"}/
    %title Instagram
    %link{:href => "https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css", :rel => "stylesheet"}
    %script{:src => "https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"}
    %link{:href => "https://fonts.googleapis.com/css?family=Open Sans", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Lobster Two", :rel => "stylesheet", :type => "text/css"}
    %link{:href => "https://fonts.googleapis.com/css?family=Permanent Marker", :rel => "stylesheet", :type => "text/css"}
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .navbar.navbar-default.navbar-static-top{:role => "navigation"}
      .container
        .navbar-header
          %a.navbar-brand{:href => "/"} InstaDan
        .collapse.navbar-collapse
          %ul.nav.navbar-nav
            %form
              %input{:placeholder => "Search", :type => "search"}/
          %ul.nav.navbar-nav.navbar-right
            - if user_signed_in?
              %li
                = link_to "Sign Out", destroy_user_session_path, method: :delete
            - else
              %li
                %a{:href => new_user_session_path} Login
              %li
                %a{:href => new_user_registration_path} Sign Up

    .container.container.container
      %p= notice
      %p= alert
      %p= yield
