<!DOCTYPE html>
<html>
  <head>
    <title>Instaham</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag "inter-font", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag "tailwind", "data-turbo-track": "reload" %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_pack_tag "application", "data-turbo-track": "reload" %>
  </head>
  <body>
    <%= render 'shared/navbar'%>
    <% if notice %>
      <p class="bg-teal-100 border-t-4 border-teal-500 rounded-b text-teal-900 px-4 py-3 shadow-md"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="bg-red-500 text-white font-bold rounded-t px-4 py-2"><%= alert %></p>
    <% end %>
    <main class="flex flex-col h-screen my-auto items-center">
        <%= yield %>
    </main>
  </body>
</html>
