<!DOCTYPE html>
<html>
<head>
  <title>Instagram</title>
  <meta charset="UTF-8">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= notice %>
  <% if user_signed_in? %>
    <p><%= current_user.username %></p>
    <%= form_tag(destroy_user_session_path, method: 'delete') do %>
      <%= submit_tag("Sign out") %>
    <% end %>
  <% else %>
    <%= form_tag(new_user_session_path) do %>
    <%= submit_tag("Sign in") %>
    <% end %>
    <%= form_tag(new_user_registration_path, method: 'get') do %>
    <%= submit_tag("Sign up") %>
    <% end %>
  <% end %>



  <%= yield %>

</body>
</html>
