<!DOCTYPE html>
<html>
  <head>
    <title>_nstagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://kit.fontawesome.com/60e56b5ad3.js" crossorigin="anonymous"></script>
  </head>

  <body>
    <header>
      <div class="header">
        <div class="title">
          <h1>_nstagram</h1>
        </div><div class="header-menu">
          <%= link_to "Home", pictures_path, class: "header-menu-item" %>
          <%= link_to "Log In", '#', class: "header-menu-item" %>
          <%= link_to "Sign Up", signup_path, class: "header-menu-item" %>
        </div><div class="button">
          <%= link_to "+", new_picture_path, class: "btn" %>
        </div>
      </div>

    </header>
    <%= yield %>
    <%= debug(params) if Rails.env.development? %>
  </body>
</html>
