!!!
%html
  %head
    %title InstaClone
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    .menu-container
      %ul{:class => "menu"}
        %li{:class => "logo"}
          = link_to "Instagram", root_path
        - if user_signed_in?
          %li{:class => "menu-list"}
            = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %li{:class => "menu-list"}
            = link_to "Sign up", new_user_registration_path
          %li{:class => "menu-list"}
            = link_to "Sign in", new_user_session_path
        %li{:class => "menu-list", :id => "upload"}
          = link_to "Upload a picture", new_picture_path
    .container
      %p.notice= notice
      %p.alert= alert
      = yield
