<!DOCTYPE html>
<html>
<head>
  <title>Picto</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
</head>
<body>
<div class="nav-bar">
  <div class="logo">
    <%=image_tag "logo.png"%>
  </div>
  <!-- <div class="upload">
    <%=image_tag "upload.png" %>
  </div> -->
  <div class="title-heading">
    <h1>Picto</h1>
  </div>
</div>
<%= yield %>

</body>
</html>
