<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  
  <script>
    window.fbAsyncInit = function() {
      FB.init({
        appId      : '238727743129888',
        xfbml      : true,
        version    : 'v2.5'
      });
    };

    (function(d, s, id){
       var js, fjs = d.getElementsByTagName(s)[0];
       if (d.getElementById(id)) {return;}
       js = d.createElement(s); js.id = id;
       js.src = "//connect.facebook.net/en_US/sdk.js";
       fjs.parentNode.insertBefore(js, fjs);
     }(document, 'script', 'facebook-jssdk'));
  </script>
  
  <header class='bgimage'>
    <div class="container center-block">
      <% if current_user %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
        <%= link_to "Post Picture", new_image_path %>
        <%= link_to "HOME", root_path %>
        
        <% else %>
      
      
      <% end %>
    </div>
  </header>

<%= yield %>



</body>
</html>
