!!!
%html
  %head
    %title DittoGram - Lets do it again!
    = csrf_meta_tags
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
    = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'
  %body
    %h2 Dittogram
    %p.notice= notice
    %p.alert= alert
    %a(href='/') Home
    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
    %br
    %br
    = yield
