!!!
%html
  %head
    %title Instagrame Clone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    = javascript_include_tag params[:likes]

  %body
    %p.notice= notice
    - if user_signed_in?
      %p= "You're logged in as #{current_user.email}"
      = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path  
    = yield
