!!!
%html
  %head
    %title CloneStagram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    - flash.each do |key, value|
      %div
        %p= value

    = yield

  %div{:id => "session"}
    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path, method: :delete
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
      = link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
