<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navabar' %>
<div class="wrapper">
  <!-- Sidebar -->
  <nav id="sidebar">
    <!-- Sidebar Links -->
    <ul class="list-unstyled components">
      <li class=""><a href="#">Home</a></li>
      <li><a href="#">About</a></li>
      <li><!-- Link with dropdown items -->
        <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false">Pages</a>
        <ul class="collapse list-unstyled" id="homeSubmenu">
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
          <li><a href="#">Page</a></li>
        </ul>

      <li><a href="#">Portfolio</a></li>
      <li><a href="#">Contact</a></li>
    </ul>
  </nav>

  <!-- Page Content -->
  <div id="content">
    <div class="content-wrapper">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</div>



</body>
</html>
