!!!
%html
  %head
    %title Catlambgram
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %div{:id => "container"}
      %div{:id => "banner"} Catlambgram |

  %body
    = notice
    = yield
