<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <link rel="icon" type="image/png" href="/favicomatic/favicon-32x32.png" sizes="32x32" />
  <%= csrf_meta_tags %>

  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>

<%= render 'layouts/header' %>
  <%= yield %>
</body>
</html>
