<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <ul class="hmenu">
    <%= render 'devise/menu/registration_items' %>
    <%= render 'devise/menu/login_items' %>
  </ul>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>
  <%= yield %>
  <script>
      function upVote(id) {
          console.log('I am working!');
          var count = document.getElementById("like_count" + id).innerHTML;
          console.log(count);
          count = parseInt(count);
          count = count + 1;
          count = count.toString();
          document.getElementById("like_count" + id).innerHTML = count;
          document.getElementById("like_button" + id).disabled = true;
      }
  </script>
  </body>
</html>
