<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <meta charset="UTF-8">
  </head>

  <body>
    <ul class='nav'>
      <h1>InstagraMish</h1>
      <% if user_signed_in? %>
        <li><%= link_to 'Add a post!', new_post_path %></li>
        <li><%= link_to 'Sign out', destroy_user_session_path, method: :delete %></li>
        <p>You are logged in as <%= current_user.email %></p>
      <% else %>
        <li><%= link_to 'Sign in', new_user_session_path %></li>
        <li><%= link_to 'Sign up', new_user_registration_path %></li>
      <% end %>
      <p class="alert"><%= alert %></p>
      <p class="notice"><%= notice %></p>
    </ul>


    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
