<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-custom">
      <a class="navbar-brand" href="/">It's a gram!</a>
      <form class="form-inline">
        <a class="btn btn-outline-primary" href="/login" role="button">
        Login
        </a>
        <div style="padding-left: 10px;">
          <a class="btn btn-outline-success" href="/users/sign_up" role="button">
          Sign Up
          </a>
        </div>
      </form>
    </nav>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
