<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <% if user_signed_in? %>
          <div class="username">
            Logged in as:
            <%= current_user.email %>
          </div>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to 'Edit profile', edit_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li>
                  <%= link_to "Logout", destroy_user_session_path, method: :delete, :class => 'navbar-link' %>
                </li>
              <% else %>
              <ul class="nav navbar-nav navbar-right">
                <li>
                  <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link' %>
                </li>
                <li>
                  <%= link_to "Login", new_user_session_path, :class => 'navbar-link' %>
                </li>
              <% end %>
            </ul>
        <div class="navbar-header">
          <a class="navbar-brand" href="/">Instagram</a>
        </div>
      </div>
    </nav>
    <div class="container">
      <% flash.each do |name, msg| %>
        <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
      <% end %>
    </div>
    <%= yield %>
  </body>
</html>
