<!DOCTYPE html>
<html>
  <head>

    <title>Alex Instagram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>

  <body>

    <div id="sidebar">
      <div id="logo">
        <%= link_to root_path do %>
          <img class='x' src='/logo.png' alt='T' width=200 heigh=200 >
        <% end %>
      </div>
      <ul>
        <li class="category">Website</li>
        <li><%= link_to "Blog", root_path %></li>
        <li>About</li>
      </ul>
      <ul>
        <li class="category">Social</li>        
        <li><a href = 'https://twitter.com/Alex__Code'>Twitter</a></li>
        <li><a href = 'https://www.youtube.com/channel/UCbb1jwj4txlERk4jBWWienw?view_as=subscriber'>Youtube</a></li>
        <li><a href = 'https://medium.com/@alex__code'>Medium</a></li>
        <li><a href = 'https://github.com/xelAhcratiPsavilO'>Github</a></li>
      </ul>
    </div>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>

  </body>
</html>
