<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <%# ----- add these lines here: ----- %>
	
  <% if current_user %>
    <%= image_tag current_user.avatar %>
    <!-- current_user will return true if a user is logged in -->
    <%= "Logged in as #{current_user.email}" %> | <%= link_to 'Home', home_path %> | <%= link_to 'Log Out', logout_path, method: :delete %>
  <% else %>
    <!-- not logged in -->
    <%= link_to 'Home', home_path %> | <%= link_to 'Log In', login_path %> or <%= link_to 'Sign Up', new_user_path %>
  <% end %>
  <hr>

  <%# ----- end of added lines ----- %>

    <%= yield %>
  </body>
</html>
