!!!
%html
  %head
    %title Instagram
    %link{ :rel => :stylesheet, :type => :"text/css",
      :href => "/assets/layout" }
    = stylesheet_link_tag 'application',
      media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    %div{ :class => "navbar" }
      %div{ :id => "title" }
        %h1 Usman's Instagram
      %div{ :id => "session" }
        - if user_signed_in?
          = current_user.username
          = link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          = link_to "Sign in", new_user_session_path
          = link_to "Sign up", new_user_registration_path
    = alert
    = notice
    = yield
