<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        
        <div class="logo">
          <a class="navbar-brand" href="#">
            <img class="img-responsive" src="/images/logo.png" style="width: 10%; margin-top: 5px; margin-bottom: 15px">
            <h1 class="navbar-text" style="color: black">Instagram</h1>
            </a>
        </div>

        <div class="m-auto">
          <form class="form-inline search-form">
            <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
          </form>
        </div>

        <div class="user-section">
          <span style="font-size: 3em; color: #d12d03;">
          <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <a><i class="fa fa-user"></i></a>
        </div>
        
        <div class="video"> 
          <video class="video-fluid" autoplay loop muted width="100%">
            <source src="/images/video.mp4" type="video/mp4">
          </video>
        </div>
    </nav> 

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
        <li>About Us</li>
        <li>Terms</li>
        <li>Privacy</li>
        </ul>
        <p> © 2019 @petra_on_insta </p>
      </nav>
    </footer>
  </body>
</html>
