<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body>
    <header>
      <nav>
        <section>
          <h1>Instgram</h1>
            <section>
            <% if user_signed_in? %>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "button" %>
            <% else %>
              <%= link_to "Sign up", new_user_registration_path, class: "button" %>
              <%= link_to "Sign in", new_user_session_path, class: "button" %>
            <% end %>
            <%= link_to "Upload new image", new_image_path, class: "button" %>
            </section>
        </section>
      </nav>
    </header>
    
    <section>
      <%= notice %>
      <%= yield %>
    </section>
  </body>
</html>
