<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= stylesheet_link_tag 'application', 'https://fonts.googleapis.com/css?family=Dancing+Script:700' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <h1> <%=image_tag("instagram.png", alt: "instragram",:width => 35, :height => 35)%> Instagram</h1>
  <% if user_signed_in? %>
  <a class="sign_out"<%= link_to "Sign out", destroy_user_session_path, method: :delete %></a>

  <% else %>
  <a class="sign_up"><%= link_to "Sign up", new_user_registration_path %></a>
  <a class="sign_in"><%= link_to "Sign in", new_user_session_path %></a>

<% end %>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= notice %>
<%= alert %>
<%= yield %>

</body>
</html>
