<!DOCTYPE html>
<html>
  <head>
    <title>Instagram  Challenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

     <script>
          var pusher = new Pusher('PUSHER_APP_KEY', {
          cluster: 'eu',
          encrypted: true
        });
    </script>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= yield %>

    <script src="https://js.pusher.com/4.1/pusher.min.js"></script>
  </body>
</html>
