<!DOCTYPE html>
<html>
  <head>
    <title>Franagram</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/pure-min.css">
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="http://yui.yahooapis.com/pure/0.6.0/grids-responsive-min.css">
      <!--<![endif]-->
    <link rel="stylesheet" href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
    <!--[if lte IE 8]>
        <link rel="stylesheet" href="/combo/1.18.13?/css/layouts/marketing-old-ie.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
    <link rel="stylesheet" href="/combo/1.18.13?/css/marketing.css">
    <!--<![endif]-->
    <%= favicon_link_tag 'favicon.ico' %>
    <%= csrf_meta_tags %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <div class="home-menu pure-menu pure-menu-horizontal pure-menu-fixed">
        <%= link_to 'Franagram', root_url, class: "pure-menu-heading" %>
        <ul class="pure-menu-list">
          <li class="pure-menu-item"><%= link_to 'Home', root_url, class: "pure-menu-link" %></li>
          <% if user_signed_in? %>
            <li class="pure-menu-item"><%= link_to 'Add a picture', new_picture_url, class: "pure-menu-link" %></li>
            <li class="pure-menu-item"><%= link_to "Sign out", destroy_user_session_path, method: :delete, class: "pure-menu-link" %></li>
          <% else %>
            <li class="pure-menu-item"><%= link_to "Log in", new_user_session_path, class: "pure-menu-link" %></li>
            <li class="pure-menu-item"><%= link_to "Sign up", new_user_registration_path, class: "pure-menu-link" %></li>
          <% end %>
        </ul>
      </div>

    </div>
    <div class="main">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
