!!!
%html
  %head
    %title Pic-Up
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    = notice
    - if user_signed_in?
      = link_to "Sign out", destroy_user_session_path, method: :delete
      = image_tag current_user.fbimage
      = "logged in as #{current_user.email}"
    - else
      = link_to "Sign in", new_user_session_path
      = link_to "Sign up", new_user_registration_path
    = yield
