<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link rel="stylesheet" type="text/css" href="/stylesheets/stylesheet.css">
  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <%= link_to "Instagram", root_path %>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <% if user_signed_in? %>
            <li>
              <%= link_to "Add an image", new_image_path %>
            </li>
            <li>
              <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            </li>
            <% else %>
            <li>
              <%= link_to "Sign in", new_user_session_path %>
            </li>
            <li>
              <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
            </li>
            <li>
              <%= link_to "Sign up", new_user_registration_path %>
            </li>
            <% end %>
          </ul>

        </div>
      </div>
    </nav>

    <p class="notice"><center><%= notice %></center></p>
    <p class="alert"><center><%= alert %></center></p>
    <%= yield %>
  </body>
</html>
