<!DOCTYPE html>
<html>
  <head>
    <title>Lintstagram</title>
    <%= csrf_meta_tags %>
    <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= render "shared/user_details_header" %>

    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <div class="page-container">
      <div class="content-container">
        <%= yield %>
      </div>
    </div>
  </body>
</html>
