<!DOCTYPE html>
<html>
  <head>
    <title>Y33T</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
      <nav class="navbar navbar-light bg-light d-flex">
        <div class="container">
          <div class="logo">
            <a class="navbar-brand" href="#">
            <%= fa_stacked_icon "camera inverse", base: "circle"%>
              Y33T
            </a>
          </div>
          <div class="m-auto">
            <form class="form-inline search-form">
              <input class="form-control mr-sm-2" type="search" placeholder="@search" aria-label="Search">
            </form>
          </div>
          <div class="user-section">
            <a><i class="fa fa-compass"></i></a>
            <a><i class="fa fa-heart"></i></a>
            <% if user_signed_in? %>
              <a href='<%= destroy_user_session_path %>' method="delete">
                <i class='fa fa-user'></i>
              </a>
            <% else %>
              <a href='<%= new_user_session_path %>'>
                <i class="fa fa-sign-in"></i>
              </a>
            <% end %>
          </div>
        </div>
      </nav>

      <!--Main content-->
      <main class="container" style="min-height: 500px;">
        <%= yield %>
      </main>

      <!--Footer-->
    <footer class="container footer">
      <nav class="navbar d-flex">
        <ul>
          <li>ABOUT US</li>
          <li>SUPPORT</li>
          <li>DIRECTORY</li>
          <li>PROFILES</li>
        </ul>
        <p> © 2020 Y33T</p>
      </nav>
    </footer>
  </body>
</html>
