<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header class='application-header'>
      <span class="notice"><%= notice %></span>
      <span class="navigation"><%= render :partial => 'layouts/user_management'%></span>
    </header>
    <%= yield %>
    <p class="alert"><strong><%= alert %></strong></p>
  </body>
</html>
