<!DOCTYPE html>
<html>
<head>
  <title>RaceToFirstPlaceBook</title>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
  <link href="https://fonts.googleapis.com/css?family=Kalam|Permanent+Marker&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag    'application', media: 'all' %>
</head>

<body>

  <nav class="navbar">
    <a class="navbar-brand">
      <img src="http://i.imgur.com/gXb1OFv.gif" width="30" height="30" alt="">
      RaceToFirstPlaceBook
    </a>
      <a class="btn btn-bd-download d-none d-lg-inline-block mb-3 mb-md-0 ml-md-3" <%= link_to('Sign out', destroy_user_session_path, method: :delete) %> </a>
  </nav>

    <center><p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p></center>

    <%= yield %>

  </body>
  </html>
