<!DOCTYPE html>
<html>
  <head>
    <title>Turtlegram</title>
    <%= csrf_meta_tags %>
    <style>
    @import url('https://fonts.googleapis.com/css?family=Amatic+SC');
    </style>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <center>
    <h1> Turtlegram </h1>
    <% if user_signed_in? %>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    <% else %>
      <%= link_to "Sign in", new_user_session_path %>
      <%= link_to "Sign up", new_user_registration_path %>
    <% end %>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </center>
  </body>
</html>
