<!DOCTYPE html>
<html>
<head>
  <title>InstagramClone</title>
  <h1>Instagram<h2>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div class="nav">
  <% if user_signed_in? %>
  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>

  <% else %>
  <a class="sign_in"><%= link_to "Sign in", new_user_session_path %></a>
  <a class="sign_up"><%= link_to "Sign up", new_user_registration_path %></a>

<% end %>
</div>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

<%= notice %>
<%= alert %>
<%= yield %>

</body>
</html>
