<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if current_user %>
  Welcome <%= current_user.email %> <%= link_to 'Logout', destroy_user_session_path, method: :delete %>
  <% else %>
  <%= link_to 'Login', new_user_session_path %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
