<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <% if user_signed_in? %>
    <%= button_to('Account', edit_user_registration_path, {method: :get, id: 'banner_btn'}) %>
  <% else %>
    <%= button_to('Register', new_user_registration_path, {method: :get, id: 'banner_btn'}) %>
  <% end %>

  <% if user_signed_in? %>
    <%= button_to('Logout', destroy_user_session_path, {method: :delete, id: 'banner_btn'}) %>
  <% else %>
    <%= button_to('Login', new_user_session_path, {method: :get, id: 'banner_btn'}) %>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
