!!!
%html
  %head
    %title Instagram clone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
    %meta(charset="Utf-8")
    %link(rel="stylesheet" type="text/css" href="application.css")
    %link(href="https://fonts.googleapis.com/css?family=Oleo+Script" rel="stylesheet")

  %body
    %nav.navbar.navbar-default
      .container
        %ul.nav.navbar.navbar-right
          %li= link_to 'Punstagram', root_path
          %li=link_to 'About', "https://github.com/Unicornelia"
        - if user_signed_in?
          %ul.nav.navbar.navbar-left
            %li= link_to "Sign out", destroy_user_session_path, method: :delete
        - else
          %ul.nav.navbar.navbar-left
            %li= link_to "Sign in", new_user_session_path
            %li= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path
            %li= link_to "Sign up", new_user_registration_path

.container
  = notice
  = alert
  = yield
