<!DOCTYPE html>
<html>
  <head>
    <title>v a p o r g r a m</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="navbar">
      <h3>v a p o r g r a m 汽克</h3>
      <p>the sound of shining optimism that's faded over time﻿</p>
      <div class="nav_items">
        <ul>
          <%= link_to "Posts", posts_url %>
          <%= link_to new_post_path do %>Upload<% end %>
          <%= link_to new_user_path do %>Sign Up<% end %>
          <%= link_to login_path  do %>Log In<% end %>
          <%= link_to "Log Out", logout_path, method: :delete %>
        </ul>
      </div>
    </div>
    <%= yield %>
  </body>
</html>
