<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="outer_div">
      <div class="top_bar">
        <h3>InstaPok<h3>
        <%= link_to 'Create Post', new_photo_path, class: "btn_style", id: "create_post" %>
      </div>
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
      <%= yield %>
    </div>
  </body>
</html>
