<!DOCTYPE html>
<html>
  <head>
    <title>Instagram Challenge</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

  </head>
  <body>

    <nav.links>
      <% if !user_signed_in? %>
        <%= link_to "Sign Up", new_user_registration_path, class: "session-link", id: "sign_up"%>
        <%= link_to "Log In", new_user_session_path, class: "session-link", id: "login"%>
      <% else %>
        <%= link_to('Logout', destroy_user_session_path, :method => :delete, class: "session-link")%>
      <% end %>
    </nav>



    <%= yield %>
  </body>
</html>
