<!DOCTYPE html>
<html>
  <head>
    <title>Ollygram</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <!--Navigation Bar-->
    <nav class="navbar navbar-light bg-light d-flex">
      <div class="container">
        <div class="logo">
          <a class="navbar-brand" href="#">
            <%= fa_icon "camera-retro" %>
            Ollygram
          </a>
        </div>
        <div class="user-section">
          <%# <a><i class="fa fa-compass"></i></a>
          <a><i class="fa fa-heart"></i></a>
          <a><i class="fa fa-user"></i></a> %>
        </div>
      </div>
    </nav>

    <!--Main content-->
    <main class="container" style="min-height: 500px;">
      <%= yield %>
    </main>

    <!--Footer-->
    <footer class="container footer">
  <p> © 2019 Ollygram </p>
    </footer>
  </body>
</html>