<!DOCTYPE html>
<html>
<head>
  <title>Instagram Clone</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css">
  <link href='http://fonts.googleapis.com/css?family=Cookie|Rancho' rel='stylesheet' type='text/css'>
</head>
<body>

<% if notice.present? %>
  <div class="alert alert-success"><%= notice %></div>
<% end %>


<% if alert.present? %>
  <div class="alert alert-danger" role="alert"><%= alert %></div>
<% end %>

<%= yield %>

<script type="text/javascript" src="/assets/application.js"></script>

</body>
</html>
