<!DOCTYPE html>

<html>

<head>
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href='http://fonts.googleapis.com/css?family=Lobster' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Dosis|Lobster' rel='stylesheet' type='text/css'>
</head>

<header>
	<h1> <%=link_to "InstantGram", root_path %> </h1>
	<span class="actions">
		<%= link_to "Add a post", new_post_path %>
	</span>
	<span class="sign_in_buttons">
		<% if user_signed_in? %>
		  <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
		<% else %>
		  <%= link_to "Sign in", new_user_session_path %>
		  <%= link_to "Sign up", new_user_registration_path %>
		<% end %>
	</span>
	<p class="notice"><%= notice %></p>
	<p class="alert"><%= alert %></p>
</header>

<body>

<%= yield %>

</body>

</html>
