<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <div class='signup_in'>
    <% if logged_in? %>
      <form action="/sessions/<%=current_user.id%>" method="post" data-remote=true>
        <input type="hidden" value="delete" name="_method">
        <input class="session-button" type="submit" value="Sign Out">
        <a href="/images/new"><button class="session-button" type="button" value="add_photo">Post picture</button></a>
      </form>
    <% else %>
      <a href="/users/new"><button class="session-button" type="button" value="Sign up">Sign Up</button></a>
      <a href="/sessions/new"><button class="session-button" type="button" value="Sign in">Sign In</button></a>
    <% end %>
  </div>
    <%= yield %>
  </body>
</html>
