<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <div class="header">
      <h2 id="minsta">Minstagram</h2>
      <% if current_user %>
        <%= link_to "Log Out", destroy_user_session_path, method: "delete" %>
        <% elsif current_page?(new_user_registration_path)%>
          <%= link_to "Log In", new_user_session_path %>
        <% else %>
          <%= link_to "Sign Up", new_user_registration_path %>
      <% end %>
    </div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
