<!DOCTYPE html>
<html>

  <head>
    <title>Engigram</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>

  <body class="container">
    <header class="row">
      <%= render 'layouts/header' %>
    </header>
    <section class="row flash">
      <p class="flash--notice"><%= notice %></p>
      <p class="flash--alert"><%= alert %></p>
    </section>
    <section class="row main">
      <% if user_signed_in? %>
        <article class="main--signed-in">
          <%= yield %>
        </article>
      <% else %>
        <article class="main--signed-out">
          <%= yield :register %>
          <%= yield :login %>
        </article>
      <% end %>
    </section>
  </body>

</html>
