<!DOCTYPE html>
<html>
<head>
  <title>Insta-Pik</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div>
  		<%= button_to "Sign Out", destroy_user_session_path, method: :delete %>
			<%= button_to "Sign Up", new_user_registration_path, method: :get %>
			<%= button_to "Sign In", new_user_session_path, method: :get %>
	</div>	
<%= yield %>

</body>
</html>
