<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
     <%= render 'shared/navbar' %>

    <div class="container">
      <%= yield %>
    </div>
    <% if notice %><p class="notice"><%= notice %></p> <% end %>
    <% if alert %><p class="alert"><%= alert %></p><% end %>
  </body>
</html>
