<!DOCTYPE html>
<html>
<head>
  <title>Catagram</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= link_to "About", about_path %>
  <%= link_to "Home", root_path %>
<%= yield %>

</body>
</html>
