<!DOCTYPE html>
<html>

  <head>
    <title>Motrigram</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/css?family=Barrio|Open+Sans|Satisfy" rel="stylesheet">
  </head>

  <body>
    <% if user_signed_in? %>
    <ul class="topnav">
      <li>
      <%= link_to "motrigram", root_url, class: "active" %>
    </li>
        <li><%= link_to "New gram", new_post_path %></li>
        <li><%= current_user.email %></li>
       <li class=right><%= link_to 'Sign out', destroy_user_session_path,  :method => :delete %></li>
      <% end %>
    </ul>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>

</html>
