<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>INSTAGRAM</h1>

    <% flash.each do |name, msg| -%>
    <h2> <%= msg %> </h2>
    <% end -%>

    <% if user_signed_in? %>
      <%= link_to "Log out", destroy_user_session_path, method: :delete, :id => 'log_out'  %>
      <button type="button" value="Add photo">Add photo</button>
    <% else %>
      <%= link_to "Sign up", new_user_registration_path, :class => 'navbar-link'  %> |
      <%= link_to "Login", new_user_session_path, :class => 'navbar-link'  %>
    <% end %>
    <%= yield %>
  </body>
</html>
