<!DOCTYPE html>
<html>
  <head>
    <title>Rosstagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
  <% flash.each do |name, msg| %>
    <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
  <% end %>
  <nav class="navbar sticky-top navbar-expand-lg">
    <div class="navbar-brand">
      <img src="https://cdn.dribbble.com/users/50615/screenshots/2702153/bobross.jpg?compress=1&resize=400x300" width="40" height="30" class="d-inline-block align-top" alt="">
      <%= link_to link_to "Rosstagram", root_path %>
    </div>
    <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
    <ul class="navbar-nav ms-auto me-auto">
      <li class="nav-item active">
        <form class="form-inline">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        </form>
      </li>
    </ul>
    <ul class="navbar-nav ms-auto">
      <li class="nav-item">
        <li class="nav-item">
          <a id="new-post" href="/posts/new"><i class="fa fa-plus-square-o fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-paper-plane-o fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-compass fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item">
          <a href="#"><i class="fa fa-heart-o fa-lg" aria-hidden="true"></i></a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Profile
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
      </ul>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
