<!DOCTYPE html>
<html>
  <head>
    <title>Chur</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>

    <% if user_signed_in? %>
    <li>
    <%= link_to('Logout', destroy_user_session_path, method: :delete) %>
    </li>
    <% else %>
    <li>
    <%= link_to('Login', new_user_session_path)  %>
    </li>
    <% end %>

    <%= yield %>
  </body>
</html>
