<!DOCTYPE html>
<html>
  <head>
    <title>InstaTAM</title>
    <%= csrf_meta_tags %>

    <link href="https://www.instagram.com/static/images/ico/favicon.ico/dfa85bb1fd63.ico" rel='icon' sizes='32x32' color="#262626">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= notice %>
    <%= yield %>
  </body>
</html>
