<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= csrf_meta_tags %>

  <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Grand+Hotel" rel="stylesheet">
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
<%= render 'layouts/navabar' %>
<div class="wrapper">
  <%= render 'layouts/sidebar' %>

  <!-- Page Content -->
  <div id="content">
    <div class="content-wrapper">
      <%= render 'layouts/messages' %>
      <%= yield %>
    </div>
  </div>
</div>



</body>
</html>
