!!!
%html
  %head
    %meta(charset="UTF-8")
    %title InstagramChallenge
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

    .user-content
      - if user_signed_in?
        = link_to "Sign out", destroy_user_session_path, method: :delete
        %br
      - else
        = link_to "Sign in", new_user_session_path
        %br
        = link_to "Sign up", new_user_registration_path
        %br

  %body
    = notice
    = alert
    = yield
