<!DOCTYPE html>
<html>
  <head>
    <title>Chillgram</title>
    <%= stylesheet_link_tag    "application", :media => "all" %>
    <%= javascript_include_tag "application" %>
    <%= csrf_meta_tags %>
<link href="https://fonts.googleapis.com/css?family=Anton|BioRhyme|Dosis|Merriweather|Poppins" rel="stylesheet">
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>

  </head>

  <body>
    <nav class="navbar navbar-default">
      <div class="navbar-container">
        <div class="navbar-header">
          <button class="navbar-toggle collapsed" data-target="#bs-navbar-collapse-1" data-toggle="collapse" type="button">
            <span class="sr-only">Toggle Navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <div class="navbar-brand">
            <%= link_to "Chillgram", root_path %>
          </div>
        </div>
        <div class="collapse navbar-collapse" id="bs-navbar-collapse-1">
          <ul class="nav navbar-nav navbar-right">
            <li>
              <%= link_to "New Post", new_post_path %>
            </li>
            <li>
              <%= link_to "Sign in", '/users/sign_in' %>
            </li>
            <li>
              <%= link_to "Sign up", '/users/sign_up' %>
            </li>
          </ul>
        </div>
      </div>
    </nav>

    <div class="col-12"><h1>Chillgram</h2></div>
    <%= yield %>
  </body>
</html>
