<!DOCTYPE html>
<html>
  <head>
    <title>InstaTAM</title>
    <%= csrf_meta_tags %>

    <link href="https://www.instagram.com/static/images/ico/favicon.ico/dfa85bb1fd63.ico" rel='icon' sizes='32x32' color="#262626">
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    <link href="https://fonts.googleapis.com/css?family=Pacifico" rel="stylesheet">
  </head>

  <body>

    <div class="header">

        <h1 class"logo"><a href="/posts"><img src="https://www.instagram.com/static/images/ico/favicon.ico/dfa85bb1fd63.ico"></a>Instatam</h1>

        <div class="nav">
          <% if user_signed_in? %>
            <%= image_tag("images.png", class: "head")%> <%= current_user.email.split("@")[0]%>
            <%= ' | ' %>
            <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
            <%= ' | ' %>
            <%= link_to "Create a post", new_post_path %>
          <% else %>
            <%= link_to "Sign in", new_user_session_path %>
            <%= ' | ' %>
            <%= link_to "Sign in with Facebook", user_facebook_omniauth_authorize_path %>
            <%= ' | ' %>
            <%= link_to "Sign up", new_user_registration_path %>
          <% end %>
        </div>

    </div>

    <div class="flash">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>

    <%= yield %>
  </body>
</html>
