!!!
%html
  %head
    %title InstagramChallenge
    = stylesheet_link_tag    'application', media: 'all'
    = javascript_include_tag 'application'
    = csrf_meta_tags
  %body
    -# = console if Rails.env.development?
    = render 'layouts/header'
    .container
      = bootstrap_flash
      = yield
      = render 'layouts/footer'
