<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all' %>
    <link rel="preconnect" href="https://fonts.gstatic.com">

  </head>

  <body>

<% if logged_in? %>
  <p >Logged in as <%= current_user().username %></p>
   <p ><%= link_to "Log-out", sessions_destroy_path %></p>
  <% else %>
     <p><%= link_to "Sign-up", users_new_path %> or </p> 
     <p><%= link_to "Log-in", sessions_new_path %></p>
  <% end %>

    <%= yield %>
  </body>
</html>
