!!!
%html
  %head
    %title Insta Clone
    = stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags

  %body
    .container
      = render partial: 'layouts/navbar'

      = render partial: 'layouts/errors'
      = yield
