<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

  <p class="notice"><%= notice %></p>
        <p class="alert"><%= alert %></p>
<%= link_to "Sign Up", new_user_registration_path %>
<%= link_to "Sign In", user_session_path %>
<%= link_to "Sign Out", destroy_user_session_path %>
<%= link_to "Index", root_path %>
<% if @user %>
<%= image_tag @user.avatar.url(:thumb) %>
<% end %>
<%= yield %>

</body>
</html>
