<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-inverse">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="#">Instagram-Challenge</a>
      </div>
      <div id="navbar" class="navbar-collapse collapse navbar-right">
        <ul class="nav navbar-nav">
          <li><%= link_to "Sign In" %></li>
          <li><%= link_to "Sign Up" %></li>
          <li><%= link_to "Sign Up using Facebook" %></li>
        </ul>
      </div><!--/.navbar-collapse -->
    </div>
  </nav>


  <div class="center">
      <%= yield %>
  </div>
  <%= render 'partials/post_picture' %>

  <div id=footer>
    <p>&copy; 2015 by Rajeev, when at Makers Academy.</p>
  </div>
</body>
</html>
