<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <link href='https://fonts.googleapis.com/css?family=Muli' rel='stylesheet' type='text/css'>
    <link href='https://fonts.googleapis.com/css?family=Pacifico' rel='stylesheet' type='text/  css'>
  </head>
  <body>
    <header>
      <h1>Bextagram</h1>
      <% if user_signed_in? %>
        <p class='user-reg'><%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        <p class='username'>Signed in as <%= current_user.username %>
      <% else %>
        <span class='user-reg'><%= link_to 'Sign up', new_user_registration_path %>
        <span class='user-reg'><%= link_to 'Sign in', new_user_session_path %>
      <% end %>
      <p class='notice'><%= notice %>
      <p class='alert'><%= alert %>
    </header>
    <div class='container'>
      <%= yield %>
    </div>
  </body>

