<!DOCTYPE html>
<html>
<head>
  <title>Instagram Challenge</title>
  <%= csrf_meta_tags %>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>

<body>
  <div>
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>
    <% flash.each do |key, value| %>
      <%= value %>
    <% end %>

  </div>

  <% if user_signed_in? %>
  <p>Logged in as: <%= current_user.username %></p>
  <li><%= link_to("Home", pictures_path) %></li>
  <li><%= link_to("Account", edit_user_registration_path) %></li>
  <li><%= link_to("Sign out", destroy_user_session_path, :method => :delete) %></li>
  <% else %>
  <li><%= link_to("Sign in", new_user_session_path) %></li>
  <li><%= link_to("Sign up", new_user_registration_path) %></li>
  <% end %>

  <%= yield %>
</body>
</html>
