<!DOCTYPE html>
<html>
  <head>
    <title>InstagramChallenge</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to 'Home', posts_path %>
    <%= button_to "Add a Picture", { :action => "new" }, :method => :get %>
    <br />
    <%= notice %>
    <%= yield %>
  </body>
</html>
