<!DOCTYPE html>
<html>
<head>
  <title>InstagramChallenge</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>

<body>
  <%= render 'layouts/navbar' %>
    <% flash.each do |name, msg| %>
    <div class="container">
      <%= content_tag :div, msg, class: [:alert, alert_for(name)] %>
    <% end %>
  </div>
<%= yield %>


</body>
</html>
