!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title In-a-gram
    = stylesheet_link_tag 'application', 'http://fonts.googleapis.com/css?family=Pacifico'
    = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    .container
      .message
        = alert
        = notice
    = yield
