<!DOCTYPE html>
<html>
  <head>
    <title>Instagram</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav class="navbar-container">
      <div class="navbar">
        <h3 class="navbar-logo-text">Instagram</h3>
        <section>
          <% flash.each do |type, msg| %>
            <p class="flash-<%= type %>">
              <%= msg %>
            </p>
          <% end %>
        </section>
        <div class="navbar-menu">
          <%= link_to image_tag("home.png"), posts_path, :class => "navbar-icon" %>
          <%= link_to image_tag("add.png"), new_post_path, :class => "navbar-icon" %>
          <%= link_to image_tag("default.jpg"), logout_path, method: :delete, :class => "navbar-user-pic" %>
          <%# <%= Current.user.username %>
        </div>
      </div>
    </nav>
    <section class="main">
      <%= yield %>
    </section>
  </body>
</html>
