<div class="container">
	<br>
	<br>
	<div class="row">
		<div class="col-4">
			<% if @account.image.url != nil %>
			<%= image_tag @account.image.url, width: "200px", class: "img-circle" %>
			<% end %>
		</div>
		<div class="col-8 text-left">
			
			<h1><%= @account.full_name %></h1>
			<div class="profile-stats">
			<br>
			<%= link_to "Edit Profile", edit_account_registration_path, class: "btn btn-secondary" %>
			<br>
			<br>
			<%= @account.posts.count %> posts</div>
			<p><%= @account.full_name %></p>
			<%= simple_format @account.description %>
			<p><%= link_to @account.website if @account.website.present? %></p>
		</div>
	</div>
	<div class="profile-posts">
		<% @posts.each do |post| %>
			<div class="all-my-posts">
				<div class="my-post"> 
					<%= image_tag post.image.url%>
				</div>
			</div>
		<% end %>
	</div>
</div>