<h1 class="text-black-300   text-5xl text-center mt-5 mb-5">Create An Account</h1>

<div class="w-full max-w-xs">
<%= form_for(resource, class: "bg-white shadow-md rounded px-8 pt-6 pb-8 mb-4", as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= render "users/shared/error_messages", resource: resource %>

  <div class="field mb-4">
    <%= f.label :username, class: "block text-gray-700 text-sm font-bold mb-2"  %><br />
    <%= f.text_field :username, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="field mb-4">
    <%= f.label :email, class: "block text-gray-700 text-sm font-bold mb-2"  %><br />
    <%= f.email_field :email, autofocus: true, autocomplete: "email", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="field mb-4">
    <%= f.label :password, class: "block text-gray-700 text-sm font-bold mb-2"  %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br />
    <%= f.password_field :password, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

  <div class="field mb-4">
    <%= f.label :password_confirmation, class: "block text-gray-700 text-sm font-bold mb-2"  %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password", class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline"  %>
  </div>

   <div class="field mb-4">
    <%= f.label :avatar, class: "block text-gray-700 text-sm font-bold mb-2"  %>
    <%= f.file_field :avatar %>
  </div>

  <div class="actions flex items-center justify-between">
    <%= f.submit "Sign up",  class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline"  %>
  </div>
<% end %>

<%= render "users/shared/links" %>