<!DOCTYPE html>
<html>
  <head>
    <title>Fakegram</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>

    </head>

  <body>
    <%= render 'shared/navbar' %>
    <div style="padding: 25px">

      <%= yield %>
      <div class="notice"><%= notice %></div>
      <div class="alert"><%= alert %></div>
    </div>

  </body>
</html>
